.search__form
  position: relative
  margin: 50px 0 30px
  border-bottom: 2px solid mix($grey-highlight, $body-background, 30)

.search__label
  display: block
  margin-bottom: .5em

.search__query
  width: 100%
  border: 0
  font-size: 50px
  color: $body-copy
  background: none
  +placeholder
    color: mix($grey-highlight, $body-background, 30)

.search__submit,
.search__reset
  +size(40px)
  +icon-color(body-grey)
  position: absolute
  right: 0
  bottom: 10px
  border: 0
  overflow: hidden
  text-indent: -999px
  background-color: transparent

.js-loaded
  .search__reset
    display: block
  .search__submit
    display: none

.is-changed
  .search__reset
    display: none
  .search__submit
    display: block
