// -----------------------------------------------------------------------------
// Search page layout
// -----------------------------------------------------------------------------
.search__results
  width: 75%

.search__heading
  margin-bottom: 20px
  color: $feature-copy

.search__filters
  float: right
  margin-top: -10px
