// -----------------------------------------------------------------------------
// Search result
// -----------------------------------------------------------------------------

.search__result-aside
  width: 100px
  margin-right: 20px

.search__result-image
  min-width: 100%
  max-width: 100%

.search__result-icon
  +size(30px)
  float: right

.search__result-type
  margin-bottom: 5px

// -----------------------------------------------------------------------------
// Result list paraphernalia
// -----------------------------------------------------------------------------

// Search again form
.search__form
  float: right

.search__form__input
  float: left
  margin-right: 10px

// Pagination
.search__header__pagination
  margin-top: 15px
  padding-top: 15px
  border-top: 1px solid $body-background


// Fluff
.search__results-count
  margin: 15px 0

.search__results-list
  list-style: none
