.search__input-container,
.search__button-container
  display: inline-block
  width: 50%
  vertical-align: top

.search__results-count
  margin: 15px 0

.search__btn
  margin-left: 15px

.search__result
  margin-bottom: 20px

  .search__result-type
    margin-bottom: 0

.search__result__image-area
  width: 100px
  min-height: 100px

.search__result-image,
.search__result-icon
  max-width: 100%

.search__result-icon
  height: 100px

.search__result-meta
  padding-left: 20px
