// -----------------------------------------------------------------------------
// Non-static positioning
// -----------------------------------------------------------------------------

%absolute
  position: absolute
  
%relative
  position: relative

%absolute-top
  position: absolute
  top: 0

%absolute-right
  position: absolute
  right: 0

%absolute-bottom
  position: absolute
  bottom: 0

%absolute-left
  position: absolute
  left: 0

