// -----------------------------------------------------------------------------
// Used for abstracting typical padding patterns to box off content
// -----------------------------------------------------------------------------

$size: 10

%box-off
  padding: #{$size}px

%box-off-horizontal
  padding: 0 #{$size}px

%box-off-vertical
  padding: #{$size}px 0

%box-off-double
  padding: #{$size*2}px

%box-off-double-horizontal
  padding: 0 #{$size*2}px

%box-off-double-vertical
  padding: #{$size*2}px 0
  
%box-off-half
  padding: #{$size/2}px

%box-off-horizontal-half
  padding: 0 #{$size/2}px

%box-off-vertical-half
  padding: #{$size/2}px 0
