= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Lightbox

    %p
      %a.btn.btn--icon.icon--sight--before.icon--white--before.js-lightbox-toggle.sg-lightbox-toggle{ href: "#" } Example lightbox

.styleguide-block.styleguide-block__description.card.copy--body

  %h2.copy--h2.styleguide-block__heading
    Initiating

  %pre.styleguide.copy--body.language-markup
    %code
      :escaped
        <a href="#" class="js-lightbox-toggle">show lightbox</a>

  %p
    The
    %code js-lightbox-toggle
    class will open the lightbox.

  %p Note: The component will self instantiate if that class exists on the page, but you can still fire up your own by running:

  %pre.styleguide.copy--body.language-javascript
    %code
      :escaped
        new LightBox({ el: ".js-other-lightbox-selector" });

.styleguide-block.styleguide-block__description.card.copy--body

  %h2.copy--h2.styleguide-block__heading
    Updating the content

  %pre.styleguide.copy--body.language-javascript
    %code
      :escaped
        $("#js-row--content").trigger(":lightbox/updateContent", "HTML content goes here");

  %p Note that this will need to happen where it's being implemented (after an ajax call for example).
