.card.styleguide-intro.styleguide-block.copy--body.context--content
  %h1.copy--h1 Toggle Active

  %p
    A replacement for the so called <a href="http://css-tricks.com/the-checkbox-hack/">"checkbox hack"</a> which we can't use because of issues in iOS, Android, and old IE.

  %p
    To use it in an app, make sure it's required in the main js file as follows:

  %pre.styleguide.copy--body.language-coffeescript
    %code
      :plain
        require ['lib/utils/toggle_active'], (ToggleActive) ->
          new ToggleActive()

.styleguide-block

  .styleguide-block__description.card.copy--body

    %h2.copy--h2.styleguide-block__heading
      Normal usage

    %pre.styleguide.copy--body.language-markup
      %code
        :escaped
          <a href="#" class="js-toggle-active" data-toggle-target=".foo">toggle it</a>

    %p
      This will toggle the
      %code.language-markup
        is-active
      class on any element that has the
      %code.language-markup
        foo
      class.

  .styleguide-block__description.card.copy--body

    %h2.copy--h2.styleguide-block__heading
      Specifying the class

    %pre.styleguide.copy--body.language-markup
      %code
        :escaped
          <a href="#" class="js-toggle-active" data-toggle-target=".foo" data-toggle-class="custom-class">toggle it</a>

    %p
      This will toggle the
      %code.language-markup
        custom-class
      class on any element that has the
      %code.language-markup
        foo
      class.
