// -----------------------------------------------------------------------------
// POI Icon font declarations
// -----------------------------------------------------------------------------

%icon--poi-before:before
  font-size: 48px
  position: absolute

.icon--poi--sight
  @extend %icon--poi-before
  @extend %icon-poi-sight-before
  &:before
    color: $section--sight

.icon--poi--activity
  @extend %icon--poi-before
  @extend %icon-poi-activity-before
  &:before
    color: $section--activity

.icon--poi--article
  @extend %icon--poi-before
  @extend %icon-poi-article-before
  &:before
    color: $section--article
    
.icon--poi--entertainment
  @extend %icon--poi-before
  @extend %icon-poi-entertainment-before
  &:before
    color: $section--entertainment

.icon--poi--hotel
  @extend %icon--poi-before
  @extend %icon-poi-hotel-before
  &:before
    color: $section--hotel

.icon--poi--bar
  @extend %icon--poi-before
  @extend %icon-poi-bar-before
  &:before
    color: $section--restaurant

.icon--poi--restaurant
  @extend %icon--poi-before
  @extend %icon-poi-restaurant-before
  &:before
    color: $section--restaurant

.icon--poi--shopping
  @extend %icon--poi-before
  @extend %icon-poi-shopping-before
  &:before
    color: $section--shopping

.icon--poi--festival
  @extend %icon--poi-before
  @extend %icon-poi-festival-before
  &:before
    color: $section--festival

.icon--poi--transport
  @extend %icon--poi-before
  @extend %icon-poi-transport-before
  &:before
    color: $section--transport

.icon--poi--tour
  @extend %icon--poi-before
  @extend %icon-poi-tour-before
  &:before
    color: $section--tour