// -----------------------------------------------------------------------------
// POI Icon font declarations
// -----------------------------------------------------------------------------

%poi-icon-before:before
  @extend %benton-regular
  font-size: 48px
  position: absolute

.icon-poi--sight
  @extend %poi-icon-before
  @extend %icon-poi-sight-before
  &:before
    color: #DC232E

.icon-poi--activity
  @extend %poi-icon-before
  @extend %icon-poi-activity-before
  &:before
    color: #E88A06
    
.icon-poi--entertainment
  @extend %poi-icon-before
  @extend %icon-poi-entertainment-before
  &:before
    color: #0B3A90

.icon-poi--hotel
  @extend %poi-icon-before
  @extend %icon-poi-hotel-before
  &:before
    color: #5506A0

.icon-poi--bar
  @extend %poi-icon-before
  @extend %icon-poi-bar-before
  &:before
    color: #009586

.icon-poi--restaurant
  @extend %poi-icon-before
  @extend %icon-poi-restaurant-before
  &:before
    color: #009586

.icon-poi--shopping
  @extend %poi-icon-before
  @extend %icon-poi-shopping-before
  &:before
    color: #EC316C

.icon-poi--festival
  @extend %poi-icon-before
  @extend %icon-poi-festival-before
  &:before
    color: #EF5A22

.icon-poi--transport
  @extend %poi-icon-before
  @extend %icon-poi-transport-before
  &:before
    color: #333