// -----------------------------------------------------------------------------
// POI Icon font declarations
// -----------------------------------------------------------------------------

%icon--poi-before:before
  font-size: 48px
  position: absolute

.icon--poi--sight
  @extend %icon--poi-before
  @extend %icon-poi-sight-before
  &:before
    color: $red

.icon--poi--activity
  @extend %icon--poi-before
  @extend %icon-poi-activity-before
  &:before
    color: $orange
    
.icon--poi--entertainment
  @extend %icon--poi-before
  @extend %icon-poi-entertainment-before
  &:before
    color: $header-blue

.icon--poi--hotel
  @extend %icon--poi-before
  @extend %icon-poi-hotel-before
  &:before
    color: $link-card-restaurants

.icon--poi--bar
  @extend %icon--poi-before
  @extend %icon-poi-bar-before
  &:before
    color: $greensea

.icon--poi--restaurant
  @extend %icon--poi-before
  @extend %icon-poi-restaurant-before
  &:before
    color: $greensea

.icon--poi--shopping
  @extend %icon--poi-before
  @extend %icon-poi-shopping-before
  &:before
    color: $agatha

.icon--poi--festival
  @extend %icon--poi-before
  @extend %icon-poi-festival-before
  &:before
    color: $orange

.icon--poi--transport
  @extend %icon--poi-before
  @extend %icon-poi-transport-before
  &:before
    color: $header-gray

.icon--poi--tour
  @extend %icon--poi-before
  @extend %icon-poi-tour-before
  &:before
    color: $green