// -----------------------------------------------------------------------------
// Image sprite definitions for Google Maps
// -----------------------------------------------------------------------------

// Lodging map pins   
@mixin lp-map-pins-spt($x:0px,$y:0px, $R:no-repeat, $color: transparent)
  background: url(image_path("lp-map-pins-spt.png")) $R $x $y $color
//
.block-float
  display: block
  float: left
  background-color: gray

.icon-poi-tiny, .icon-poi-dot
  width: 23px
  height: 15px
  @extend .block-float

.icon-poi-small
  width: 23px
  height: 26px
  @extend .block-float

.icon-poi-large
  width: 23px
  height: 33px
  @extend .block-float
  

.icon-poi-location-marker-dot
  @include lp-map-pins-spt(-548px, -103px)

// icon poi small
.icon-poi-sight-tiny
  @include lp-map-pins-spt(-11px,-103px)

.icon-poi-activity-tiny
  @include lp-map-pins-spt(-55px,-103px)

.icon-poi-entertainment-tiny
  @include lp-map-pins-spt(-100px,-103px)

.icon-poi-hotel-tiny
  @include lp-map-pins-spt(-145px,-103px)

.icon-poi-bar-tiny
  @include lp-map-pins-spt(-189px,-103px)

.icon-poi-restaurant-tiny
  @include lp-map-pins-spt(-234px,-103px)

.icon-poi-shoping-tiny
  @include lp-map-pins-spt(-279px,-103px)

.icon-poi-festival-tiny
  @include lp-map-pins-spt(-323px,-103px)

.icon-poi-transport-tiny
  @include lp-map-pins-spt(-368px,-103px)

.icon-poi-mark-tiny
  @include lp-map-pins-spt(-413px,-103px)

.icon-poi-tour-tiny
  @include lp-map-pins-spt(-457px,-103px)

.icon-poi-article-tiny
  @include lp-map-pins-spt(-502px,-103px)

.icon-poi-info-tiny
  @include lp-map-pins-spt(-547px,-103px)

// icon poi small
.icon-poi-sight-small
  @include lp-map-pins-spt(-11px,-66px)

.icon-poi-activity-small
  @include lp-map-pins-spt(-55px,-66px)

.icon-poi-entertainment-small
  @include lp-map-pins-spt(-100px,-66px)

.icon-poi-hotel-small
  @include lp-map-pins-spt(-145px,-66px)

.icon-poi-bar-small
  @include lp-map-pins-spt(-189px,-66px)

.icon-poi-restaurant-small
  @include lp-map-pins-spt(-234px,-66px)

.icon-poi-shoping-small
  @include lp-map-pins-spt(-279px,-66px)

.icon-poi-festival-small
  @include lp-map-pins-spt(-323px,-66px)

.icon-poi-transport-small
  @include lp-map-pins-spt(-368px,-66px)

.icon-poi-mark-small
  @include lp-map-pins-spt(-413px,-66px)

.icon-poi-tour-small
  @include lp-map-pins-spt(-457px,-66px)

.icon-poi-article-small
  @include lp-map-pins-spt(-502px,-66px)

.icon-poi-info-small
  @include lp-map-pins-spt(-547px,-66px)

// icon poi large 
.icon-poi-sight-large
  @include lp-map-pins-spt(-11px,-5px)

.icon-poi-activity-large
  @include lp-map-pins-spt(-55px,-5px)

.icon-poi-entertainment-large
  @include lp-map-pins-spt(-100px,-5px)

.icon-poi-hotel-large
  @include lp-map-pins-spt(-145px,-5px)

.icon-poi-bar-large
  @include lp-map-pins-spt(-189px,-5px)

.icon-poi-restaurant-large
  @include lp-map-pins-spt(-234px,-5px)

.icon-poi-shoping-large
  @include lp-map-pins-spt(-279px,-5px)

.icon-poi-festival-large
  @include lp-map-pins-spt(-323px,-5px)

.icon-poi-transport-large
  @include lp-map-pins-spt(-368px,-5px)

.icon-poi-mark-large
  @include lp-map-pins-spt(-413px,-5px)

.icon-poi-tour-large
  @include lp-map-pins-spt(-457px,-5px)

.icon-poi-article-large
  @include lp-map-pins-spt(-502px,-5px)

.icon-poi-info-large
  @include lp-map-pins-spt(-547px,-5px)

