// -----------------------------------------------------------------------------
// Image sprite definitions for Google Maps
// -----------------------------------------------------------------------------

// Lodging map pins   
@mixin lp-map-pins-spt($x:0px,$y:0px, $R:no-repeat, $color: transparent)
  background: url(image_path("lp-map-pins-spt.png")) $R $x $y $color
//
.block-float
  display: block
  float: left
  background-color: gray

.icon-poi-tiny
  width: 30px
  height: 30px
  @extend .block-float

.icon-poi-small
  width: 30px
  height: 30px
  @extend .block-float

.icon-poi-large
  width: 30px
  height: 60px
  @extend .block-float

.icon-poi-dot
  height: 10px
  width: 10px

.icon-poi-location-marker-dot
  @include lp-map-pins-spt(-451px, -71px)

// icon poi small
.icon-poi-entertainment-tiny
  @include lp-map-pins-spt(-97px,-63px)

.icon-poi-restaurant-tiny
  @include lp-map-pins-spt(-229px,-63px)

.icon-poi-bar-tiny
  @include lp-map-pins-spt(-187px,-64px)

.icon-poi-activity-tiny
  @include lp-map-pins-spt(-52px,-64px)

.icon-poi-sight-tiny
  @include lp-map-pins-spt(-7px,-64px)

.icon-poi-shoping-tiny
  @include lp-map-pins-spt(-275px,-64px)

.icon-poi-festival-tiny
  @include lp-map-pins-spt(-320px,-64px)

.icon-poi-hotel-tiny
  @include lp-map-pins-spt(-142px,-64px)

.icon-poi-transport-tiny
  @include lp-map-pins-spt(-364px,-64px)

.icon-poi-mark-tiny
  @include lp-map-pins-spt(-410px,-64px)

// icon poi small
.icon-poi-entertainment-small
  @include lp-map-pins-spt(-97px,-63px)

.icon-poi-restaurant-small
  @include lp-map-pins-spt(-229px,-63px)

.icon-poi-bar-small
  @include lp-map-pins-spt(-187px,-64px)

.icon-poi-activity-small
  @include lp-map-pins-spt(-52px,-64px)

.icon-poi-sight-small
  @include lp-map-pins-spt(-7px,-64px)

.icon-poi-shoping-small
  @include lp-map-pins-spt(-275px,-64px)

.icon-poi-festival-small
  @include lp-map-pins-spt(-320px,-64px)

.icon-poi-hotel-small
  @include lp-map-pins-spt(-142px,-64px)

.icon-poi-transport-small
  @include lp-map-pins-spt(-364px,-64px)

.icon-poi-mark-small
  @include lp-map-pins-spt(-410px,-64px)

// icon poi large 
.icon-poi-entertainment-large
  @include lp-map-pins-spt(-97px,-1px)

.icon-poi-restaurant-large
  @include lp-map-pins-spt(-229px,-1px)

.icon-poi-bar-large
  @include lp-map-pins-spt(-187px,-1px)

.icon-poi-activity-large
  @include lp-map-pins-spt(-52px,-1px)

.icon-poi-sight-large
  @include lp-map-pins-spt(-7px,-1px)

.icon-poi-shoping-large
  @include lp-map-pins-spt(-275px,-1px)

.icon-poi-festival-large
  @include lp-map-pins-spt(-320px,-1px)

.icon-poi-hotel-large  
  @include lp-map-pins-spt(-141px,-1px)

.icon-poi-transport-large
  @include lp-map-pins-spt(-364px,-1px)

.icon-poi-mark-large
  @include lp-map-pins-spt(-410px,-1px)

