.icon--camera--white, .icon--camera--white--before:before, .icon--camera--white--after,
.icon--camera--grey, .icon--camera--grey--before:before, .icon--camera--grey--after
  width: 40px
  height: 31px

.icon--article--white, .icon--article--white--before:before, .icon--article--white--after,
.icon--article--grey, .icon--article--grey--before:before, .icon--article--grey--after
  width: 17px
  height: 23px

.icon--magazine--white, .icon--magazine--white--before:before, .icon--magazine--white--after:after,
.icon--magazine--grey, .icon--magazine--grey--before:before, .icon--magazine--grey--after:after
  width: 25px
  height: 25px

.icon--plane--white, .icon--plane--white--before:before, .icon--plane--white--after:after,
.icon--plane--grey, .icon--plane--grey--before:before, .icon--plane--grey--after:after
  width: 21px
  height: 25px

.icon--shop-basket--white, .icon--shop-basket--white--before:before, .icon--shop-basket--white--after:after,
.icon--shop-basket--grey, .icon--shop-basket--grey--before:before, .icon--shop-basket--grey--after:after
  width: 25px
  height: 25px

.icon--hotels--white, .icon--hotels--white--before:before, .icon--hotels--white--after:after,
.icon--hotels--grey, .icon--hotels--grey--before:before, .icon--hotels--grey--after:after
  width: 23px
  height: 25px

.icon--compass--white, .icon--compass--white--before:before, .icon--compass--white--after:after,
.icon--compass--grey, .icon--compass--grey--before:before, .icon--compass--grey--after:after
  width: 23px
  height: 25px

.icon--chevron-down--white, .icon--chevron-down--white--before:before, .icon--chevron-down--white--after:after,
.icon--chevron-down--grey, .icon--chevron-down--grey--before:before, .icon--chevron-down--grey--after:after
  width: 12px
  height: 15px

.icon--arrow-down--white, .icon--arrow-down--white--before:before, .icon--arrow-down--white--after:after,
.icon--arrow-up--green, .icon--arrow-up--green--before:before, .icon--arrow-up--green--after:after
  width: 25px
  height: 25px
  background-size: 100%