@mixin icon-dimensions($name, $width, $height)
  .icon--#{$name}--white, .icon--#{$name}--white--before:before, .icon--#{$name}--white--after:after,
  .icon--#{$name}--grey, .icon--#{$name}--grey--before:before, .icon--#{$name}--grey--after:after
    height: $height + px
    width: $width + px

@mixin icon-bg-dimensions($name, $size)
  .icon--#{$name}--white, .icon--#{$name}--white--before:before, .icon--#{$name}--white--after:after,
  .icon--#{$name}--grey, .icon--#{$name}--grey--before:before, .icon--#{$name}--grey--after:after
    background-size: $size


+icon-dimensions('camera', 26, 24)
+icon-dimensions('video', 26, 24)
+icon-dimensions('article', 25, 26)
+icon-dimensions('chevron-down', 12, 15)
+icon-dimensions('arrow-down', 25, 25)
+icon-dimensions('arrow-up', 25, 25)
+icon-dimensions('trail', 87, 42)
+icon-dimensions('search-glass', 26, 26)

+icon-bg-dimensions('arrow-down', 100%)
+icon-bg-dimensions('camera', 100%)
+icon-bg-dimensions('destination', 17px)
+icon-bg-dimensions('close', 16px)

@if $is-ie == false
  +icon-dimensions('magazine', 25, 25)
  +icon-dimensions('flights', 21, 25)
  +icon-dimensions('shop-basket', 25, 25)
  +icon-dimensions('hotels', 23, 25)
  +icon-dimensions('tours', 23, 25)
@else
  +icon-dimensions('flights', 28, 28)
  +icon-dimensions('shop-basket', 28, 28)
  +icon-dimensions('hotels', 28, 28)
  +icon-dimensions('tours', 28, 28)
  +icon-dimensions('magazine', 28, 28)

.icon--search-glass--grey
  background-size: cover
  opacity: 0.5
  @extend %image-replacement