%lp-font-stack
  font-family: 'freight', 'Helvetica Neue', Arial, Helvetica, sans-serif
  font-style: normal
  font-weight: 400
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

%helvetica-neue
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif

%serif
  font-family: Georgia, serif

%ie8-full-font-smoothing
  @extend %ie8-font-smoothing
  @extend %ie8-font-color

%ie8-font-smoothing
  .ie8 &
    a, p, h1, h2, h3, h4, h5, h6, label, input, li, dd, dt, span, div, section, article, nav, header, footer  
      filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=/assets/1x1.png,sizingMethod=crop)
      zoom: 1
  .home.ie8 &
    filter: none

%ie8-font-color
  .ie8 &
    color: #000
