%freight-book
  font-family: 'freight'
  font-style: normal
  font-weight: 400
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

%freight-semibold
  font-family: 'freight'
  font-style: normal
  font-weight: 700
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

%helvetica-neue
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif

%serif
  font-family: Georgia, serif
