%benton-regular
  @extend %smooth-text
  @extend %tighten-text
  font-family: 'bentonsansregular'
  font-style: normal
  font-weight: 400

%helvetica-neue
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif

%serif
  font-family: Georgia, serif
