// -----------------------------------------------------------------------------
// Opt-in Typography
//
// These rules provide the majority of the typographic styling throughout LP.
//
// Global type declarations have been removed to make component styling easier
// and optional.
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Body copy - applied to article content etc.

%body-copy
  @extend %smooth-text
  line-height: 1.4
  color: $body-copy
  p
    @extend %margin-bottom-10
  .title, span.partner
    @extend %larger-type
    @extend %margin-bottom-10
    font-weight: bold
    color: $header-gray
    display: block


// -----------------------------------------------------------------------------
// Themed body copy - Body copy on the light blue background

%themed-body-copy
  @extend %body-copy
  color: $text-on-blue


// -----------------------------------------------------------------------------
// Feature copy - Serif text usually used for LP Advice

%feature-copy
  .title
    @extend .card-title
    margin-bottom: 18px
  p
    @extend %large-type
    @extend %serif
    @extend %smooth-text
    color: $header-gray
    line-height: 1.3

// -----------------------------------------------------------------------------
// Error copy - Used for styling hotel error messages eg. No availability

%error-copy
  color: $body-copy
  .title
    @extend %error-heading-size-type
    @extend %smooth-text
    @extend %margin-bottom-10
  p
    @extend %regular-type-size
    @extend %margin-bottom-30

// -----------------------------------------------------------------------------
// Disclaimer copy - Used for styling small discreet text

%disclaimer-copy
  @extend %extra-small-type
  color: $body-copy
