// -----------------------------------------------------------------------------
// Cross Browser
// -----------------------------------------------------------------------------

// [doc] Enable inline block as far back as IE7
%inline-block
  display: inline-block
  zoom: 1
  *display: inline

// [doc] Remove iOS and OSX defaults
%webkit-appearance-reset
  -webkit-appearance: none

