// -----------------------------------------------------------------------------
// Split Object
//
// Simple split item for creating two elements floated away from one another
//
// e.g. jsfiddle.net/inuitcss/9gZW7
// -----------------------------------------------------------------------------

%split
  text-align: right
  [class*="-title"]
    text-align: left
    float: left


