// -----------------------------------------------------------------------------
// Split Object
//
// Simple split item for creating two elements floated away from one another
//
// e.g. jsfiddle.net/inuitcss/9gZW7
// 
// -----------------------------------------------------------------------------

%split
  overflow: hidden
  text-align: right
  .obj-split__title
    text-align: left
    float: left


