- cache "#{__FILE__}" do
  .accessibility
    %a.go(href="#container")
      go to content
    %a.go(href="#search-box")
      go to search box
    %a.go(href="#global-nav")
      go to global site navigation
