= render 'layouts/core/snippets/footer_leaderboard'
= render 'layouts/core/snippets/footer_sitemap'
= render 'layouts/core/snippets/footer_about', language_select: true, responsive: defined? responsive