= render 'layouts/core/snippets/cookie_compliance'
= render 'layouts/core/snippets/accessibility'
= render 'layouts/core/snippets/leaderboard'
.row--primary#js-primary-nav
  = render 'layouts/core/snippets/primary_navigation_bar', user_nav: user_nav, responsive: false, homepage: false
