.row.row--footer--about
  .row__inner.row__inner--footer
    .row__left
      %a.media--lp-logo--footer(href='http://www.lonelyplanet.com')
      %nav.nav--footer--base
        - footer_nav_about_items.each do |item|
          %a.nav--footer--base__item{href: item[:url]}
            = item[:title].html_safe
    .row__right
      .nav--social.row__right__nav
        .nav--social__title Follow us
        .nav--social__inner
          %nav
            - social_media_nav.each do |item|
              %a.nav__item{href: "#{item[:url]}", class: "icon--regular sprite-core--standard icon--#{item[:title]}"}


  
  .row__inner.row__inner--footer
    %p.text--legal
      &copy; 
      = Time.now.year 
      Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.
      This website is owned by BBC Worldwide, which is a commercial company owned by the BBC.

