.row.row--sponsored.row--leaderboard.footer-leaderboard{ class: defined?(additional_row_class) ? additional_row_class : "" }
  .row__inner
    .ad-leaderboard
      .ad-leaderboard__inner.footer
        - if (yield :lower_leaderboard).present?
          = yield :lower_leaderboard