.row.row--footer
  .row__inner.row__inner--footer.row__inner--break--dark
    %nav.nav--breadcrumbs--footer
      %a.nav__item--footer.nav__item--breadcrumbs--home(href='/')
      %a.nav__item--footer.nav__item--breadcrumbs(href='/')
        China
      %a.nav__item--footer.nav__item--breadcrumbs(href='/')
        Shanghai
      %a.nav__item--footer.nav__item--breadcrumbs(href='/')
        Hotels
      %span.nav__item--footer.nav__item--breadcrumbs--current(href='/')
        Shanghai Mansion

