.row.row--footer.row--breadcrumbs
  .row__inner.row__inner--footer
    %nav{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %a.nav__item.nav__item--breadcrumbs--home{href: '/', itemprop:"url"}
      - breadcrumbs.each do |breadcrumb|
        %a.nav__item{href: "/#{breadcrumb[:slug]}", class: (breadcrumb == breadcrumbs.last) ? 'nav__item--breadcrumbs--current' : 'nav__item--breadcrumbs', itemprop:"url"}<
          = breadcrumb[:place]
