:javascript
  (function(html) {
    var activePath = "#{asset_path('icons/' + sheet + '.css')}";
    var criticalPath = "#{asset_path('icons/critical.css')}";
    function styleSheet(path) {
      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.type = "text/css";
      link.href = path;
      return link;
    }
    window.setTimeout(function(){
      var script = document.getElementsByTagName("script")[0];
      var head = script.parentNode;
      if ("background-size" in html.style || "backgroundSize" in html.style) {
        head.insertBefore(styleSheet(activePath), script);
        html.className += " supports-svg";
      } else {
        head.insertBefore(styleSheet(criticalPath), script);
        html.className += " no-background-size";
      }
    }, 0)
  }(document.documentElement));

%noscript
  %link{href: "/assets/icons/critical.css", rel: "stylesheet"}
