.row.row--leaderboard.is-closed{ class: defined?(additional_row_class) ? additional_row_class : "" }
  .row__inner
    .ad-leaderboard
      .ad-leaderboard__inner
        = ui_component('ads/leaderboard')
