.row.row--leaderboard
  .row__inner
    .ad-leaderboard
      #ad-leaderboard.ad-leaderboard__inner
        %noscript     
          %a(href="http://ad.doubleclick.net/jump/2009.lonelyplanet/destinations;ctt=;cnty=;tnm=;sz=728x90;ord=123456789?" target="_blank")
            %img(src="http://ad.doubleclick.net/ad/2009.lonelyplanet/destinations;ctt=asia;cnty=cambodia;tnm=overview;sz=728x90;ord=123456789?" border="0" alt="")

