.row.row--leaderboard.is-closed{ class: defined?(additional_row_class) ? additional_row_class : "" }
  .row__inner
    .ad-leaderboard
      #js-ad-leaderboard.adunit.ad-leaderboard__inner{ data: { dimensions: '728x90,970x66' } }
