- unless @hide_leaderboard
  - properties = @leaderboard_targeting.nil? ? nil : { targeting: @leaderboard_targeting }
  .row.row--sponsored.row--leaderboard{ class: defined?(additional_row_class) ? additional_row_class : "" }
    .row__inner
      .ad-leaderboard
        .ad-leaderboard__inner
          = ui_component('ads/leaderboard', properties: properties)
