.row.row--primary.row--core#js-primary-nav

  .split--left.nav--inline
    %a.media--lp-logo--head(href='http://www.lonelyplanet.com')
    .nav--inline.nav__item.nav--primary
      - core_navigation_items.each do |n|
        - if n[:submenu]
          .nav__item.nav__item--primary.nav__submenu__trigger
            = n[:title]
            .nav__submenu
              .nav--stacked.nav__submenu__content.nav__submenu__content--bookings.js-submenu
                - n[:submenu].each do |sub|
                  %a.js-nav-item{ href: sub[:uri], class: "nav__item nav__submenu__item nav__submenu__link nav__submenu__item--#{sub[:style]}"}<
                    = sub[:title]
        - else
          %a.nav__item.nav__item--primary{ href: n[:uri] }<
            = n[:title]

  .split--right

    .split--right__inner.nav--inline
    
      %form.nav__item.search--primary.js-nav-search{:action => host_with_subdomain_and_path("www", "searchResult"), :method => "get" }
        %label.accessibility(for='search-q') Search
        %input.search__input.search__input--primary.js-primary-search(type="search" id="search" maxlength="2048" name="q" value="" autocomplete="off" tabindex="1")
        %button.accessibility(type="submit" id="search-q-submit" name="search-q-submit")

      - if user_nav
        .nav__item.nav--inline.nav--primary--user.js-user-nav.split--right__inner
          %a.nav__item.nav__item--user.user-basket.js-user-basket.js-nav-cart(href='//shop.lonelyplanet.com/cart/view')
            %span.user-basket__icon
            %span.user-basket__text Your bag
            %span.user-basket__items.icon--small.js-basket-items
