.row.row--secondary#js-secondary-nav
  .row__inner.row__inner--secondary
    %h1.row__title--secondary
      = title
      - if defined?(section_name)
        %span.accessibility
          = section_name

    - if defined?(collection)
      .nav--secondary
        - collection.each do |n|
          %a.nav__item--secondary.js-nav-item{:class=>(n[:title] == section_name ? 'current' : ''), :href=> n[:url]}
            = n[:title]

