.row.row--secondary.row--core#js-secondary-nav
  .row__inner.row__inner--secondary
    .split--left.row__title--secondary
      = place_heading(title, parent, slug, section_name || nil)

    - if defined?(collection)
      .split--right.nav--inline.nav--secondary
        - collection.each do |n|
          %a.nav__item.nav__item--secondary.js-nav-item{:class=>(n[:title] == section_name ? 'current' : ''), :href=> n[:url]}<
            = n[:title]
