.row.row--secondary
  .row__inner.row__inner--secondary
    %h1.row__title--secondary
      = title
    %nav.nav--secondary
      - collection.each do |n|
        %a.nav__item--secondary{:class=>(n[:title] == current ? 'current' : ''), :href=> n[:url]}
          = n[:title]
