- if defined?(section_name) and defined?(title)
  .row.row--secondary#js-secondary-nav
    .row__inner.row__inner--secondary
      - if defined?(title)
        .row__title--secondary
          = title
      - if defined?(page_name)    
        %h1.accessibility  
          = page_name

      - if defined?(collection)
        .nav--secondary
          - collection.each do |n|
            %a.nav__item--secondary.js-nav-item{:class=>(n[:title] == section_name ? 'current' : ''), :href=> n[:url]}
              = n[:title]

- elsif defined?(page_name)
  .row.accessibility
    %h1
      = page_name
