.row.row--secondary.row--core.copy--freight#js-secondary-nav
  .row__inner.row__inner--secondary
    .split--left.row__title--secondary
      - if defined? is_body_title
        %h1.place-title
          = title
      - else
        = place_heading(title, section_name, slug,                          |
                          (parent if defined? parent),                      |
                          (parent_slug if defined? parent_slug),            |
                          (defined? no_place_link) ? no_place_link : false) |

    - if defined?(collection)
      .split--right.nav--inline.nav--secondary
        - collection.each do |n|
          %a.nav__item.nav__item--secondary.js-nav-item{:class=>(n[:title] == section_name ? 'current' : ''), :href=> n[:url]}<
            = n[:title]
