// -----------------------------------------------------------------------------
// Hotels & Lodgings
//
// Sprite mixin references
//
// -----------------------------------------------------------------------------

// Main lodging sprite for hotel generic images elements
@mixin lodging-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("lodgings-spt.png")) $R $x $y $color

// Lodging icons sprite
@mixin icons-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("icons-spt.png")) $R $x $y $color

// Lodging map pins   
@mixin lp-map-pins-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("lp-map-pins-spt.png")) $R $x $y $color


// -----------------------------------------------------------------------------
// Lodging images $$legacy - some to be replaced by fonts
// -----------------------------------------------------------------------------

@mixin lp-section-toggle-background
  background: url(image_path("components/lp-section-toggle-overlay.png")) repeat-x 0 0

@mixin lodging-map-thumb
  @include lodging-spt(-1px,-29px)

// Lp Reviewed badge
@mixin lp-reviewed-badge
  @include lodging-spt(-99px, -99px)

// Top choice badge
@mixin top-choice-badge
  @include lodging-spt(-2px, -108px)

// Top choice banner
@mixin top-choice-banner
  @include lodging-spt(0, -147px)

// Blue deal banner on card
@mixin deal-banner-blue
  @include lodging-spt(-80px, -29px)

// Search error hazard sign
@mixin hazard-sign
  @include lodging-spt(0,-228px)



