.pagination
  .pagination__alpha
    %a.pagination__link.pagination__link--prev{ href: sprintf(pagination[:path], pagination[:current] - 1) }<
      &lt;
    %a.pagination__link.pagination__link--first{ href: sprintf(pagination[:path], 1) }<
      First

  .pagination__numbers
    - for num in 1..pagination[:total]
      - if pagination[:current] != num
        %a.pagination__link{ href: sprintf(pagination[:path], num) }<
          = num
      - else
        .pagination__link.pagination__link--current<
          = num
  
  .pagination__omega
    %a.pagination__link.pagination__link--last{ href: sprintf(pagination[:path], pagination[:total]) }<
      Last
    %a.pagination__link.pagination__link--next{ href: sprintf(pagination[:path], pagination[:current] + 1)}<
      &gt;