- encoded_url = CGI.escape(properties[:url])

.social

  %a.social__item.social__item--facebook{ href: "https://www.facebook.com/sharer/sharer.php?u=#{encoded_url}" }
    %span.accessibility Share on Facebook
    %span.social__icon.social__icon--facebook.icon--facebook

  %a.social__item.social__item--twitter{ href: "https://twitter.com/intent/tweet?text=#{encoded_url}" }
    %span.accessibility Share on Twitter
    %span.social__icon.social__icon--twitter.icon--twitter

  %a.social__item.social__item--google{ href: "https://plus.google.com/share?url=#{encoded_url}" }
    %span.accessibility Share on Google+
    %span.social__icon.social__icon--google.icon--google-plus
