- encoded_url = CGI.escape(properties[:url])

.social

  %a.social__item.social__item--facebook{ href: "https://www.facebook.com/sharer/sharer.php?u=#{encoded_url}" }
    %span.accessibility Share on Facebook
    %span.social__icon.icon--facebook.icon--white

  %a.social__item.social__item--twitter{ href: "https://twitter.com/intent/tweet?text=#{encoded_url}" }
    %span.accessibility Share on Twitter
    %span.social__icon.icon--twitter.icon--white

  %a.social__item.social__item--google-plus{ href: "https://plus.google.com/share?url=#{encoded_url}" }
    %span.accessibility Share on Google+
    %span.social__icon.icon--google-plus.icon--white

  %a.social__item.social__item--stumbleupon{ href: "http://www.stumbleupon.com/submit?url=#{encoded_url}" }
    %span.accessibility Share on Stumbleupon
    %span.social__icon.icon--stumbleupon.icon--white
