= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content.styleguide-icons
  .clearfix
    %h1.copy--h1 Download CSS
    %p
      Options for downloading Rizzo as a standalone stylesheet.
    %p
      Sass version - <a href='/bootstrap/rizzo-bootstrap.sass'>rizzo-bootstrap.sass</a>
      %br
      Compiled CSS version - <a href='/bootstrap/rizzo-bootstrap.css'>rizzo-bootstrap.css</a>

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Customize your download
    %p
      The standard CSS file contains <strong>all</strong> of the Rizzo styles, which may not be necessary for your project. Use the form below to check which styles you will need for your project, and then download the customized css package.
    %p
      <strong>Coming soonish...</strong>
