= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Download Rizzo Styles
    %p
      Options for downloading Rizzo as a standalone stylesheet.