= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Download Javascript
    %p
      The <a href="/styleguide/js-components">JS Components</a> area explains the usage of these components, but these are direct links to the .js files:
    
    %p
      <strong>Toggle Active</strong><br/>
      Downloads: <a href="/assets/javascripts/lib/utils/toggle_active.js">toggle_active.js</a>

    %p
      <strong>Proximity Loader</strong><br/>
      Downloads: <a href="/assets/javascripts/lib/components/proximity_loader.js">proximity_loader.js</a>, <a href="/assets/javascripts/lib/utils/asset_reveal.js">asset_reveal.js</a>

    %p
      <strong>Asset Reveal</strong><br/>
      Downloads: <a href="/assets/javascripts/lib/utils/asset_reveal.js">asset_reveal.js</a> (note: this component relies on jQuery)

    %p
      <strong>Image Helper</strong><br/>
      Downloads: <a href="/assets/javascripts/lib/utils/image_helper.js">image_helper.js</a>, <a href="/assets/javascripts/lib/components/slider.js">slider.js</a>
  
  