.primary
  .container
    %a.logo(href='http://www.lonelyplanet.com')
    %nav.global-nav
      - gloval_navigation_items.each do |n|
        %a{ href: n[:uri] }
          = n[:title]

    .search-box
      %form.global-search-form.search{ :action => host_with_subdomain_and_path("www", "searchResult"), :method => "get" }
        %label.is-hidden(for='search-q')
          Search
        %input.search-type(type="text" id="search" maxlength="2048" class="searchText" name="q" value="" autocomplete="off" tabindex="1")
        %button.search-submit.is-hidden(type="submit" id="search-q-submit" name="search-q-submit")

    %nav.user-nav.js-user-nav
      .auth-box.js-auth-box
      %a.user-basket(href='//shop.lonelyplanet.com/cart/view')
        %span.basket-items.js-basket-items
