.row.row--secondary
  .row__container.row__container--secondary
    %h1.h1--title
      = title
    %nav.nav--secondary
      - collection.each do |n|
        %a.nav__item--secondary{:class=>(n[:title] == current ? 'current' : ''), :href=> n[:url]}
          = n[:title]


