.secondary
  .container
    %h1.head-title
      = yield :title
    %nav.destination-nav
      - destination_navigation_items.each do |n|
        %a{:class=>(n[:title] == 'Hotels' ? 'current' : ''), :href=> n[:uri]}
          = n[:title]


