.secondary
  .container
    %h1.head-title
      = title
    %nav.secondary-nav
      - collection.each do |n|
        %a{:class=>(n[:title] == current ? 'current' : ''), :href=> n[:url]}
          = n[:title]


