// -----------------------------------------------------------------------------
//  These classes set up the architecture for our unicode icons
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
// Helper extends for positioning icons at the horizontal extremes of an 
// element
// -----------------------------------------------------------------------------

%left-icon
  position: relative
  &:before
    position: absolute
    left: 0
    width: 16px
    height: 16px
    display: block
    pointer-events: none

%right-icon
  position: relative
  &:after
    position: absolute
    right: 0
    width: 16px
    height: 16px
    display: block
    pointer-events: none

// -----------------------------------------------------------------------------
// Hidden text with Icon
//
// When you want to have the element text for accessibility reasons, but want 
// it hidden: use either %left-icon or %right-icon and extend with one of the 
// below classes


%left-icon--hidden-text
  text-indent: -999em
  &:before
    text-indent: 0

%right-icon--hidden-text
  @extend %visually-hide
  &:after
    text-indent: 0

// -----------------------------------------------------------------------------
// Text sections with left hand icons
// -----------------------------------------------------------------------------

%left-icon-text
  position: relative
  &:before
    font-weight: 400
    vertical-align: bottom
