// -----------------------------------------------------------------------------
// Unicode references for non-font icons
// -----------------------------------------------------------------------------

%vertically-centered-dot-before:before
  content: '\00B7'
%vertically-centered-dot-after:after
  content: '\00B7'


// -----------------------------------------------------------------------------
// Unicode references for our icon set
// -----------------------------------------------------------------------------

%date-icon-before:before
  content: "\e001"
%date-icon-after:after
  content: "\e001"

%filter-icon-before:before
  content: "\e006"
%filter-icon-after:after
  content: "\e006"

%arrow-icon-before:before
  content: "\e008"
%arrow-icon-after:after
  content: "\e008"

%tick-icon-before:before
  content: "\e009"
%tick-icon-after:after
  content: "\e009"

%cross-icon-before:before
  content: "\e010"
%cross-icon-after:after
  content: "\e010"


// -----------------------------------------------------------------------------
// Arrow chevrons
// -----------------------------------------------------------------------------

%chevron-left-before:before
  content: "\e011"
%chevron-left-after:after
  content: "\e011"

%chevron-right-before:before
  content: "\e012"
%chevron-right-after:after
  content: "\e012"

%chevron-up-before:before
  content: "\e013"
%chevron-up-after:after
  content: "\e013"

%chevron-down-before:before
  content: "\e014"
%chevron-down-after:after
  content: "\e014"


// -----------------------------------------------------------------------------
// Social icons
// -----------------------------------------------------------------------------

%icon--twitter-before:before
  content: "\e015"
%icon--twitter-after:after
  content: "\e015"

%icon--google-plus-before:before
  content: "\e016"
%icon--google-plus-after:after
  content: "\e016"
    
%icon--facebook-before:before
  content: "\e017"
%icon--facebook-after:after
  content: "\e017"
      
%icon--flickr-before:before
  content: "\e018"
%icon--flickr-after:after
  content: "\e018"
        
%icon--rss-before:before
  content: "\e019"
%icon--rss-after:after
  content: "\e019"


// -----------------------------------------------------------------------------
// POI Icons for no
// -----------------------------------------------------------------------------

%icon-poi-festival-before:before
  content: "\e020"
%icon-poi-festival-after:after
  content: "\e020"

%icon-poi-entertainment-before:before
  content: "\e021"
%icon-poi-entertainment-after:after
  content: "\e021"

%icon-poi-sight-before:before
  content: "\e022"
%icon-poi-sight-after:after
  content: "\e022"

%icon-poi-activity-before:before
  content: "\e023"
%icon-poi-activity-after:after
  content: "\e023"

%icon-poi-hotel-before:before
  content: "\e024"
%icon-poi-hotel-after:after
  content: "\e024"

%icon-poi-bar-before:before
  content: "\e025"
%icon-poi-bar-after:after
  content: "\e025"

%icon-poi-restaurant-before:before
  content: "\e026"
%icon-poi-restaurant-after:after
  content: "\e026"

%icon-poi-shopping-before:before
  content: "\e027"
%icon-poi-shopping-after:after
  content: "\e027"

%icon-poi-transport-before:before
  content: "\e054"
%icon-poi-transport-after:after
  content: "\e054"


// with image icons

%icon-image-poi-festival-before:before
  content: "\e030"
%icon-image-poi-festival-after:after
  content: "\e030"

%icon-image-poi-entertainment-before:before
  content: "\e031"
%icon-image-poi-entertaiment-after:after
  content: "\e031"

%icon-image-poi-sight-before:before
  content: "\e032"
%icon-image-poi-sight-after:after
  content: "\e032"

%icon-image-poi-activity-before:before
  content: "\e033"
%icon-image-poi-activity-after:after
  content: "\e033"

%icon-image-poi-hotel-before:before
  content: "\e034"
%icon-image-poi-hotel-after:after
  content: "\e034"

%icon-image-poi-bar-before:before
  content: "\e035"
%icon-image-poi-bar-after:after
  content: "\e035"

%icon-image-poi-restaurant-before:before
  content: "\e036"
%icon-image-poi-restaurant-after:after
  content: "\e036"

%icon-image-poi-shopping-before:before
  content: "\e037"
%icon-image-poi-shopping-after:after
  content: "\e037"

%icon-image-poi-tour-before:before
  content: "\e063"
%icon-image-poi-tour-after:after
  content: "\e063"

%icon-image-poi-article-before:before
  content: "\e060"
%icon-image-poi-article-after:after
  content: "\e060"


// -----------------------------------------------------------------------------
// Dude Icons
// -----------------------------------------------------------------------------

%the-dude-before:before
  content: "\e088"
%the-dude-after:after
  content: "\e088"

%puzzled-dude-before:before
  content: "\e089"
%puzzled-dude-after:after
  content: "\e089"

%map-dude-before:before
  content: "\e090"
%map-dude-after:after
  content: "\e090"


// -----------------------------------------------------------------------------
// Other icons
// -----------------------------------------------------------------------------

%phone-icon-before:before
  content: "\e079"
%phone-icon-after:after
  content: "\e03c"

%website-icon-before:before
  content: "\e080"
%website-icon-after:after
  content: "\e080"

%icon--home-before:before
  content: "\e082"
%icon--home-after:after
  content: "\e082"

%icon--flights-before:before
  content: "\e083"
%icon--flights-after:after
  content: "\e083"

%lp-review-bubble-before:before
  content: "\e085"
%lp-review-bubble-after:after
  content: "\e085"

%top-choice-before:before
  content: "\e086"
%top-choice-after:after
  content: "\e086"






