// -----------------------------------------------------------------------------
// Unicode references for non-font icons
// -----------------------------------------------------------------------------

%vertically-centered-dot-before:before
  content: '\00B7'
%vertically-centered-dot-after:after
  content: '\00B7'


// -----------------------------------------------------------------------------
// Unicode references for our icon set
// -----------------------------------------------------------------------------

%date-icon-before:before
  content: "\e001"
%date-icon-after:after
  content: "\e001"

%filter-icon-before:before
  content: "\e006"
%filter-icon-after:after
  content: "\e006"

%hourglass-icon-before:before
  content: "\e007"
%hourglass-icon-after:after
  content: "\e007"

%tick-icon-before:before
  content: "\e009"
%tick-icon-after:after
  content: "\e009"

%cross-icon-before:before
  content: "\e010"
%cross-icon-after:after
  content: "\e010"


// -----------------------------------------------------------------------------
// Arrows
// -----------------------------------------------------------------------------

%icon--arrow-right-before:before
  content: "\e008"
%icon--arrow-right-after:after
  content: "\e008"

%icon--arrow-left-before:before
  content: "\e104"
%icon--arrow-left-after:after
  content: "\e104"

%icon--arrow-up-before:before
  content: "\e105"
%icon--arrow-up-after:after
  content: "\e105"

%icon--arrow-down-before:before
  content: "\e106"
%icon--arrow-down-after:after
  content: "\e106"


// -----------------------------------------------------------------------------
// Chevrons
// -----------------------------------------------------------------------------

%chevron-left-before:before
  content: "\e011"
%chevron-left-after:after
  content: "\e011"

%chevron-right-before:before
  content: "\e012"
%chevron-right-after:after
  content: "\e012"

%chevron-up-before:before
  content: "\e013"
%chevron-up-after:after
  content: "\e013"

%chevron-down-before:before
  content: "\e014"
%chevron-down-after:after
  content: "\e014"


// -----------------------------------------------------------------------------
// Contact
// -----------------------------------------------------------------------------

%local-marker-before:before
  content: "\e029"
%local-marker-after:after
  content: "\e029"


// -----------------------------------------------------------------------------
// Social icons
// -----------------------------------------------------------------------------

%icon--twitter-before:before
  content: "\e015"
%icon--twitter-after:after
  content: "\e015"

%icon--google-plus-before:before
  content: "\e016"
%icon--google-plus-after:after
  content: "\e016"

%icon--facebook-before:before
  content: "\e017"
%icon--facebook-after:after
  content: "\e017"

%icon--flickr-before:before
  content: "\e018"
%icon--flickr-after:after
  content: "\e018"

%icon--rss-before:before
  content: "\e019"
%icon--rss-after:after
  content: "\e019"

%icon--pinterest-before:before
  content: "\e099"
%icon--pinterest-after:after
  content: "\e099"

%icon--youtube-before:before
  content: "\e100"
%icon--youtube-after:after
  content: "\e100"

%default-room-image-before:before
  content: '\e034'
%default-room-image-after:after
  content: '\e034'

%icon--email-before:before
  content: "\e073"
%icon--email-after:after
  content: "\e073"

%icon--print-before:before
  content: "\e074"
%icon--print-after:after
  content: "\e074"

%phone-icon-before:before
  content: "\e079"
%phone-icon-after:after
  content: "\e03c"

%website-icon-before:before
  content: "\e080"
%website-icon-after:after
  content: "\e080"

%default-room-image
  content: '\e034'


// -----------------------------------------------------------------------------
// POI Icons for no image cards
// -----------------------------------------------------------------------------

%icon-poi-festival-before:before
  content: "\e020"
%icon-poi-festival-after:after
  content: "\e020"

%icon-poi-entertainment-before:before
  content: "\e021"
%icon-poi-entertainment-after:after
  content: "\e021"

%icon-poi-sight-before:before
  content: "\e022"
%icon-poi-sight-after:after
  content: "\e022"

%icon-poi-activity-before:before
  content: "\e023"
%icon-poi-activity-after:after
  content: "\e023"

%icon-poi-hotel-before:before
  content: "\e024"
%icon-poi-hotel-after:after
  content: "\e024"

%icon-poi-bar-before:before
  content: "\e025"
%icon-poi-bar-after:after
  content: "\e025"

%icon-poi-restaurant-before:before
  content: "\e026"
%icon-poi-restaurant-after:after
  content: "\e026"

%icon-poi-shopping-before:before
  content: "\e027"
%icon-poi-shopping-after:after
  content: "\e027"

%icon-poi-transport-before:before
  content: "\e028"
%icon-poi-transport-after:after
  content: "\e028"

%icon-poi-article-before:before
  content: "\e109"
%icon-poi-article-after:after
  content: "\e109"

%icon-poi-tour-before:before
  content: "\e092"
%icon-poi-tour-after:after
  content: "\e092"


// -----------------------------------------------------------------------------
// POI Icons for image cards
// -----------------------------------------------------------------------------

%icon-image-poi-festival-before:before
  content: "\e030"
%icon-image-poi-festival-after:after
  content: "\e030"

%icon-image-poi-entertainment-before:before
  content: "\e031"
%icon-image-poi-entertaiment-after:after
  content: "\e031"

%icon-image-poi-sight-before:before
  content: "\e032"
%icon-image-poi-sight-after:after
  content: "\e032"

%icon-image-poi-activity-before:before
  content: "\e033"
%icon-image-poi-activity-after:after
  content: "\e033"

%icon-image-poi-hotel-before:before
  content: "\e034"
%icon-image-poi-hotel-after:after
  content: "\e034"

%icon-image-poi-bar-before:before
  content: "\e035"
%icon-image-poi-bar-after:after
  content: "\e035"

%icon-image-poi-restaurant-before:before
  content: "\e036"
%icon-image-poi-restaurant-after:after
  content: "\e036"

%icon-image-poi-shopping-before:before
  content: "\e037"
%icon-image-poi-shopping-after:after
  content: "\e037"

%icon-image-poi-article-before:before
  content: "\e060"
%icon-image-poi-article-after:after
  content: "\e060"

%icon-gallery-before:before
  content: "\e061"
%icon-gallery-after:after
  content: "\e061"

%icon-video-before:before
  content: "\e062"
%icon-video-after:after
  content: "\e062"

%icon-image-poi-tour-before:before
  content: "\e063"
%icon-image-poi-tour-after:after
  content: "\e063"

%icon-poi-info-before:before
  content: "\e091"
%icon-poi-info-after:after
  content: "\e091"


// -----------------------------------------------------------------------------
// Facilities icons
// -----------------------------------------------------------------------------

%icon-facilities-bar-before:before
  content: "\e035"
%icon-facilities-bar-after:after
  content: "\e035"

%icon-facilities-restaurant-before:before
  content: "\e036"
%icon-facilities-restaurant-after:after
  content: "\e036"

%icon-facilities-shop-before:before
  content: "\e037"
%icon-facilities-shop-after:after
  content: "\e037"

%icon-facilities-accessibility-before:before
  content: "\e038"
%icon-facilities-accessibility-after:after
  content: "\e038"

%icon-facilities-air-conditioning-before:before
  content: "\e039"
%icon-facilities-air-conditioning-after:after
  content: "\e039"

%icon-facilities-breakfast-before:before
  content: "\e040"
%icon-facilities-breakfast-after:after
  content: "\e040"

%icon-facilities-family-before:before
  content: "\e041"
%icon-facilities-family-after:after
  content: "\e041"

%icon-facilities-kids-club-before:before
  content: "\e042"
%icon-facilities-kids-club-after:after
  content: "\e042"

%icon-facilities-fitness-before:before
  content: "\e043"
%icon-facilities-fitness-after:after
  content: "\e043"

%icon-facilities-guest-services-before:before
  content: "\e044"
%icon-facilities-guest-services-after:after
  content: "\e044"

%icon-facilities-spa-before:before
  content: "\e045"
%icon-facilities-spa-after:after
  content: "\e045"

%icon-facilities-housekeeping-before:before
  content: "\e046"
%icon-facilities-housekeeping-after:after
  content: "\e046"

%icon-facilities-luggage-storage-before:before
  content: "\e047"
%icon-facilities-luggage-storage-after:after
  content: "\e047"

%icon-facilities-bureau-de-change-before:before
  content: "\e048"
%icon-facilities-bureau-de-change-after:after
  content: "\e048"

%icon-facilities-non-smoking-before:before
  content: "\e049"
%icon-facilities-non-smoking-after:after
  content: "\e049"

%icon-facilities-outdoor-space-before:before
  content: "\e050"
%icon-facilities-outdoor-space-after:after
  content: "\e050"

%icon-facilities-parking-before:before
  content: "\e051"
%icon-facilities-parking-after:after
  content: "\e051"

%icon-facilities-recreation-before:before
  content: "\e052"
%icon-facilities-recreation-after:after
  content: "\e052"

%icon-facilities-swimming-pool-before:before
  content: "\e053"
%icon-facilities-swimming-pool-after:after
  content: "\e053"

%icon-facilities-transport-before:before
  content: "\e054"
%icon-facilities-transport-after:after
  content: "\e054"

%icon-facilities-wifi-before:before
  content: "\e055"
%icon-facilities-wifi-after:after
  content: "\e055"

%icon-facilities-concierge-before:before
  content: "\e056"
%icon-facilities-concierge-after:after
  content: "\e056"

%icon-facilities-cards-accepted-before:before
  content: "\e057"
%icon-facilities-cards-accepted-after:after
  content: "\e057"

%icon-facilities-pets-before:before
  content: "\e058"
%icon-facilities-pets-after:after
  content: "\e058"


// -----------------------------------------------------------------------------
// Other icons
// -----------------------------------------------------------------------------

%tour-duration-before:before
  content: "\e064"
%tour-duration-after:after
  content: "\e064"

%approval-before:before
  content: "\e066"
%approval-after:after
  content: "\e066"

%comments-before:before
  content: "\e068"
%comments-after:after
  content: "\e068"

%icon--location-flag-before:before
  content: "\e076"
%icon--location-flag-after:after
  content: "\e076"

%phone-icon-before:before
  content: "\e079"
%phone-icon-after:after
  content: "\e079"

%website-icon-before:before
  content: "\e080"
%website-icon-after:after
  content: "\e080"

%icon--home-before:before
  content: "\e082"
%icon--home-after:after
  content: "\e082"

%icon--flights-before:before
  content: "\e083"
%icon--flights-after:after
  content: "\e083"

%lp-review-bubble-before:before
  content: "\e085"
%lp-review-bubble-after:after
  content: "\e085"

%top-choice-before:before
  content: "\e086"
%top-choice-after:after
  content: "\e086"

%icon--guest-before:before
  content: "\e087"
%icon--guest-after:after
  content: "\e087"

%icon--nearby-before:before
  content: "\e093"
%icon--nearby-after:after
  content: "\e093"

%icon--clock-before:before
  content: "\e065"
%icon--clock-after:after
  content: "\e065"

%icon--email-before:before
  content: "\e073"
%icon--email-after:after
  content: "\e073"

%icon--print-before:before
  content: "\e074"
%icon--print-after:after
  content: "\e074"

%icon--underground-before:before
  content: "\e078"
%icon--underground-after:after
  content: "\e078"


// -----------------------------------------------------------------------------
// Curly arrow icons
// -----------------------------------------------------------------------------

%curly-arrow-top-before:before
  content: "\e094"
%curly-arrow-top-after:after
  content: "\e094"

%curly-arrow-bottom-before:before
  content: "\e095"
%curly-arrow-bottom-after:after
  content: "\e095"

%curly-arrow-right-before:before
  content: "\e096"
%curly-arrow-right-after:after
  content: "\e096"

%curly-arrow-left-before:before
  content: "\e097"
%curly-arrow-left-after:after
  content: "\e097"


// -----------------------------------------------------------------------------
// Dude Icons
// -----------------------------------------------------------------------------

%the-dude-before:before
  content: "\e088"
%the-dude-after:after
  content: "\e088"

%puzzled-dude-before:before
  content: "\e089"
%puzzled-dude-after:after
  content: "\e089"

%map-dude-before:before
  content: "\e090"
%map-dude-after:after
  content: "\e090"


// -----------------------------------------------------------------------------
// Currencies
// -----------------------------------------------------------------------------

%dollar-sign-before:before
  content: "\e048"
%dollar-sign-after:after
  content: "\e048"

%pound-sign-before:before
  content: '\00A3'
%pound-sign-after:after
  content: '\00A3'

%euro-sign-before:before
  content: '\20AC'
%euro-sign-after:after
  content: '\20AC'


// -----------------------------------------------------------------------------
// Other icons
// -----------------------------------------------------------------------------

%warning-sign-before:before
  content: "\e081"
%warning-sign-after:after
  content: "\e081"

%contract-arrows-before:before
  content: "\e111"
%contract-arrows-after:after
  content: "\e111"

%expand-arrows-before:before
  content: "\e112"
%expand-arrows-after:after
  content: "\e112"