%meta(name="viewport" content="width=1024")
- if is_client_browser_less_then_ie9?(request.user_agent)
  :javascript
    document.createElement('header');
    document.createElement('nav');
    document.createElement('section');
    document.createElement('article');
    document.createElement('aside');
    document.createElement('footer');
    document.createElement('figure');
    document.createElement('figurecap');
    document.createElement('hgroup');

= stylesheet_link_tag 'common_core', :media => "all"
%link(rel="icon" type="image/gif" href="http://www.lonelyplanet.com/favicon.ico")





