#ad_masthead.leaderboardInner
  %noscript  
    %a(href="http://ad.doubleclick.net/jump/2009.lonelyplanet/destinations/Asia;ctt=asia;cnty=cambodia;tnm=overview;sz=728x90;ord=123456789?" target="_blank")
      %img(src="http://ad.doubleclick.net/ad/2009.lonelyplanet/destinations/Asia;ctt=asia;cnty=cambodia;tnm=overview;sz=728x90;ord=123456789?" border="0" alt="")
