%footer
  .info
    .src
      %h2.hidden
        Information Sources
      %nav
        %a.newsletter(href='http://www.lonelyplanet.com/newsletter' title='newsletter')
          %h3
            Newsletter
          %p
            Tweak your wanderlust
        %a.mobile(href='http://www.lonelyplanet.com/mobile' title='mobile')
          %h3
            Mobile
          %p
            With you all the way
        %a.follow(href='http://www.lonelyplanet.com/rss' title='follow us' rel='nofollow')
          %h3
            Follow us
          %p
            Tweets, feeds and more
        %a.blogs(href='http://www.lonelyplanet.com/lpblogs' title='blogs')
          %h3
            Blogs
          %p
            Go behind the scenes
        %a.magazine(href='http://www.lonelyplanet.com/lpblogs' title='magazine')
          %h3
            Magazine
          %p
            Travel inspiration to your door

  .foot
    .src
      %nav
        %a(href="http://www.lonelyplanet.com/about/" title='about us')
          About us
        %a(href="http://www.lonelyplanet.com/jobs/" title='work for us')
          Work for us
        %a(href="http://www.lonelyplanet.com/contact/" title='contact us')
          Contact us
        %a(href="http://www.lonelyplanet.com/press-trade-advertising/" rel="nofollow" title='Press, trade &amp; advertising')
          Press, trade &amp; advertising
        %a(href="http://www.lonelyplanet.com/legal/website-terms" title='Website terms')
          Website terms
        %a(href="http://www.lonelyplanet.com/legal/privacy-policy" title='Privacy policy')
          Privacy policy
        %a(href="http://www.lonelyplanet.com/community-guidelines" title='Community guidelines')
          Community guidelines
      %form#language.javascriptDisabled(action="http://www.lonelyplanet.com/international")
        %fieldset
          %label(for="languageSelect")
            International
            %select#languageSelect(name="Language")
              - [['en','English'], ['de','Deutsch'], ['fr','Fran&#231;ais'], ['es','Espa&#241;ol'], ['it','Italiano'], ['cn','&#20013;&#25991;&#31616;&#20307;'], ['jp','&#26085;&#26412;&#35486;']].each do |opt|
                %option(value="#{opt[0]}")
                  = opt[1].html_safe
          %input(name="Go" type="submit" value="Go")

      %div.footer-info
        %a(href="http://www.lonelyplanet.com" title='lonely planet home')
        %p
          &copy; 2012 Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.
        %p
          This website is owned by BBC Worldwide, which is a commercial company owned by the BBC.

