// -----------------------------------------------------------------------------
//
//  Base Grid setup
//
// -----------------------------------------------------------------------------

[class*="grid-wrapper--"]
  @extend %clearfix
  box-sizing: border-box

  > [class*="col--"]
    box-sizing: border-box
    .ie7 &, .no-boxsizing &
      padding-left: 0


// -----------------------------------------------------------------------------
// Grid Mixins - to differentiate responsive styles
//
// Prefix with mv-- if you want the grid to collapse on small screens
//
// To add more breakpoint classes (e.g. wv-- ) simply add them in the two mixins
// below. They have been left out as they are not yet needed.
// -----------------------------------------------------------------------------

@mixin responsive-grid($gutter-width)

  .grid-wrapper--#{$gutter-width}
    @content

  .mv--grid-wrapper--#{$gutter-width}
    +respond-to(medium-view)
      @content


@mixin responsive-col($colWidth)

  width: $colWidth

  [class*="mv--grid-wrapper--"] > &
    width: 100%
    +respond-to(medium-view)
      width: $colWidth


// -----------------------------------------------------------------------------
// The modifier on the grid-wrapper determines the width of the gutters
//
// e.g. grid-wrapper--10, grid-wrapper--20
// -----------------------------------------------------------------------------

@each $gutter-width in 0, 10, 15, 20, 30

  +responsive-grid($gutter-width)
    margin-left: -#{$gutter-width}px

    & > [class*="col--"]
      float: left
      padding-left: #{$gutter-width}px


// -----------------------------------------------------------------------------
//
// The modifier on the column determines its own width
//
// -----------------------------------------------------------------------------

.col--one-half
  +responsive-col(percentage(1/2))

.col--one-third
  +responsive-col(percentage(1/3))

.col--two-thirds
  +responsive-col(percentage(2/3))

.col--one-quarter
  +responsive-col(percentage(1/4))

.col--three-quarters
  +responsive-col(percentage(3/4))

.col--one-fifth
  +responsive-col(percentage(1/5))

.col--two-fifths
  +responsive-col(percentage(2/5))

.col--three-fifths
  +responsive-col(percentage(3/5))

.col--four-fifths
  +responsive-col(percentage(4/5))

.col--one-whole
  width: 100%


// -----------------------------------------------------------------------------
// Flexible, collapsible grid
//
// 1 to 2 to 3 to 4 to 6 columns
// -----------------------------------------------------------------------------

.grid-flex
  overflow: hidden
  min-width: 180px
  margin: 0 auto
  padding: 5px 0

.grid-flex__cell
  float: left
  box-sizing: border-box
  -moz-box-sizing: border-box
  padding: 5px

  // This doesn't really need to hide behind a flag but for
  // consistency with current Rizzo, it does.
  .responsive &
    width: 100%

    +respond-to(320)
      width: percentage(1 / 2)

    +respond-to(580)
      width: percentage(1 / 3)

    +respond-to(860)
      width: percentage(1 / 4)

    +respond-to(1020)
      width: percentage(1 / 6)

    +respond-to(1120)
      width: percentage(1 / 8)

  > .tile
    min-width: 0
    width: 100%
    max-width: none

