// ----------------------------------------------------------------------------
//
//  Input defaults
//
// ----------------------------------------------------------------------------

input, textarea
  @extend %lp-font-stack
  box-sizing: border-box
  border: none
  outline: 0

input[type="submit"]
  cursor: pointer

// ----------------------------------------------------------------------------
// Inputs
// ----------------------------------------------------------------------------


.input
  @extend %rounded-corners
  box-sizing: border-box
  transition: background 0.3s ease
  background-color: $body-background-offset
  border: 1px solid $body-background-offset
  color: $body-copy
  padding: 9px 10px
  width: 100%
  +placeholder()
    color: $feature-copy

  &:focus
    background-color: #fff
    border: 1px solid $details-panel-border

  .standout &
    background-color: #fff

    &:focus
      background-color: #fff
      border: 1px solid $details-panel-border

// ----------------------------------------------------------------------------
//
// Header: Search Form
//
// ----------------------------------------------------------------------------

.search--primary
  background-color: transparent
  margin: 10px 0
  position: relative
  @if $is-ie
    float: left
  .responsive &
    background-color: white
    width: 75%
    margin: 12px auto 0
    +respond-to(wide-view)
      background-color: $row-primary--darker
      width: auto
      margin: 12px 0 0

.search--primary--mobile
  display: none
  .responsive &
    display: block
    +respond-to(wide-view)
      display: none

.search--primary--wv
  @extend %inline-block
  .responsive &
    display: none
    +respond-to(wide-view)
      display: inline-block

.search__input--primary
  @extend %transition--base
  border-radius: 16px
  background: $row-primary--darker
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2232%22%20height%3D%22232%22%20viewBox%3D%220%200%2032%20232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Asketch%3D%22http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%2Fns%22%3E%3Ctitle%3Esearch%3C%2Ftitle%3E%3Cg%20sketch%3Atype%3D%22MSPage%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M27.938%2024.895l-5.98-5.908c.904-1.466%201.421-3.184%201.421-5.021%200-5.342-4.685-9.967-10.092-9.967-5.405%200-9.787%204.327-9.787%209.669%200%205.343%204.685%209.971%2010.09%209.971%201.799%200%203.483-.48%204.93-1.319l6.009%205.939c.589.582%201.542.582%202.129%200l1.493-1.472c.59-.582.376-1.311-.213-1.892zm-21.426-11.227c0-3.7%203.037-6.695%206.775-6.695%203.746%200%207.081%203.295%207.081%206.993%200%203.699-3.033%206.695-6.778%206.695-3.741%200-7.078-3.292-7.078-6.993z%22%20fill%3D%22%233A434E%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M27.409%2064.895l-5.98-5.908c.904-1.466%201.421-3.184%201.421-5.021%200-5.342-4.685-9.967-10.092-9.967-5.405%200-9.787%204.327-9.787%209.669%200%205.343%204.685%209.971%2010.09%209.971%201.799%200%203.483-.48%204.93-1.319l6.009%205.939c.589.582%201.542.582%202.129%200l1.493-1.472c.59-.582.376-1.311-.213-1.892zm-21.426-11.227c0-3.7%203.037-6.695%206.775-6.695%203.746%200%207.081%203.295%207.081%206.993%200%203.699-3.033%206.695-6.778%206.695-3.741%200-7.078-3.292-7.078-6.993z%22%20fill%3D%22%2367737B%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M26.906%20104.895l-5.98-5.908c.904-1.466%201.421-3.184%201.421-5.021%200-5.342-4.685-9.967-10.092-9.967-5.405%200-9.787%204.327-9.787%209.669%200%205.343%204.685%209.971%2010.09%209.971%201.799%200%203.483-.48%204.93-1.319l6.009%205.939c.589.582%201.542.582%202.129%200l1.493-1.472c.59-.582.376-1.311-.213-1.892zm-21.426-11.227c0-3.7%203.037-6.695%206.775-6.695%203.746%200%207.081%203.295%207.081%206.993%200%203.699-3.033%206.695-6.778%206.695-3.741%200-7.078-3.292-7.078-6.993z%22%20fill%3D%22%23fff%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M26.906%20144.895l-5.98-5.908c.904-1.466%201.421-3.184%201.421-5.021%200-5.342-4.685-9.967-10.092-9.967-5.405%200-9.787%204.327-9.787%209.669%200%205.343%204.685%209.971%2010.09%209.971%201.799%200%203.483-.48%204.93-1.319l6.009%205.939c.589.582%201.542.582%202.129%200l1.493-1.472c.59-.582.376-1.311-.213-1.892zm-21.426-11.227c0-3.7%203.037-6.695%206.775-6.695%203.746%200%207.081%203.295%207.081%206.993%200%203.699-3.033%206.695-6.778%206.695-3.741%200-7.078-3.292-7.078-6.993z%22%20fill%3D%22%23206FAC%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3Cpath%20d%3D%22M26.438%20184.896l-5.98-5.908c.904-1.466%201.421-3.184%201.421-5.021%200-5.342-4.685-9.967-10.092-9.967-5.405%200-9.787%204.327-9.787%209.669%200%205.343%204.685%209.971%2010.09%209.971%201.799%200%203.483-.48%204.93-1.319l6.009%205.939c.589.582%201.542.582%202.129%200l1.493-1.472c.59-.582.376-1.311-.213-1.892zm-21.426-11.227c0-3.7%203.037-6.695%206.775-6.695%203.746%200%207.081%203.295%207.081%206.993%200%203.699-3.033%206.695-6.778%206.695-3.741%200-7.078-3.292-7.078-6.993z%22%20fill%3D%22%2398A8B2%22%20sketch%3Atype%3D%22MSShapeGroup%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
  background-repeat: no-repeat
  background-position: right 6px top -25px
  background-size: 23px
  color: $nav-primary-type
  display: inline-block
  height: 35px
  padding: 0 10px
  vertical-align: top
  width: 170px
  &:focus
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2) inset
    color: $body-copy
    width: 265px
    background-color: white
    background-position: right 6px top 5px

  .responsive &
    width: 80%
    &:focus
      width: 80%
      box-shadow: none
    +respond-to(wide-view)
      width: 170px
      &:focus
        width: 210px
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2) inset

  .ie8 &
    line-height: 16px
    padding: 7px 10px

.search__button--icon
  @extend %image-replacement
  @extend %transition--base
  display: block
  height: 21px
  padding: 0
  width: 21px
  opacity: 0.75
  background-size: 22px
  position: absolute
  right: 8px
  top: 5px
  &:hover
    opacity: 1

.autocomplete
  position: relative
  display: block
  width: 100%
  margin: 0
  left: 0
  top: 75%
  .autocomplete__results
    list-style: none
    top: 4px
    left: 0px
    width: 100%
    margin: 0px
    background-color: white
    border: 1px solid $subduedgray
    border-radius: 4px
    position: absolute
    &:after
      position: absolute
      top: -15px
      left: 50%
      margin-left: -10px
      width: 20px
      height: 20px
    .autocomplete__results__item:last-child
      border: 0px
    .autocomplete__results__item:before
      width: 20px
      height: 20px
      position: absolute
      top: 5px
      left: 5px
    .autocomplete__results__item
      cursor: pointer
      +font-size(14)
      color: $bodygray
      display: block
      padding: 10px 10px 10px 50px
      font-weight: normal
      background-repeat: no-repeat
      background-size: auto 100%
      cursor: pointer
      border-bottom: 1px solid $subduedgray
      position: relative
      text-decoration: none
    .autocomplete__results__item:hover, .autocomplete__results__item--highlight, .autocomplete__search-term--highlight
      font-weight: bold

// -----------------------------------------------------------------------------
//
// Footer: Language Selection
//
// -----------------------------------------------------------------------------

.form--language
  .responsive &
    text-align: center
    label
      text-align: left
    +respond-to(wide-view)
      text-align: left

.form--language__label
  margin-right: 10px
  line-height: 30px

.dropdown--language
  width: 86px
  .ie7 &
    overflow: hidden

// Footer select is slightly smaller so reduce padding and re-align chevron
.dropdown__value--language
  +font-size(12)
  padding-top: 9px
  padding-bottom: 8px
  border: none
  // Container is large enough so we can remove new formatting context
  overflow: visible
  .responsive &
    top: 0

.submit--language
  display: none
  .no-js &
    display: block
    @extend %rounded-corners
    padding: 8px
    position: inherit


// -----------------------------------------------------------------------------
//
// Footer: Newsletter Country Selection
//
// -----------------------------------------------------------------------------

.newsletter--footer
  +font-size(14)
  .responsive &
    margin-bottom: 20px
    +respond-to(wide-view)
      margin-bottom: 0
      width: 100%
  .btn--green
    font-weight: bold

.newsletter--placeholder
  position: static
  display: block
  margin-bottom: 5px
  font-weight: bold

.input--small--newsletter
  @extend %rounded-corners
  background-color: #fff
  color: $body-copy
  padding: 10px
  width: 100%
  color: $body-copy
  +placeholder()
    color: $body-copy
  .responsive &
    +font-size(16) // Prevent zoom on iOS
  .ie7 &
    width: auto

.dropdown--country
  margin: 7px 0

.dropdown__value--country
  border: none
  padding-top: 11px
  padding-bottom: 11px
  .responsive &
    +font-size(16) // Prevent zoom on iOS
