:javascript
  (function(){
    if (document.documentElement.className.indexOf('ie8') === -1 
      && document.documentElement.className.indexOf('ie9') === -1) {
      
      var xhr = new XMLHttpRequest();
      xhr.open('GET', "#{asset_path('fonts.css')}");
      xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');

      xhr.onload = function (e) {
        document.cookie = "_lpfont=true"
      };

      xhr.send();
    }
  })()
