:javascript
  (function(){
    if (document.documentElement.className.indexOf('ie8') === -1 
      && document.documentElement.className.indexOf('ie9') === -1) {
      
      var xhr = new XMLHttpRequest();
      var cdnPath = "#{font_path('fonts.css')}";
      // Use www to avoid CORS issues
      // This config should be handled in rails
      // Asset pipeline doesn't make this very easy though
      var newPath = "//www.lonelyplanet.com/assets/" + cdnPath.split('/assets/')[1]

      xhr.open('GET', newPath);

      xhr.onload = function (e) {
        document.cookie = "_lpfont=true;domain=.lonelyplanet.com;expires=Tue, 19 Jan 2038 03:14:07 GMT"
      };

      xhr.send();
    }
  })()
