:javascript
  (function(){
    if ((window.lp.enhanced) || document.documentElement.className.match(/ie([0-9]+)/)) {

      var sections = ['js-hero', 'js-travel-services'];

      for (var i = 0; i < sections.length; i++) {
        var scope = document.getElementById(sections[i]);
        var images = scope.querySelectorAll('[data-uncomment]'),
            len = images.length;

        for (var j = 0; j < len; j++) {
          uncommented = images[j].innerHTML.replace('<!--', '').replace('-->', '');
          images[j].parentNode.innerHTML += uncommented;
        }
      }
    }
  })()