:javascript
  (function(){
    if ((window.lp.enhanced) || document.documentElement.className.match(/ie([0-9]+)/)) {
      var images = document.querySelectorAll('[data-img]'),
          len = images.length;

      for (i = 0; i < len; i++) {
        uncommented = images[i].innerHTML.replace('<!--', '').replace('-->', '');
        images[i].parentNode.innerHTML += uncommented;
        
      }
    }
  })()