:javascript
  var require = {
    baseUrl: '/assets',
    paths: {
      jquery: "jquery/jquery",
      jplugs: "/assets/jquery/plugins",
      jsmin: "/assets/lonelyplanet_minjs/dist/$",
      s_code: "/assets/omniture/s_code",
      gpt: "http://www.googletagservices.com/tag/js/gpt",
      sailthru: "/assets/sailthru/v1"
    },
    waitSeconds: 20
  };
