:javascript
  (function(d, s, id) {
    var fjs, js, ie;
    fjs = d.getElementsByTagName(s)[0];
    js = d.createElement(s);
    js.id = id;
    js.async = true;
    js.src = "#{asset_path('requirejs/require.js')}";
    ie = document.documentElement.className.match(/ie([0-9]+)/);

    if (document.documentElement.clientWidth < 990 && !ie) {
      main = "#{asset_path('app_homepage_mobile.js')}";
      window.lp = window.lp || {}
      window.lp.isMobile = true;
    } else if (window.lp && window.lp.enhanced || ie) {
      main = "#{asset_path('app_homepage.js')}";
    } else {
      // Return false here rather than breaking the functionality of the site entirely.
      return false;
    }
    js.setAttribute("data-main", main);
    return fjs.parentNode.insertBefore(js, fjs);
  })(document, 'script');