// -----------------------------------------------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------------------------------------------


$base_font_size: 12px
$new_base_font_size: 14px
$core_color: #333
$link_color: #07C
