.sortControls
  %ul
    %li.title
      Sort by:
    %li.current.down
      %a(href='/england/london/activities?sort_dir=asc&amp;sort_order=popular')
        Popular
        %span
    %li.current.up
      %a(href='/england/london/activities?sort_dir=desc&amp;sort_order=price/')
        Price
        %span
    %li
      %a(href='/england/london/activities?sort_dir=desc&amp;sort_order=price/')
        Other
        %span
