// -----------------------------------------------------------------------------
// Base card object and sizing variables
//
// - Width of a Card defaults to single - override when necessary
// -----------------------------------------------------------------------------

$card-grid-height:                  380px
$card-grid-half-height:             185px

$standard-card-image-height:        275px
$small-card-image-height:           185px

$default-card-top-padding:          55px
$image-only-padding:                7px

$card-content-vertical-padding:     13px
$card-content-horizontal-padding:   15px

// responsive
$mobile-card-grid-height:           296px
$mobile-card-grid-half-height:      143px
$mobile-standard-card-image-height: 192px
