// -----------------------------------------------------------------------------
// Palette 2.0
// -----------------------------------------------------------------------------

$body-background           : #E5EBEE !default

$header-gray               : #515A64 !default
$body-copy                 : #7F9394 !default
$sub-copy                  : #BEBEBE !default

$feature-text              : #032e5c !default
$heading-text              : #094b9b !default
$active                    : #28c3c9 !default
$card-title-text           : #2f4662 !default

$green                     : #25bd63 !default
$bookable                  : #FEEE36 !default
$orange                    : #ff8413 !default
$red                       : #ff514e !default
$purple                    : #3a4681 !default


$subdued-active            : #92dfe2 !default
$map-border                : #d1d1d1 !default
$gallery-background        : #e2e8ea !default

// -----------------------------------------------------------------------------
// States
// -----------------------------------------------------------------------------

$nav-hover-background      : #f2f6fa


// -----------------------------------------------------------------------------
// Forms
// -----------------------------------------------------------------------------

$form-gray                 : #ccc
$separator                 : #cedbeb
$ruled-list-separator      : #e6edf5

// -----------------------------------------------------------------------------
// LP Reviewed
// -----------------------------------------------------------------------------
$lp-reviewed               : #edf6fb !default
$text-on-blue              : #47678c !default


$soft-border          : #e5e9ea !default


//$$legacy below

// -----------------------------------------------------------------------------
// Core Colours
// -----------------------------------------------------------------------------

$body-background           : #E5EBEE
$header-blue               : #000066 !default
$soft-grey                 : #666 !default
$light-grey                : #f3f3f3 !default

$previous-price            : #ffc186 !default
$good-black                : #333 !default



// -----------------------------------------------------------------------------
// Button Colours
// -----------------------------------------------------------------------------

$disabled-state-color     : #808080 !default

// -----------------------------------------------------------------------------
// Validation Colours
// -----------------------------------------------------------------------------

$error-box-background     : #F7E4E4 !default
$error-text-color         : #fc1c1c !default


// -----------------------------------------------------------------------------
// Error Colours
// -----------------------------------------------------------------------------

$system-error-bg          : #FBE3E1 !default
$no-results-bg            : #FFF699 !default

