// -----------------------------------------------------------------------------
// Palette 2.0
// -----------------------------------------------------------------------------

$body-background           : #eef1f3 !default

// -----------------------------------------------------------------------------
// Type

$header-gray               : #515A65 !default
$header-dark-gray          : #2b3034 !default
$header-blue               : #206fac !default

$body-copy                 : #67747c !default
$feature-text              : #032e5c !default

$placeholder-copy          : #BEBEBE !default

$text-on-blue              : #47678c !default

$dark-blue-gray            : #2f4662 !default


$new-header-grey           : #3b444f !default
$new-header-grey-shadow    : rgba(3, 46, 92, 0.12)


// -----------------------------------------------------------------------------
// States

$active                    : #12dccc !default
$active--subdued           : #82ebef !default
$nav-bg--hover             : #f2f6fa !default

$validation-true           : #16c98d !default
$validation-false          : #ff514e !default

$disabled-state-color      : #cbd9e4 !default
$disabled-state-text       : #fff    !default


// -----------------------------------------------------------------------------
// UI backgrounds and borders

$secondary-content-bg      : #f6fafd !default
$secondary-content-border  : #c4d8d6 !default
$soft-gray                 : #d0d7d8 !default

$bookable                  : #fff556 !default
$bookable-hover            : #fff004 !default
$bookable-ribbon           : #c8bc08 !default

$info-background           : #edf6fb !default

$lp-reviewed-badge         : #3074c6 !default

$map-border                : #d1d1d1 !default
$gallery-background        : #e2e8ea !default
$gallery-tab-background    : #3c444f !default

$border-on-blue            : #dde7ed !default

$facet-count               : #f0f5f5 !default
$facet-count-text          : #aeb7b7 !default

$ruled-separator           : #e6edf5 !default
$ruled-separator--light    : #EBEEF1 !default

$side-tag                  : #1ac587 !default
$side-tag-curl             : #07753f !default

// -----------------------------------------------------------------------------
// Errors

$error-bg                  : #FBE3E1 !default

// -----------------------------------------------------------------------------
// Badge Colours

$hotels-poi                : #55179E
$sight-poi                 : #df1f26
$activity-poi              : #e88b07
$tour-poi                  : #9fd815
$shopping-poi              : #ed326c
$entertainment-poi         : #0c3b88
$restaurant-poi            : #30aa9e
$article-poi               : #a0bc3f

$need-to-know-info         : #d9d9d9

// -----------------------------------------------------------------------------
// Link card colours

$link-card-activities      : #12dccc
$link-card-entertainment   : #47a899
$link-card-tours           : #16c98d
$link-card-lodgings        : #fa5e5b
$link-card-restaurants     : #684e79
$link-card-shopping        : #ffc83f
$link-card-sights          : #bf538d

// -----------------------------------------------------------------------------
// In the pallette but not yet used

$dark-blue-gray            : #2f4662 !default

// -----------------------------------------------------------------------------
// Palette Grays

$body-highlight            : #57636b
$body                      : #67747C

$feature-highlight         : #132337
$feature                   : #1d334e

$highlight-highlight       : #b9cacd
$highlight                 : #c5d6d9

$subdued-highlight         : #e2e7ed
$subdued                   : #e6edf5

$title-highlight           : #2a323c
$title                     : #3b444f


// -----------------------------------------------------------------------------
// Primary Palette

$darkblue-highlight        : #143252
$darkblue                  : #1e4268

$green-highlight           : #13ba82
$green                     : #16c98d

$lpblue-highlight          : #1d508c
$lpblue                    : #288ad6

$orange-highlight          : #f4bd34
$orange                    : #ffc83f

$poyple-highlight          : #b44782
$poyple                    : #bf538d

$red-highlight             : #ee504d
$red                       : #fa5e5b

$teal-highlight            : #0ecdbe
$teal                      : #12dccc

$yella-highlight           : #f4e565
$yella                     : #feef6d


// -----------------------------------------------------------------------------
// Secondary Palette 

$agatha                    : #ff708e
$agatha-highlight          : #ee6380

$brightgreen               : #c7e6aa
$brightgreen-highlight     : #b9d89c

$brown                     : #572c2a
$brown-highlight           : #391917

$camel                     : #cfcbaf
$camel-highlight           : #c3bfa4

$greensea                  : #47a899
$greensea-highlight        : #449587

$purple                    : #684d79
$purple-highlight          : #4a3659

$wine                      : #841e1b
$wine-highlight            : #5f0f0f
