// -----------------------------------------------------------------------------
// Palette 2.0
// -----------------------------------------------------------------------------

$body-background           : #E5EBEE !default

$header-gray               : #515A65 !default
$body-copy                 : #7F9394 !default
$sub-copy                  : #BEBEBE !default

$feature-text              : #032e5c !default
$heading-text              : #094b9b !default
$active                    : #28c3c9 !default
$subdued-active            : #92dfe2 !default
$card-title-text           : #2f4662 !default

$bookable                  : #FEEE36 !default
$bookable-back             : #c8bc08 !default

// Not used
$green                     : #25bd63 !default
$orange                    : #ff8413 !default
$red                       : #ff514e !default
$purple                    : #3a4681 !default



// -----------------------------------------------------------------------------
// Other new colours
// -----------------------------------------------------------------------------

$nav-hover-background      : #f2f6fa !default
$very-light-background     : #f6f8f9 !default

$deal-background           : #122b49 !default

$map-border                : #d1d1d1 !default
$gallery-background        : #e2e8ea !default

$form-gray                 : #ccc !default
$form-border               : #c5d4dd !default

$facet-count               : #f0f5f5 !default
$facet-count-text          : #aeb7b7 !default

$section-separator         : #cedbeb !default
$ruled-list-separator      : #e6edf5 !default
$light-section-separator   : #EBEEF1 !default

$lp-reviewed               : #edf6fb !default
$text-on-blue              : #47678c !default
$soft-border               : #e5e9ea !default
$telephone                 : #40628a !default

$system-error-bg           : #FBE3E1 !default
$no-results-bg             : #FFF699 !default

$disabled-state-color      : #808080 !default
$disabled-state-text       : #e2e2e2 !default







