// -----------------------------------------------------------------------------
// Core Layout Colours
// -----------------------------------------------------------------------------

$row-leader                      : #124385
$row-leader-ad                   : #0f3560
$row-leader-border               : #497cb5

$primary-nav                     : #1d508d
$secondary-nav                   : #1b3149

$basket-item                     : #fef007
$basket-item-type                : #00275a

$cookie-background               : #EFEEEE
$user-border                     : #093367

// -----------------------------------------------------------------------------
// Type Colours
// -----------------------------------------------------------------------------

$nav-primary-type          : #bccee3
$nav-primary-type-hover    : #fff

$nav-secondary-type             : $body-copy
$nav-secondary-type-hover       : $dark-blue-gray
$nav-secondary-current-item-bck : $active

$nav-search-colour         : #bcd2df
$nav-search-bck            : #0b3d78
$nav-search-bck-focus      : #515868

$nav-submenu-bck           : #1ac571
$nav-submenu-hover         : #11b665
$nav-submenu-hover-border  : #1f9a51 #000 #51ca82 #000


// -----------------------------------------------------------------------------
// Validation Colours
// -----------------------------------------------------------------------------

$error-box-background     : #F7E4E4 !default
$error-text-color         : #fc1c1c !default

// -----------------------------------------------------------------------------
// Error Colours
// -----------------------------------------------------------------------------

$system-error-bg          : #FBE3E1 !default
$no-results-bg            : #FFF699 !default

$header-blue               : #000066 !default
$soft-grey                 : #666 !default
$light-grey                : #f3f3f3 !default
$light-blue                : #e3f3ff !default
$previous-price            : #ffc186 !default
$price-tag-orange          : #f47922 !default

$blue-gray                 : #575e64 !default
$idle-grey                 : #333
$footer-blue               : #272f39


// -----------------------------------------------------------------------------
// Legacy Colours (Header & Footer)
// -----------------------------------------------------------------------------

$primary-nav--legacy                    : #0b519f
$primary-nav-top--legacy                : #0b519f
$primary-nav-bottom--legacy             : #084695

$secondary-nav-top--legacy              : #20374f
$secondary-nav-bottom--legacy           : #1b3149

$nav-secondary-type--legacy             : #b0bac5
$nav-secondary-type-hover--legacy       : #fff
$nav-secondary-type-active--legacy      : #fff
$nav-secondary-current-item-bck--legacy : #28c3c9

