// -----------------------------------------------------------------------------
// Core Layout Colours
// -----------------------------------------------------------------------------

$good-black                      : #333

$row-leader                      : #124385
$row-leader-ad                   : #0f3560
$row-leader-border               : #497cb5

$primary-nav                     : #0b519f
$primary-nav-top                 : #0b519f
$primary-nav-bottom              : #084695

$secondary-nav                   : #1b3149
$secondary-nav-top               : #20374f
$secondary-nav-bottom            : #1b3149

$basket-item                     : #fef007
$basket-item-type                : #00275a

// -----------------------------------------------------------------------------
// Type Colours
// -----------------------------------------------------------------------------

$nav-primary-type          : #bccee3
$nav-primary-type-hover    : #fff
$nav-primary-type-active   : #fff

$nav-secondary-type        : #b0bac5
$nav-secondary-type-hover  : #fff
$nav-secondary-type-active : #fff
$nav-secondary-current-item-bck : #28c3c9
$nav-secondary-item-hover : #1aafb4

$nav-search-colour         : #bcd2df
$nav-search-bck            : #0b3d78
$nav-search-bck-focus      : #515868


// -----------------------------------------------------------------------------
// Validation Colours
// -----------------------------------------------------------------------------

$error-box-background     : #F7E4E4 !default
$error-text-color         : #fc1c1c !default

// -----------------------------------------------------------------------------
// Error Colours
// -----------------------------------------------------------------------------

// $system-error-bg          : #FBE3E1 !default
// $no-results-bg            : #FFF699 !default
// 
// 
// // 
// $header-blue               : #000066 !default
// $soft-grey                 : #666 !default
// $light-grey                : #f3f3f3 !default
// $light-blue                : #e3f3ff !default
// $previous-price            : #ffc186 !default
// $price-tag-orange          : #f47922 !default
// $good-black                : #333 !default
// 
// $blue-gray                 : #575e64 !default
// 
// 
// $disabled-state-color      : #333
// $idle-grey                 : #333
