// -----------------------------------------------------------------------------
// Core Layout Colours
// -----------------------------------------------------------------------------

$row-leader                             : #124385
$row-leader-ad                          : #0f3560
$row-leader-border                      : #497cb5

$primary-nav                            : #1d508d
$secondary-nav                          : #1b3149

$basket-item                            : #fef007
$basket-item-type                       : #00275a

$user-border                            : #093367

// -----------------------------------------------------------------------------
// Responsive Navigation Colours
// -----------------------------------------------------------------------------

$offscreen-nav-background               : #1C3043
$offscreen-nav-item-hover               : #2670AA
$offscreen-nav-border                   : #23394B
$offscreen-nav-border-hover             : #508DBB
$offscreen-nav-user-background          : #13202C

$responsive-footer-border               : #d6dedf

// -----------------------------------------------------------------------------
// Type Colours
// -----------------------------------------------------------------------------

$nav-primary-type                       : #bccee3
$nav-primary-type-hover                 : #fff

$nav-secondary-type                     : $body-copy
$nav-secondary-type-hover               : $dark-blue-gray
$nav-secondary-current-item-bck         : $active

$nav-search-colour                      : #bcd2df
$nav-search-bck                         : #093367
$nav-search-bck-focus                   : #515868
$nav-search-btn-hover                   : #206fac

$nav-submenu-hover                      : #10b47d
$nav-submenu-hover-border               : #0ea270 #000 #45d4a4 #000





