// Best in Travel Destinations
$best-in-travel--cities: paris trinidad cape-town riga zurich shanghai vancouver chicago adelaide auckland
$best-in-travel--countries: brazil antarctica scotland sweden malawi mexico seychelles belgium macedonia malaysia
$best-in-travel--regions: sikkim the-kimberley yorkshire horuriku-region texas victoria-falls mallorca the-west-coast hunan haapai-group