// -----------------------------------------------------------------------------
// Hotels Colours
// -----------------------------------------------------------------------------

// lodging colors
$bookable-orange          : #f77900
$dark-blue                : #034DA2
$light-blue               : #e5effb
$lp-blue                  : #E5EFFB
$high-blue                : #0065ce
$idle-grey                : #e2e2e2
$good-blue                : #07C

// map colors
$map-road-color           : #f4f5f7 
$map-highway-color        : #a9b3bf 
$map-main-road-color      : #9babcf
$map-street-color         : #f4f5f7
$map-label-street-color   : #4d5b78
$map-label-zone-color     : #3f4f70
$map-park-color           : #cbcfda



