// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$melbourne_base_font_size    : 12px !default
$base_font_size           : 14 !default
$base_font_color          : #333 !default
$link_color               : #07C !default 
$disabled_text_color      : #bbb !default
$vertical-rhythm          : 12px !default
