// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------


$base-font-size           : 14 !default
$base-font-color          : #333 !default
$link-color               : #07C !default