// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

$base_font_size           : 14 !default
$base_font_color          : #333 !default
$link_color               : #07C !default
