article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary
  display: block

// Slim Reset

figure, ul
  margin: 0
  padding: 0


nav
  ul
    list-style: none

img 
  max-width: 100%


// Global static overrides

.clearfix
  display: block