.activity-list
  color: $body-copy

.activity-list--title
  color: $feature-copy
  margin-bottom: 20px

.activity-list--container
  list-style: none

.activity-list--item
  +font-size(15)
  line-height: 1em
  margin-bottom: 12px

.activity-list--icon
  &:before
    font-size: 1.6em
    position: relative

  &.text-icon--envelope:before
    top: 2px

.activity-list--link
  font-weight: bold
  &:before
    font-weight: normal

.activitiy-list--time
  @extend %icon--clock-before

  &:before
    left: -0.15em
    top: 2px