.activity__list
  color: $body-copy

.activity__list--title
  color: $feature-copy
  font-weight: bold
  margin-bottom: 20px
  text-transform: uppercase

.activity__list--container
  list-style: none

.activitiy__list--item
  +font-size(15)
  line-height: 1em
  margin-bottom: 12px

.activitiy__list--time
  @extend %icon--clock-before
  +font-size(13)
  position: relative

  &:before
    font-size: 2em
    left: -0.7em
    position: absolute
    top: -2px