// -----------------------------------------------------------------------------
// Alerts
// -----------------------------------------------------------------------------

.alert
  @extend %rounded-corners
  clear: both
  margin: 10px 0
  padding: 15px 15px 15px 45px
  position: relative

  &:before
    height: 18px
    left: 15px
    position: absolute
    width: 20px

.alert--success
  background: #dcf7ee

.alert--error
  background: #fee7e7

.alert--travel
  background: #fffaca
