// Badges
// 
// 
// .badge--lp-reviewed     - Lonely Planet Reviewed Badge
// .badge--top-choice      - Lonely Planet Top Choice Badge
// .badge--included        - Badge to show other included items
// 
// Styleguide 1.1


// -----------------------------------------------------------------------------
// Badges
// -----------------------------------------------------------------------------

%card-badge
  @extend %left-icon
  @extend %left-icon--hidden-text
  @extend %inline-block
  bottom: 8px
  position: absolute
  &:before
    color: $lpblue

.badge--lp-reviewed
  @extend %card-badge
  @extend %lp-review-bubble-before
  &:before
    font-size: 46px
    line-height: 12px

.badge--top-choice
  @extend %card-badge
  @extend %top-choice-before
  width: 33px
  &:before
    font-size: 55px
    line-height: 10px

.badge--included
  @extend %four-pixel-rounded
  @extend %inline-block
  @extend %tiny-type
  background-color: $validation-true
  color: #fff
  font-weight: bold
  padding: 2px 5px
  text-transform: uppercase


%badge--card
  @extend %left-icon
  @extend %left-icon--hidden-text
  @extend %inline-block
  &:before
    color: #fff

.card__badge--lp-reviewed
  @extend %badge--card
  @extend %lp-review-bubble-before
  height: 18px
  width: 22px
  &:before
    font-size: 38px
    line-height: 16px

.card__badge--top-choice
  @extend %badge--card
  @extend %top-choice-before
  height: 20px
  width: 28px
  &:before
    font-size: 46px
    line-height: 14px

.badge--included
  @extend %four-pixel-rounded
  @extend %inline-block
  @extend %tiny-type
  font-weight: bold
  color: #fff
  padding: 2px 5px
  text-transform: uppercase
  background-color: $validation-true
