// -----------------------------------------------------------------------------
// Button base classes
// -----------------------------------------------------------------------------

%base-button
  @extend %inline-block
  @extend %smooth-text
  +round-all(4px)
  +box-sizing()
  line-height: 1
  cursor: pointer
  text-align: center
  &:hover
    text-decoration: none


// -----------------------------------------------------------------------------
// Buttons
// -----------------------------------------------------------------------------

.bookable-button
  @extend %base-button
  @extend %larger-type
  @extend %ryanair
  +box-shadow(1px, 1px, 1px, 0, rgba(0,0,0,0.1))
  padding: 6px 15px
  font-weight: bold

.load-more-btn
  @extend %base-button
  @extend %extra-large-type
  +background-gradient(#e8edf0, #e0e7ea)
  +box-shadow(0px, 1px, 1px, 0, rgba(255,255,255,0.7))
  color: $heading-text
  padding: 10px 15px
  width: 100%
  border: 1px solid #c9d1d7
  font-weight: bold
  &.disabled
    color: #D6D6D3

.read-more-btn
  @extend %base-button
  padding: 5px 7px
  color: $body-copy
  border: 1px solid $soft-border
  font-weight: bold

.functional-btn
  @extend %base-button
  @extend %extra-large-type
  +box-shadow(1px, 1px, 1px, 0, rgba(3, 46, 92, 0.1))
  padding: 10px 15px
  background-color: #fff
  color: $heading-text





