// Button
// The largest clickable button used on form submits.
//
// Sample:
// %button.orange
//   Find Rooms
//
// %a.btn.orange(href='javascript:;')
//   Find Rooms
//


%base-button
  @extend %inline-block
  @extend %relative
  +box-shadow(1px, 1px, 1px, 0, #e3e3e3)
  +round-all(3px)
  +font-size(13)
  -webkit-user-select: none
  font-weight: bold
  background-color: whiteSmoke
  line-height: normal
  cursor: pointer
  overflow: auto
  text-align: center
  &:hover
    text-decoration: none
  &:active
    margin-top: 1px

%small-button
  @extend %base-button
  padding: 4px 10px

%regular-button
  @extend %base-button
  padding: 6px 15px

%tall-button
  @extend %base-button
  padding: 10px 15px


.orange-button
  @extend %regular-button
  +background-gradient($bookable-orange, $bookable-orange)
  border: 1px solid #f8a350
  color: #fff
  &:hover
    border-color: #a74b02
    +background-gradient(#cc5c01, #a74b02)

.grey-button
  @extend %regular-button
  +background-gradient(whiteSmoke, #E5E5E5)
  border-color: #DDD #DDD #BBB
  border-style: solid
  border-width: 1px
  color: #666
  &:hover
    background-color: #cc5c01
    color: #fff
    +background-gradient(#cc5c01, #a74b02)

.read-more-btn
  @extend %tall-button
  +text-shadow()
  +background-gradient(#F2F2E8, #E4E4DB)
  display: block
  border: 1px solid #D6D6D3
  color: $good-black
  &.disabled
    color: #D6D6D3

.btn, button
  @extend %regular-button

  &.blue
    +background-gradient(#0278ce, #0465aa)
    border-color: #0465aa
    color: #fff
    &:hover
      border-color: #0954a7
      +background-gradient(#0954a7, #064488)

  &.link
    +background-gradient(#ff7e00, #f48116)
    color: #fff
  
  &.disabled, &.disabled:hover, &.disabled:active
    +box-shadow( 1px,  #e3e3e3)
    +background-gradient(whiteSmoke, #E5E5E5)
    color: #666
    cursor: default
    margin-top: 0
    border-color: #DDD #DDD #BBB
    border-style: solid
    border-width: 1px
    font-size: 13px
    font-weight: bold
    line-height: normal
    overflow: auto
    padding: 6px 15px
    position: relative



  
.std
  -webkit-user-select: none
  +round-all(3px)
  cursor: pointer
  font-size: 12px
  font-weight: bold
  line-height: normal
  text-align: center
  display: inline-block
  padding: 4px 10px
  border: 1px solid #e3e3e3
  color: #333

.btn-soft
  color: #999
  border: 1px solid #e3e3e3
  &:hover
    +background-gradient(#f7f7f7, #f3f3f3)
    border: 1px solid #dedede
    color: #333

.btn-regular
  +background-gradient(#f3f3f3, #dedede)
  border: 1px solid #e3e3e3
  color: #333
  &:hover
    +background-gradient(#fff, #dedede)

.btn-exit
  border: 1px solid transparent
  color: #ccc
  &:hover
    border-color: #aaa
    color: #333
.btn-close
  +background-gradient(#f3f3f3, #dedede)
  border: 1px solid #e3e3e3
  color: #333
  &:hover
    +background-gradient(#fff, #dedede)

// -----------------------------------------------------------
// 
// $$Legacy
// 
// -----------------------------------------------------------

.whiteAngleButton
  a.lpButton2010
    +btn-white-angle
    color: #333
    span
      +btn-white
    &:hover
      +btn-orange-angle
      span
        color: #fff
        +btn-orange
    &:active
      margin-top: 2px
      +btn-orange-dark-angle
      span
        color: #fff
        +btn-orange-dark

.lpButton2010
  cursor: pointer
  +btn-spt
  +btn-white-angle
  text-decoration: none
  overflow: visible
  padding: 0 17px 0 0
  text-align: center
  text-decoration: none!important
  cursor: pointer
  float: left
  position: relative
  font-size: 12px
  span
    +btn-spt
    +btn-white
    padding: 0 0 2px 18px
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
    position: relative
    white-space: nowrap
    float: left
    color: #333
    font-weight: bold
    line-height: 30px
    padding: 0 8px 0 18px
