// -----------------------------------------------------------------------------
// So far we have three types of card:
//
// Grid, List and Full page (detail page)
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Our base card object and sizing variables
// -----------------------------------------------------------------------------

$card-grid-height: 380px
$hero-image-height: 185px
$single-card-width: 190px

%base-card-object
  @extend %white-background
  @extend %standard-shadow
  .grid-view &, .list-view &
    @extend %reset-line-height
    margin-bottom: 10px
  .grid-view &
    height: $card-grid-height
  &.full-page
    @extend %box-off-double

// -----------------------------------------------------------------------------
// The Card
// -----------------------------------------------------------------------------

.card
  @extend %base-card-object
  @extend %relative



// -----------------------------------------------------------------------------
// The Stack
// -----------------------------------------------------------------------------

.stack
  @extend .card
  background-color: $card-title-text
  .card-name
    color: #fff



// -----------------------------------------------------------------------------
//
// Full Page Card
//
// -----------------------------------------------------------------------------

.card-title
  @extend %benton-regular
  @extend %tighten-text
  @extend %card-header-size
  @extend %reset-line-height
  color: $heading-text
  font-weight: bold


// -----------------------------------------------------------------------------
// Lodging card
// -----------------------------------------------------------------------------

.lodging-card:hover
  +box-shadow(2px, 2px, 8px, 0, rgba(3, 46, 92, 0.15))
  img
    +filter(brightness(-15%))



// -----------------------------------------------------------------------------
//
// Grid and List view cards
//
// -----------------------------------------------------------------------------

.list-view .card
  @extend %media


// -----------------------------------------------------------------------------
// The Card Image
// -----------------------------------------------------------------------------

.card-hero
  @extend %relative
  height: $hero-image-height
  overflow: hidden
  
  // Refactor to use landscape/portrait classes when rowlf imaging catches up
  > img
    @extend %absolute-bottom
    max-width: none
    height: 100% 

  .grid-view &
    width: 100%

  .list-view &
    width: $single-card-width


// -----------------------------------------------------------------------------
// A Price tag
// -----------------------------------------------------------------------------

.card-price-tag
  @extend %absolute
  top: -4px
  right: 5px
  min-width: 60px
  text-align: center
  &:after
    @extend %empty-abs-generated-content
    border-style: solid
    border-color: transparent transparent $bookable-ribbon transparent
    top: 0
    left: -4px
    border-width: 0 0 4px 4px
  .list-view &
    right: 13px

.price-tag-inner
  background-color: $bookable
  color: $header-gray
  padding: 8px 10px
  @extend %extra-small-type
  @extend %benton-regular
  &.non-bookable
    +multiple-text-shadow(-1px -1px 1px rgba(0, 0, 0, 0.25), 1px 1px 1px rgba(255,255,255,0.8))
    padding: 4px 10px
    font-size: 44px
    color: #dad01a
  .price
    @extend %heading-size-type
    display: block
    padding-top: 2px
  .curr
    @extend sup
    @extend %regular-type-size

.price-tag-deal
  @extend %larger-type
  @extend %smooth-text
  background-color: $deal-background
  font-weight: bold
  color: #fff
  padding: 4px 0


// -----------------------------------------------------------------------------
// Inner 'content' section
// -----------------------------------------------------------------------------

$card-padding-top: 15px
$card-padding: 13px

.card-content
  @extend %relative
  padding: $card-padding-top $card-padding $card-padding
  color: $header-gray

  .list-view &
    height: ($hero-image-height - $card-padding-top - $card-padding)

  .grid-view &
    height: ($card-grid-height - $hero-image-height - $card-padding-top - $card-padding)

  .grid-view .no-image &
    padding-top: 60px
    height: ($card-grid-height - 60px - $card-padding)

// -----------------------------------------------------------------------------
// Card details
// -----------------------------------------------------------------------------

.star-rating
  @extend %small-type
  margin-bottom: 5px
  display: block

.card-name
  @extend %large-type
  @extend %reset-line-height
  font-weight: bold
  line-height: 17px
  .grid-view &
    margin-bottom: 12px

.locale
  @extend %serif
  @extend %small-type
  color: $body-copy
  font-style: italic
  line-height: 14px
  margin-bottom: 12px

.description
  @extend %irregular-type
  @extend %smooth-text
  color: $body-copy
  .list-view &
    padding-right: 65px

.poi-icon
  @extend %benton-regular
  @extend %no-line-height
  @extend %absolute
  top: 26px
  left: 14px
  font-size: 65px
  color: $hotels-poi
  .list-view &
    top: 29px
    left: 10px


// -----------------------------------------------------------------------------
// Card Footer
// -----------------------------------------------------------------------------

.lp-reviewed-badge
  @extend %absolute
  bottom: 13px
  left: 12px

.lp-top-choice
  @extend %absolute
  bottom: 13px
  left: 105px



// -----------------------------------------------------------------------------
// Cards without images
// -----------------------------------------------------------------------------

.grid-view .no-image
  border-bottom: 2px solid $hotels-poi

.list-view .no-image
  border-left: 2px solid $hotels-poi

.list-view .no-image .card-name,
.list-view .no-image .locale
  padding-left: 38px

.list-view .no-image .card-name
  margin-bottom: 3px
  &.no-locale
    margin-top: 5px
    margin-bottom: 20px




