// Cards
//
//
// .card
//
// Styleguide 1.3

// -----------------------------------------------------------------------------
// Base card object and sizing variables
//
// - Width of a Card defaults to single - override when necessary
// -----------------------------------------------------------------------------

$card-grid-height: 380px

$single-card-width: 192px
$double-card-width: 394px

$hero-image-height: 275px
$card-hero-image-height: 185px

$card-content-padding: 15px
$card-hotel-content-padding: 13px

// -----------------------------------------------------------------------------
// Card
// -----------------------------------------------------------------------------

.card
  @extend %standard-shadow
  background: #fff
  margin-bottom: 10px

.card--list.has-image
  &:after
    @extend %empty-abs-generated-content
    height:  20px
    +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,1.0))
    bottom: $card-content-padding
    left: 0
    right: 0
  &:hover
    .card__content
      height: $card-grid-height - 60px - $card-content-padding

// cards that are the result of a search have a definite height and default width
.results
  .card
    @extend %margin-grid-column-10
    @extend %relative
    height: $card-grid-height
    width: $single-card-width
    &:hover
      +box-shadow(2, 2, 8, 0, rgba(3, 46, 92, 0.15))
      img
        +filter(brightness(-15%))
      .btn--bookable
        background: $bookable-hover

  .card--double
    width: $double-card-width

// -----------------------------------------------------------------------------
// Card Image
// -----------------------------------------------------------------------------

.card__hero
  @extend %relative
  overflow: hidden
  width: 100%

  .card--list.has-image &
    height: $card-hero-image-height

  // hotel card
  .card--hotel.has-image &
    height: $card-hero-image-height

  // single stack cards have taller images
  .card--stack &
    height: $hero-image-height

  // double stack cards have full height images
  .card--stack.card--double &
    height: $card-grid-height

  // Refactor to use landscape/portrait classes when rowlf imaging catches up
  > .card__image
    @extend %absolute-bottom
    max-width: none
    height: 100%


// -----------------------------------------------------------------------------
// Card 'content' section
// -----------------------------------------------------------------------------

.card__content
  @extend %absolute
  @extend %transition--base
  bottom: 0
  color: $new-header-grey
  height: ($card-grid-height - 60px - $card-content-padding)
  left: 0
  overflow: hidden
  padding: $card-content-padding
  right: 0

  .card--stack &
    height: ($card-grid-height - $hero-image-height - (2 * $card-content-padding) )

  .card--stack.card--double &
    +background-gradient($startColor: rgba(0,0,0,0), $endColor: rgba(0,0,0,1.0))
    color: #fff
    height: auto

  .card--list.has-image &
    background: #fff
    bottom: $card-content-padding
    height: ($card-grid-height - $card-hero-image-height - (2 * $card-content-padding) )
    padding: $card-content-padding $card-content-padding 0 $card-content-padding

  .card--hotel &
    padding: $card-hotel-content-padding

  .card--hotel.has-image &
    height: ($card-grid-height - $card-hero-image-height - (2 * $card-hotel-content-padding) )


// -----------------------------------------------------------------------------
// Card details
// -----------------------------------------------------------------------------

.card__property-type,
.card__context
  @extend %small-type
  display: block
  margin-bottom: 2px

.card__name
  @extend %large-type
  +word-break()
  font-weight: bold
  line-height: 17px
  margin-bottom: 12px

  .card--info &
    @include font-size(19)
    line-height: 20px

  .card--stack &
    @include font-size(19)
    line-height: 20px
    margin-bottom: 0

  .card--list--tour &
    margin-bottom: 5px

.card__locale
  @extend %serif
  @extend %small-type
  color: #67747c
  font-style: italic
  line-height: 14px
  margin-bottom: 12px

.card__description
  @extend %irregular-type
  @extend %smooth-text
  color: #67747c
  line-height: 14px

// -----------------------------------------------------------------------------
// Card Footer
// -----------------------------------------------------------------------------

.card__footer
  @extend %absolute
  @extend %small-type
  background: #fff
  bottom: 0
  color: #b2bebf
  left: 0
  padding: 8px
  right: 0
  z-index: 1

  .card--list--lodging &
    padding: 8px

  // fade to white at the top of the footer - needed when footer obscures content fadeout
  &:after
    @extend %empty-abs-generated-content
    +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,1.0))
    height: 20px
    left: 0
    right: 0
    top: -20px


// -----------------------------------------------------------------------------
// Differences for hotel cards
// -----------------------------------------------------------------------------

.card--hotel
  &.has-no-image
    border-bottom: 2px solid $hotels-poi

  .card__footer
    bottom: 8px
    left: 8px
    right: 8px

    &:after
    content: none

  .btn--bookable
    @extend %irregular-type
    @extend %absolute
    bottom: 0
    padding: 10px 12px
    right: 0

  .badge--lp-reviewed
    left: 0
    bottom: 0
    height: 23px

  .badge--top-choice
    height: 24px
    left: 30px
    bottom: 0


// -----------------------------------------------------------------------------
// Card POI icons
// -----------------------------------------------------------------------------

.card__poi-icon
  @extend %absolute
  @extend %benton-regular
  @extend %no-line-height
  color: $hotels-poi
  font-size: 69px
  left: 10px
  top: 20px
  .ie7 &
    line-height: 1
    top: -10px

.card--list
  &:before
    @extend %benton-regular
    @extend %no-line-height
    font-size: 69px
    left: 10px
    position: absolute
    top: 20px
    z-index: 5

  &.has-no-image
    &:after
      background: #b2b1b1
      border-radius: 10px/5px
      content: ''
      height: 4px
      left: 26px
      position: absolute
      top: 46px
      width: 9px

  &.has-image
    &:before
      color: #fff
      font-size: 40px
      text-shadow: 0 0 5px rgba(0,0,0,0.75)

.card--list--lodging
  @extend %icon-poi-hotel-before
  color: $hotels-poi
  &.has-image
    @extend %icon-image-poi-hotel-before

.card--list--sight
  @extend %icon-poi-sight-before
  color: $sight-poi
  &.has-image
    @extend %icon-image-poi-sight-before

.card--list--activity
  @extend %icon-poi-activity-before
  color: $activity-poi
  &.has-image
    @extend %icon-image-poi-activity-before

.card--list--tour
  @extend %icon-poi-tour-before
  color: $tour-poi
  &.has-image
    @extend %icon-image-poi-tour-before

.card--list--shopping
  @extend %icon-poi-shopping-before
  color: $shopping-poi
  &.has-image
    @extend %icon-image-poi-shopping-before

.card--list--entertainment
  @extend %icon-poi-entertainment-before
  color: $entertainment-poi
  &.has-image
    @extend %icon-image-poi-entertainment-before

.card--list--restaurant
  @extend %icon-poi-restaurant-before
  color: $restaurant-poi
  &.has-image
    @extend %icon-image-poi-restaurant-before

.card--list--article
  @extend %icon-poi-article-before
  color: $restaurant-poi
  &.has-image
    @extend %icon-image-poi-article-before

.card--list--info
  @extend %icon-poi-info-before
  color: #d9d9d9
  &.has-image
    @extend %icon-image-poi-info-before


// -----------------------------------------------------------------------------
// Text sections with left hand icons
// -----------------------------------------------------------------------------

%left-icon-text
  @extend %extra-small-type
  color: #bbc6c7
  line-height: 8px
  &:before
    @extend %benton-regular
    color: #e5ebee
    font-size: 30px
    line-height: 20px
    vertical-align: bottom

.card__tour-duration
  @extend %left-icon-text
  @extend %tour-duration-before
  margin-bottom: 14px
  &:before
    color: #9fd815
    line-height: 15px

.card__feedback__approval
  @extend %approval-before
  @extend %left-icon-text

.card__feedback__comments
  @extend %comments-before
  @extend %left-icon-text


// -----------------------------------------------------------------------------
// Top Context Card
// -----------------------------------------------------------------------------

.stack__context
  padding: 20px 15px

.stack__context__content
  @extend %relative
  @extend %serif
  @extend %smooth-text
  @include font-size(17)
  color: $dark-blue-gray
  line-height: 20px
  width: 570px

  &.stack__context__content--closed
    height: 60px
    margin-bottom: 20px

    &:after
      @extend %empty-abs-generated-content
      +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,1.0))
      bottom: 0
      height: 20px
      left: 0
      pointer-events: none
      right: 0


// -----------------------------------------------------------------------------
//
// Full Page Card
//
// -----------------------------------------------------------------------------

.card--full-page
  @extend %relative
  @extend %box-off-double

.lodging--top-choice
  &:after
    @extend %empty-abs-generated-content
    background: url(image_path("lodgings-spt.png"))
    top: -5px
    left: 17px
    height: 95px
    width: 63px
    +retinafy()
      background: url(image_path("lodgings-spt-2x.png"))
      background-size: $sprite-size

  .card--full-page__header
    min-height: 60px
    padding-left: 73px

.card--full-page__header
  margin-bottom: 20px
  border-bottom: 1px solid $ruled-separator
  padding-bottom: 20px

.card--full-page__title
  @extend %benton-book
  @extend %tighten-text
  @extend %card-header-size
  color: $header-blue
  margin-bottom: 5px


.card--full-page__subtitle
  @extend %larger-type
  @extend %inline-block
  @extend %body-copy
  @extend %smooth-text
  @extend %vertically-centered-dot-after
  @extend %reset-line-height
  &:last:after
    content: ''


// -----------------------------------------------------------------------------
// Article Card
// -----------------------------------------------------------------------------


.stack__article
  @extend %body-copy
  @extend %four-pixel-rounded
  @extend %margin-grid-column-10
  @extend %regular-type-size
  @extend %standard-shadow
  background: #fff
  margin-bottom: 10px
  overflow: hidden
  padding: 20px 15px
  width: 798px

.stack__article__header
  border-bottom: 1px solid $ruled-separator
  margin-bottom: 20px

.stack__article__ad
  @extend %tiny-type
  color: #b6b6b6
  text-align: center
  text-transform: uppercase

.stack__article__heading
  @extend %benton-book
  @include font-size(32)
  color: $header-blue
  line-height: 1
  margin-bottom: 10px

.stack__article__content__leadin
  @extend %relative
  @extend %serif
  @extend %smooth-text
  @include font-size(17)
  color: $dark-blue-gray
  line-height: 20px

.stack__article_content_subheading
  @include font-size(18)
  @extend %smooth-text
  color: #023f87
  font-weight: bold
  margin-bottom: 10px



// breadcrumbs

.stack__breadcrumbs + .stack__article
  position: relative
  top: -40px

.stack__breadcrumb
  @extend %benton-book
  @extend %four-pixel-rounded
  @include font-size(32)
  +background-gradient($startColor: rgb(255,255,255), $endColor: rgb(239,239,239))
  +transition(all, 0.2, ease)
  color: #d2ddeb
  display: block
  padding: 20px 15px 10px
  position: relative
  text-decoration: none
  top: -20px

  &:hover
    color: $header-blue
    text-decoration: none
    -webkit-transform: translate(0,-10px)
    transform: translate(0,-10px)

.stack__breadcrumb:first-child
  top: 0



.stack__article__table
  tr
    border-bottom: 1px solid #e6edf5
  th,
  td
    padding: 13px 13px 13px 0
    text-align: center
  th
    color: $header-gray
    padding-bottom: 14px
  td
    .stack__article__table-align-left
      text-align: left

.stack__article__table--small-text
  @extend %tiny-type
  display: block

.stack__article__table--yes,
.stack__article__table--no
  &:before
    font-size: 22px
    line-height: 15px

.stack__article__table--yes
  @extend %left-icon
  @extend %left-icon--hidden-text
  @extend %tick-icon-before
  color: #1ac571
  display: inline-block
  &:before
    width: 24px

.stack__article__table--no
  @extend %left-icon
  @extend %left-icon--hidden-text
  @extend %cross-icon-before
  color: #ff514e
  display: inline-block
