// Headings

.heading--title
  +font-size(32)
  @extend %benton-book
  color: $header-blue
  letter-spacing: -0.05em

.heading--subtitle
  @extend %regular-type-size
  @extend %benton-book


// Type treatment within body text

.copy--title
  +font-size(32)
  @extend %benton-book
  color: $header-blue
  letter-spacing: -0.05em
  line-height: 40px
  margin-bottom: 0.8em
  
.copy--subtitle
  @extend %large-type
  @extend %benton-regular
  color: $header-blue
  text-transform: uppercase
  letter-spacing: 0.1em
  margin: 1.8em 0 0.9em

.copy--feature
  @extend %section-heading-size-type
  @extend %benton-book
  color: $body-copy
  line-height: 1.5em
  em
    font-style: normal

.copy--body
  @extend %larger-type
  @extend %benton-book
  color: $body-copy
  line-height: 25px

.copy--caption
  @extend %small-type
  font-style: italic