.copy--title
  +font-size(32)
  color: $header-blue
  letter-spacing: -0.05em
  line-height: 1.5em
  margin-bottom: 0.8em

.copy--subtitle
  +font-size(16)
  color: $header-blue
  text-transform: uppercase
  letter-spacing: 0.2em
  margin: 1.8em 0 0.9em

.copy--feature
  +font-size(20)
  color: $body-copy
  line-height: 1.5em
  em
    font-style: normal

.copy--body
  +font-size(15)
  color: $body-copy
  line-height: 1.66em