.copy--title
  +font-size(32)
  @extend %benton-book
  @extend %tighten-text
  color: $header-blue
  margin-bottom: 0.8em

.copy--subtitle
  +font-size(16)
  @extend %benton-regular
  color: $header-blue
  text-transform: uppercase
  letter-spacing: 0.1em
  margin: 1.8em 0 0.9em

.copy--feature
  +font-size(20)
  @extend %benton-book
  color: $body-copy
  line-height: 1.5em

.copy--body
  @extend %benton-book
  +font-size(15)
  line-height: 25px
  color: $body-copy