.pickadate__holder
  width: 100%
  height: 0
  position: relative
  z-index: 10000
  clear: both

.pickadate__calendar--wrap
  +transition()
  @extend %four-pixel-rounded
  @extend %body-copy
  top: .5em
  background: white
  position: relative
  max-width: 320px
  min-width: 256px
  max-height: 0
  overflow-y: hidden
  .pickadate__holder--opened &
    max-height: 25em
    @extend %fly-out-shadow

.pickadate__calendar
  padding: 10px
  text-align: center

.pickadate__month--wrap,
.pickadate__year--wrap
  @extend %inline-block

.pickadate__month--wrap
  margin-right: 4px

.pickadate__month,
.pickadate__year
  +font-size(18)
  color: $header-grey
  font-weight: bold

.pickadate__month--nav
  position: relative

.pickadate__month--prev,
.pickadate__month--next
  color: $body
  position: absolute
  top: 0
  width: 25px
  height: 25px
  cursor: pointer
  &:before, &:after
    +font-size(20)
    line-height: 20px

.pickadate__month--prev
  @extend %chevron-left-before
  @extend %left-icon
  left: 10px
  &:before
    text-align: left

.pickadate__month--next
  @extend %chevron-right-after
  @extend %right-icon
  right: 10px
  &:after
    text-align: right

.pickadate__calendar--table
  border-collapse: separate
  border-spacing: 4px
  width: 100%

.pickadate__weekday
  +font-size(14)
  color: $body
  font-weight: normal

.pickadate__day
  +border-radius(30)
  +font-size(13)
  @extend %helvetica-neue
  @extend %inline-block
  color: $body 
  font-weight: bold
  width: 26px
  height: 26px
  line-height: 26px
  text-align: center
  border: 1px solid #d7dee3
  cursor: pointer

.pickadate__day--selected,
.pickadate__day--selected:hover
  border-color: $active
  background-color: $active
  color: white

.pickadate__day--outfocus,
.pickadate__day--disabled
  border: none
  color: $body-highlight

.pickadate__day--disabled
  opacity: 0.5
  color: #ddd
  cursor: default

