// ----------------------------------------
// _default-layout.sass  (legacy layout only)
// ----------------------------------------

body
  background-color: $body-background
  // these two lines fix the background colours not stretching the
  // full page width on a small screen size
  display: inline-block
  min-width: 100%

.content
  @extend %clearfix
  @extend %regular-width
  margin: 20px auto 0


