.filters-form
  @extend %grid-wrapper-10

.filter-set
  @extend %padded-grid-column-10
  width: 25%
  margin-bottom: 20px
  &.double-col
    width: 50%
    

.filter-set-title
  @extend %margin-bottom
  @extend %larger-type
  font-weight: bold

.filter-item 
  @extend %no-list-style
  @extend %clearfix

  .double-col &
    width: 50%
    float: left

  input[type="checkbox"]
    @extend %margin-bottom
    float: left
    margin-right: 5px

.facet-count
  @include round-all(4px)
  @extend %extra-small-type
  @extend %central-align
  padding: 2px 4px
  position: absolute
  right: 15px
  top: 16px
  display: block
  background-color: $facet-count
  color: $facet-count-text
  font-weight: bold
  min-width: 12px
  .current &,
    color: $active
    background-color: #fff


  