.filters__title
  @extend %larger-type
  margin-bottom: 10px
  color: $header-gray
  font-weight: bold

.filters__item
  @extend %no-list-style
  @extend %clearfix

  input[type="checkbox"]
    @extend %visually-hide
    // Show the checkbox for ie7 where we don't have pseudo elements
    .ie7 &
      @extend %legacy-show
    &[disabled] + .filter-label
      opacity: 0.4
      cursor: default
      &:before
        border: none

.filters__label
  @extend %relative
  @extend %irregular-type
  @extend %styled-checkbox
  margin-bottom: 10px
  display: block
  padding-left: 25px
  cursor: pointer
  

.facet-count
  +border-radius(4)
  @extend %extra-small-type
  @extend %central-align
  padding: 2px 4px
  position: absolute
  right: 15px
  top: 16px
  display: block
  background-color: $facet-count
  color: $facet-count-text
  font-weight: bold
  min-width: 12px
  .current &,
    color: $active
    background-color: #fff


  