.filters-form
  @extend %grid-wrapper

.filter-set
  @extend %padded-grid-column
  width: 25%
  margin-bottom: 20px

.filter-set-title
  @extend %margin-bottom
  @extend %larger-type
  @extend %bold-text

.filter-item 
  @extend %no-list-style
  @extend %clearfix
  input[type="checkbox"]
    @extend %margin-bottom
    float: left
    margin-right: 5px

.filter-submit
  display: block
  clear: both
  border-top: 1px solid $form-gray
  padding-top: 20px




