%input-field
  float: left
  width: 65%

.fieldset
  color: $header-grey

.fieldset__legend
  +font-size(20)

.field
  +font-size(15)
  @extend %clearfix
  margin-bottom: 10px
  position: relative

.field__label
  @extend %border-box
  +font-size(16)
  float: left
  padding: 10px 10px 10px 0
  width: 35%

.field__input
  @extend %border-box
  @extend %input-field
  +border-radius(4)
  +font-size(15)
  background-color: #fff
  color: $body-copy
  float: left
  padding: 10px
  width: 65%

.field__select
  @extend %input-field

.field__input--datepicker
  @extend %input--regular
  @extend %lodgings-sprite-standard
  background-position: 99% -112px
  padding-right: 35px
  +retinafy()
    @extend %lodgings-sprite-retina
    background-position: 95% -111px
  +placeholder()
    color: $placeholder-copy
