input[type="text"], input[type="email"], input[type="date"]
  +box-sizing()
  @extend %four-pixel-rounded
  @extend %no-margin
  @extend %sans-serif
  @extend %box-off
  background-color: $form-bg
  border: none
  color: $body-copy
  width: 100%


input[type="date"], input.datepicker
  background-image: url(image_path("lodgings-spt.png"))
  padding-left: 32px
  background-repeat: no-repeat
  background-position: 3px -98px
  +retinafy()
    background-image: url(image_path("lodgings-spt-2x.png"))
    background-size: 112px 117px
    background-position: 4px -93px

input[type="submit"]
  border: none
  @extend %larger-type
  @extend %sans-serif
  -webkit-appearance: none

input[type="submit"][disabled], input[type="submit"][disabled]:hover
  @extend %disabled-state

.datepicker
  +placeholder()
    color: $sub-copy

// -----------------------------------------------------------------------------
// LP Select Overlay
// Zen: div.lp-select.js-lp-select>label.overlay.js-select-overlay+select>option*3
// -----------------------------------------------------------------------------

@mixin custom_select($height: 30px, $width: 100%)

  $arrow_width: 30px

  .select-group
    @extend %relative
    width: $width
    height: $height

    .overlay
      +box-sizing(border-box)
      +vertically-center($height)
      +word-break()
      @extend %chevron-down-after
      @extend %right-icon
      @extend %four-pixel-rounded
      padding-right: 21px
      color: $body-copy
      display: block
      width: $width
      overflow: hidden
      text-indent: 10px
      background-color: $form-bg
      &:after
        width: ($arrow-width - 6px)
        height: $height
        background-color: inherit
        right: 5px
        top: 0
        color: $body-copy
        font-size: 20px

    select
      position: absolute
      top: 0
      left: 0
      opacity: 0
      width: $width
      height: 100%

      .ie7 &,
      .ie8 &
        filter: alpha(opacity = 0)

      .no-js &
        opacity: 1
        filter: alpha(opacity = 1)
