// Lp-Gallery Widget
//
#lp-gallery
  -webkit-user-select: none
  background: #fff
  border-left: 1px solid rgba(0, 0, 0, 0.1)
  color: #333
  height: 370px
  position: absolute
  right: 0
  width: 529px
  z-index: 100000

// LpGallery navigation bar
//
.lp-gallery-toolbar
  background: #eee
  position: absolute
  right: 3px
  top: 8px
  z-index: 1000
  .btn-close
    display: block

// LpGallery stage
//
.lp-gallery-stage
  height: 300px
  left: 0
  overflow: hidden
  position: relative
  top: 5px
  width: 100%
  .loader
    color: #ccc
    padding: 10px

.lp-gallery-stage
  li
    -webkit-transition: opacity 0.5s ease-in-out
    -moz-transition: opacity 0.5s ease-in-out
    -o-transition: opacity 0.5s ease-in-out
    -ms-transition: opacity 0.5s ease-in-out
    transition: opacity 0.5s ease-in-out
    -ms-filter: "progid:dximagetransform.microsoft.alpha(opacity=0)"
    opacity: 0
    filter: alpha(opacity=0)
    &.lp-swipe-hidden
      opacity: 0
    &.lp-swipe-visible
      opacity: 1

.lp-gallery-stage
  background-color: #f3f3f3
  &:hover
    .lp-swipe-ctrl
      opacity: 1
  .lp-swipe-ctrl
    -moz-transition: opacity 0.5s ease-in-out
    -ms-transition: opacity 0.5s ease-in-out
    -o-transition: opacity 0.5s ease-in-out
    -webkit-transition: opacity 0.5s ease-in-out
    color: #333
    cursor: pointer
    height: 56px
    margin-top: -33px
    opacity: 0
    position: absolute
    top: 50%
    transition: opacity 0.5s ease-in-out
    width: 15px
    z-index: 300000000
  .lp-swipe-ctrl-lft
    @include icon-move-left
    left: 0
    
  .lp-swipe-ctrl-rgt
    @include icon-move-right
    right: 0

// LpGallery thumbs
//
.lp-gallery-thumbs
  height: 66px
  margin-top: 5px
  overflow: hidden
  position: relative
  width: 100%

.lp-gallery-img-wrap
  display: table-cell
  height: 300px
  text-align: center
  vertical-align: middle
  width: 529px
  img
    max-height: 101%
    max-width: 110%
  p
    font-weight: bold

.lp-gallery-thumbs-list
  @extend %clearfix
  margin-top: 5px
  li
    cursor: pointer
    height: 65px
    overflow: hidden
    &.current
      background-color: $bookable-orange
      border-bottom: 1px solid #333
      height: 66px

.lp-gallery-thumb-wrap
  height: 54px
  overflow: hidden
  .lp-gallery-image
    background-size: 100%
    min-width: 100%
    min-height: 100%

.lp-gallery-thumbs
  .lp-swipe-ctrl-ctr
    margin: 0 15px 
    overflow: auto
  .lp-swipe-ctrl
    color: #333
    cursor: pointer
    height: 54px
    margin-top: 5px
    position: absolute
    top: 0
    width: 15px
    z-index: 300000000
  .lp-swipe-ctrl-lft
    @include icon-move-left
    left: 0
    &:hover
      background-color: #e3e3e3
  .lp-swipe-ctrl-rgt
    right: 0
    @include icon-move-right
    &:hover
      background-color: #e3e3e3

