// -----------------------------------------------------------------------------
// Icon List
// -----------------------------------------------------------------------------

.icon-list
  list-style: none

.icon-list__icon
  @extend %left-icon-text
  
  &:before
    @extend %huge-type
    color: $lpblue
    font-weight: normal
    margin-right: 0.2em
    line-height: 20px
  &.icon-list__info:before
    font-weight: bold
    line-height: 0.9em
    margin-left: 0.1em
  &.icon-list__cross, &.icon-list__info, &.icon-list__tick
    &:before
      @extend %extra-large-type
      margin-right: 0.4em
  &.icon-list__cross, &.icon-list__tick
    &:before
      margin-left: 0.2em
      margin-right: 0.5em

.icon-list__tick
  @extend %tick-icon-before

.icon-list__clock
  @extend %icon--clock-before

.icon-list__cross
  @extend %cross-icon-before

.icon-list__departs-from
  @extend %icon--arrow-right-before

.icon-list__duration
  @extend %tour-duration-before

.icon-list__info
  &:before
    content: "@"

.icon-list__location
  @extend %local-marker-before

.icon-list__returns-to
  @extend %icon--arrow-left-before

.icon-list__tick
  @extend %tick-icon-before

.icon-list__underground
  @extend %icon--underground-before
 