// -----------------------------------------------------------------------------
// Information List
// -----------------------------------------------------------------------------

.info-list
  .section-title
    @extend %larger-type
    font-weight: bold
    margin-bottom: 10px

  .copy--body
    margin-bottom: 20px
    margin-left: 27px
