// Left hand navigation
// 
// 
// .left-nav - Left hand navigation
// 
// Styleguide 1.5

.left-nav
  @extend %four-pixel-rounded
  @extend %stacked-nav
  @extend %smooth-text
  @extend %body-copy
  padding: 10px 0

  &.left-nav--hotels
    margin-top: 46px

.left-nav__item
  @extend %relative
  @extend %irregular-type
  @extend %link-without-underline
  @extend %chevron-right-after
  @extend %right-icon
  color: $body-copy
  padding: 15px 50px 15px 15px
  text-decoration: none
  &:after
    @extend %no-line-height
    top: 21px
    right: 5px
    font-size: 18px
    color: #c5d6d9

  &:hover
    background-color: $nav-bg--hover
    .facet-count
      background-color: #fff

  &.current, &.current:hover
    @extend %active-background
    font-weight: bold
    &:after
      color: #fff

.left-nav__heading
  @extend %reset-line-height
  @extend %larger-type
  @extend %stacked-nav
  font-weight: bold
  color: $header-gray
  padding: 15px

.left-nav--hotels
  .left-nav__item:after
    content: none
