// Left hand navigation
// 
// 
// .left-nav - Left hand navigation
// 
// Styleguide 1.5


// ---------------------------------------
// Nav grouped sections
// ---------------------------------------

.group--aside
  +border-radius(4)
  width: 182px
  background: #fff
  border: 1px solid $subdued
  padding: 5px 0

%group--linked--common
  background-color: $body-background
  border-color: $subdued
  border-style: solid
  content: ''
  height: 10px
  position: absolute
  top: -12px
  z-index: 2

.group--linked
  margin-top: 10px
  position: relative
  &:before
    @extend %group--linked--common
    +border-radius-each(0,4,4,0)
    border-width: 1px 1px 1px 0
    box-shadow: 15px 0 0 #fff
    left: 4px
    width: 17px
  
  &:after
    @extend %group--linked--common
    +border-radius-each(4,0,0,4)
    border-width: 1px 0 1px 1px
    right: 4px
    width: 158px  

  .aside &
    &:before
      width: 17px
    &:after
      width: 148px

.group__title--aside
  @extend %small-type
  @extend %uppercase
  color: $nav-search-btn-hover
  display: block
  font-weight: bold
  letter-spacing: 0.1em
  line-height: 1.3em
  padding: 13px 15px

// ---------------------------------------
// Nav item 
// ---------------------------------------

.nav--stack
  @extend %no-padding

.nav__item--stack
  @extend %regular-type
  color: $body-copy
  display: block
  line-height: 1.2em
  padding: 12px 30px 12px 15px
  position: relative
  text-decoration: none
  .js-hover &:hover
    background-color: $nav-bg--hover
    cursor: pointer
    text-decoration: none
  &:before
    @extend %huge-type
    color: $body
    position: absolute
    top: 9px
    left: 12px

.nav__item--current--stack
  font-weight: 700
  color: white
  @extend %active-background

.nav__item--stack
  &.nav__item--current--stack
    .js-hover &:hover
      @extend %active-background

.nav__item--chevron
  @extend %chevron-right-after
  padding-right: 25px
  position: relative
  &:after
    @extend %absolute-right
    font-weight: 400
    pointer-events: none
    font-size: 16px
    right: 12px
    top: 11px

%nav__item--icon-before
  padding-left: 35px

.nav__item--stack-activities
  @extend %icon-image-poi-activity-before
  @extend %nav__item--icon-before

.nav__item--stack-entertainment
  @extend %icon-image-poi-entertainment-before
  @extend %nav__item--icon-before

.nav__item--stack-restaurants
  @extend %icon-image-poi-restaurant-before
  @extend %nav__item--icon-before

.nav__item--stack-shopping
  @extend %icon-image-poi-shopping-before
  @extend %nav__item--icon-before

.nav__item--stack-sights
  @extend %icon-image-poi-sight-before
  @extend %nav__item--icon-before

.nav__item--stack-tours
  @extend %icon-image-poi-tour-before
  @extend %nav__item--icon-before


  

.nav__item--current--stack
  .facet--count, .facet--inline-count
    color: white

.nav__item--delimited
  border-top: 1px solid $subdued

.facet--inline-count
  @extend %small-type
  color: #8fa1a4
  display: inline-block
  font-weight: normal
  padding-left: 2px
  word-spacing: -2px
  &:after
    content: ')'
  &:before
    content: '('

.facet--count
  +border-radius(4)
  @extend %extra-small-type
  position: absolute
  background: #fff
  border: 1px solid $highlight
  color: $highlight
  display: block
  font-weight: bold
  line-height: 1em
  padding: 4px 3px
  right: 15px
  text-align: right
  top: 9px

