
// ----------------------------------------------------------
// Variables 
// ----------------------------------------------------------


$btn_height: 24px
$btn_small: 20px
$btn_large: 28px
$bg_image: '../../images/common-ui/btn_bg_sprite.png'
$icon_green: #449A2A
$icon_grey: #999

// -----------------------------------------------------------
// Extendables
// 
// Extend or add .dark class to get white text
// Extend or add %single-box-shadow to remove the inset shadow 
// -----------------------------------------------------------
 
.lp-btn.dark
  color: #fff


// -----------------------------------------------------------
// Plain buttons - gradient, text, no arrows
// -----------------------------------------------------------

.lp-btn
  @extend %small-type
  @extend %inline-block
  @include round-all(2px)
  @include background-gradient(#FFFFFF, #DFDFDC, $bg_image, 0 -200px)
  @include multiple-box-shadow(0px 1px 2px 0 rgba(0,0,0,0.3), 0px 1px 0px 0 rgba(255,255,255,0.4) inset)
  position: relative
  height: $btn_height
  line-height: $btn_height
  padding: 0 15px
  color: $base_font_color
  font-weight: bold
  border: 1px solid #dfdfdc
  &:hover
    @include background-gradient(#F5F5F5, #D9D9D9, $bg_image, 0 -225px)
    text-decoration: none

    
// -----------------------------------------------------------
// Shape Modifiers
// 
// Add .sml to get a smaller button
// Add .pill to get a pill shaped button
// -----------------------------------------------------------


.lp-btn.sml
  height: $btn_small
  line-height: $btn_small
  padding: 0 10px

.lp-btn.lrg
  height: $btn_large
  line-height: $btn_large


.lp-btn.pill
  @include round-all(100px)



// -----------------------------------------------------------
// Colour Modifiers
// 
// .blue
// .purple
// .green
// .flat (off-white, no gradient)
// -----------------------------------------------------------


// Blue Button---

.landing-pages .lp-btn,
.lp-btn.blue
  @include background-gradient(#137AC9, #0F63A4, $bg_image, 0 -250px)
  @extend %single-box-shadow
  @extend .lp-btn.dark
  border: 1px solid #1072BC
  &:hover
    @include background-gradient(#0F55A3, #0D4686, $bg_image, 0 -275px)


// Purple---

.shop .lp-btn,
.lp-btn.purple
  @include background-gradient(#7843A9, #63378B, $bg_image, 0 -300px)
  @extend %single-box-shadow
  @extend .lp-btn.dark
  border: 1px solid #6C3C99
  &:hover
    @include background-gradient(#603588, #4F2D6F, $bg_image, 0 -325px)


// Green---

.lp-btn.green
  @include background-gradient(#459A2B, #398024, $bg_image, 0 -350px)
  @extend %single-box-shadow
  @extend .lp-btn.dark
  border: 1px solid #3D8D27
  &:hover
    @include background-gradient(#277D12, #21670E, $bg_image, 0 -375px)

// Flat style button e.g. FAQ---

.lp-btn.flat
  background: #F5F5F2
  color: $link_color
  box-shadow: none
  border: none
  @extend .lp-btn.lrg
  &:hover
    background: #1587C8
    @extend .lp-btn.dark



// -----------------------------------------------------------
// State modifiers
// 
// Add .disabled
// -----------------------------------------------------------

.lp-btn.disabled
  color: #ccc
  @include text-shadow

  &:hover
    @include background-gradient(#FFFFFF, #DFDFDC, $bg_image, 0 -200px)


// -----------------------------------------------------------
// Call to Action buttons
// 
// Add .cta to get an orange LP button with arrow to the right
// Modifiers: .grey .sml
// -----------------------------------------------------------

// ----- Vars --------

$arrow_size: 16px
$arrow_size_sml: 13px


// ----- Orange --------
.lp-btn.cta
  @extend .lp-btn.dark
  border-top: 1px solid #C36119
  border-bottom: 1px solid #CA641A
  border-left: 1px solid #CB651B
  border-right: none
  padding: 0 10px
  margin-right: $arrow_size
  @include round-each(3px, 0, 0, 3px)
  @include background-gradient(#E97520, #BF6019, $bg_image, 0 -150px)
  @extend %single-box-shadow

  &:after
    content: ''
    position: absolute
    display: block
    left: 100%
    top: -1px
    height: ($btn_height + 2)
    width: $arrow_size
    background: transparent url($bg_image) 0 0 no-repeat

  &:hover
    @include background-gradient(#CA5C19, #A54B14, $bg_image, 0 -175px)
    color: #fff
    text-decoration: none
    &:after
      background-position: 0 -27px
      background-repeat: no-repeat

  .no-generatedcontent &
    border-right: 1px solid #C36119
  
  // ----- Small --------
  &.sml
    &:after
      background-position: 0 -54px
      width: $arrow_size_sml
      height: ($btn_small + 2)
    &:hover
      &:after
        background-position: 0 -77px

  // ----- Grey --------    
  &.grey
    @include background-gradient(#FFFFFF, #DFDFDC, $bg_image, 0 -200px)
    border: 1px solid #dfdfdc
    border-right: none
    color: $base_font_color

    &:after
      background-position: 0 -100px

    &:hover
      @include background-gradient(#E97520, #BF6019, $bg_image, 0 -150px)
      border-top: 1px solid #C36119
      border-bottom: 1px solid #CA641A
      border-left: 1px solid #CB651B
      border-right: none
      @extend .lp-btn.dark
      &:after
        background-position: 0 0

    &.sml
      &:after
        background-position: 0 -127px
      &:hover
        &:after
          background-position: 0 -54px

    .no-generatedcontent &
      border-right: 1px solid #dfdfdc
      &:hover
        border-right: 1px solid #CB651B



// -----------------------------------------------------------
// Buttons with icons
// 
// Icon to the left  - add .icn-l
// Icon to the right  - add .icn-r
// Or add both
// -----------------------------------------------------------

// -----------------------------------------------------------
// Variables 
// -----------------------------------------------------------

$large_icon: 19px
$reg_icon: 15px


.icn-l, .icn-r
  position: relative // For use without buttons


// -----------------------------------------------------------
// Icons to the left
// -----------------------------------------------------------

.icn-l
  padding-left: 30px
  &.sml
    padding-left: 25px
  &:before
    position: absolute
    left: 5px
    top: 5px
    display: block
    font-size: $reg_icon
    line-height: 1em
    text-align: center
    width: $reg_icon
    height: $reg_icon
  .no-generatedcontent &
    padding-left: 15px


// -----------------------------------------------------------
// Icons to the right
// -----------------------------------------------------------

.icn-r
  padding-right: 30px
  &.sml
    padding-right: 25px

  &:after
    position: absolute
    right: 5px
    top: 5px
    display: block
    content: ''

  .no-generatedcontent &
    padding-right: 15px

%large-icon
  width: $large_icon
  height: $large_icon
  font-size: ($large_icon + 1)

%regular-icon
  width: $reg_icon
  height: $reg_icon
  font-size: $reg_icon


.icn-r, .icn-l
  &.pill
    &:before, &:after
      @extend %large-icon
    &.sml
      &:before, &:after
        @extend %regular-icon

.sml, .pill
  &.icn-l:before
    top: 3px
    left: 3px
  &.icn-r:after
    top: 3px
    right: 3px



// -----------------------------------------------------------
// Icon Class Modifiers
// 
// Add .add for a plus sign
// Add .add.i-blue for blue plus sign
// Add .add.i-green for green plus sign
// Add .dl for a download sign
// .save, .saving, .saved
// .prev for Previous arrow
// .next for Next arrow
// .checkout for Shopping Cart
// .compose for Pencil sign
// 
// All can be modified with .pill and .sml
// -----------------------------------------------------------

.lp-btn

  // ----- Buttons with a plus sign to the left --------
  &.add
    @extend .icn-l
    &:before
      content: '+'

    &.i-blue
      &:hover
        @include background-gradient(#E8F4FE, #CED8E1)
        border: 1px solid #D2ECFE
      &:before
        color: $link_color

    &.i-green:before
      color: #fff
      background-color: $icon_green
      border-radius: $reg_icon

  // ----- Buttons with a close circular plus-sign to the left --------
  &.close
    @extend .icn-l
    &:before
      border-radius: $reg_icon
      content: ''
      @include img($bg_image, $icon_grey, 0px, -502px, no-repeat)
    
    &.pill:before
      background-position: 2px -500px
  
    &.pill.sml:before
      background-position: 0px -502px
    
  // ----- Buttons with a green/white circular download icon to the left --------
  &.dl
    @extend .icn-l
    &:before
      content: ''
      border-radius: $reg_icon
      @include img($bg_image, $icon_green, 0px, -401px, no-repeat)

    &:hover
      @include background-gradient(#459A2B, #398024, $bg_image, 0 -350px)
      @extend .dark
      @extend %single-box-shadow
      border-color: #4D9437
      &:before
        background-color: #2D5B1E

    &.pill:before
      background-position: 2px -399px

    &.pill.sml:before  
      background-position: 0 -401px


  // ----- Save buttons w/ three states --------
  &.save
    @extend .icn-l
    &:before
      content: '+'
      color: #fff
      border-radius: $reg_icon
      background-color: $icon_green

  &.saving
    @extend .icn-l
    &:before
      content: ''
      border-radius: $reg_icon
      @include img($bg_image, transparent, 2px, -419px, no-repeat)

  &.saved
    @extend .icn-l
    &:before
      content: ''
      border-radius: $reg_icon
      @include img($bg_image, transparent, 2px, -440px, no-repeat)

  &.saving.sml:before
    background-position: 0px -421px

  &.saved.sml:before  
    background-position: 0px -442px


  // ----- Next and Previous --------
  // Inconsistent spacing is due to irregular unicode char spacing


  &.prev
    @extend .icn-l
    &:before
      font-size: $large_icon
      top: 1px
      content: '\2039'
    &.sml:before, &.pill:before
      top: -1px

  &.next
    @extend .icn-r
    &:after
      font-size: $large_icon
      content: '\203A'
      top: -1px
      right: 9px
    &.sml:after, &.pill:after
      top: -1px
    &.sml:after
      right: 7px



  // ----- Checkout Icon --------

  &.checkout
    @extend .icn-l
    &:before
      content: ''
      @include img($bg_image, transparent, 2px, -462px, no-repeat)

  // ----- Compose Icon --------

  &.compose
    @extend .icn-l
    &:before
      content: ''
      @include img($bg_image, transparent, 2px, -479px, no-repeat)





