// Links
//
//
// .link--back - Back
//
// Styleguide 1.6

.link--back
  @extend %left-icon
  @extend %inline-block
  +font-size(15)
  padding-left: 15px
  &:before
    width: 12px
    height: 12px
    top: 4px

.link--wrapper
  @extend %clearfix
  overflow: hidden
  display: block
  height: 100%
  color: $base-font-color
  &, &:hover
    text-decoration: none
