.card
  @extend %inline-block
  position: relative
  margin: 0 4px 10px 0
  max-width: 237px
  background-color: $light-grey

  &.deal
    &:after
      @extend %absolute-top-right

.card-hero,
.card-hero img
  display: block
    

.card-content
  position: relative
  padding: 10px
  
  .h4
    line-height: 20px
    margin-bottom: 10px
  
  .locale
    @extend %tiny-type
    position: relative
    padding-left: 19px
    text-transform: uppercase
    &:before
      @extend %empty-generated-content
      @extend %absolute-top-left
      background: red
      width: 19px
      height: 19px
  
  .price
    @extend %heading-size-type
    @include vertically-center(28px)
    @include background-gradient-with-stops(#F17822, #F17822 89%, #D25427 100%)
    position: absolute
    left: 9px
    bottom: 100%
    padding: 0 6px 0 25px
    color: white
    &:hover
      text-decoration: none