// -----------------------------------------------------------------------------
// Lp-Reviewed Section
// Author review text with a generic info lp-terms box
// -----------------------------------------------------------------------------

.lp-review
  .section-title
    @extend %inline-block
    @extend %right-icon
    @extend %lp-review-bubble-after
    padding-right: 20px
    &:after
      @extend %no-line-height
      color: $lp-reviewed-badge
      top: 8px
      font-size: 60px

.lp-review__content
  @extend %feature-copy
  @extend %margin-bottom-10

.lp-review__footer
  @extend %body-copy

