// -----------------------------------------------------------------------------
// Lp-Reviewed Section
// Author review text with a generic info lp-terms box
// -----------------------------------------------------------------------------

.lp-review-banner
  +border-radius(10)
  @extend %relative
  @extend %box-off
  color: $text-on-blue
  background-color: $secondary-content-bg
  
  &.arrow-top:after
    +css-arrow(top, 10px, $secondary-content-bg, 20px)
  
  &.arrow-left:after
    +css-arrow-central(left, 10px, $secondary-content-bg)
  
  &.the-dude
    @extend %left-icon
    @extend %the-dude-before
    margin-left: 50px
    &:before
      +font-size(100)
      @extend %no-line-height
      left: -55px
      top: 17px
      width: 45px
      height: 60px

  &.top-choice-banner
    padding-right: 100px
    &:after
      @extend %empty-generated-content
      @extend %absolute
      +top-choice-banner()
      top: -1px
      right: 0
      width: 77px
      height: 67px




// $$legacy until booking process branch goes live

.lp-review
  +border-radius(10)
  @extend %relative
  @extend %box-off-double
  color: $text-on-blue
  background-color: $secondary-content-bg
  
  &.arrow-top:after
    +css-arrow(top, 10px, $secondary-content-bg, 20px)
  
  &.arrow-left:after
    +css-arrow-central(left, 10px, $secondary-content-bg)
  
  &.the-dude
    @extend %the-dude
    margin-left: 50px
    &:before
      left: -55px
      top: 17px


.lp-review-recommended
  +border-radius(4)
  padding: 15px 15px 15px 60px
  background-color: #fff
  color: $heading-text
  font-weight: bold
  .recommended
    color: $heading-text
  &.the-dude
    min-height: 45px
    @extend %the-dude
    &:before
      left: 5px
      top: 37px


.lp-review, .lp-review-recommended
  &.top-choice-banner
    padding-right: 100px
    &:after
      @extend %empty-generated-content
      @extend %absolute
      +top-choice-banner()
      top: -1px
      right: 0
      width: 77px
      height: 67px