// -----------------------------------------------------------------------------
// Map infobox
// -----------------------------------------------------------------------------
.infobox--location
  @extend %four-pixel-rounded
  @extend %standard-shadow
  +box-shadow(0, 1, 1, 2, $new-header-grey-shadow)
  +css-arrow-central(bottom, $width: 10px, $arrowOffset: 17px)
  background: #fff
  bottom: 20px
  left: -51%
  max-width: 350px
  padding: 10px 15px
  position: relative

  &:after
    +font-size(38)
    bottom: -27px
    color: #fff
    position: absolute

  .copy--body
    @extend %lp-font-stack // infobox overrides with roboto font
    +font-size(15)
    color: $header-grey
    margin-left: 1.2em
    font-weight: 300
    line-height: 1

  .infobox__link--interesting-places
    @extend %lp-font-stack // infobox overrides with roboto font
    +font-size(14)
    color: #07c
    cursor: pointer
    font-style: italic

.infobox__title
  @extend %lp-font-stack // infobox overrides with roboto font
  +font-size(15)
  margin-bottom: 0
  &:before
    line-height: .8