.nearby-pois__list
  @extend %stacked-nav
  @extend %body-copy

.nearby-pois__poi
  @extend %margin-bottom-0
  cursor: pointer
  position: relative
  padding-left: 30px
  margin-bottom: 10px
  &:before
    top: 0
    left: 0
    line-height: 20px
  &:hover
    background-color: $nav-bg--hover

.nearby-pois__poi__description
  p:last-child
    margin-bottom: 0

.nearby-poi__poi--highlighted, 
.nearby-poi__poi--highlighted:hover
  background-color: $nav-bg--hover
