.nearby-pois-list
  @extend %stacked-nav

.nearby-poi-item
  @extend %media
  @extend %no-margin
  cursor: pointer
  color: $body-copy
  &:hover
    background-color: $nav-hover-background

.poi-item-title
  @extend %bold-text
  color: $header-gray
  line-height: 30px

.nearby-poi-highlighted, 
.nearby-poi-highlighted:hover
  background-color: $light-blue
