// --------------------------------------------------------------------------------------
// Concise pagination features a prev/next and page listing with form input
//
// Example markup:
//
// <div class="concise-pagination">
//   <ul>
//     <li class="prev">
//       <a href="">‹ Prev</a>
//     </li>
//     <li class="jump">
//       <form action="" method="get">
//         <input name="page" type="text" value="2">
//         <label>of 7</label>
//       </form>
//     </li>
//     <li class="next">
//       <a href="">Next ›</a>
//     </li>
//   </ul>
// </div>
//
// --------------------------------------------------------------------------------------


.concise-pagination
  ul
    @extend %float-right
  li
    @extend %float-left
    &.prev
      margin-right: 5px
  span, a, label
    padding: 0 4px
  span  
    color: $disabled_text_color
  input
    @extend %float-left
    margin-top: -2px
    text-align: right
    font-size: 12px
    color: #444
    width: 28px
  label
    @extend %float-left




// --------------------------------------------------------------------------------------
// Expanded pagination features a prev/next and links for all pages
//
// Example markup:
//
// <div class="expanded-pagination">
//   <ul>
//     <li class="prev">
//       <span>‹ Prev</span>
//     </li>
//     <li class="current">
//       <span>1</span>
//     </li>
//     <li>
//       <a href="/vietnam/ho-chi-minh-city/hotels?page=2">2</a>
//     </li>
//     <li>
//       <a href="/vietnam/ho-chi-minh-city/hotels?page=3">3</a>
//     </li>
//   </ul>
// </div>
// --------------------------------------------------------------------------------------

.expanded-pagination
  margin-top: 20px
  ul
    text-align: center
  li
    &.next, &.prev
      color: $disabled_text_color
    display: inline
    margin-right: 1px
    span, a
      @include round-all(3px)
      line-height: 3em
      padding: 3px 6px 2px 8px
    a:hover
      @extend %blue-link-reverse
    &.current
      span, a
        @extend %grey-link-reverse
