$discSize: 12px

.preloader
  @extend %transition--base
  display: none
  left: 50%
  margin-left: -#{$discSize * 4} // 4 = number of discs
  margin-top: -10px
  overflow: hidden
  position: absolute
  top: 50%
  z-index: 0
  .is-loading &
    display: block
  .no-3d-support &
    // Put this behind this flag so that we don't get a flash of the fallback
    background: url("#{image_path('shared/spinner.gif')}") no-repeat center center
    .preloader__disc, .preloader__cover
      visibility: hidden

  .results &
    +border-radius(8)
    +multiple-box-shadow(0px 2px 1px 0 rgba(0,0,0,0.2))
    background-color: #fff
    padding: $discSize
    top: 200px
    z-index: 4

.preloader__disc
  background: #dbe6ec
  border-radius: $discSize / 2
  display: block
  float: left
  height: $discSize
  margin: 2px
  overflow: hidden
  width: $discSize

.preloader__disc--coloured
  +hardware-acceleration()
  border-radius: $discSize / 2
  height: $discSize
  margin-top: -#{$discSize}
  position: relative
  top: $discSize / 2
  width: $discSize
  +animation(discmove 1.75s infinite)

.preloader__disc--blue
  background: $teal
.preloader__disc--red
  background: $red
  +animation-delay(0.25s)
.preloader__disc--green
  background: $green
  +animation-delay(0.5s)
.preloader__disc--orange
  background: $orange
  +animation-delay(0.75s)

+keyframes(discmove)
  0%
    +transform(translateY(0px))

  40%
    +transform(translateY($discSize))

  80%
    +transform(translateY($discSize * 2))

  100%
    +transform(translateY($discSize * 2))

.preloader__cover
  height: 36px
  left: 1px
  position: absolute
  top: -10px
  width: 62px
  z-index: 10
  background: url("#{image_path('shared/spinner.svg')}") no-repeat center center

  .media-gallery &
    background-image: url("#{image_path('shared/spinner-grey.svg')}")

  .results &
    left: 13px
    top: 2px