$discSize: 12px

.preloader
  background-repeat: no-repeat
  background-position: center center
  display: none
  left: 50%
  margin-left: -1 * $discSize * 4 // 4 = number of discs
  margin-top: -10px
  overflow: hidden
  position: absolute
  top: 50%
  z-index: 0
  .is-loading &
    display: block
  .no-cssmasks-support &
    // Put this behind this flag so that we don't get a flash of the fallback
    background-image: url("#{image_path('spinner.gif')}")
  .supports-cssmasks &
    background-image: none

  .results &
    +border-radius(8)
    +multiple-box-shadow(0px 2px 1px 0 rgba(0,0,0,0.2))
    background-color: #fff
    padding: $discSize
    top: 200px
    z-index: 4

.preloader__disc
  +hardware-acceleration()
  border-radius: $discSize / 2
  display: block
  float: left
  height: $discSize
  margin: 2px
  overflow: hidden
  width: $discSize
  &:before
    display: none
  .supports-cssmasks &
    background: $subdued-highlight
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC)
    &:before
      @extend %empty-generated-content
      border-radius: $discSize / 2
      height: $discSize
      margin-top: -1 * $discSize
      position: relative
      width: $discSize
      +animation(discmove 1.75s infinite)

.supports-cssmasks
  .preloader__disc--blue
    &:before
      background: $teal
  .preloader__disc--red
    &:before
      background: $red
      +animation-delay(0.25s)
  .preloader__disc--green
    &:before
      background: $green
      +animation-delay(0.5s)
  .preloader__disc--orange
    &:before
      background: $orange
      +animation-delay(0.75s)

+keyframes(discmove)
  0%
    +transform(translateY(0px))
  
  40%
    +transform(translateY($discSize))
  
  80%
    +transform(translateY($discSize * 2))
  
  100%
    +transform(translateY($discSize * 2))