// -----------------------------------------------------------------------------
// A Price tag, commonly used on cards
// -----------------------------------------------------------------------------

.price-tag
  @extend %absolute
  top: -4px
  right: 5px
  min-width: 60px
  text-align: center
  &:after
    @extend %empty-abs-generated-content
    border-style: solid
    border-color: transparent transparent $bookable-ribbon transparent
    top: 0
    left: -4px
    border-width: 0 0 4px 4px
  .list-view &
    right: 13px

.price-tag__inner
  background-color: $bookable
  color: $feature-text
  padding: 8px 10px
  @extend %extra-small-type
  @extend %benton-regular

.price-tag__inner--non-bookable
  +multiple-text-shadow(-1px -1px 1px rgba(0, 0, 0, 0.25), 1px 1px 1px rgba(255,255,255,0.8))
  padding: 4px 10px
  font-size: 50px
  color: #dad01a

.price-tag__price
  @extend %heading-size-type
  display: block
  padding-top: 2px

.price-tag__curr
  @extend sup
  font-size: 0.65em
  top: -0.45em
  position: relative
  line-height: 0

