// ---------------------------------------------------------------------------- 
// Read More Toggle
// 
// <div class="section-handler">
//   <div class="std btn-soft js-handler">Read More</div>
// </div>
// 
// Zencoding: div.section-handler>div.std.btn-soft.js-handler
// ----------------------------------------------------------------------------


.section-handler
  position: absolute
  bottom: 0
  height: 60px
  width: 100%
  overflow: auto
  .std
    position: absolute
    bottom: 0

// $$legacy - refactor to use mixin

.is-close
  .section-handler
    background: #fff
    +lp-section-toggle-background
    background: linear-gradient(bottom, rgb(255,255,255) 50%, transparent 100%)
    background: -o-linear-gradient(bottom, rgb(255,255,255) 50%, transparent 100%)
    background: -moz-linear-gradient(bottom, rgb(255,255,255) 50%, rgba(255,255,255,0) 100%)
    background: -webkit-linear-gradient(bottom, rgb(255,255,255) 50%, transparent 100%)
    background: -ms-linear-gradient(bottom, rgb(255,255,255) 50%, transparent 100%)
    background: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0.5, rgb(255, 255, 255)), color-stop(1, rgba(255, 255, 255,0)))

.is-open
  .details-wrapper
    padding-bottom: 32px
  .section-handler
    background: transparent

