// --------------------------------------------------------------------------------------
// These styles allow you to create a LP <select> which scales to its container's width 
//
// Example markup:
// <div class="select-group js-select-group">
//   <label class="overlay js-select-overlay">Select&hellip;</label>
//   <select class=".js-select">...</select>
// </div>    
// Zen coding: div.lp-select.js-lp-select>label.overlay.js-select-overlay+select>option*3
// 
// .lp-select class is included below for backwards dependancy
// --------------------------------------------------------------------------------------



@mixin custom_select($height: 30px, $width: 100%)

  $arrow_width: 30px

  .select-group, .lp-select
    position: relative
    width: $width
    height: $height

    .overlay
      @include round-all(15px)
      @include box-sizing(border-box)
      position: relative
      display: block
      width: $width
      height: $height
      line-height: $height
      font-weight: bold
      padding-right: $arrow-width + 5px
      overflow: hidden
      text-indent: 10px
      background-color: #fff
      border: 1px solid #BEBEBE
      word-break: break-all

      .no-boxsizing &,
      .oldIE &,
      .ie7 &,
      .ie8 &
        padding: 0
        width: 95%

      .no-generatedcontent &,
      .oldIE &
        @if $project == 'waldorf'
          @include icon-selector-handler
          background-repeat: no-repeat
          background-position: 95% center
        @else if $project == 'hostelworld'
          background: #fff url("../img/checkout_sprite.png") no-repeat right bottom
        @else
          background: #fff url("../../images/common-ui/select-box-arrow-down.png") no-repeat 95% center

      &:after
        content: ''
        position: absolute
        display: block
        right: 1px
        top: 0
        border-left: 1px solid #BEBEBE
        height: 28px
        width: ($arrow-width - 6px)
        @include round-each(0, 15px, 15px, 0)
        @if $project == 'waldorf'
          @include icon-selector-handler
        @else if $project == 'hostelworld'
          background: #fff url("../img/checkout_sprite.png") no-repeat -112px -71px
        @else
          background: #fff url("../../images/common-ui/select-box-arrow-down.png") no-repeat 8px 8px  

    select
      position: absolute
      top: 0
      left: 0
      opacity: 0
      width: $width
      height: 100%

      .no-opacity &,
      .oldIE &,
      .ie7 &,
      .ie8 &
        filter: alpha(opacity = 0)

      .no-js &
        opacity: 1
        filter: alpha(opacity = 1)
      