// -----------------------------------------------------------------------------
// Tour Itinerary
// -----------------------------------------------------------------------------

.tour-itinerary
  .tour-itinerary__title
    font-weight: bold
  .copy--body
    margin: 20px 0

// -----------------------------------------------------------------------------
// Booking Panel (normally as an aside)
// -----------------------------------------------------------------------------

.booking-panel
  background: $info-background
  padding: 20px
  position: relative

.booking-panel__logo
  margin-bottom: 20px

// -----------------------------------------------------------------------------
// Details Panel (the lighter panel usually attached to the booking panel)
// -----------------------------------------------------------------------------

.details-panel
  background: $secondary-content-bg
  padding: 20px
  .section-glossary
    .section-title
      @extend %regular-type-size
      margin: 20px 0 5px

// -----------------------------------------------------------------------------
// Information List
// -----------------------------------------------------------------------------

.info-list
  .section-title
    @extend %larger-type
    font-weight: bold
    margin-bottom: 10px

  .copy--body
    margin-bottom: 20px
    margin-left: 27px

  .icon-list--icon
    &:before
      @extend %huge-type
      color: $lpblue
      font-weight: normal
      margin-right: 0.2em
      line-height: 20px
    &.icon-list--info:before
      font-weight: bold
      line-height: 0.9em
      margin-left: 0.1em
    &.icon-list--cross, &.icon-list--info, &.icon-list--tick
      &:before
        @extend %extra-large-type
        margin-right: 0.4em
    &.icon-list--cross, &.icon-list--tick
      &:before
        margin-left: 0.2em
        margin-right: 0.5em


// -----------------------------------------------------------------------------
// Meta Info Box
// -----------------------------------------------------------------------------

.meta-info
  @extend %clearfix
  @extend %four-pixel-rounded
  background: #FFF
  list-style: none
  margin-bottom: 20px
  padding: 22px 0 22px 22px

  .ranking-bar
    margin-top: 21px
    + .meta-info--item-subtitle
      margin-top: 14px

.meta-info__column
  float: left
  margin: 0 8px
  min-height: 60px
  text-align: center
  width: 60px
  &:first-child
    margin-left: 0

.meta-info__item-title
  @extend %extra-small-type
  font-weight: bold
  margin-bottom: 13px
  text-transform: uppercase

.meta-info__item-subtitle
  @extend %extra-small-type
  font-weight: normal
  margin-top: 10px

.meta-info__item-content
  font-size: 22px
  font-weight: bold

// -----------------------------------------------------------------------------
// Ranking bar
// -----------------------------------------------------------------------------

.ranking-bar
  background: $subdued
  height: 10px
  &:before
    @extend %empty-generated-content
    height: 100%

@for $i from 1 through 5
  .ranking-bar--#{$i}:before
    width: 20% * $i
    @if $i == 1 or $i == 2
      background: $green
    @if $i == 3 or $i == 4
      background: $orange
    @if $i == 5
      background: $red

// -----------------------------------------------------------------------------
// Tag list
//  Not currently used, but kept as it may be required at some point.
//  See: https://github.com/lonelyplanet/beaker/pull/55#pullrequestreviewcomment-5322910
// -----------------------------------------------------------------------------

.tag-list
  @extend %clearfix
  list-style: circle
  list-style-position: inside

.tag-list--tag
  @extend %four-pixel-rounded
  background: $secondary-content-bg
  border: 1px solid $secondary-content-border
  float: left
  margin-bottom: 5px
  margin-right: 5px
  padding: 2px 10px 3px

// -----------------------------------------------------------------------------
// Special Offer tag
// -----------------------------------------------------------------------------
.special-offer
  @extend %four-pixel-rounded
  background: $red
  color: #fff
  display: inline-block
  font-size: 11px
  font-weight: bold
  padding: 5px
  text-transform: uppercase

// -----------------------------------------------------------------------------
// Media gallery - named such so as to avoid clashing with the Hotels .gallery
// -----------------------------------------------------------------------------
.media-gallery
  @extend %clearfix
  @extend %transition--base
  position: relative
  ~ .single-page__aside
    @extend %media-gallery-transition
    top: -316px
  .media-gallery__container, .tab__content
    @extend %clearfix
    @extend %media-gallery-transition
    height: 241px
    width: 427px
    z-index: 0
  .slider__controls
    @extend %media-gallery-transition
    top: 95px

// This is all in a mixin because IE7/8 don't work when the :checked, and .is-checked selectors
// are on the same line below (because IE7/8 don't understand :checked, they discard the entire rule)
@mixin media-gallery-full
  ~ .media-gallery
    .media-gallery__container, .tab__content
      height: 422px
      width: 748px
    .slider__controls
      top: 186px
    .media-gallery__poi-list
      @extend %opaque
      +transform(rotateY(0deg) translateX(0px) translateZ(0px))
      +transition(all, 0.5, cubic-bezier(0.075, 0.820, 0.165, 1.000))
      +transition-delay(1)
      right: 12px
      z-index: 1
    .infobox__interesting-places
      display: none
    .media-gallery__resizer
      @extend %contract-arrows-before
  ~ .single-page__aside
    top: 0

.media-gallery--full
  @extend %visually-hide
  // .is-checked is an ie7/8 fallback
  &:checked
    +media-gallery-full()
  &.is-checked
    +media-gallery-full()
    

.media-gallery__resizer
  @extend %transition--base
  @extend %expand-arrows-before
  background: $gallery-tab-background
  background: rgba(0,0,0,0.6)
  bottom: 0
  cursor: pointer
  display: block
  height: 40px
  opacity: 0.3
  position: absolute
  right: 0
  width: 40px
  z-index: 2
  &:hover
    @extend %opaque
  &:before
    +font-size(40)
    color: #fff
    line-height: 32px
    margin-left: 10px

.media-gallery__container
  overflow: hidden
  position: relative
  &.is-loading, .is-loading
    height: 100%
    &:after
      top: 50%

.media-gallery__img
  max-height: 100%
  max-width: 100%
.media-gallery__map
  height: 100%
  width: 100%

.media-gallery__poi-list
  @extend %four-pixel-rounded
  @extend %invisible
  @extend %media-gallery-transition
  +transform(rotateY(70deg) translateX(100px) translateZ(-250px))
  background: #fff
  height: 380px
  padding: 6px 6px 6px 0
  position: absolute
  right: -420px
  top: 12px
  width: 294px
  z-index: -1

  .nearby-pois
    height: 100%
    overflow: auto
    &::-webkit-scrollbar
      width: 4px
    &::-webkit-scrollbar-thumb
      +border-radius(2)
      background: $highlight
    &::-webkit-scrollbar-track
      background: none

  .obj-list__item
    border-top: 1px solid $subdued-highlight
    margin-bottom: 0
    padding: 10px 20px 15px 43px

    &:first-child
      border-top: none
    &:before
      left: 13px
      top: 10px

// -----------------------------------------------------------------------------
// Map infobox
// -----------------------------------------------------------------------------
.infobox--location
  @extend %four-pixel-rounded
  @extend %standard-shadow
  +box-shadow(0, 1, 1, 2, $new-header-grey-shadow)
  +css-arrow-central(bottom, $width: 10px, $arrowOffset: 17px)
  background: #fff
  bottom: 20px
  left: -51%
  max-width: 350px
  padding: 10px 15px
  position: relative

  &:after
    +font-size(38)
    bottom: -22px
    color: #fff
    position: absolute

  .section-title
    @extend %larger-type
    font-weight: bold
    margin-bottom: 0
    &:before
      margin-right: 0
      position: relative
      top: 1px
  .copy--body
    color: $title
    line-height: 1.2em
    margin-bottom: 0
    margin-left: 18px

.infobox__link--interesting-places
  color: $lpblue
  cursor: pointer
  font-style: italic
