// -----------------------------------------------------------------------------
// Slider Style Gallery
// Note: the height/width for the slider, and the position of the controls needs
//       to be defined wherever it's implemented.
// -----------------------------------------------------------------------------

$chevronOffset: 0.3em
$slideOffset: -5em
$slideHoverOffset: -0.714em
$slidePadding: 2.857em
$slideArrowSpacing: 1.786em
$slideHoverArrowSpacing: 0.357em

.slider__container
  height: 100%
  overflow: hidden
  position: relative
  -ms-scroll-chaining: none

.slider__slide
  +transition(all,0.25,linear)
  display: none
  position: absolute
  top: 0
  z-index: 4
  &.is-prev, &.is-current, &.is-next
    display: block
  &.is-prev
    left: -100%
    z-index: 1
    .supports-3d &
      left: auto
      +transform(translate3d(-99.9%, 0, 0))
  &.is-current
    left: 0
    z-index: 5
    .supports-3d &
      left: auto
      +transform(translate3d(0, 0, 0))
  &.is-next
    left: 100%
    z-index: 1
    .supports-3d &
      left: auto
      +transform(translate3d(99.9%, 0, 0))
  &.js-bottom-layer
    z-index: 1
  &.js-middle-layer
    z-index: 2

.slider__controls-container
  position: relative
  &:hover
    .slider__controls
      opacity: 1

.slider__controls
  @extend %clearfix
  @extend %transition--base
  position: absolute
  width: 100%
  z-index: 6

  .homepage &
    top: 350px

.slider__control
  @extend %regular-type-size
  @extend %transition--base
  background: $gallery-tab-background
  background: rgba(0,0,0,0.6)
  color: white
  font-weight: bold
  line-height: 1.66em
  opacity: 0.3
  padding: 0.643em 2.286em 0.643em
  position: absolute
  &:hover
    opacity: 1
    text-decoration: none
  &:before, &:after
    @extend %transition--base
    font-size: 2.286em
    display: inline-block
    font-weight: normal
    margin-top: -0.1em
    position: absolute
    vertical-align: top

  .homepage &
    font-size: 28px
    &:after, &:before
      content: ""
      width: 40px
      height: 100%
      top: 0
      background-size: 100%
      background-position: center center
      margin-top: 0

.slider__control--prev
  @extend %chevron-left-after
  left: $slideOffset
  padding-right: $slidePadding
  &:after
    right: $chevronOffset
  &:hover
    left: $slideHoverOffset
  

.slider__control--next
  @extend %chevron-right-before
  right: $slideOffset
  padding-left: $slidePadding
  &:before
    left: $chevronOffset
  &:hover
    right: $slideHoverOffset
  

.slider__pagination
  bottom: 0
  display: inline-block
  margin: 25px auto 0
  text-align: center
  width: 100%

.slider__pagination--link
  @extend %image-replacement
  +border-radius(3.5)
  background: $highlight
  display: inline-block
  height: 7px
  margin: 0 4px
  width: 7px

  &:hover, &.is-active
    background: $lpblue
