.sort-controls
  ul
    li
      float: left
      border-right: 1px solid #CCC
      padding: 0 8px
      a
        color: #333
      &.title
        color: #666
        padding: 0 8px 0 0
        border-right: none
      &.current
        @extend %bold-text
        a
          padding-right: 10px
          color: #0186CB
      &.down
        @include icn-arrow-down
      &.up
        @include icn-arrow-up