.speech-bubble
  +css-arrow(bottom, 10px, 48px, 68%, 28px)
  @extend %four-pixel-rounded
  &:after
    @extend %empty-abs-generated-content


.speech-bubble__close
  +border-radius(20)
  cursor: pointer
  position: absolute
  top: -12px
  right: -12px
  width: 30px
  height: 30px
  background-color: $dark-blue-gray