// -----------------------------------------------------------------------------
// Stack Intro Card
// -----------------------------------------------------------------------------

.stack__intro
  padding: 20px 15px

.stack__intro__content
  @extend %relative
  @extend %serif
  @extend %smooth-text
  @include font-size(17)
  color: $dark-blue-gray
  line-height: 20px
  width: 570px

  &.stack__intro__content--closed
    height: 60px
    margin-bottom: 20px

    &:after
      @extend %empty-abs-generated-content
      +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,1.0))
      bottom: 0
      height: 20px
      left: 0
      pointer-events: none
      right: 0
