// Cards
//
//
// .grid-view .card.card--single - A Card used to display a poi in grid form
//
// Styleguide 1.3



// -----------------------------------------------------------------------------
// So far we have three types of card:
//
// Grid, List and Full page (detail page)
// -----------------------------------------------------------------------------

// -----------------------------------------------------------------------------
// Our base card object and sizing variables
// -----------------------------------------------------------------------------

$stack-card-grid-height: 380px
$stack-single-card-width: 192px

$stack-card-padding: 15px

$stack-card-image-height: 275px
$stack-card-hero-image-height: 185px

%base-stack-card-object
  @extend %standard-shadow
  background: #fff
  .grid-view &, .list-view &
    +transition(opacity, 0.5, ease)
    margin-bottom: 10px
  .grid-view &
    height: $stack-card-grid-height


// -----------------------------------------------------------------------------
// The Card
// -----------------------------------------------------------------------------

.stack__card
  @extend %base-stack-card-object
  @extend %relative
  .is-loading &
    opacity: 0.3


// -----------------------------------------------------------------------------
// The Stack
// -----------------------------------------------------------------------------

.card--stack
  @extend %base-stack-card-object
  @extend %relative
  height: 380px
  .card__hero
    height: $stack-card-image-height






.card--poi
  &:hover
    .stack__card__content
      height: (335px - ( 2 * $stack-card-padding ))


// -----------------------------------------------------------------------------
// Lodging card
// -----------------------------------------------------------------------------

.stack__card:hover
  +box-shadow(2, 2, 8, 0, rgba(3, 46, 92, 0.15))
  img
    +filter(brightness(-15%))
  .btn--bookable
    background: #fff004

// -----------------------------------------------------------------------------
//
// Grid and List view cards
//
// -----------------------------------------------------------------------------

.list-view .stack__card
  @extend %media


// -----------------------------------------------------------------------------
// The Card Image
// -----------------------------------------------------------------------------

.stack__card__hero
  @extend %relative
  height: $stack-card-hero-image-height
  overflow: hidden

  // Refactor to use landscape/portrait classes when rowlf imaging catches up
  > .card__image
    @extend %absolute-bottom
    max-width: none
    height: 100%

  .grid-view &
    width: 100%

  .list-view &
    width: $stack-single-card-width


// -----------------------------------------------------------------------------
// Inner 'content' section
// -----------------------------------------------------------------------------

.stack__card__content
  @extend %transition--base
  @extend %absolute
  background: #fff
  bottom: $stack-card-padding
  color: $header-gray
  overflow: hidden
  padding: $stack-card-padding $stack-card-padding 0 $stack-card-padding

  //.list-view &
  //  height: ($stack-card-hero-image-height - (2 * $stack-card-padding) )
  //
  .grid-view &
    height: ($stack-card-grid-height - $stack-card-hero-image-height - (2 * $stack-card-padding) )

  .grid-view .has-no-image &
    padding-top: 60px
    height: ($stack-card-grid-height - 60px - $stack-card-padding)


// -----------------------------------------------------------------------------
// Card details
// -----------------------------------------------------------------------------

.stack__card__property-type,
.stack__card__context
  @extend %small-type
  margin-bottom: 2px
  display: block

.stack__card__name
  @extend %large-type
  +word-break()
  font-weight: bold
  line-height: 17px
  .grid-view &
    margin-bottom: 12px

.stack__card__locale
  @extend %serif
  @extend %small-type
  color: $body-copy
  font-style: italic
  line-height: 14px
  margin-bottom: 12px

.stack__card__description
  @extend %irregular-type
  @extend %smooth-text
  color: $body-copy
  line-height: 14px
  .list-view &
    padding-right: 65px

// -----------------------------------------------------------------------------
// Card Footer
// -----------------------------------------------------------------------------

.stack__card__footer
  @extend %absolute
  bottom: 8px
  left: 8px
  right: 8px
  // To contain the negative text-indent of the badges and preserve outline
  overflow: hidden


//.card--lodging .btn--bookable
//  @extend %irregular-type
//  @extend %absolute
//  bottom: 2px
//  right: 0
//  padding: 10px 12px

// -----------------------------------------------------------------------------
// Cards without images
// -----------------------------------------------------------------------------

.list-view .has-no-image
  border-left: 2px solid $hotels-poi

.list-view .has-no-image .card__name,
.list-view .has-no-image .card__locale
  padding-left: 38px

.list-view .has-no-image .card__name
  margin-bottom: 3px

.list-view .has-no-image .has-no-locale
  margin-bottom: 20px
  margin-top: 5px


// -----------------------------------------------------------------------------
// Card POI icons
// -----------------------------------------------------------------------------

.stack__card__poi-icon
  @extend %benton-regular
  @extend %no-line-height
  @extend %left-icon
  @extend %left-icon--hidden-text
  color: #fff
  display: block
  font-size: 65px
  height: 0
  left: 14px
  top: 22px
  z-index: 1
  .list-view &
    left: 10px
    top: 29px
  .ie7 &
    line-height: 1
    top: -10px

.card--lodging,
.card--poi-lodging
  .stack__card__poi-icon
    @extend %icon-poi-sight-before
  &.has-no-image
    .stack__card__poi-icon
      @extend %icon-poi-hotel-before
      color: $hotels-poi

.card--poi-sight
  .stack__card__poi-icon
    @extend %icon-poi-sight-before
  &.has-no-image
    .stack__card__poi-icon
      @extend %icon-poi-sight-before
      color: $sight-poi

.card--poi-activity
  .stack__card__poi-icon
    @extend %icon-poi-activity-before
  &.has-no-image
    .stack__card__poi-icon
      @extend %icon-poi-activity-before
      color: $activity-poi

.card--poi-tour
  .stack__card__poi-icon
    @extend %icon-poi-tour-before
  &.has-no-image
    .stack__card__poi-icon
      @extend %icon-poi-tour-before
      color: $tour-poi

.card--poi-shopping
  .stack__card__poi-icon
    @extend %icon-poi-shopping-before
  &.has-no-image
    .stack__card__poi-icon
      @extend %icon-poi-shopping-before
      color: $shopping-poi

.card--poi-entertainment
  .stack__card__poi-icon
    @extend %icon-poi-entertainment-before
  &.has-no-image
    .stack__card__poi-icon
      @extend %icon-poi-entertainment-before
      color: $entertainment-poi

.card--poi-restaurant
  .stack__card__poi-icon
    @extend %icon-poi-restaurant-before
  &.has-no-image
    .stack__card__poi-icon
      @extend %icon-poi-restaurant-before
      color: $restaurant-poi

.card--poi-article
  .stack__card__poi-icon
    @extend %icon-poi-article-before
  &.has-no-image
    .stack__card__poi-icon
      @extend %icon-poi-article-before
      color: $restaurant-poi
