// Stack Left hand navigation
//
//
// .left-nav--stack - Left hand navigation
//
// Styleguide 1.5



.left-nav__item
  @extend %relative
  @extend %irregular-type
  @extend %link-without-underline
  @extend %chevron-right-after
  @extend %right-icon
  color: $body-copy
  padding: 15px 50px 15px 15px
  text-decoration: none
  &:after
    @extend %no-line-height
    top: 15px
    right: 5px
    line-height: 15px
    font-size: 18px
    color: #c5d6d9

  &:hover
    background-color: $nav-bg--hover
