// -----------------------------------------------------------------------------
// Stack Intro Card
// -----------------------------------------------------------------------------

$stack-intro-text-line-height: 25px
$stack-intro-lines-to-show: 2

.stack
  .results
    position: relative

.stack__intro
  @extend %four-pixel-rounded
  padding: 25px

  .copy--title
    margin: 0

  &.stack__intro--empty
    padding: 10px 25px

.stack__intro__content
  +transition(max-height, 0.5, ease-in-out)
  overflow: hidden
  position: relative

  .is-open &
    padding-bottom: 25px

  .js-read-more &
    max-height: 0

  .no-js &
    max-height: none

// Temporary type styling until crazy harry is updated and rowlf run (20/5/2013)
.stack__intro__content
  p:first-of-type
    @extend .copy--feature
  h2
    @extend .copy--subtitle
  @extend .copy--body


// -----------------------------------------------------------------------------
// Places View type
// -----------------------------------------------------------------------------

.stack__view-select
  bottom: 10px
  position: absolute
  right: 25px
  top: 10px
  height: 38px

.stack__view-type
  @extend %left-icon-text
  +font-size(14)
  border-style: solid
  border-color: #e6edf5
  color: $new-header-grey
  display: inline-block
  font-weight: bold
  overflow: hidden
  padding: 0 10px
  height: 100%

  &:hover
    text-decoration: none

  &:before
    +font-size(25)
    vertical-align: inherit

.stack__view-type--grid
  @extend %grid-icon-before
  +border-radius-each(4, 0, 0, 4)
  border-width: 1px 0 1px 1px

.stack__view-type--list
  @extend %list-icon-before
  +border-radius-each(0, 4, 4, 0)
  border-width: 1px 1px 1px 0

.stack__view-type--selected
  background: #0fdecf
  border-color: #0dbdb0 #0fdecf #0fdecf #0dbdb0
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2) inset
  color: white

.list-view__heading
  +font-size(30)
  color: #c3d4d7
  clear: left
  line-height: 1em
  margin: 20px 0 10px 20px


// -----------------------------------------------------------------------------
// Travel warning
// -----------------------------------------------------------------------------

.travel-alert
  @extend %four-pixel-rounded
  @extend %warning-sign-before
  +font-size(15)
  background: #fffaca
  color: $body
  line-height: 20px
  margin-top: 10px
  padding: 15px 15px 15px 38px
  position: relative

  &:before
    color: $red
    font-size: 30px
    left: 15px
    position: absolute
    top: 15px
