// -----------------------------------------------------------------------------
// Stack Intro Card
// -----------------------------------------------------------------------------

$stack-intro-text-line-height: 25px
$stack-intro-lines-to-show: 2

.stack__intro
  @extend %four-pixel-rounded
  padding: 25px
  position: relative


.stack__intro__content
  @extend %relative
  overflow: hidden

  .js-read-more &
    max-height: 0

  .no-js &
    max-height: none

// Temporary type styling until crazy harry is updated and rowlf run (20/5/2013)
.stack__intro__content
  p:first-of-type
    @extend .copy--feature
  h2
    @extend .copy--subtitle
  @extend .copy--body
