// Cards
//
//
// .stack__card.card--single - A Card used to display a poi in grid form
//
// Styleguide 1.3

// -----------------------------------------------------------------------------
// Base card object and sizing variables
//
// - Width of a Card defaults to single - override when necessary
// -----------------------------------------------------------------------------

$stack-card-grid-height: 380px

$stack-single-card-width: 192px
$stack-double-card-width: 394px

$stack-hero-image-height: 275px
$stack-card-hero-image-height: 185px

$stack-card-padding: 15px

%base-stack-card-object
  @extend %standard-shadow
  @extend %margin-grid-column-10
  +transition(opacity, 0.5, ease)
  background: #fff
  height: $stack-card-grid-height
  margin-bottom: 10px
  width: $stack-single-card-width

.stack__card--double
  width: $stack-double-card-width


// -----------------------------------------------------------------------------
// Card
// -----------------------------------------------------------------------------

.stack__card
  @extend %base-stack-card-object
  @extend %relative
  //.is-loading &
  //  opacity: 0.3

.stack__card
  &:hover
    +box-shadow(2, 2, 8, 0, rgba(3, 46, 92, 0.15))

    img
      +filter(brightness(-15%))

// extra hover behaviour for POI cards
.stack__card--poi
  &:hover
    .stack__card__content
      height: $stack-card-grid-height - 60px - $stack-card-padding


// -----------------------------------------------------------------------------
// Card Image
// -----------------------------------------------------------------------------

.stack__card__hero
  @extend %relative
  overflow: hidden
  width: 100%

  // POI cards are the smaller size
  .stack__card--poi &
    height: $stack-card-hero-image-height

  // single stack cards have taller images
  .stack__card--stack &
    height: $stack-hero-image-height

  // double stack cards have full height images
  .stack__card--stack.stack__card--double &
    height: $stack-card-grid-height

  // Refactor to use landscape/portrait classes when rowlf imaging catches up
  > .card__image
    @extend %absolute-bottom
    max-width: none
    height: 100%


// -----------------------------------------------------------------------------
// Card 'content' section
// -----------------------------------------------------------------------------

.stack__card__content
  @extend %transition--base
  @extend %absolute
  background: #fff
  bottom: 0
  color: $header-gray
  overflow: hidden
  padding: $stack-card-padding

  // POI content height is a bit of a hack
  .stack__card--poi &
    bottom: $stack-card-padding
    height: ($stack-card-grid-height - $stack-card-hero-image-height - (2 * $stack-card-padding) )
    padding: $stack-card-padding $stack-card-padding 0 $stack-card-padding

    // fade to white at the bottom of the description for POI cards only
    &:after
      @extend %empty-abs-generated-content
      height:  20px
      +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,1.0))
      bottom: 0
      left: 0
      right: 0

  // with no image height is taller
  .stack__card--has-no-image &
    height: ($stack-card-grid-height - 60px - $stack-card-padding)

  // single-width stack cards have shorther content areas
  .stack__card--stack &
    height: ($stack-card-grid-height - $stack-hero-image-height - (2 * $stack-card-padding) )

  // double-width stack cards have black/transparent gradient background and content area height dependent on content
  .stack__card--stack.stack__card--double &
    +background-gradient($startColor: rgba(0,0,0,0), $endColor: rgba(0,0,0,1.0))
    color: #fff
    height: auto
    left: 0
    right: 0

  // single-width info cards have taller content
  .stack__card--info &
    height: ($stack-card-grid-height - 55px - $stack-card-padding)


// -----------------------------------------------------------------------------
// Card details
// -----------------------------------------------------------------------------

.stack__card__property-type,
.stack__card__context
  @extend %small-type
  display: block
  margin-bottom: 2px

.stack__card__name
  @extend %large-type
  +word-break()
  font-weight: bold
  line-height: 17px
  margin-bottom: 12px

  .stack__card--info &
    @include font-size(19)
    line-height: 20px

  .stack__card--stack.stack__card--double &
    margin-bottom: 0

.stack__card__locale
  @extend %serif
  @extend %small-type
  color: $body-copy
  font-style: italic
  line-height: 14px
  margin-bottom: 12px

.stack__card__description
  @extend %irregular-type
  @extend %smooth-text
  color: $body-copy
  line-height: 14px

// -----------------------------------------------------------------------------
// Card Footer
// -----------------------------------------------------------------------------

.stack__card__footer
  @extend %absolute
  background: #fff
  bottom: 0
  left: 0
  padding: 8px
  right: 0

  .btn--bookable
    background: #fff556
    padding: 10px
    width: 100%

  // fade to white at the top of the footer - needed when footer obscures content fadeout
  &:after
    @extend %empty-abs-generated-content
    +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,1.0))
    height: 20px
    left: 0
    right: 0
    top: -20px


// -----------------------------------------------------------------------------
// Card POI icons
// -----------------------------------------------------------------------------

.stack__card--icon
  @extend %benton-regular
  @extend %no-line-height
  @extend %left-icon
  @extend %left-icon--hidden-text
  color: #fff
  display: block
  font-size: 65px
  height: 0
  left: 14px
  text-shadow: 0 0 5px rgba(0,0,0,1.0)
  top: 22px
  z-index: 1
  .ie7 &
    line-height: 1
    top: -10px

  .stack__card--has-no-image &
    text-shadow: none

.stack__card--lodging,
.stack__card--lodging
  .stack__card--icon
    @extend %icon-poi-hotel-before
  &.stack__card--has-no-image
    .stack__card--icon
      @extend %icon-poi-hotel-before
      color: $hotels-poi

.stack__card--sight
  .stack__card--icon
    @extend %icon-poi-sight-before
  &.stack__card--has-no-image
    .stack__card--icon
      @extend %icon-poi-sight-before
      color: $sight-poi

.stack__card--activity
  .stack__card--icon
    @extend %icon-poi-activity-before
  &.stack__card--has-no-image
    .stack__card--icon
      @extend %icon-poi-activity-before
      color: $activity-poi

.stack__card--tour
  .stack__card--icon
    @extend %icon-poi-tour-before
  &.stack__card--has-no-image
    .stack__card--icon
      @extend %icon-poi-tour-before
      color: $tour-poi

.stack__card--shopping
  .stack__card--icon
    @extend %icon-poi-shopping-before
  &.stack__card--has-no-image
    .stack__card--icon
      @extend %icon-poi-shopping-before
      color: $shopping-poi

.stack__card--entertainment
  .stack__card--icon
    @extend %icon-poi-entertainment-before
  &.stack__card--has-no-image
    .stack__card--icon
      @extend %icon-poi-entertainment-before
      color: $entertainment-poi

.stack__card--restaurant
  .stack__card--icon
    @extend %icon-poi-restaurant-before
  &.stack__card--has-no-image
    .stack__card--icon
      @extend %icon-poi-restaurant-before
      color: $restaurant-poi

.stack__card--article
  .stack__card--icon
    @extend %icon-poi-article-before
  &.stack__card--has-no-image
    .stack__card--icon
      @extend %icon-poi-article-before
      color: $restaurant-poi

.stack__card--info
  .stack__card--icon
    @extend %icon-poi-article-before
    color: #d9d9d9


// -----------------------------------------------------------------------------
// Top Context Card
// -----------------------------------------------------------------------------

.stack__context
  @extend %four-pixel-rounded
  @extend %margin-grid-column-10
  @extend %standard-shadow
  +transition(opacity, 0.5, ease)
  background: #fff
  margin-bottom: 10px
  padding: 15px
  width: 798px

.stack__context__heading
  @extend %benton-regular
  @include font-size(32)
  color: $header-blue
  margin-bottom: 10px

.stack__context__content
  @extend %relative
  @extend %serif
  @extend %smooth-text
  @include font-size(17)
  color: $dark-blue-gray
  line-height: 20px
  width: 570px

  &.stack__context__content--closed
    height: 60px
    margin-bottom: 20px

    &:after
      @extend %empty-abs-generated-content
      +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,1.0))
      bottom: 0
      height: 20px
      left: 0
      right: 0


// -----------------------------------------------------------------------------
// Article Card
// -----------------------------------------------------------------------------

.stack__article
  @extend %four-pixel-rounded
  @extend %margin-grid-column-10
  @extend %standard-shadow
  @extend %body-copy
  @extend %regular-type-size
  +transition(opacity, 0.5, ease)
  background: #fff
  margin-bottom: 10px
  padding: 15px
  width: 798px

.stack__article__header
  border-bottom: 1px solid $ruled-separator
  margin-bottom: 20px


.stack__article__heading
  @extend %benton-regular
  @include font-size(32)
  color: $header-blue
  margin-bottom: 10px

.stack__article__content__leadin
  @extend %relative
  @extend %serif
  @extend %smooth-text
  @include font-size(17)
  color: $dark-blue-gray
  line-height: 20px


.stack__article_content_subheading
  @include font-size(18)
  @extend %smooth-text
  color: #023f87
  font-weight: bold
  margin-bottom: 10px







