// Tabs
// 
// 
// .tab__header             - Closed tab
// .tab__header.is-active   - Open tab
// 
// Styleguide 1.10

// -----------------------------------------------------------------------------
// Tabs Component
// 
// Sample haml:
// .tabs
//   .tabs__header
//     .tab__header.js-tab-trigger
//     .tab__header.js-tab-trigger
//     .tab__header.js-tab-trigger
//   .tabs__content
//     .tab__panel.js-tab-panel
//     .tab__panel.js-tab-panel
//     .tab__panel.js-tab-panel
// -----------------------------------------------------------------------------
.tabs
  @extend %clearfix
  @extend %smooth-text

.tab__header
  +vertically-center(36)
  +border-radius(4)
  @extend %standard-shadow
  @extend %inline-block
  @extend %relative
  @extend %link-without-underline
  background: #fff
  color: $body-copy
  padding: 0 6px 0 8px
  margin: 0 8px 10px 0
  &.is-active
    @extend %active-background
    font-weight: bold

.tabs__content
  +multiple-transitions(height 0.3s ease-in-out, opacity 0.3s ease)
  @extend %clearfix
  @extend %standard-shadow
  position: relative
  margin-bottom: 10px
  opacity: 1
  clear: both
  background-color: #fff


.tab__panel
  @extend %box-off-double
  display: none
  position: relative
  &.is-active
    display: block
  .no-js &:target
    display: block

// -----------------------------------------------------------------------------
// Dates and Filters tabs
// -----------------------------------------------------------------------------

%tab__header__icon
  @extend %inline-block
  @extend %left-icon
  &:before
    color: $soft-gray
    line-height: 32px
  .is-active &, &.is-active
    &:before
      color: $active--subdued

%tabs-chevron-icon
  @extend %chevron-down-after
  @extend %right-icon
  padding-right: 21px
  &:after
    line-height: 1
    top: 5px
    font-size: 20px
    color: $soft-gray
  .is-active &, &.is-active
    @extend %chevron-up-after
    &:after
      color: $active--subdued

.tab__header__start-date
  @extend %tab__header__icon
  @extend %date-icon-before
  padding-left: 25px
  &:before
    font-size: 32px

.tab__header__end-date
  @extend %tab__header__icon
  @extend %tabs-chevron-icon
  @extend %arrow-icon-before
  padding-left: 20px
  &:before
    font-size: 28px

.tab__header__filters
  @extend %tab__header__icon
  @extend %tabs-chevron-icon
  @extend %filter-icon-before
  padding-left: 21px
  &:before
    font-size: 22px
