// -----------------------------------------------------------------------------
// Text sections with left hand icons
// -----------------------------------------------------------------------------

.card__tour-duration
  @extend %left-icon
  @extend %tour-duration-before
  color: $new-header-grey
  font-weight: bold
  margin-bottom: 12px
  padding-left: 20px
  &:before
    font-size: 30px
    line-height: 15px

// .card__feedback__approval
//   @extend %approval-before
//   @extend %left-icon-text

// .card__feedback__comments
//   @extend %comments-before
//   @extend %left-icon-text
