// -----------------------------------------------------------------------------
// Text sections with left hand icons
// -----------------------------------------------------------------------------

.text-icon
  @extend %left-icon-text

  &:before
    @extend %huge-type
    font-weight: normal
    line-height: 20px

.text-icon--info
  &:before
    @extend %section-heading-size-type
    content: "@"
    font-weight: bold

.text-icon--duration
  @extend %tour-duration-before

.text-icon--tick
  @extend %tick-icon-before

.text-icon--clock
  @extend %icon--clock-before

.text-icon--cross
  @extend %cross-icon-before

.text-icon--departs-from
  @extend %icon--arrow-right-before

.text-icon--duration
  @extend %tour-duration-before

.text-icon--location
  @extend %local-marker-before

.text-icon--returns-to
  @extend %icon--arrow-left-before

.text-icon--tick
  @extend %tick-icon-before

.text-icon--underground
  @extend %icon--underground-before

.text-icon--place
  @extend %local-marker-before

.text-icon--hotel
  @extend %icon-image-poi-hotel-before

.text-icon--flight
  @extend %icon--flights-before

.text-icon--article
  @extend %icon-poi-article-before

.text-icon--sight
  @extend %icon-image-poi-sight-before

.text-icon--activity
  @extend %icon-image-poi-activity-before

.text-icon--tour
  @extend %icon-image-poi-tour-before

.text-icon--telephone
  @extend %phone-icon-before
