// --------------------------------------------------------------------------------------
// LP Thumnail Grid
// 
// A set of three images loaded as backgrounds inside .fig# divs.
// 2 x Small Images, 1 Larger image
//
// For example, see Hotel Detail page
//
// .fig0     - The hero images position on the right side.
// .fig1     - The top left images.
// .fig2     - The bottom left image.
//
// --------------------------------------------------------------------------------------

html.lp-gallery-active
  #lp-gallery
    height: 380px
    margin-bottom: 1em
  .gallery-frame
    display: none

.gallery-section
  min-height: 310px
  position: relative

.gallery-frame
  position: relative
  figcaption
    position: absolute
    top: 265px
    a
      font-size: 13px
      @extend %bold-text
      padding-left: 10px
  .fig1, .fig2, .fig0
    background: #e3e3e3
    cursor: pointer
    position: absolute
    span
      background-position: 50% 50%
      background-repeat: no-repeat
      background-size: 125%
      display: block
  .fig1, .fig2
    span
      height: 150px
      width: 210px
  .fig0
    span
      width: 413px
      height: 310px
    right: 0
    top: 0
  .fig1
    left: 0
    top: 0
  .fig2
    left: 0
    top: 160px


