// To be removed ASAP when the html has been removed

#goodbyeIE6
  background: #F5EEE6
  padding: 10px 0
  width: 100%
  .messageBox
    margin: 0 auto
    padding: 0 20px
    width: 910px
    background: #FFFFFF
    border: 10px solid #E0D6CC
    overflow: auto
  ul
    overflow: auto
    padding: 20px 10px 
    li
      float: left
      &.updateMessage
        width: 610px
        margin-right: 10px
        h2
          color: #333
          font-size: 1.6em
          font-weight: bold
          line-height: 1.4
          padding-bottom: 12px
        p
          line-height: 1.4
          font-size: 1.2em
      &.browserIcon
        float: left
        margin-right: 20px
        a
          float: left
          background: url("global/browser_logos.gif") 0 0 no-repeat
          text-align: center
          font-weight: bold
          width: 70px
        &.ie8 a
          background-position: 4px 0
          padding-top: 65px
        &.firefox a
          background-position: -60px 0
          padding-top: 71px
        &.chrome a
          background-position: -125px 0
          padding-top: 71px
