// -----------------------------------------------------------------------------
// Validation Colours
// -----------------------------------------------------------------------------

$error-box-background     : #F7E4E4 !default
$error-text-color         : #fc1c1c !default


// -----------------------------------------------------------------------------
// Validation Styles
// -----------------------------------------------------------------------------

.err-container
  margin-bottom: 10px
  background-color:  $error-box-background
  padding: 20px 25px

.err-heading
  color: $error-text-color !important

.err-list
  li
    margin-bottom: 5px
    &:before
      content: url('../img/cross.png')
      margin-right: 10px
      position: relative
      top: 2px
.err
  font-weight: bold
  color: $error-text-color !important

  @include placeholder
    color: $error-text-color

// -----------------------------------------------------------------------------
// Validation images (below) are referenced separately and not in a sprite
//
// This is because:
// 1. Background-clip is IE9+ so not an option yet
// 2. Inputs cannot accept pseudoelements as they are not container elements
//
// The only positive of this is that these requests are not made until after load
//
// $$Legacy - look to refactor post IE8
// -----------------------------------------------------------------------------

input.err
  background: url('../img/cross.png') 97% no-repeat

input.success
  background: url('../img/tick.png') 97% no-repeat

// For lp_select
.overlay.err
  background: url('../img/cross.png') 88% no-repeat
  +respond-to(3)
    background-position: 78%

.overlay.success
  color: #333
  background: url('../img/tick.png') 88% no-repeat
  +respond-to(3)
    background-position: 78%





