

.whiteAngleButton
  a.lpButton2010
    @include btn-white-angle
    color: #333
    span
      @include btn-white
    &:hover
      @include btn-orange-angle
      span
        color: #fff
        @include btn-orange
    &:active
      margin-top: 2px
      @include btn-orange-dark-angle
      span
        color: #fff
        @include btn-orange-dark


.lpButton2010
  cursor: pointer
  @include btn-spt
  @include btn-white-angle
  text-decoration: none
  overflow: visible
  padding: 0 17px 0 0
  text-align: center
  text-decoration: none!important
  cursor: pointer
  float: left
  position: relative
  font-size: 12px
  span
    @include btn-spt
    @include btn-white
    padding: 0 0 2px 18px
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1)
    position: relative
    white-space: nowrap
    float: left
    color: #333
    font-weight: bold
    line-height: 30px
    padding: 0 8px 0 18px

