// Rizzo base colors
// The base behaviour for 
// A set of three images loaded as background inside .fig# divs.
//
// .fig0     - The hero images position on the right side.
// .fig1     - The top left images.
// .fig2     - The bottom left image.
//

$border: #e6e6e6
$link-blue: #0077cc
$dark-blue: #034da2
$light-blue: #e5effb
