// Rizzo base 
// The basic defaults for lp base structure header, footer and content wrapper
//

body
  font-family: Arial, Helvetica, sans-serif
  font-size: 75%
  color: #333
  line-height: 1.4
  min-height: 100%

.skip
  position: fixed
  top: -9999px
  z-index: 999999
  left: -9999px

a
  text-decoration: none
  color: #333
  &:link, &:visited
    color: #333
    outline: none

a.linkChevronBack
  &.strong
    font-weight: bold
  @include icon-chevron-back  
  padding-left: 10px
  color: #333
  &:hover
    color: #07C

nav
  ul
    margin: 0
    li
      list-style: none
      list-style-image: none  


.content
  clear: both
  margin: 0 auto
  width: 960px
