.lp_swipe
  position: relative
  z-index: 999
  overflow: hidden

  .loader
    @include lp_swipe_loader
    padding: 0 20px
    text-align: left
    font-size: 1em
    color: #aaa
  
  .ctrl_view
    margin: 5px auto 5px
    overflow: hidden
    li
      border: 0
      background-color: #e3e3e3
      width: 12px
      font-size: 32px
      line-height: 18px
      font-weight: bold
      float: left
      padding: 0
      margin-right: 2px
      text-align: center
      cursor: pointer
      @include round-all(5px)
      width: 10px
      height: 10px
      &.active
        background-color: #0077cc
  
  .ctrl
    visibility: visible
    position: absolute
    width: 45px
    height: 45px
    top: 50%
    margin-top: -22px
    z-index: 1000
    cursor: pointer
    
    .arrow
      width: 0
      height: 0
      
  .ctrl_lft
    left: 20px
    @include lp_swipe_left
      
  .ctrl_rgt
    right: 20px
    @include lp_swipe_right
      
  .ctrl_ctr
    position: relative
    padding: 0
    float: left
    overflow: hidden
    
    ul
      width: 100%
      li
        float: left
  
  a:hover
    text-decoration: none
    h1
      text-decoration: underline