<% styleguide_block '1.1' do %>
  <span class="$modifier_class">Included</span>
<% end %>

<% styleguide_block '1.2' do %>
  <a class="$modifier_class">Example Button</a>
<% end %>

<% styleguide_block '1.3' do %>
  <div class="$modifier_class">
    <a class="link--wrapper" href="/singapore/singapore-city/hotels/albert-court-village-hotel">
      <figure class="card__hero obj-media__img">
        <img class="portrait card__image" src="http://media.expedia.com/hotels/1000000/900000/892700/892688/892688_69_b.jpg" title="">
      </figure>
      <section class="card__content obj-media__body">
        <span class="card__property-type">POI Info</span>
        <h1 class="card__name js-lodging-name">POI Title</h1>
        <p class="card__locale">POI Location</p>
        <footer class="card__footer"></footer>
      </section>
    </a>
  </div>
<% end %>

<% styleguide_block '1.4' do %>
  <div class="">
    <h3 class="filters__title">Filter title</h3>
    <ul>
      <li class="filters__item">
        <input id="styleguide-filter" type="checkbox" value='true'>
        <label class="$modifier_class js-filter-label" for="styleguide-filter">Styleguide filter</label>
      </li>
    </ul>
  </div>
<% end %>

<% styleguide_block '1.5' do %>
  <nav class="$modifier_class">
    <a class="current js-neighbourhood-item left-nav__item obj-list__item" href="#0">
      Current Nav Item <span class="facet-count">307</span>
    </a>
    <a class="js-neighbourhood-item left-nav__item obj-list__item" href="#1">
      Nav Item <span class="facet-count">67</span>
    </a>
    <a class="js-neighbourhood-item left-nav__item obj-list__item" href="#1">
      Nav Item <span class="facet-count">67</span>
    </a>
  </nav>
<% end %>

<% styleguide_block '1.6' do %>
  <a class="$modifier_class">Back</a>
<% end %>

<% styleguide_block '1.7' do %>
  <section class="$modifier_class">
    <h1 class="section-title">Lonely Planet review</h1>
    <div class="lp-review__content">
      <p>Typically awesome Lonely Planet Review. eg. Good, pool</p>
    </div>
    <footer class="lp-review__footer">
      <p>Our independent authors have visited Hotel Re and selected this as one of our
      <a href="/singapore/singapore-city/hotels/reviewed">recommended hotels in Singapore City</a>.</p>
    </footer>
  </section>
<% end %>


<% styleguide_block '1.8' do %>
  <ul class="$modifier_class">
    <li class="obj-list__item nearby-pois__poi icon--poi--sight">
      <a href="#" class="label">Notre Dame Cathedral</a>
      <div class="nearby-pois__poi__description">
        <p>Built between 1877 and 1883, <strong>Notre Dame Cathedral</strong> is set in the heart of HCMC’s government quarter. The cathedral faces Ð Dong Khoi. It is…</p>
      </div>
    </li>
  </ul>
<% end %>

<% styleguide_block '1.9' do %>
  <div class="price-tag">
    <div class="price-tag__inner">
      from 
      <span class="price-tag__price"><span class="price-tag__curr">$</span><span class="js-price">XX</span></span> 
      per night
    </div>
  </div>
<% end %>

<% styleguide_block '1.10' do %>
  <div class="tabs">
    <nav class="tabs__header">
      <a class="$modifier_class">Tab header</a>
    </nav>
  </div>
<% end %>

<% styleguide_block '1.11' do %>
  <span class="$modifier_class">Super helpful tooltip</span>
<% end %>

<% styleguide_block '1.12' do %>
  <nav class="nav">
    <div class="$modifier_class nav__submenu__trigger">
      Bookings
      <nav class="nav__submenu">
        <a class="nav__submenu__item" href="#">Hotels</a>
        <a class="nav__submenu__item" href="#">Flights</a>
        <a class="nav__submenu__item" href="#">Adventure tours</a>
        <a class="nav__submenu__item" href="#">Sightseeing tours</a>
      </nav>
    </div>
  </nav>
<% end %>
