<% styleguide_block '2.1' do %>
  <div class="$modifier_class">
    <div class="col--one-half">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-half">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
  </div>

  <div class="$modifier_class">
    <div class="col--one-third">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-third">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-third">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
  </div>

  <div class="$modifier_class">
    <div class="col--one-quarter">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-quarter">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-quarter">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-quarter">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
  </div>

  <div class="$modifier_class">
    <div class="col--one-fifth">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-fifth">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-fifth">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-fifth">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
    <div class="col--one-fifth">
      <img src="hhttp://jumptheturnstyle.com/wp-content/uploads/cat4.jpg" />
    </div>
  </div>
<% end %>
