<% styleguide_block '2.1' do %>
  <div class="$modifier_class">
    <div class="col--one-half">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly. Brisket pork loin ham ball tip cow fatback jerky pig short ribs. Shoulder pork loin pig fatback beef turducken.</div>
    <div class="col--one-half">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly. Brisket pork loin ham ball tip cow fatback jerky pig short ribs. Shoulder pork loin pig fatback beef turducken.</div>
  </div>

  <div class="$modifier_class">
    <div class="col--one-third">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly. Brisket pork loin ham ball tip cow fatback jerky pig short ribs. Shoulder pork loin pig fatback beef turducken.</div>
    <div class="col--one-third">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly. Brisket pork loin ham ball tip cow fatback jerky pig short ribs. Shoulder pork loin pig fatback beef turducken.</div>
    <div class="col--one-third">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly. Brisket pork loin ham ball tip cow fatback jerky pig short ribs. Shoulder pork loin pig fatback beef turducken.</div>
  </div>

  <div class="$modifier_class">
    <div class="col--one-quarter">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly.</div>
    <div class="col--one-quarter">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly.</div>
    <div class="col--one-quarter">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly.</div>
    <div class="col--one-quarter">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly.</div>
  </div>

  <div class="$modifier_class">
    <div class="col--one-fifth">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly.</div>
    <div class="col--one-fifth">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly.</div>
    <div class="col--one-fifth">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly.</div>
    <div class="col--one-fifth">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly. </div>
    <div class="col--one-fifth">Bacon ipsum dolor sit amet meatball bresaola shoulder, drumstick pig ham jerky pork belly. </div>
  </div>
<% end %>
