<% styleguide_block '3.1' do %>
  <input type="text" class="$modifier_class" />
<% end %>

<% styleguide_block '3.2' do %>
  <div class="$modifier_class">
    <label class="dropdown__value">Example select</label>
    <select class="dropdown__select">
      <option>Option 1</option>
      <option>Option 2</option>
    </select>
<% end %>