<!DOCTYPE html>
<html ng-app="StyleSheetApp">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Styleguide Example</title>
  <link rel="stylesheet" href="/stylesheets/styleguide.css" type="text/css" />

</head>
<body>

  <header class="row row--primary">
    <div class="split--left">
      <h1 class="title--primary">Lonely Planet Styleguide</h1>
    </div>
    <div class="split--right">
      <form class="nav__item search--primary">
        <label class="accessibility" for='search-q'>Search</label>
        <input id="search" ng-model="search" placeholder="Search" class="search__input search__input--primary" name="q" value="" autocomplete="off" tabindex="1" />
    </div>
  </header>


  <div class="row--content">
    <div class="row__inner">
      <div class="card-holder">
        <nav class="card--single">
          <div class="card left-nav">
            <a class="current left-nav__item obj-list__item" href="/">Home</a>
            <a class="left-nav__item obj-list__item" href="/components">Components</a>
            <a class="left-nav__item obj-list__item" href="/inputs">Form elements</a>
            <a class="left-nav__item obj-list__item" href="/grid">Grid</a>
            <a class="left-nav__item obj-list__item" href="/mixins">Mixins</a>
          </div>
        </nav>

        <div class="main-content stack" ng-view></div>
      </div>
    </div>
  </div>

  <!--<script src="/javascripts/kss.js"></script>-->
  <script src="/javascripts/lib/angular/angular.js"></script>
  <script src="/javascripts/services.js"></script>
  <script src="/javascripts/controllers.js"></script>
  <script src="/javascripts/lib/angular/angular-resource.js"></script>
  <script src="/javascripts/app.js"></script>

</body>
</html>