.social__item
  +size(32px)
  @extend %inline-block
  box-sizing: border-box
  padding: 4px
  margin-right: 10px
  border-radius: 20px

.social__icon
  +size(24px)
  display: block

.social__item--facebook
  background-color: $facebook
  padding: 4px 5px 4px 3px

.social__item--twitter
  background-color: $twitter

.social__item--google-plus
  background-color: $google-plus
