// -----------------------------------------------------------------------------
// Card item counts
// -----------------------------------------------------------------------------

.card__item-count
  +font-size(18)
  position: absolute
  color: #fff
  height: 34px // Stop clipping in IE
  left: 15px
  line-height: 20px
  top: 15px
  z-index: 5

  &:before
    content: ''
    float: left
    height: 34px
    margin-right: 3px
    width: 24px
    z-index: 4

  .no-js &, .no-background-size &
    &:before
      display: none

// -----------------------------------------------------------------------------
// Media card badges
// -----------------------------------------------------------------------------

.card--media__badge
  +font-size(45)
  color: #fff
  left: 15px
  position: absolute
  text-shadow: 0 0 5px rgba(0,0,0,0.75)
  top: 15px
  z-index: 5

// -----------------------------------------------------------------------------
// POI card badges
// -----------------------------------------------------------------------------

.card--icon:before
  content: ''
  height: 33px
  left: 15px
  position: absolute
  top: 15px
  width: 24px
  z-index: 4

// -----------------------------------------------------------------------------
// Badge opt-out
// -----------------------------------------------------------------------------

.without-hotel-badges
  .card--poi--hotel.card--small-image
    &:before
      content: none
