// -----------------------------------------------------------------------------
// Card item counts
// -----------------------------------------------------------------------------

.card__item-count
  @extend %freight-semibold
  @extend %no-line-height
  position: absolute
  color: #fff
  font-size: 20px
  left: 10px
  top: 20px
  z-index: 5

  &:before
    @extend %freight-book
    font-size: 35px


  .card--collection--hotels &
    @extend %icon-image-poi-hotel-before

  .card--link--activities &
    @extend %icon-image-poi-activity-before

  .card--link--entertainment &
    @extend %icon-image-poi-entertainment-before

  .card--link--restaurants &
    @extend %icon-image-poi-restaurant-before

  .card--link--shopping &
    @extend %icon-image-poi-shopping-before

  .card--link--sights &
    @extend %icon-image-poi-sight-before

  .card--link--tours &
    @extend %icon-image-poi-tour-before


// -----------------------------------------------------------------------------
// Media card badges
// -----------------------------------------------------------------------------

.card--media__badge
  @extend %freight-book
  @extend %no-line-height
  color: #fff
  font-size: 69px
  left: 75px
  position: absolute
  text-shadow: 0 0 5px rgba(0,0,0,0.75)
  top: 80px
  z-index: 5

  .card--gallery &
    @extend %icon-gallery-before

  .card--video &
    @extend %icon-video-before


// -----------------------------------------------------------------------------
// POI card badges
// -----------------------------------------------------------------------------

%card-icon
  &:before
    @extend %freight-book
    @extend %no-line-height
    cursor: pointer
    font-size: 69px
    left: 10px
    position: absolute
    pointer-events: none
    top: 25px
    z-index: 5

.card--poi
  @extend %card-icon

  &.card--small-image
    &:before
      color: #fff
      font-size: 50px
      text-shadow: 0 0 5px rgba(0,0,0,0.75)
      top: 15px

// TODO: put back POI icon styles when they're required
.with-hotel-badges
  .card--poi--hotel
    &.card--no-image
      @extend %icon-poi-hotel-before
      &:before
        color: $hotels-poi

    &.card--small-image
      @extend %icon-image-poi-hotel-before


// -----------------------------------------------------------------------------
// Other card badges
// -----------------------------------------------------------------------------

.card--destination
  &.card--no-image
    @extend %card-icon
    @extend %local-marker-before
    &:before
      color: #10d6c6

.card--info
  @extend %card-icon
  @extend %icon-poi-info-before
  &:before
    color: $need-to-know-info
    font-size: 50px
