
// -----------------------------------------------------------------------------
// Hero card image overlay
// -----------------------------------------------------------------------------

.card__hero
  &:after
    @extend %empty-abs-generated-content
    background-size: $double-card-width $card-grid-height
    height: $card-grid-height
    left: 0
    pointer-events: none
    top: 0
    width: $double-card-width
  .responsive &:after
    width: 100%
    background-size: 100%
    +respond-to(medium-view)
      background-size: $double-card-width $card-grid-height
      width: $double-card-width

.card__hero--hotels:after
  background-image: image_url('collections/best-places.png')


// -----------------------------------------------------------------------------
// Card Content
// -----------------------------------------------------------------------------

.card__property-type,
.card__context
  +font-size(13)
  display: block
  margin-bottom: 2px
  font-style: italic
  .card--full-image &
    color: white

  .card--full-image &
    color: #fff

.card__name
  +font-size(22)
  +word-break()
  line-height: 1
  margin-bottom: 10px

  .card--standard-image &
    +font-size(19)

  .card--full-image &
    margin-bottom: 0

.card__locale
  +font-size(12)
  @extend %left-icon
  color: $body-copy
  font-weight: bold
  line-height: 14px
  margin-bottom: 10px
  padding-left: 15px
  &:before
    top: 2px
    width: 12px
    height: 12px

.card__description
  +font-size(13)
  line-height: 14px

.card__list
  +font-size(13)
  list-style: circle inside

.card__list__item
  @extend %inline-block
  border-bottom: 1px solid #81BBE3
  margin-bottom: 15px
  &:hover
    text-decoration: none

.card__tour-duration
  @extend %left-icon
  color: $body-copy
  padding-left: 20px
  margin-bottom: 12px
  &:before
    height: 16px
    width: 16px

  .no-js &, .no-background-size &
    padding-left: 0

// -----------------------------------------------------------------------------
// Card Footer
// -----------------------------------------------------------------------------

.card__footer
  +font-size(12)
  position: absolute
  background: #fff
  bottom: 0
  left: 0
  line-height: 12px
  padding: 7px
  right: 0
  z-index: 3
  .homepage &
    display: none

  .btn
    +font-size(13)
    min-height: 0
    padding: 10px 12px
    min-height: 0

  // fade to white at the top of the footer when extended content
  .card--extended-content &
    &:after
      @extend %empty-abs-generated-content
      +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,0.9))
      height: $card-content-vertical-padding
      left: 0
      right: 0
      top: -$card-content-vertical-padding

  // line above some footers, needs to push fade up a smidge
  .card--poi--article &,
  .card--destination &
    border-top: 1px solid #ECF2F5
    padding: 6px 15px 10px 15px
    &:after
      top: -($card-content-vertical-padding + 1)

  .text-icon:before
    width: 16px
    height: 16px


// -----------------------------------------------------------------------------
// Card Footer Items
// -----------------------------------------------------------------------------

.destination__item-count
  +font-size(12)
  margin-right: 5px
  padding-left: 18px
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    height: 16px
    width: 16px
  .no-js &, .no-background-size &
    display: none

// -----------------------------------------------------------------------------
// List view cards
// -----------------------------------------------------------------------------

.card--list
  @extend %rounded-corners
  display: inline-block
  margin-left: 8px
  overflow: hidden
  cursor: pointer
  width: $double-card-width

.card--list__link
  &:hover
    text-decoration: none

.card--list__hero
  background: $body-background-offset
  margin-right: 10px
  height: 50px
  width: 50px
  display: inline-block

.card--list__image
  width: 50px
  height: 50px

.card--list__no-image
  @extend %image-replacement
  background: url(image_path("map-markers.png")) -413px -61px no-repeat
  float: left
  height: 34px
  width: 24px
  margin-top: 8px
  margin-left: 13px

.card--list__name
  +font-size(15)
  font-weight: bold
  height: 50px
  line-height: 50px
  display: inline-block
  vertical-align: top


// -----------------------------------------------------------------------------
// Collection card image attribution
// -----------------------------------------------------------------------------

.has-attribution
  overflow: hidden

  &:hover
    .card__content
      bottom: 0

.card__attribution
  @extend %left-icon
  @extend %icon-gallery-before
  padding-left: 25px
  .card--single &
    color: $feature-copy
    margin-top: 17px
  .card--double &
    position: absolute
    bottom: $card-content-vertical-padding
    left: 0
    right: 0
  &:before
    +font-size(30)
    line-height: 0.333em
  .card--page__hero--attributed &
    &:before
      line-height: 0.55em

.card__attribution-link
  cursor: pointer
  .card--double &
    @extend %inline-block
    @extend %truncate-text
    width: 80%
  &:hover
    text-decoration: underline

.license
  background-image: url(image_path("image-attribute-sprite.png"))
  background-repeat: no-repeat
  display: inline-block
  height: 17px
  text-indent: -999em
  vertical-align: middle
  width: 17px
  .card--single &
    height: 12px
    vertical-align: sub
    width: 13px

.card__licenses
  .card--double &
    float: right

.license--cc
  background-position: 0 0
  .card--single &
    background-position: 0 -21px

.license--attribution
  background-position: -20px 0
  .card--single &
    background-position: -15px -21px

.license--share-alike
  background-position: -40px 0
  .card--single &
    background-position: -30px -21px

.license--non-deriv
  background-position: -61px 0
  .card--single &
    background-position: -46px -21px
