// -----------------------------------------------------------------------------
// 
//  Card page module
// 
// -----------------------------------------------------------------------------

.card--page
  @extend %clearfix
  @extend %four-pixel-rounded
  color: $body-copy
  margin: 0
  padding: 15px
  position: relative
  .card--single + .stack &
    padding: 25px

  .copy--title
    margin: 0
  .section-subtitle
    font-weight: bold

  .map, .media-gallery
    margin-bottom: 35px

  .sharing
    clear: left

  .tag
    +font-size(14)
  .tag--price__amount
    +font-size(30)
    line-height: 0.6em
    margin-bottom: 12px

.card--page__header
  border-bottom: 1px solid $body-background
  margin-bottom: 20px
  padding-bottom: 20px

.card--page__footer
  @extend %clearfix
  clear: left
  color: $header-grey
  margin-top: 20px
  padding-top: 20px

  .section-subtitle
    +font-size(12)
    text-transform: uppercase
  .share-this
    float: left
  .send-this
    float: right

.card--page__related-list
  .section-title
    +font-size(15)
    font-weight: bold
    margin-left: 10px
    margin-top: 30px

.card--page__breadcrumb--type
  font-weight: bold

.card--page__breadcrumb
  @extend %local-marker-before
  line-height: 25px
  position: relative
  text-transform: uppercase

  &:before
    background: url(image_path("map-markers.png")) no-repeat
    content: ''
    float: left
    height: 21px
    margin-right: 5px
    position: relative
    top: 2px
    width: 15px
    z-index: 4
    +retinafy()
      background: url(image_path("map-markers-2x.png")) no-repeat
      background-size: $map-markers-sprite-size

.card--page__breadcrumb--sights:before
  background-position: -15px -103px

.card--page__breadcrumb--activities:before
  background-position: -59px -103px

.card--page__breadcrumb--tours:before
  background-position: -462px -103px

.card--page__breadcrumb--entertainment:before,
.card--page__breadcrumb--entertainment-nightlife:before
  background-position: -104px -103px

.card--page__breadcrumb--hotels:before
  background-position: -149px -103px

.card--page__breadcrumb--restaurants:before
  background-position: -193px -103px

.card--page__breadcrumb--shopping:before
  background-position: -283px -103px

.card--page__breadcrumb--events:before
  background-position: -327px -103px

.card--page__breadcrumb--transport:before
  background-position: -372px -103px

.card--page__breadcrumb--destinations:before
  background-position: -417px -103px

.card--page__breadcrumb--tours:before
  background-position: -461px -103px

.card--page__breadcrumb--articles:before
  background-position: -506px -103px

.card--page__breadcrumb--info:before
  background-position: -551px -103px

.card--page__content
  @extend %grid-column
  margin-right: 20px
  width: 568px
  .card--single + .stack &
    width: 427px

  .section-title
    color: $body-copy
    margin-bottom: 25px
  .section-subtitle
    color: $header-blue
    margin-bottom: 20px
    margin-top: 35px
    text-transform: uppercase

.card--page__aside
  @extend %grid-column
  @extend %transition--base
  position: relative
  width: 382px
  .card--single + .stack &
    width: 300px

  .booking-panel + .details-panel
    border-top: 1px solid $body-background

.card--page__aside--right
  float: right

.aside__content
  .copy--subtitle
    +font-size(14)
    font-weight: bold
    letter-spacing: 0
    margin-bottom: 0
    margin-top: 20px
    text-transform: none

.aside__content--standout
  background-color: $details-panel-bg-darker


// -----------------------------------------------------------------------------
// Tour Itinerary
// -----------------------------------------------------------------------------

.tour-itinerary
  .tour-itinerary__title
    +font-size(15)
    font-weight: bold
    color: $header-grey
  .copy--meta
    margin: 10px 0 20px 0

// -----------------------------------------------------------------------------
// Booking Panel (normally as an aside)
// -----------------------------------------------------------------------------

.booking-panel
  background: $details-panel-bg-darker
  padding: 20px
  position: relative

.booking-panel__logo
  margin-bottom: 20px

// -----------------------------------------------------------------------------
// Details Panel (the lighter panel usually attached to the booking panel)
// -----------------------------------------------------------------------------

.details-panel
  background: $details-panel-bg
  padding: 20px
  .section-title
    color: $header-blue
  .section-glossary
    .section-title
      +font-size(14)
      margin: 20px 0 0
      font-weight: bold

// -----------------------------------------------------------------------------
// Special Offer tag
// -----------------------------------------------------------------------------
.special-offer
  @extend %four-pixel-rounded
  background: $red
  color: #fff
  display: inline-block
  font-size: 11px
  font-weight: bold
  padding: 5px
  text-transform: uppercase
