// Cards Base
//
//
// .card
//
// Styleguide 1.3

// -----------------------------------------------------------------------------
// Base card object and sizing variables
//
// - Width of a Card defaults to single - override when necessary
// -----------------------------------------------------------------------------

$card-grid-height:           380px
$card-grid-half-height:      185px

$standard-card-image-height: 275px
$small-card-image-height:    185px

$default-card-top-padding:    60px
$card-content-padding:        15px
$card-hotel-content-padding:  13px
$image-only-padding:           7px


// -----------------------------------------------------------------------------
// Card Base
// -----------------------------------------------------------------------------

.card
  @extend %standard-shadow
  background: #fff
  margin-bottom: 10px
  position: relative

  // apply hover state only to cards in the results area
  .results &
    .js-hover &:hover
      +box-shadow(2, 2, 2, 0, rgba(3, 46, 92, 0.15))

  // hide the content area for image-only cards when it's not hovered over
  &.card--image-only
    overflow: hidden


// -----------------------------------------------------------------------------
// Card Images
// -----------------------------------------------------------------------------

.card__hero
  height: $standard-card-image-height
  overflow: hidden
  position: relative

  .card__image
    height: 100%

  // darken the image when card is hovered over
  .js-hover .card:hover &
    &:after
      @extend %empty-abs-generated-content
      background-color: rgba(0,0,0,0.3)
      height: 100%
      left: 0
      top: 0
      width: 100%

  .card--small-image &
    height: $small-card-image-height

  .card--full-image &
    height: $card-grid-height

  .card--image-only &
    height: $card-grid-half-height - (2 * $image-only-padding)
    margin: $image-only-padding


// -----------------------------------------------------------------------------
// Card Content Areas
// -----------------------------------------------------------------------------

.card__content
  color: $new-header-grey
  height: ($card-grid-height - $standard-card-image-height - (2 * $card-content-padding) )
  overflow: hidden
  margin-bottom: $card-content-padding
  padding: $card-content-padding $card-content-padding 0 $card-content-padding

  .card--no-image &
    height: $card-grid-height - $default-card-top-padding - $card-content-padding
    padding-top: $default-card-top-padding

  .card--small-image &
    height: ($card-grid-height - $small-card-image-height - (2 * $card-content-padding) )

  .card--full-image &
    +background-gradient($startColor: rgba(0,0,0,0), $endColor: rgba(0,0,0,0.75))
    bottom: 0
    color: #fff
    height: auto
    left: 0
    margin: 0
    padding: $card-content-padding
    position: absolute
    right: 0

  .card--image-only &
    @extend %transition--base
    @extend %subpixel-text
    bottom: -54px // This accommodates for 3 lines of copy.
    color: #fff
    height: auto
    left: 0
    line-height: 18px
    margin: 0
    padding: 0 $card-content-padding
    position: absolute
    right: 0

  .js-hover .card--image-only:hover &
    bottom: 3px


// -----------------------------------------------------------------------------
// Card Extended Content
// -----------------------------------------------------------------------------

.card--extended-content
  height: $card-grid-height

  .card__content
    +transition(height, 0.3, ease)
    background: #fff
    bottom: 0
    left: 0
    position: absolute
    right: 0
    z-index: 3
    padding: $card-content-padding $card-content-padding 0 $card-content-padding
    margin-bottom: $card-content-padding

    &:after
      @extend %empty-abs-generated-content
      +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,0.9))
      height: $card-content-padding
      left: 0
      right: 0
      bottom: 0

  &:hover
    .card__content
      height: $card-grid-height - ( 2*$card-hotel-content-padding) - 45px !important // important until hotel image padding is the same...

      &:after
        content: none

    .card__footer
      &:after
        content: none
