// -----------------------------------------------------------------------------
// 
//  Card page module
// 
// -----------------------------------------------------------------------------

.card--page
  @extend %clearfix
  @extend %four-pixel-rounded
  color: $body-copy
  padding: 25px
  position: relative

  .copy--title
    margin: 0
  .section-subtitle
    font-weight: bold

  .map, .media-gallery
    margin-bottom: 35px

  .sharing
    clear: left

  .tag
    @extend %regular-type-size
  .tag--price__amount
    font-size: 30px
    line-height: 0.6em
    margin-bottom: 12px

.card--page__header
  border-bottom: 1px solid $ruled-separator
  margin-bottom: 20px
  padding-bottom: 20px

.card--page__footer
  @extend %clearfix
  clear: left
  color: $new-header-grey
  margin-top: 20px
  padding-top: 20px

  .section-subtitle
    @extend %small-type
    text-transform: uppercase
  .share-this
    float: left
  .send-this
    float: right

.card--page__related-list
  .section-title
    @extend %larger-type
    font-weight: bold
    margin-left: 10px
    margin-top: 30px

.card--page__breadcrumb
  @extend %local-marker-before
  line-height: 25px
  position: relative
  text-transform: uppercase

  &:before
    +font-size(35)
    position: relative
    top: 4px

.card--page__breadcrumb--activity:before
  color: $activity-poi

.card--page__breadcrumb--tour:before
  color: $tour-poi

.card--page__breadcrumb--sight:before
  color: $sight-poi

.card--page__breadcrumb--transport:before
  color: $title

.card--page__breadcrumb--restaurant:before
  color: $restaurant-poi

.card--page__breadcrumb--shopping:before
  color: $shopping-poi

.card--page__breadcrumb--entertainment:before,
.card--page__breadcrumb--entertainment-nightlife:before
  color: $entertainment-poi

.card--page__breadcrumb--hotel:before
  color: $hotels-poi

.card--page__breadcrumb--type
  font-weight: bold

.card--page__content
  @extend %grid-column
  margin-right: 20px
  width: 626px
  .card--single + .stack &
    width: 427px

  .section-title
    color: $body-copy
    margin-bottom: 25px
  .section-subtitle
    color: $header-blue
    margin-bottom: 20px
    margin-top: 35px
    text-transform: uppercase

.card--page__aside
  @extend %grid-column
  @extend %transition--base
  position: relative
  width: 300px

  .booking-panel + .details-panel
    border-top: 1px solid $ruled-separator

// -----------------------------------------------------------------------------
// Tour Itinerary
// -----------------------------------------------------------------------------

.tour-itinerary
  .tour-itinerary__title
    font-weight: bold
  .copy--body
    margin: 20px 0

// -----------------------------------------------------------------------------
// Booking Panel (normally as an aside)
// -----------------------------------------------------------------------------

.booking-panel
  background: $info-background
  padding: 20px
  position: relative

.booking-panel__logo
  margin-bottom: 20px

// -----------------------------------------------------------------------------
// Details Panel (the lighter panel usually attached to the booking panel)
// -----------------------------------------------------------------------------

.details-panel
  background: $secondary-content-bg
  padding: 20px
  .section-glossary
    .section-title
      @extend %regular-type-size
      margin: 20px 0 5px

// -----------------------------------------------------------------------------
// Special Offer tag
// -----------------------------------------------------------------------------
.special-offer
  @extend %four-pixel-rounded
  background: $red
  color: #fff
  display: inline-block
  font-size: 11px
  font-weight: bold
  padding: 5px
  text-transform: uppercase
