// -----------------------------------------------------------------------------
// 
//  Card page module
// 
// -----------------------------------------------------------------------------

.card--page
  @extend %clearfix
  @extend %rounded-corners
  color: $body-copy
  padding: 25px
  position: relative

  .copy--h1
    line-height: 1.1em
    margin: 0 0 10px 0
  .sharing
    clear: left

  .tag
    +font-size(14)
  .tag--price__amount
    +font-size(30)
    line-height: 0.6em
    margin-bottom: 12px

.card--page__hero
  border-radius: 4px 4px 0 0
  height: 300px
  overflow: hidden
  position: relative
  &:after
    +filter(drop-shadow(0 0 15px #{rgba($darkblue, 0.3)}))
    @extend %empty-abs-generated-content
    background-repeat: no-repeat
    background-size: 250px
    background-position: center
    top: 0
    left: 0
    width: 100%
    height: inherit
  > img
    width: 100%
  .card__content
    z-index: 1
  .card__name
    +font-size(32)
    margin-bottom: 5px


.card--page__inner
  @extend %clearfix

.card--page__header
  border-bottom: 1px solid $body-background
  margin-bottom: 20px
  padding-bottom: 20px

.card--top-choice
  &:after
    @extend %empty-abs-generated-content
    background: url(image_path("lodgings-spt.png"))
    top: -5px
    left: 17px
    height: 95px
    width: 63px
    +retinafy()
      background: url(image_path("lodgings-spt-2x.png"))
      background-size: $lodgings-sprite-size

  .card--page__header
    min-height: 60px
    padding-left: 73px


.card--page__footer
  @extend %clearfix
  clear: left
  color: $header-grey
  margin-top: 20px
  padding-top: 20px
  .send-this
    float: right

// Should really live elsewhere, or be a margin-bottom on card--page
.section--related-content
  margin-top: 30px

.card--page__breadcrumb--type
  font-weight: bold

.card--page__breadcrumb
  @extend %local-marker-before
  line-height: 25px
  position: relative
  text-transform: uppercase

  &:before
    background: url(image_path("map-markers.png")) no-repeat
    content: ''
    float: left
    height: 21px
    margin-right: 5px
    position: relative
    top: 2px
    width: 15px
    z-index: 4
    +retinafy()
      background: url(image_path("map-markers-2x.png")) no-repeat
      background-size: $map-markers-sprite-size

.card--page__breadcrumb--sight:before
  background-position: -15px -103px

.card--page__breadcrumb--activity:before
  background-position: -59px -103px

.card--page__breadcrumb--tour:before
  background-position: -462px -103px

.card--page__breadcrumb--entertainment:before,
.card--page__breadcrumb--entertainment-nightlife:before
  background-position: -104px -103px

.card--page__breadcrumb--hotels:before
  background-position: -149px -103px

.card--page__breadcrumb--restaurant:before
  background-position: -193px -103px

.card--page__breadcrumb--shopping:before
  background-position: -283px -103px

.card--page__breadcrumb--event:before
  background-position: -327px -103px

.card--page__breadcrumb--transport:before
  background-position: -372px -103px

.card--page__breadcrumb--destinations:before
  background-position: -417px -103px

.card--page__breadcrumb--tour:before
  background-position: -461px -103px

.card--page__breadcrumb--articles:before
  background-position: -506px -103px

.card--page__breadcrumb--info:before
  background-position: -551px -103px

.card--page__content
  @extend %grid-column
  margin-right: 20px
  width: 548px
  .card--single + .stack &
    width: 427px

.card--page__aside
  @extend %grid-column
  @extend %transition--base
  position: relative
  width: 382px
  .card--single + .stack &
    width: 300px

  .booking-panel + .details-panel
    border-top: 1px solid $body-background

.card--page__aside--right
  float: right

.aside__content--standout
  background-color: $details-panel-bg-darker


// -----------------------------------------------------------------------------
// Tour Itinerary
// -----------------------------------------------------------------------------

.tour-itinerary
  .copy--meta
    margin: 10px 0 20px 0

// -----------------------------------------------------------------------------
// Booking Panel (normally as an aside)
// -----------------------------------------------------------------------------

.booking-panel
  background: $details-panel-bg-darker
  padding: 20px
  position: relative

.booking-panel__logo
  margin-bottom: 20px

// -----------------------------------------------------------------------------
// Details Panel (the lighter panel usually attached to the booking panel)
// -----------------------------------------------------------------------------

.details-panel
  background: $details-panel-bg
  padding: 20px

.section-glossary
  .copy--h3
    +font-size(14)
    margin: 20px 0 0
  .copy--meta
    margin-bottom: 10px
  ul
    padding-left: 1.2em
    list-style: circle
  li
    margin-bottom: 0

// -----------------------------------------------------------------------------
// Special Offer tag
// -----------------------------------------------------------------------------
.special-offer
  @extend %rounded-corners
  background: $red
  color: #fff
  display: inline-block
  font-size: 11px
  font-weight: bold
  padding: 1px 5px 2px 5px
  text-transform: uppercase
  margin-right: 5px


// -----------------------------------------------------------------------------
// Partner Copy
// -----------------------------------------------------------------------------
.copy--viator
  b.partner
    @extend .copy--h3
