// -----------------------------------------------------------------------------
// Hero card image overlay
// -----------------------------------------------------------------------------

.card__hero--hotels
  &:after
    @extend %empty-abs-generated-content
    background-image: image_url('collections/best-places.png')
    background-size: $double-card-width $card-grid-height
    height: $card-grid-height
    left: 0
    pointer-events: none
    top: 0
    width: $double-card-width

.card__property-type,
.card__context
  @extend %small-type
  display: block
  margin-bottom: 2px

.card__name
  @extend %large-type
  +word-break()
  font-weight: bold
  line-height: 17px
  margin-bottom: 12px

  .card--standard-image &
    +font-size(19)

.card__locale
  @extend %serif
  @extend %small-type
  color: $body-copy
  font-style: italic
  line-height: 14px
  margin-bottom: 12px

.card__description
  @extend %smooth-text
  @extend %irregular-type
  color: $body-copy
  line-height: 14px

.card__list
  @extend %smooth-text
  @extend %irregular-type
  color: $body-copy
  list-style: circle inside

.card__list__item
  @extend %inline-block
  border-bottom: 1px solid #81BBE3
  margin-bottom: 15px
  &:hover
    text-decoration: none

// -----------------------------------------------------------------------------
// Card Footer
// -----------------------------------------------------------------------------

.card__footer
  @extend %small-type
  position: absolute
  background: #fff
  bottom: 0
  color: $body-copy
  left: 0
  padding: 8px $card-content-padding $card-content-padding
  right: 0
  z-index: 3

  // fade to white at the top of the footer when extended content
  .card--extended-content &
    &:after
      @extend %empty-abs-generated-content
      +background-gradient($startColor: rgba(255,255,255,0), $endColor: rgba(255,255,255,0.9))
      height: $card-content-padding
      left: 0
      right: 0
      top: -$card-content-padding

.destination__item-count
  @extend %irregular-type
  color: $body
  margin-right: 5px
  &:before
    @extend %benton-regular

.destination__item-count--sights
  @extend %icon-image-poi-sight-before
  &:before
    font-size: 25px

.destination__item-count--lodgings
  @extend %icon-image-poi-hotel-before
  &:before
    font-size: 30px


// -----------------------------------------------------------------------------
// Differences for hotel cards
// -----------------------------------------------------------------------------

.card--poi--hotel
  border-bottom: 2px solid $hotels-poi

  .card__content
    height: $card-grid-height - $default-card-top-padding - $card-content-padding - 2px // account for border

  &.card--small-image
    border: 0

    .card__content
      padding: $card-hotel-content-padding
      height: ($card-grid-height - $small-card-image-height - (2 * $card-hotel-content-padding) )

  .card__footer
    padding: 8px

  .btn--bookable
    @extend %irregular-type
    padding: 10px 12px
    width: auto

  .badge--lp-reviewed
    left: 8px
    height: 23px

  .badge--top-choice
    height: 24px
    left: 38px

.without-hotel-badges
  .card--poi--hotel.card--small-image
    &:before
      content: none
