// -----------------------------------------------------------------------------
// Card item counts
// -----------------------------------------------------------------------------

.card__item-count
  +font-size(20)
  @extend %no-line-height
  position: absolute
  color: #fff
  left: 10px
  top: 15px
  z-index: 5
  // Stop clipping in IE
  height: 30px

  &:before
    +font-size(35)
    position: relative
    top: 3px


  .card--collection--hotels &
    @extend %icon-image-poi-hotel-before

  .card--link--activities &
    @extend %icon-image-poi-activity-before

  .card--link--entertainment &
    @extend %icon-image-poi-entertainment-before

  .card--link--restaurants &
    @extend %icon-image-poi-restaurant-before

  .card--link--shopping &
    @extend %icon-image-poi-shopping-before

  .card--link--sights &
    @extend %icon-image-poi-sight-before

  .card--link--tours &
    @extend %icon-image-poi-tour-before


// -----------------------------------------------------------------------------
// Media card badges
// -----------------------------------------------------------------------------

.card--media__badge
  +filter(drop-shadow(0 0 5px rgba(0,0,0,0.5)))
  left: 75px
  position: absolute
  top: 80px
  z-index: 5

