// ----------------------------------------------------------
// Header and Footer
// ----------------------------------------------------------

// Core layout sprite (header/footer)
@mixin core-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("global/core-spt.png")) $R $x $y $color

// Things-to-do navigation bare
@mixin ttd-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("ttd/dest-spt-bar.png")) $R $x $y $color

// Core buttons icons  
@mixin btn-spt
  background: url(image_path("ttd/btn-spt.png")) 0 0 no-repeat

// Arrows chevrons icons
@mixin arrows-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("ttd/arrows-spt.png")) $R $x $y $color

// main section background
@mixin bck-v-line
  background: url(image_path("ttd/global-sl-bg.gif")) repeat-y 0 0 transparent

// Ad vertical notice
@mixin leaderboard-ad-notice
  background: url(image_path("global/advertisement_vertical.gif")) no-repeat right 3px transparent

// Header elements coordinates & hover behaviour
@mixin icn-cart-nav
  @include core-spt(-92px,-65px)
@mixin btn-arrow-down
  @include core-spt(1px,-69px)
@mixin btn-arrow-down-tab-hover
  background-position: -75px -69px
@mixin btn-arrow-down-hover
  background-position: -37px -69px!important
@mixin btn-arrow-right
  @include core-spt(3px,-88px)
@mixin btn-arrow-right-tab-hover
  background-position: -73px -87px
@mixin btn-arrow-right-hover
  background-position: -35px -87px
@mixin img-logo-lp
  @include core-spt(0px,0px)
@mixin btn-search-bck
  @include core-spt(-60px,-203px)
@mixin btn-search-bck-hover
  background-position: -2px -203px
@mixin footer-shadow-stripe
  @include core-spt(0,-479px, repeat-x, #ddddd5)


// Footer icons
@mixin icn-newsletter
  @include core-spt(0,-370px)
@mixin icn-mobile
  @include core-spt(0,-443px)
@mixin icn-follow
  @include core-spt(0,-406px)
@mixin icn-blogs
  @include core-spt(0,-333px)
@mixin icn-magazine
  @include core-spt(-1px,-296px)
@mixin img-footer-logo
  @include core-spt(-1px,-107px)
@mixin icn-mail-no-msg
  @include core-spt(-99px,-92px)
@mixin icn-mail-msg
  @include core-spt(-99px,-115px)

// Breadcrumgs
@mixin breadcrumb-slash
  @include core-spt(right,-155px)



// ----------------------------------------------------------
// Things to do navigation bar
// ----------------------------------------------------------

@mixin bck-ttd-nav
  @include ttd-spt(0,-553px, repeat-x)
@mixin icn-ttd-all
  @include ttd-spt(5px, 8px)
@mixin icn-ttd-activities
  @include ttd-spt(5px,-65px)
@mixin icn-ttd-entertainment
  @include ttd-spt(5px,-138px)
@mixin icn-ttd-restaurants
  @include ttd-spt(5px,-176px)
@mixin icn-ttd-shopping
  @include ttd-spt(5px,-102px)
@mixin icn-ttd-sights
  @include ttd-spt(5px,-28px)
@mixin icn-ttd-tours
  @include ttd-spt(5px,-510px)
@mixin icn-ttd-hotels
  @include ttd-spt(5px,-434px)
@mixin icn-ttd-hotels-gray
  @include ttd-spt(0px,-710px)

@mixin title-bar-inner-shadow
  @include core-spt(0,-230px, repeat-x)


// ----------------------------------------------------------
// LP_Swipe
// ----------------------------------------------------------

@mixin lp_swipe_loader
  @include img('../../images/common-ui/lp_swipe_preloader_c.gif', transparent,  0, 0)
  
@mixin lp_swipe_left
  @include img('../../images/common-ui/arrow-left.png', transparent,  top, left, no-repeat)
  
@mixin lp_swipe_right
  @include img('../../images/common-ui/arrow-right.png', transparent,  top, left, no-repeat)


// ----------------------------------------------------------
// Buttons
// ----------------------------------------------------------

@mixin lp_buy_now_bg
  @include img('../../images/common-ui/btn_buy_bg.png', transparent,  top, left, repeat-x)
  
@mixin lp_buy_now_arrow
  @include img('../../images/common-ui/btn_buy_arrow_no_s.png', transparent,  top, left, no-repeat)

@mixin lp_rgba_000_40
  @include img('../../images/common-ui/1pxblack40opacity.png', transparent,  top, left, repeat)


// Base actions buttons
@mixin btn-white
  background-position: 0 -150px
@mixin btn-white-angle
  background-position: 100% -120px
@mixin btn-orange
  background-position: 0 0
@mixin btn-orange-angle
  background-position: 100% -30px
@mixin btn-orange-dark
  background-position: 0 -60px
@mixin btn-orange-dark-angle
  background-position: 100% -90px

// arrows & chevrons
@mixin icn-arrow-down
  @include arrows-spt(100%,-417px)
@mixin icn-arrow-up
  @include arrows-spt(100%,-438px)
@mixin icon-chevron-back  
  @include arrows-spt(-7px,-102px)
@mixin icon-chevron-forward
  @include arrows-spt(-3px,-2px)


// ----------------------------------------------------------
// Hotels & Lodgings
//
// Sprite mixin references
//
// sample usage:
//   @include lodging-spt(-1px,-288px)
//
// ----------------------------------------------------------



// Main lodging sprite for hotel generic images elements
@mixin lodging-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("lodgings-spt.png")) $R $x $y $color

// Partners logo sprite
@mixin partners-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("partners-spt.png")) $R $x $y $color

// Lodging icons sprite
@mixin icons-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("icons-spt.png")) $R $x $y $color

// Lodging map pins   
@mixin lp-map-pins-spt($x:0px,$y:0px, $R:no-repeat, $color:transparent)
  background: url(image_path("lp-map-pins-spt.png")) $R $x $y $color

// endorsment
@mixin endorsement-lp-review-small
  background: url(image_path("ttd/authorLp-19x19.gif")) no-repeat 0 3px transparent

@mixin lp-section-toggle-background
  background: url(image_path("components/lp-section-toggle-overlay.png")) repeat-x 0 0
  
// Lodging details
@mixin lp-bubble
  @include lodging-spt(-1px,-288px)
@mixin lodging-star-rating
  @include lodging-spt(-1px,-2px)
@mixin lodging-map-thumb
  @include lodging-spt(-1px,-29px)

// Lodging maps
@mixin bed-pin
  @include lp-map-pins-spt(0px,-55px)

// Lodging endorsment
@mixin endorsement-top-choice
  @include lodging-spt(-1px,-179px)
  width: 103px
  height: 45px

// Lp Endorsment Lp author review small
@mixin endorsement-lp-review-small 
  @include lodging-spt(-125px,3px)

// Lp Reviewed badge
@mixin lp-reviewed-badge
  @include lodging-spt(-99px, -99px)

// Top choice badge
@mixin top-choice-badge
  @include lodging-spt(-82px, -131px)

// White price tag - 14px x 14px
@mixin price-tag-white
  @include lodging-spt(-81px, -99px)

// Locale pin - grey
@mixin locale-pin-grey
  @include lodging-spt(-82px, -115px)

// Blue deal banner on card
@mixin deal-banner-blue
  @include lodging-spt(-80px, -29px)
  
// Lodging booking-form
@mixin booking-nights-bck
  @include lodging-spt(-1px,-109px, no-repeat, #f3f3f3)
  width: 70px
  height: 70px

// Search error hazard sign
@mixin hazard-sign
  @include lodging-spt(0,-228px)

// Lodging provider logo
@mixin booking-provider-expedia
  width: 98px
  height: 31px
  @include partners-spt(-1px,-1px, no-repeat, #ececec)

@mixin booking-provider-hostelworld
  width: 128px
  height: 31px
  @include partners-spt(-1px,-33px, no-repeat, #ececec)


//Lodging icon
@mixin icon-telephone-large
  @include icons-spt(18px,-55px, no-repeat, $bookable-orange)
@mixin icon-telephone
  @include icons-spt(right,-29px)
@mixin icon-mouse
  @include icons-spt(right,-29px)
@mixin icon-url
  @include icons-spt(right,-29px)
@mixin icon-calendar
  @include icons-spt(right,-2px)
@mixin icon-selector-handler
  @include icons-spt(right,-29px)
@mixin icon-email-small
  @include icons-spt(-9px,-172px)
@mixin icon-phone-small
  @include icons-spt(-9px,-110px)
@mixin icon-url-small
  @include icons-spt(-9px,-142px)

//Lodging gallery arrows
@mixin icon-move-right
  @include icons-spt(-1px,-244px)
  &:hover
    background-position-x: -21px
@mixin icon-move-left
  @include icons-spt(0px,-204px)
  &:hover
    background-position-x: -20px

// Things-to-do nav bar
@mixin icn-ttd-price-1
  @include icons-spt(-1px,-405px)
@mixin icn-ttd-price-2
  @include icons-spt(-1px,-356px)
@mixin icn-ttd-price-3
  @include icons-spt(-1px,-306px)

// secondary nav bar bck
@mixin title-bar-inner-shadow
  @include core-spt(0,-230px, repeat-x)
