// --------------------------------------------------------------------------------------
// Only import this file in development mode
//
// Toggle a .debug class on <body> to activate/deactivate the debugging
// --------------------------------------------------------------------------------------

@mixin debug()
  .debug 
    // Highlight your grid - add an extra class of grid to get this as the colours can distract from the later debug styles
    &.grid
      .col, [class^="col-"]
        min-height: 60px
        margin-bottom: 20px

        &:nth-child(1)
          background-color: #04879B

        &:nth-child(2)
          background-color: #0A4F9C

        &:nth-child(3)
          background-color: darken(#F3F2E8, 15)

        &:nth-child(4)
          background-color: #41624B
    
        &:nth-child(5)
          background-color: #2E3438

    // Inline styles aren’t great, can they be avoided?
    [style],
    style  
      outline: 5px solid yellow
    style
      display: block
  
    // Testing for Images without alt attributes
    img
      outline: 5px solid red
    img[alt]
      outline-color: green
    img[alt=""]
      outline-color: yellow
  
    // Testing for links without titles - not a necessity but can be helpful
    a
      outline: 5px solid yellow
    a[title]
      outline-color: green

    // Testing for empty class/id attributes
    [class=""],
    [id=""]
      outline: 5px solid yellow