// --------------------------------------------------------------------------------------
//  This grid should be used for positioning as much as possible throughout lp.com 
//  It compiles to 13 lines minified.
// 
// 
// 
//  The naming of the class on the containing elem dictates the number of columns in the grid.
// 
//  By using negative margins we remove the need for a .last class
// 
//   Example markup:
// 
//   <ul class="grid-3">
//     <li class="col-1"></li>
//     <li class="col-2"></li>
//   </ul>
//  
// --------------------------------------------------------------------------------------
 
  
// --------------------------------------------------------------------------------------
//  Simple Grid Mixin
// 
//  Simply specify your preferred gutter width in percent and the number of columns you need
// --------------------------------------------------------------------------------------


@mixin lp_grid($gutter: 5%, $maxColumns: 6)

  $width: 100%
  $ie7gutter: #{$gutter - 1}

  [class^="grid-"]
    margin-left: -($gutter)
    @extend .cf

  .col, [class^="col-"]
    @extend .lft
    margin-left: $gutter
    *margin-left: $ie7gutter
    display: block // So we can apply columns to any element //
    list-style: none // So we can apply columns to lists //

  @for $i from 1 through $maxColumns
    .grid-#{$i} > .col-#{$i}
      @extend %no-float


  @for $i from 2 through $maxColumns
    @for $x from 1 to $i
      .grid-#{$i} > .col-#{$x}
        width: (($width / $i) * $x) - $gutter

  .col, [class^="grid-"] > [class^="col-"], [class^="grid-"] > .col
    @include respond-to(1)
      width: 100%
