// -----------------------------------------------------------------------------
// Core Colours
// -----------------------------------------------------------------------------

$header-blue               : #000066 !default
$soft-grey                 : #666 !default
$light-grey                : #f3f3f3 !default
$previous-price            : #ffc186 !default
$price-tag-orange          : #f47922 !default

// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------


$legacy_base_font_size    : 12px !default
$base_font_size           : 14 !default
$base_font_color          : #333 !default
$link_color               : #07C !default 
$disabled_text_color      : #bbb !default


// -----------------------------------------------------------------------------
// Validation Colours
// -----------------------------------------------------------------------------

$error-box-background: #F7E4E4
$error-text-color: #fc1c1c

// -----------------------------------------------------------------------------
// Hotels Colours
// -----------------------------------------------------------------------------

// lodging colors
$bookable-orange          : #f77900
$dark-blue                : #034DA2
$light-blue               : #e5effb
$lp-blue                  : #E5EFFB
$high-blue                : #0065ce
$good-black               : #333
$idle-grey                : #e2e2e2
$good-blue                : #07C

// map colors
$map-road-color           : #f4f5f7 
$map-highway-color        : #a9b3bf 
$map-main-road-color      : #9babcf
$map-street-color         : #f4f5f7
$map-label-street-color   : #4d5b78
$map-label-zone-color     : #3f4f70
$map-park-color           : #cbcfda



