// -----------------------------------------------------
// Cross Browser
// -----------------------------------------------------

%inline-block
  display: inline-block
  zoom: 1
  *display: inline

%web-kit-appearance-reset
  -webkit-appearance: none

