// -----------------------------------------------------------------------------
// Cross Browser
// -----------------------------------------------------------------------------

%inline-block
  display: inline-block
  zoom: 1
  *display: inline

%webkit-appearance-reset
  -webkit-appearance: none

