%standard-shadow
  +box-shadow(1, 1, 2, 0, rgba(0,0,0,0.1))

%white-background
  background: #fff

%active-background
  background-color: $active
  color: #fff

%four-pixel-rounded
  +border-radius(4)