%standard-shadow
  +box-shadow(1px, 1px, 2px, 0, rgba(0,0,0,0.1))

%white-background
  background: #fff

%active-background
  background-color: $active
  color: #fff

%ryanair
  background-color: $bookable
  color: $feature-text