// -----------------------------------------------------------------------------
//  Icon sizes
// -----------------------------------------------------------------------------

%icon-btn
  cursor: pointer
  height: 22px
  width: 22px

%small-icon  
  width: 16px
  height: 16px

%regular-icon
  width: 32px
  height: 32px


// -----------------------------------------------------------------------------
// Helper extends for positioning icons at the horizontal extremes of an 
// element
// -----------------------------------------------------------------------------

%left-icon
  @extend %relative
  &:before
    @extend %benton-regular
    @extend %absolute-left
    @extend %small-icon
    display: block

%right-icon
  @extend %relative
  &:after
    @extend %benton-regular
    @extend %absolute-right
    @extend %small-icon
    display: block

%hide-left-icon-text
  text-indent: -999em
  &:before
    text-indent: 0

%hide-right-icon-text
  text-indent: -999em
  &:after
    text-indent: 0


// -----------------------------------------------------------------------------
// Unicode references for our icon set
// -----------------------------------------------------------------------------

%date-icon-before:before
  content: "\e033"
%date-icon-after:after
  content: "\e033"


%filter-icon-before:before
  content: "\e034"
%filter-icon-after:after
  content: "\e034"


%arrow-icon-before:before
  content: "\e024"
%arrow-icon-after:after
  content: "\e024"


%the-dude-before:before
  content: "\e03b"
%the-dude-after:after
  content: "\e03b"


%website-icon-before:before
  content: "\e03d"
%website-icon-after:after
  content: "\e03d"

%chevron-up-before:before
  content: "\e032"
%chevron-up-after:after
  content: "\e032"


%chevron-down-before:before
  content: "\e030"
%chevron-down-after:after
  content: "\e030"


%chevron-left-before:before
  content: "\e031"
%chevron-left-after:after
  content: "\e031"


%chevron-right-before:before
  content: "\e029"
%chevron-right-after:after
  content: "\e029"


%tick-icon-before:before
  content: "\e039"
%tick-icon-after:after
  content: "\e039"

%phone-icon-before:before
  content: "\e041"
%phone-icon-after:after
  content: "\e041"



%lp-review-bubble-before:before
  content: "\e044"
%lp-review-bubble-after:after
  content: "\e044"

%top-choice-before:before
  content: "\e043"
%top-choice-after:after
  content: "\e043"



// -----------------------------------------------------------------------------
// POI Icons
// -----------------------------------------------------------------------------

%icon-poi-sight-before:before
  content: "\e02a"
%icon-poi-sight-after:after
  content: "\e02a"

%icon-poi-activity-before:before
  content: "\e02b"
%icon-poi-activity-after:after
  content: "\e02b"

%icon-poi-entertainment-before:before
  content: "\e02c"
%icon-poi-entertainment-after:after
  content: "\e02c"

%icon-poi-hotel-before:before
  content: "\e02d"
%icon-poi-hotel-after:after
  content: "\e02d"

%icon-poi-bar-before:before
  content: "\e02e"
%icon-poi-bar-after:after
  content: "\e02e"
    
%icon-poi-restaurant-before:before
  content: "\e02f"
%icon-poi-restaurant-after:after
  content: "\e02f"

%icon-poi-shopping-before:before
  content: "\e035"
%icon-poi-shopping-after:after
  content: "\e035"
  
%icon-poi-festival-before:before
  content: "\e036"
%icon-poi-festival-after:after
  content: "\e036"

%icon-poi-transport-before:before
  content: "\e037"
%icon-poi-transport-after:after
  content: "\e037"


















