%block
  display: block

%icon-btn
  cursor: pointer
  height: 22px
  width: 22px
  @extend %block

%small-icon  
  width: 16px
  height: 16px

%regular-icon
  width: 32px
  height: 32px

%left-icon
  @extend %relative
  &:before
    @extend %benton-regular
    @extend %block
    @extend %absolute-left
    @extend %small-icon

%right-icon
  @extend %relative
  &:after
    @extend %benton-regular
    @extend %block
    @extend %absolute-right
    @extend %small-icon

%date-icon
  @extend %left-icon
  padding-left: 25px
  &:before
    content: "\e033"
    font-size: 34px
    top: -2px
    color: $active
  .active &, &.active
    &:before
      color: white

%filter-icon
  @extend %left-icon
  padding-left: 21px
  &:before
    content: "\e034"
    font-size: 34px
    top: -2px
    color: $active
  .active &, &.active
    &:before
      color: white

%arrow-icon
  @extend %left-icon
  padding-left: 20px
  &:before
    content: "\e024"
    font-size: 28px
    top: -2px
    color: #ccc
  .active &, &.active
    &:before
      color: $subdued-active

%the-dude
  @extend %left-icon
  &:before
    +font-size(100)
    @extend %no-line-height
    width: 45px
    height: 60px
    content: "\e03b"

%chevron-vertical
  @extend %right-icon
  padding-right: 21px
  &:after
    content: "\e030"
    font-size: 20px
    top: -1px
    color: $active
  .active > &, &.active
    &:after
      content: "\e032"
      color: $subdued-active

%chevron-horizontal
  @extend %right-icon
  padding-right: 21px
  &:after
    content: "\e029"
    font-size: 20px
    color: $active











