// -----------------------------------------------------
// Links
// -----------------------------------------------------

%blue-link-reverse
  background-color: $link_color
  text-decoration: none
  color: #fff

%grey-link-reverse  
  background: #666
  color: #fff

// Wrapper link can be used when nesting elements within block links
%wrapper-link
  display: block
  height: 100%
  &:hover
    text-decoration: none