// -----------------------------------------------------
// Links
// -----------------------------------------------------

%blue-link-reverse
  background-color: $link_color
  text-decoration: none
  color: #fff

%grey-link-reverse  
  background: #666
  color: #fff

// For use when nesting elements within links
%wrapper-link
  display: block
  height: 100%
  color: $base_font_color
  &:hover
    text-decoration: none