// -----------------------------------------------------------------------------
// Lists
// -----------------------------------------------------------------------------

%no-list-style
  list-style: none

// -----------------------------------------------------------------------------
// Stacked navigation
// -----------------------------------------------------------------------------

%stacked-nav
  @extend %no-list-style
  .item
    display: block


// -----------------------------------------------------------------------------
// Ruled list e.g. Services and facilities
// -----------------------------------------------------------------------------

%ruled-list
  @extend %stacked-nav
  .item
    +vertically-center(50px)
    border-top: 1px solid $ruled-list-separator
  .title
    @extend %bold-text
    color: $header-gray
    
  





