// -----------------------------------------------------------------------------------------------------------------
// 
// Media Object (http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/)
// 
// -----------------------------------------------------------------------------------------------------------------

%media
  @extend %clearfix
  margin-bottom: 10px

  .img
    @extend %float-left
    margin: 0 10px 0 0

    img
      display: block

  .bd 
    @extend %relative
    overflow: hidden