// -----------------------------------------------------------------------------------------------------------------
// 
// Media Object (http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/)
// 
// -----------------------------------------------------------------------------------------------------------------

%media
  margin-bottom: 10px
  
  .img
    float: left
    margin: 0 1em 0 0
    
    img
      display: block
  
  .bd 
    position: relative
    *zoom: 1


// -----------------------------------------------------------------------------------------------------------------
// 
// Image Stack Object
//
// Designed to work with an image/text/call-to-action stack that is often used on lp.com
//
// This will work with/without html5 elements and with/without the nested container (figcaption, div or other)
//
// E.g.
//
// <figure class="img-stk">
//   <a href="" class="img">
//     <img src="" />
//   </a>
//   <figcaption>
//     <p class="txt"></p>
//     <a href=""></a>
//   </figcaption>
// </figure>
// -----------------------------------------------------------------------------------------------------------------

%image-stack
  
  img, .img
    margin-bottom: 10px
    display: block
    overflow: hidden // Apply a height (smaller than your smallest image) to .img in your app stylesheet to maintain vertical consistency with your images
  
  .img > img
    margin-bottom: 0
    
  .txt
    display: block
    margin-bottom: 10px