// -----------------------------------------------------
// Positioning
// -----------------------------------------------------

%float-right
  float: right
  
%float-left
  float: left

%block-center
  margin: 0 auto

%no-float
  float: none

%absolute
  position: absolute

%relative
  position: relative

%absolute-top
  position: absolute
  top: 0

%absolute-left
  position: absolute
  left: 0

%absolute-right
  position: absolute
  right: 0

%absolute-bottom
  position: absolute
  bottom: 0

%absolute-top-left
  position: absolute
  top: 0
  left: 0

%absolute-top-right
  position: absolute
  top: 0
  right: 0

%deal-banner-top-right
  position: absolute
  top: -2px
  right: -2px

%absolute-top-full-width
  position: absolute
  top: 0
  left: 0
  right: 0

%absolute-bottom-left
  position: absolute
  bottom: 0
  left: 0

%absolute-bottom-right
  position: absolute
  bottom: 0
  right: 0

%absolute-bottom-full-width
  position: absolute
  bottom: 0
  left: 0
  right: 0