// -----------------------------------------------------------------------------
// Block positioning
// -----------------------------------------------------------------------------

%block-center
  margin: 0 auto

%float-left
  float: left

%float-right
  float: right

%no-float
  float: none


// -----------------------------------------------------------------------------
// No Margins and Padding
// -----------------------------------------------------------------------------

%no-margin
  margin: 0

%no-padding
  padding: 0

%no-margin-or-padding
  margin: 0
  padding: 0


// -----------------------------------------------------------------------------
// Non-static positioning
// -----------------------------------------------------------------------------

%absolute
  position: absolute
  
%relative
  position: relative

%absolute-top
  position: absolute
  top: 0

%absolute-right
  position: absolute
  right: 0

%absolute-bottom
  position: absolute
  bottom: 0

%absolute-left
  position: absolute
  left: 0

