// -----------------------------------------------------------------------------
// States
// -----------------------------------------------------------------------------

%disabled-state
  background: $disabled-state-color
  border-color: $disabled-state-color
  color: $disabled-state-text
  opacity: 0.5