// -----------------------------------------------------
// States
// -----------------------------------------------------

.is-hidden
  display: none

%disabled-state
  background: $disabled-state-color
  border-color: $disabled-state-color
  color: $idle-grey
  opacity: 0.5