// -----------------------------------------------------------------------------
// Typographic Size Grid 
// -----------------------------------------------------------------------------

%tiny-type
  @include font-size(10)

%extra-small-type
  @include font-size(11)

%small-type
  @include font-size(12)

%irregular-type
  @include font-size(13)

%regular-type-size
  @include font-size(14)

%larger-type
  @include font-size(15)

%large-type
  @include font-size(16)

%extra-large-type
  @include font-size(18)

%heading-size-type
  @include font-size(22)

%error-heading-size-type
  @include font-size(24)

%huge-type
  @include font-size(30)

%card-header-size
  @include font-size(42)


// -----------------------------------------------------------------------------
// Opt-in Typography - extend %body-copy to activate
// -----------------------------------------------------------------------------

%body-copy
  color: $body-copy // $$legacy until crazy harry refactor
  p
    color: $body-copy
  h3, .title, span.partner
    @extend %regular-type-size
    font-weight: bold
    color: $header-gray


// -----------------------------------------------------------------------------
// Typographic modifiers
// -----------------------------------------------------------------------------

%tighten-text
  letter-spacing: -0.05em

%smooth-text
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

%central-align
  text-align: center

%right-align
  text-align: right

%left-align
  text-align: left

%justify
  text-align: justify

%normal-weight-text
  font-weight: normal

%italic-text
  font-style: italic

%lowercase
  text-transform: lowercase

%uppercase
  text-transform: uppercase

%reset-line-height
  line-height: 1

%no-line-height
  line-height: 0

%prevent-text-breakouts
  +word-break()
  +hyphens()

%truncate-text
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap



// $$deprecated

%bold-text
  font-weight: bold

%absolute
  position: absolute

%relative
  position: relative