// --------------------------------------------------------------------------------------
// Typographic Grid 
// --------------------------------------------------------------------------------------

%tiny-type
  @include font-size(10)

%extra-small-type
  @include font-size(11)

%small-type
  @include font-size(12)

%regular-type-size
  @include font-size(14)

%larger-type
  @include font-size(15)

%large-type
  @include font-size(16)

%extra-large-type
  @include font-size(18)

%heading-size-type
  @include font-size(22)


// -----------------------------------------------------
// Typographic modifiers
// -----------------------------------------------------

%central-align
  text-align: center

%justify
  text-align: justify

%bold-text
  font-weight: bold

%reset-line-height
  line-height: 1

%no-line-height
  line-height: 0


// -----------------------------------------------------
// LP styles
// -----------------------------------------------------

%terms-and-conditions
  @extend %extra-small-type
  color: $soft-grey