// -----------------------------------------------------------------------------
// Typographic Stacks
// -----------------------------------------------------------------------------

%sans-serif
  font-family: Arial, Helvetica, sans-serif

%serif
  font-family: Georgia, serif


// -----------------------------------------------------------------------------
// Typographic Size Grid 
// -----------------------------------------------------------------------------

%tiny-type
  @include font-size(10)

%extra-small-type
  @include font-size(11)

%small-type
  @include font-size(12)

%regular-type-size
  @include font-size(14)

%larger-type
  @include font-size(15)

%large-type
  @include font-size(16)

%extra-large-type
  @include font-size(18)

%heading-size-type
  @include font-size(22)

%huge-type
  @include font-size(30)

%card-header-size
  @include font-size(42)

// -----------------------------------------------------------------------------
// Typographic modifiers
// -----------------------------------------------------------------------------

%central-align
  text-align: center

%justify
  text-align: justify

%bold-text
  font-weight: bold

%normal-weight-text
  font-weight: normal

%uppercase
  text-transform: uppercase

%reset-line-height
  line-height: 1

%no-line-height
  line-height: 0

%prevent-text-breakouts
  +word-break()
  +hyphens()


// -----------------------------------------------------------------------------
// LP styles
// -----------------------------------------------------------------------------

%terms-and-conditions
  @extend %extra-small-type
  color: $soft-grey