// ----------------------------------------------------------------------------
// 
// Legacy Header
// 
// ----------------------------------------------------------------------------

// Legacy mixins
@mixin icon-chevron-back  
  @include arrows-spt(-7px,-102px)
@mixin icon-chevron-forward
  @include arrows-spt(-3px,-2px)


.row
  @extend %clearfix

.row__inner
  margin: 0 auto
  width: 968px

.row__inner--expanded
  margin: 20px auto
  width: 1000px

li
  list-style: none

.acceessibility
  position: fixed
  top: -9999px
  z-index: 999999
  left: -9999px

.row--leaderboard
  height: 108px
  background-color: #0a4f9c

.search--global
  float: left
  margin: 5px 0 5px 0px

.lp--logo--home
  margin: 0 auto
  @include img-logo-lp
  display: block
  width: 123px
  height: 65px

.search__input--global  
  border: 0
  width: 134px
  padding: 4px 
  margin-right: 4px
  font-weight: bold
  line-height: 15px
  height: 15px
  float: left
  color: #0a4f9c

.search__button--global
  +btn-search-bck
  +box-shadow(0, 0, 0)
  @extend %extra-small-type
  display: table-cell
  width: 52px
  line-height: 18px
  height: 22px
  color: #3062A0
  text-align: center
  &:hover
    @include btn-search-bck-hover

.ad--leaderboard
  float: left

.leaderboard
  float: right
  margin-top: 5px
  @include leaderboard-ad-notice 
  padding-right: 10px
  .leaderboardInner 
    padding: 4px 4px 0 4px
    background: #467AB4 url(http://static.lonelyplanet.com/static-ui/style/leaderboard-loader.gif) 50% 50% no-repeat
    width: 728px
    min-height: 94px

// global header primary navigation
body.ie7, body.ie8
  iframe
    overflow: hidden

.row--primary
  background: #f5eee6
  border-bottom: 1px solid #bcb2a4
  height: 44px

.nav--primary
  @extend %clearfix
  padding-top: 10px

.nav__item--primary  
  +border-radius-each(2, 2, 0, 0)
  text-decoration: none
  background-color: #EAE1D8
  line-height: 34px
  float: left
  text-decoration: none
  font-weight: bold
  color: #645e58
  padding: 0px 10px
  margin-right: 3px
  font-size: 12px
  &.current
    background-color: #d6cdc0!important
    border-bottom: 1px solid #D6CDC0
    color: #000
  &:hover
    background-color: #e0d6cc
    text-decoration: none

.nav__item--destinations 
  position: relative
  padding-right: 36px
  > a
    padding-right: 4px
    display: block
  > .arrow
    position: absolute
    right: 0px
    top: 0px
    width: 16px
    height: 16px
    display: block
    margin: 9px 9px 0 0 
    @include btn-arrow-down
    cursor: pointer
    &:hover
      @include btn-arrow-down-hover
  &:hover
    > .arrow
      @include btn-arrow-down-tab-hover

.nav__item--cart
  @include icn-cart-nav
  float: right
  line-height: 18px
  font-size: 12px
  font-weight: bold
  padding: 6px 12px 6px 35px
  color: #07c
  border-right: 1px solid #CCCCCC
  // min-width: 128px


.nav__item--cart, .nav__item--user
  &:hover
    text-decoration: underline

.nav__item--register
  &.signInRegister, &.globalCartHead
    &:hover
      background-color: transparent

.nav__item--user   
  line-height: 28px
  background: transparent
  float: right
  margin-right: 0
  &:hover
    background-color: transparent
    text-decoration: none

.user--button--signin
  @include border-radius(3)
  font-size: 11px
  color: #fff
  float: right
  height: 26px
  line-height: 26px
  width: 59px
  background-color: #0084cd
  padding: 0
  &:hover
    background-color: #07408a

.user--button--register
  margin: 0 10px
  font-size: 12px
  font-weight: bold
  color: #044388

.user--logged-in
  background-color: #EAE1D8
  position: relative
  z-index: 12
  float: right
  margin-right: 0
  cursor: pointer
  &:hover
    background-color: #d6cdc0

.user__img
  background-color: #f3f3f3
  float: left

.user__name
  float: left
  font-size: 12px
  height: 18px
  padding: 0 10px
  line-height: 2.2em
  font-weight: bold
  color: #645e58
  max-width: 130px
  overflow: hidden
  display: block
  text-overflow: ellipsis

.user__msg-unread
  float: left
  padding: 0 5px 0 20px
  font-weight: normal
  color: #645e58
  line-height: 2.4em
  @include icn-mail-no-msg
  border-right: 1px solid #B3ABA0
  font-size: 12px

.user__msg-new
  @include icn-mail-msg
  font-weight: bold


.user-nav__arrow
  width: 16px
  height: 16px
  display: block
  float: right
  margin: 6px 4px
  @include btn-arrow-down
  cursor: pointer
  &:hover
    @include btn-arrow-down-hover

.nav__item--user
  &:hover
    .user-nav__arrow
      @include btn-arrow-down-tab-hover

.nav__item--user
  .user-nav__menu
    display: none 
  
.user-nav__menu
  background-color: #EAE1D8
  position: absolute
  left: 0
  right: 0
  top: 100%
  border-bottom: 1px solid #bcb1a4
  border-right: 1px solid #bcb1a4
  border-left: 1px solid #bcb1a4
  &:hover
    background-color: #d6cdc0

.user-nav__item
  font-size: 12px
  padding: 3px 0 3px
  margin: 0 8px
  color: #333

.user-nav__item--last
  border-top: 1px solid #B3ABA0
  @include arrows-spt(-3px, 1px)
  display: block
  padding: 0 0 0 16px

.hidden, .is-hidden
  display: none

ul.menu
  background-color: #e0d6cc
  border-bottom: 1px solid #bcb1a4
  border-left: 1px solid #bcb1a4
  border-right: 1px solid #bcb1a4
  font-size: 12px
  left: 0
  line-height: 18px
  position: absolute
  top: 100%
  width: 205px
  z-index: 10
  &.noHeading
    padding-top: 1em
  li
    position: relative
    margin: 0 7px 0.5em 7px
    padding: 2px 0 2px 3px
    a
      padding: 0
      color: #333
      &:hover
        text-decoration: underline

.submenu    
  li
    padding: 0 0 0 3px
  background-color: #e0d6cc
  position: absolute
  top: 0
  left: 100%
  padding: 10px 0 10px 10px
  border: 1px solid #969696

// 
ul.menu 
  li.head
    font-weight: bold
    font-size: 1.2em
    margin-top: 1em
    &:hover
      background: transparent

  > li
    cursor: pointer
    &:hover
      background-color: #d0c7bb
      img
        @include btn-arrow-right-tab-hover
    img
      float: right
      border-left: 1px dotted #000000
      padding: 2px 2px 0 5px
      @include btn-arrow-right
      &:hover
        @include btn-arrow-right-hover
// 
.submenu
  &.col1
    width: 150px
  &.col2
    width: 300px
  &.col3
    width: 450px
  &.col4
    width: 600px
  &.col5
    width: 750px
  ul
    width: 150px
    float: left
    li
      padding:  0 0 3px

.row__inner--shadow
  height: 8px
  @include title-bar-inner-shadow

.row--header--green
  border-bottom: 14px solid transparent
  background-color: #409C20
  border-bottom-color: #347B1D

.row__inner--header
  padding: 0 0 0 20px
  color: #fff

.header__lead
  @extend %small-type
  font-weight: normal

.header__title
  line-height: 1.1
  margin: 0 auto -5px
  @include font-size(30)
  font-weight: normal


// Breadcrumb 

#breadcrumbWrap
  background: #d6ccc0
  height: 40px

#breadcrumb
  line-height: 1.4
  position: relative
  margin: 0 auto
  width: 965px
  font-size: 1.35em
  font-weight: bold

.breadcrumb-item
  @extend %no-list-style
  float: left
  position: relative
  padding-right: 15px

.twoCol  
  @include breadcrumb-slash

.breadcrumb-item-title
  display: block
  overflow: hidden
  padding: 7px 10px 6px 10px
  color: #333


// -----------------------------------------------------
// $$legacy
// -----------------------------------------------------


.linkChevronBack
  &.strong
    font-weight: bold
  @include icon-chevron-back  
  padding-left: 10px
  color: $link-color
  &:hover
    color: $link-color

button
  font-weight: bold
  border: 0
  cursor: pointer
  text-align: center
  font-size: 11px
  overflow: visible

input[type='text'].searchText
  +box-sizing(content-box)

.signInRegister p
  margin-bottom: 0

// Global static overrides - $$Legacy - Remove when possible

.clearfix
  display: block
