// -----------------------------------------------------------------------------
// Section-specific 'sashes' for tiles
// -----------------------------------------------------------------------------

.tile__sash
  position: absolute

  @if $is-ie
    right: -10px
    bottom: -10px
  @else
    right: 0
    bottom: 0

  z-index: 1
  width: 15%
  height: 15%
  max-width: 40px
  max-height: 40px

.tile__sash--sight
  background: $section--sight

.tile__sash--activity
  background: $section--activity

.tile__sash--tour
  background: $section--tour

.tile__sash--hotel
  background: $section--hotel

.tile__sash--restaurant
  background: $section--restaurant

.tile__sash--shopping
  background: $section--shopping

.tile__sash--festival
  background: $section--festival

.tile__sash--entertainment
  background: $section--entertainment

.tile__sash--article
  background: $section--article

.tile__sash--need-to-know
  background: $section--need-to-know

.tile__sash--transport
  background: $section--transport
