// -----------------------------------------------------------------------------
// Extended tile
// -----------------------------------------------------------------------------

.tile--extended

  .tile__link:hover

    .tile__cover
      @if $is-ie
        display: block
        zoom: 1
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#A5000000)"
        filter:      progid:DXImageTransform.Microsoft.gradient(startColorstr=#A5000000, endColorstr=#A5000000)
      @else
        background: rgba(0, 0, 0, .65)
        +transition(background, .5, ease-out)

    .tile__cover__content
      background: none
      +transition(background, .5, ease-out)
