// -----------------------------------------------------------
//
// Advert Dimensions
//
// -----------------------------------------------------------

%ad-leaderboard-box
  background-color: $row-leader-ad
  border: 3px solid $row-leader-border

%ad-trafficDriver
  height: 256px
  width: 155px

%ad-sponsorTile
  height: 32px
  width: 276px

%ad-leaderboard
  height: 90px
  // We don't define a width here because sometimes leaderboard = pushdown and they have different widths.

%ad-mpu
  height: 250px
  width: 300px

%ad-doubleMpu
  height: 770px