// -----------------------------------------------------------
//
// Advert Dimensions
//
// -----------------------------------------------------------

%ad-leaderboard
  height: 96px
  // We don't define a width here because sometimes leaderboard = pushdown and they have different widths.

%ad-trafficDriver
  height: 380px
  padding: 0
  width: 192px

%ad-sponsorTile
  height: 32px
  width: 276px

%ad-mpu
  width: 300px

%ad-doubleMpu
  height: 770px