// -----------------------------------------------------------------------------
// Button base classes
// -----------------------------------------------------------------------------

%base-button
  @extend %inline-block
  @extend %smooth-text
  @extend %border-box
  @extend %four-pixel-rounded
  line-height: 1
  cursor: pointer
  text-align: center
  &:hover
    text-decoration: none
