// ----------------------------------------------------------------------------
// 
// Input--Regular
// 
// ----------------------------------------------------------------------------

%input--regular
  margin: 0
  border: 0
  outline: 0

%input--small
  @extend %input--regular
  @extend %four-pixel-rounded 
  @extend %small-type


