// ----------------------------------------------------------------------------
// 
// Core sprite
// 
// ----------------------------------------------------------------------------


%sprite-core--standard
  background-image: url(image_path("core/core-sprite-standard.png"))
  background-repeat: no-repeat

%sprite-core--retina
  background-image: url(image_path("core/core-sprite-retina.png"))
  background-size: $core-sprite-size
  background-repeat: no-repeat
  
// ----------------------------------------------------------------------------
// 
// Lodgings sprite
// 
// ----------------------------------------------------------------------------

%lodgings-sprite-standard
  background-image: url(image_path("lodgings-spt.png"))
  background-repeat: no-repeat

%lodgings-sprite-retina
  background-image: url(image_path("lodgings-spt-2x.png"))
  background-size: $lodgings-sprite-size
  background-repeat: no-repeat