= yield :breadcrumbs

// TESTING
.row.row--breadcrumbs
  .row__inner.row__inner--footer
    %nav.nav--inline{itemscope: true, itemtype: "http://data-vocabulary.org/Breadcrumb"}
      %h6.accessibility Breadcrumb Navigation
      %a.nav__item.nav__item--breadcrumbs--home{href: '/', itemprop:"url"}
    
      %a.nav__item{href: "", class: 'nav__item--breadcrumbs', itemprop:"url"}<
        test
      %a.nav__item{href: "", class: 'nav__item--breadcrumbs current', itemprop:"url"}<
        test2
// END TEST


= render 'layouts/core/snippets/footer_sitemap'
= render 'layouts/core/snippets/footer_about'


