button
  border: 0
  cursor: pointer
  font-weight: bold
  text-align: center
  font-size: 11px
  overflow: visible

input[type="submit"][disabled], input[type="submit"][disabled]:hover
  @extend %disabled-state