.content
  @extend .cf
  margin: 0 auto
  width: 960px

.new-content
  @extend .cf
  margin: 0 auto
  width: 1000px

button
  border: 0
  cursor: pointer
  font-weight: bold
  text-align: center
  font-size: 11px
  overflow: visible

input[type="submit"][disabled], input[type="submit"][disabled]:hover
  @extend %disabled-state
