// ----------------------------------------------------------------------------
// 
// Box description:
// Abstraction for a block containing a title, a description and a container element 
// 
// ----------------------------------------------------------------------------

.box-description--footer
  @extend %small-type
  line-height: 18px
  margin-bottom: 12px

.box-description__title--footer
  @extend .list-title--footer
  color: $footer-blue

.box-description__lead--footer
  color: $footer-gray

.box-description__inner
  margin: 6px 0


