// ----------------------------------------------------------------------------
// 
// Box description:
// Block abstraction a title, a description and a container element 
// 
// ----------------------------------------------------------------------------

.box-description--footer
  @extend %small-type
  line-height: 18px
  margin-bottom: 12px

.box-description__title--footer
  @extend .title--list--footer
  color: $title-footer--darker 

.box-description__lead--footer
  color: $text-footer--darker

.box-description__inner
  margin: 6px 0


