// ---------------------------------------------------
//
// Defaults
//
// ---------------------------------------------------

.btn--regular
  @extend %base-button
  padding: 10px


.btn--submit--small
  +box-sizing()
  @extend %base-button
  cursor: pointer
  padding: 8px 
  line-height: 16px
  width: 60px
  font-size: 12px

// ---------------------------------------------------
//
// Themes
//
// ---------------------------------------------------

.btn--gray
  color: #fff
  background-color: #4e5763
  &:hover
    background-color: #a5acb5

.btn--green
  background-color: $validation-true
  color: #fff
  font-weight: bold
  &:hover
    background-color: #fff
    color: $validation-true

