// ----------------------------------------------------------------------------
// 
// London overrides for defaults
// 
// ----------------------------------------------------------------------------

a
  text-decoration: none
  &:hover
    text-decoration: none

input, textarea, select
  outline: none


