// ----------------------------------------------------------------------------
// 
// Core Overrides
// 
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// 
// Master Row
// 
// ----------------------------------------------------------------------------

.row
  @extend %clearfix

.master-row
  @extend %clearfix
  background-color: $master-row-leader
  padding: 16px 0 

.container
  @extend %block-center
  @extend %relative
  @extend %clearfix
  @extend %regular-width

// ----------------------------------------------------------------------------
// 
// Lonely Planet Logo
// 
// ----------------------------------------------------------------------------

// .logo
//   @extend %benton-regular
//   @extend %no-decoration
//   font-size: 95px
//   line-height: 40px
//   @extend %float-left
//   width: 105px
//   height: 50px
//   color: #fff
//   &:before
//     content: '\\E028'

.logo
  @extend %data-lp-logo
  @extend %float-left
  @extend %block
  width: 100px
  height: 50px
  margin: 0

// ----------------------------------------------------------------------------
// 
// Adverts Leaderboard
// *leaderboard shifts slightly right to be centered
// 
// ----------------------------------------------------------------------------

.ad-leaderboard
  @extend %horizontal-auto
  width: 782px

  .ad
    @extend %ad-leaderboard-box
    @extend %float-left
    @include border-radius(2)
    margin-left: 18px 

  .ad-label
    @extend %float-left
    @extend %data-leaderboard-label
    width: 10px
    height: 90px
    margin: 3px 0 3px 8px

%standard-box-sizing
  box-sizing: content-box

// ----------------------------------------------------------------------------
// 
// primary-nav
// 
// ----------------------------------------------------------------------------

.primary
  @extend %primary-gradient
  @extend %clearfix
  padding: 9px 0

%primary-nav
  @extend %helvetica-neue
  padding: 5px 0
  a
    @extend %no-decoration
    font-size: 14px!important
    color: $nav-primary-type
    line-height: 38px
    padding: 12px 8px
    text-decoration: none
    &:hover
      color: $nav-primary-type-hover 
    &:active
      //need to force this here cos of legacy integration on destionations ui
      text-decoration: none!important
      color: $nav-primary-type!important

.global-nav
  @extend %float-left
  @extend %primary-nav
  margin-left: 9px
   


// ----------------------------------------------------------------------------
// 
// secondary-nav
// 
// ----------------------------------------------------------------------------

.secondary
  @extend %secondary-gradient
  @extend %clearfix
  @include box-shadow(0, 2, 1, 1, rgba(0, 0, 0, 0.1), true)
  padding: 11px 0
  .container
    min-height: 32px

.head-title
  @extend %benton-regular
  @extend %float-left
  @extend %no-margin
  color: #fff
  font-size: 28px
  line-height: 32px
  max-width: 390px

.secondary-nav
  @extend %absolute-bottom-right
  @extend %helvetica-neue
  @extend %uppercase
  padding-bottom: 2px 
  a
    @extend %float-left
    @extend %block
    @extend %no-decoration
    //force font-size needed when using legacy styles and new header 
    font-size: 14px!important
    padding: 6px 9px 5px
    line-height: 18px
    color: $nav-secondary-type
    &:hover
      color: $nav-secondary-type-hover 
    //force  when using legacy styles and new header 
    &:active
      text-decoration: none!important
      color: $nav-secondary-type!important
    &.current
      @include border-radius(6)
      background-color: $nav-secondary-current-item-bck
      color: $nav-secondary-type-active


// ----------------------------------------------------------------------------
// 
// user-nav
// 
// ----------------------------------------------------------------------------

.user-nav
  @extend %primary-nav
  @extend %absolute-right
  .user-basket
    @extend %no-padding
  .user-box
    padding: 2px 0 0 12px
  a
    //force font-size needed when using legacy styles and new header 
    font-size: 14px!important
    &:active
      //need to force this here cos of legacy integration on destionations ui
      text-decoration: none!important
      color: #fff!important
      

.user-basket
  // @extend %background-center
  // @extend %data-user-basket
  @extend %float-right
  @extend %opaque
  @extend %regular-icon
  @extend %relative
  @include transition(all, 0.1, ease) 
  display: none
  margin: 4px 5px 4px 0 
  &:after
    @extend %empty-abs-generated-content 
    @extend %benton-regular
    @include text-shadow(0,-1,0,rgba(0,0,0,0.6))
    color: #073364
    content: '\E017'
    font-size: 42px
    line-height: 0
    top: 15px
 
.basket-items
  @extend %absolute-top-right
  @extend %central-align
  @extend %small-icon
  @extend %extra-small-type
  @include border-radius(8)
  @include box-shadow(0, 1, 3, 1, rgba(0, 0, 0, 0.5))
  z-index: 1
  margin: 0
  color: $basket-item-type
  background-color: $basket-item
  line-height: 16px
  font-weight: bold
  //force font-sizee needed cessary when using legacy styles and new header 
  font-size: 10px!important

.auth-box
  @extend %float-right
  padding: 0 0 13px 0
  a
    &:hover
      color: $nav-secondary-type-hover 


.user-box
  display: none
  cursor: pointer
  .user-img
    @extend %block
    @extend %float-left
    @include box-shadow(0, 1, 3, 1, rgba(0, 0, 0, 0.3), true)
    @include border-radius(5)
    background-color: $nav-search-bck
    border: 1px solid #073a69
    height: 30px
    margin-right: 20px
    padding: 3px
    width: 30px
  &:after
    @extend %empty-abs-generated-content 
    @extend %benton-regular
    color: #658fc3
    content: '\E030'
    //force font-size needed when using legacy style and new header
    font-size: 22px!important
    padding-left: 43px
    line-height: 36px
  &:hover
    &:after
      color: $nav-secondary-type
      


// ----------------------------------------------------------------------------
//
// User Nav States
//
// ----------------------------------------------------------------------------
  
.is-logged
  .user-box
    display: block
  .user-singin
    display: none
  .user-join
    display: none

.auth-box
  &:hover
    .user-options
      @extend %block

.has-basket
  .is-invisible
    @extend %invisible

.has-msg
  @extend %opaque

.has-basket
  .user-basket
    @extend %block


// ----------------------------------------------------------------------------
//
// User Drop-Down Menu
//
// ----------------------------------------------------------------------------

.user-options
  @extend %absolute
  @include transition(all, 0.15, ease) 
  display: none
  height: 242px
  right: 0px
  top: 58px
  width: 165px
  z-index: 1

.user-options-arrow
  @extend %data-user-options-arrow
  @extend %no-repeat
  background-position: 112px center
  position: absolute
  top: -10px
  width: 100%
  height: 10px

.user-name
  @extend %block
  @extend %large-type
  color: #fff
  font-weight: bold
  padding: 0 13px 4px

.nav-user-options
  @include box-shadow(0, 1, 3, 3, rgba(0, 0, 0, 0.2))
  @include border-radius(5)
  background: $nav-secondary-current-item-bck
  padding: 14px 1px 7px
  .user-menu-option
    padding: 12px 13px
    line-height: 12px
    color: #fff

.user-menu-option
  @extend %helvetica-neue
  @extend %no-repeat
  @extend %block
  @extend %relative
  background-position: 142px center
  color: #fff
  //force font-size needed when using legacy style and new header
  font-size: 14px!important
  font-weight: normal
  padding: 12px 1px
  &:hover
    background-color:  $nav-secondary-item-hover 
  &:before
    @extend %empty-abs-generated-content 
    @extend %benton-regular
    color: #fff
    content: '\E029'
    font-size: 22px
    right: 8px
    line-height: 36px
    top: 0

.user-forum
  position: relative

.user-forum:after
  @extend %empty-abs-generated-content 
  top: 100%
  left: 0
  width: 100%
  height: 8px
  border-bottom: 1px solid #1eb7bc
  
.user-signout
  margin-top: 18px

.user-msg-unread
  @extend %extra-small-type
  @extend %invisible
  @include border-radius(5)
  @include transition(all, 0.2, ease) 
  background: #fff
  color: $nav-secondary-current-item-bck
  margin-left: 45px
  padding: 2px 6px



// ----------------------------------------------------------------------------
//
// Search Form
//
// ----------------------------------------------------------------------------

//search input reset
%search-type
  @extend %block
  @extend %helvetica-neue
  @extend %no-border
  @extend %irregular-type //13
  border-color: transparent
  border: 0
  line-height: 0
  margin: 0

.search-box
  @extend %relative
  @extend %float-left
  margin: 9px 0 0 10px
  &:after
    @extend %empty-abs-generated-content 
    @extend %benton-regular
    color: #bccee3
    content: '\E027'
    font-size: 28px
    left: 9px
    line-height: 28px
    top: 1px

.search-box
  .global-search-type
    @extend %search-type
    @include box-shadow(0, 1, 3, 1, rgba(0, 0, 0, 0.2), true)
    @include border-radius(16)
    @include transition(all, 0.2, ease)
    background-color: $nav-search-bck
    color: $nav-search-colour
    padding: 7px 10px 7px 30px
    width: 140px
    &:focus
      @extend %background-white
      color: $nav-search-bck-focus 
      width: 180px

