
.list-title--footer
  @extend %small-type
  color: $footer-blue
  font-weight: bold

// ----------------------------------------------------------------------------
// 
// Footer - Base (#272f39)
// 
// ----------------------------------------------------------------------------

.footer
  background-color: #e8edef
  .row__inner--footer



.split--footer
  overflow: hidden
  text-align: right
  border-bottom: 1px solid #465158
  padding: 12px 0
  .split__left
    text-align: left
    float: left

.media--ext--lp-legal
  margin: 21px 0
  padding: 6px 0 6px 105px
  line-height: 1.5em
  width: 600px
  @extend .sprite-core--standard
  background-repeat: no-repeat
  background-position: 0 -178px

.btn--gray
  color: #fff
  background-color: #4e5763
  &:hover
    background-color: #a5acb5

.btn--right
  float: right

.btn--regular
  @extend %regular-type
  display: block
  padding: 7px 10px 7px 10px
  @include border-radius(4)

.btn--close
  position: relative
  padding-left: 30px
  &:before
    @extend %empty-abs-generated-content
    width: 18px
    height: 18px
    left: 6px
    top: 6px

