body
  background-color: $body-background

.content
  @extend %clearfix
  width: 1000px
  margin: 23px auto 0
  
.left-nav
  @extend %float-left
  width: 200px
  margin-right: 10px

.main-content
  @extend %float-left
  width: 100%
  .left-nav + &
    width: 790px
