body
  background-color: $body-background

.content
  @extend %clearfix
  width: 1000px
  margin: 0 auto
  
.left-nav
  @extend %float-left
  @extend %box-off-double-vertical
  width: 200px
  margin-right: 10px

.main-content
  @extend %float-left
  width: 790px
