// -----------------------------------------------------------------------------
// Grid Extends
// -----------------------------------------------------------------------------



// -----------------------------------------------------------------------------
// 
// Grid Wrapper
// 
// Case for making this a set of mixins?
// 
// -----------------------------------------------------------------------------

%grid-wrapper
  +box-sizing()
  @extend %clearfix

%grid-wrapper-10
  @extend %grid-wrapper
  margin-left: -10px

%grid-wrapper-15
  @extend %grid-wrapper
  margin-left: -15px

%grid-wrapper-20
  @extend %grid-wrapper
  margin-left: -20px

%grid-wrapper-30
  @extend %grid-wrapper
  margin-left: -30px


// -----------------------------------------------------------------------------
// 
//  Grid Columns
// 
// -----------------------------------------------------------------------------


%grid-column
  +box-sizing()
  @extend %float-left
  .ie7 &, .no-boxsizing &
    padding-left: 0

%padded-grid-column-10
  @extend %grid-column
  padding-left: 10px

%padded-grid-column-15
  @extend %grid-column
  padding-left: 15px

%padded-grid-column-20
  @extend %grid-column
  padding-left: 20px

%padded-grid-column-30
  @extend %grid-column
  padding-left: 30px

%margin-grid-column-10
  @extend %grid-column
  margin-left: 10px

%margin-grid-column-20
  @extend %grid-column
  margin-left: 20px

%margin-grid-column-30
  @extend %grid-column
  margin-left: 30px


// -----------------------------------------------------------------------------
// 
//  Simple Grid for the card main content
// 
// -----------------------------------------------------------------------------

$default-card-width: 190px
$option-card-width: 192px

$gutter: 10px

.card--single
  @extend %margin-grid-column-10
  width: $default-card-width
  .full-width &
    width: $option-card-width

.card--double
  @extend %margin-grid-column-10
  width: ($default-card-width * 2) + $gutter
  .full-width &
    width: ($option-card-width * 2) + $gutter

.card--triple
  @extend %margin-grid-column-10
  width: ($default-card-width * 3) + ($gutter * 2)
  .full-width &
    width: ($option-card-width * 3) + $gutter

.card--quad
  @extend %margin-grid-column-10
  width: ($default-card-width * 4) + ($gutter * 3)
  .full-width &
    width: ($option-card-width * 4) + $gutter

.card--quint
  @extend %margin-grid-column-10
  width: ($default-card-width * 5) + ($gutter * 4)
  .full-width &
    width: ($option-card-width * 5) + $gutter



// -----------------------------------------------------------------------------
// 
//  Proportional grid
// 
// -----------------------------------------------------------------------------

.grid-wrapper--10
  @extend %grid-wrapper-10
  > [class*="col--"]
    @extend %padded-grid-column-10
    

.grid-wrapper--15
  @extend %grid-wrapper-15
  > [class*="col--"]
    @extend %padded-grid-column-15

.grid-wrapper--20
  @extend %grid-wrapper-20
  > [class*="col--"]
    @extend %padded-grid-column-20

.grid-wrapper--30
  @extend %grid-wrapper-30
  > [class*="col--"]
    @extend %padded-grid-column-30



[class*="grid-"]
  +respond-to(max500)
    margin-left: 0 !important
    padding-left: 0
  > [class*="col--"]
    +respond-to(max500)
      float: none
      width: 100%
      padding-left: 0 !important
      margin-left: 0


.col--one-half
  width: 50%

.col--one-third
  width: 33.333333333%
.col--two-thirds
  width: 66.666666666%

.col--one-quarter
  width: 25%
.col--two-quarters
  width: 50%
.col--three-quarters
  width: 75%

.col--one-fifth
  width: 20%
.col--two-fifths
  width: 40%
.col--three-fifths
  width: 60%
.col--four-fifths
  width: 80%

