// ----------------------------------------------------------------------------
// 
// Input--Regular
// 
// ----------------------------------------------------------------------------

.input--small--footer
  @extend %input--small
  border: none 
  color: $body-copy
  margin-right: 5px
  padding: 8px 10px 
  width: 170px


// ----------------------------------------------------------------------------
//
// Search Form
//
// ----------------------------------------------------------------------------

.search--primary
  @extend %relative
  @extend %float-left
  margin: 8px 0 0 10px

.search__input
  display: block
  @extend %no-border
  @extend %sprite-core--standard
  background-position: -59px -141px
  padding: 8px 10px 8px 30px


.search__input--primary
  line-height: 16px
  @extend %helvetica-neue
  @include box-shadow(0, 1, 3, 1, rgba(0, 0, 0, 0.2), true)
  @include border-radius(16)
  @include transition(all, 0.2, ease)
  background-color: $nav-search-bck
  color: $nav-search-colour
  width: 140px
  &:focus
    @extend %background-white
    color: $nav-search-bck-focus 
    width: 200px

// ----------------------------------------------------------------------------
//
// Drop-Down
//
// ----------------------------------------------------------------------------

.label--footer
  margin-right: 10px

.dropdown--small--footer
  @extend %sprite-core--standard
  background-position: 64px -326px 
  color: $body-copy
  cursor: pointer
  padding: 8px 10px 
  @extend %input--small

// ----------------------------------------------------------------------------
//
// Drop-Down
//
// ----------------------------------------------------------------------------

.relative
  @extend %relative
  display: inline

.form__select--language  
  position: absolute
  right: 0
  top: 0
  height: 30px
  width: 86px
  opacity: 0
  cursor: pointer

.form__submit--language
  position: absolute
  top: -1000px
  left: -1000px  

