// Inputs
// 
// .input--regular      - Any button related to booking, including search to book
// .input--datepicker    - Multi use button
// .search__input--primary - Search box in header
// 
// Styleguide 3.1


// ----------------------------------------------------------------------------
// 
//  Input defaults
// 
// ----------------------------------------------------------------------------

input, textarea
  @extend %border-box
  @extend %helvetica-neue
  @extend %no-border
  outline: 0


// ----------------------------------------------------------------------------
// Inputs
// 
// Input--regular is used for any standard text based inputs: text,email,date
// ----------------------------------------------------------------------------

.input--regular
  @extend %input--regular

.input--submit
  @extend %larger-type
  cursor: pointer
  &[disabled], &.input--submit--disabled
    @extend %disabled-state

.input--datepicker
  @extend %input--regular
  @extend %lodgings-sprite-standard
  padding-right: 35px
  background-position: 99% -112px
  +retinafy()
    @extend %lodgings-sprite-retina
    background-position: 95% -111px
  +placeholder()
    color: $placeholder-copy

.input--small--footer
  @extend %input--small
  padding: 9px
  width: 175px
  .ie7 &
    width: 151px
  .ie8 &
    width: 161px

// ----------------------------------------------------------------------------
//
// Header: Search Form
//
// ----------------------------------------------------------------------------

.search--primary
  padding: 11px 0 12px

.search__input
  padding: 8px 10px 8px 30px

.search__input--primary
  @extend %transition--base
  @extend %sprite-core--standard
  @include box-shadow(0, 1, 3, 1, rgba(0, 0, 0, 0.2), true)
  @include border-radius(16)
  background-color: $nav-search-bck
  background-position: 8px -90px
  color: $nav-search-colour
  width: 150px
  +retinafy()
    @extend %sprite-core--retina
  &:focus
    @extend %background-white
    color: $nav-search-bck-focus
    width: 225px


// -----------------------------------------------------------------------------
//
// Header: Search Form - IE 7,8 & 9
//
// -----------------------------------------------------------------------------

.search--primary

  .ie9 &
    margin-top: 10px

  .ie7 &, .ie8 &
    border: 1px #20374F solid
    background-color: $nav-search-bck


.search__input--primary
  .ie7 &
    margin-left: 33px
    width: 170px
    padding: 8px
    border: none
    @extend %background-white

  .ie8 &
    margin-left: 33px
    width: 185px
    padding: 8px 8px 8px 0
    &:focus
      @extend %background-white
      color: $nav-search-bck-focus
      padding-left: 8px



// -----------------------------------------------------------------------------
//
// Footer: Language Selection
//
// -----------------------------------------------------------------------------

.form--language__label
  margin-right: 10px
  line-height: 30px

.dropdown--language
  width: 86px

// Footer select is slightly smaller so reduce padding and re-align chevron
.dropdown__value--language
  @extend %input--small
  padding-top: 9px
  padding-bottom: 8px
  border: none
  // Container is large enough so we can remove new formatting context
  overflow: visible
  &:after
    line-height: 24px

.submit--language
  @extend %visually-hide
  .no-js &
    @extend %visually-show
    @extend %four-pixel-rounded
    padding: 8px
    position: inherit


// -----------------------------------------------------------------------------
//
// Footer: Newsletter Country Selection
//
// -----------------------------------------------------------------------------

.newsletter--footer
  @extend %regular-type-size

.input--small--newsletter
  @extend %input--regular
  padding: 10px
  width: 100%
  color: $header-gray
  +placeholder()
    color: $body-copy

.dropdown--country
  margin: 7px 0

.dropdown__value--country
  color: $header-gray
  border: none
  padding-top: 11px
  padding-bottom: 11px

