.left-nav
  @extend %white-background
  @extend %standard-shadow
  @extend %stacked-nav
  @extend %smooth-text
  margin-top: 46px

  .item
    @extend %relative
    @extend %regular-type-size
    @extend %chevron-horizontal
    color: $header-gray
    padding: 15px 25px 15px 15px
    text-decoration: none
    &:after
      @extend %no-line-height
      right: 10px
      top: 25px
    
    &.current, &.current:hover
      @extend %active-background
      font-weight: bold
      &:after
        color: #fff

    &:hover
      background-color: $nav-hover-background

  .nav-heading
    @extend %reset-line-height
    @extend %larger-type
    @extend %stacked-nav
    font-weight: bold
    color: $header-gray
    padding: 22px 15px 0
    border-top: 1px solid $section-separator
  
  .nav-standfirst
    @extend %small-type
    @extend %serif
    @extend %italic-text
    display: block
    color: $body-copy
