%stacked-nav-base-object
  display: block
  color: $gray1

.left-nav
  @extend %white-background
  border-top: 1px solid #fff
  margin-top: 47px

  .nav-item
    @extend %relative
    @extend %stacked-nav-base-object
    @extend %regular-type-size
    padding: 15px
    text-decoration: none
    &:after
      @extend %absolute
      font-size: 16px
      content: '\203A'
      top: 15px
      right: 15px
    
    &.current, &.current:hover
      color: #fff
      background-color: $heading-text
    
    &:hover
      background-color: $nav-hover-background

  .nav-heading
    @extend %reset-line-height
    @extend %larger-type
    @extend %stacked-nav-base-object
    margin-top: 22px
    padding: 0 15px
  
  .nav-standfirst
    @extend %small-type
    @extend %serif
    @extend %italic-text
    display: block
    color: $gray4
