// ----------------------------------------------------------------------------
// 
// Top Master Row
// 
// ----------------------------------------------------------------------------

.row
  @extend %clearfix

.master-row
  @extend %clearfix
  background-color: $master-row-leader
  padding: 16px 0 

.container
  @extend %horizontal-auto
  @extend %relative
  @extend %clearfix
  @extend %regular-width


// ----------------------------------------------------------------------------
// 
// Lonely Planet Logo
// 
// ----------------------------------------------------------------------------

%lp-logo
  @extend %float-left
  @extend %block
  width: 100px
  height: 50px
  margin: 0 5px

.logo
  @extend %lp-logo
  @extend %data-lp-logo



// ----------------------------------------------------------------------------
// 
// Adverts Leaderboard
// *leaderboard shifts slightly right to be centered
// 
// ----------------------------------------------------------------------------

.ad-leaderboard
  @extend %horizontal-auto
  width: 782px

  .ad
    @extend %ad-leaderboard-box
    @extend %float-left
    @include round-all(2px)
    margin-left: 18px 

  .ad-label
    @extend %float-left
    @extend %data-leaderboard-label
    width: 10px
    height: 90px
    margin: 3px 0 3px 8px


// ----------------------------------------------------------------------------
// 
// primary-nav
// 
// ----------------------------------------------------------------------------


.primary
  @extend %primary-gradient
  @extend %clearfix
  padding: 9px 0

%top-nav
  padding: 6px 0
  @extend %irregular-type
  a
    padding: 12px 8px
    color: $nav-primary-type
    line-height: 38px
    &:hover
      color: $nav-primary-type-hover 

%no-padding
  padding: 0

.global-nav
  margin-left: 9px
  @extend %top-nav
  @extend %float-left
   

// ----------------------------------------------------------------------------
// 
// secondary-nav
// 
// ----------------------------------------------------------------------------


.secondary
  @extend %secondary-gradient
  @extend %clearfix
  padding: 0px 0

%secondary-nav
  @extend %uppercase
  @extend %tiny-type
  padding: 14px 0
  a
    @extend %float-left
    @extend %block
    padding: 6px 9px 5px
    color: $nav-secondary-type
    &:hover
      color: $nav-secondary-type-hover 
    &.current
      @include round-all(6px)
      background-color: #28c3c9
      color: $nav-secondary-type-active

.destination-nav
  @extend %secondary-nav
  @extend %float-right


.head-title
  @extend %benton-regular
  @extend %float-left
  font-size: 28px
  @extend %no-margin
  color: #fff
  max-width: 350px
  padding: 7px 0 0 5px



// ----------------------------------------------------------------------------
// 
// user-nav
// 
// ----------------------------------------------------------------------------

.user-nav
  @extend %top-nav
  .user-basket
    @extend %no-padding
  .user-box
    padding: 2px

.user-basket
  @extend %relative
  @extend %float-left
  @extend %data-user-basket
  @extend %regular-icon
  @extend %background-center
  margin: 3px 10px 3px 10px
 
.has-basket
  .user-basket
    display: block

.basket-items
  @extend %absolute-top-right
  @extend %bold-text
  @extend %central-align
  @extend %small-icon
  @extend %extra-small-type
  @include round-all(8px)
  @include box-shadow()
  @include box-shadow(0px, 1px, 3px, 1px,rgba(0, 0, 0, 0.5))
  margin-right: -3px
  color: $basket-item-type
  background-color: $basket-item
  line-height: 16px

.user-box
  @extend .is-hidden
  @extend %block
  @extend %float-left
  margin-left: 15px
  height: 36px
  width: 60px

  .user-img
    @extend %block
    height: 30px
    width: 30px
    padding: 3px
    @include round-all(5px)
    @include box-shadow(0px, 1px, 3px, 1px,rgba(0, 0, 0, 0.3), true)
    border: 1px solid #073a69
    background-color: $nav-search-bck
    @extend %float-left

  .user-handler
    @extend %block
    @extend %float-left
    display: block
    margin-left: 5px
    padding: 0 5px

  

.is-logged
  .user-box
    display: block
  .user-singin
    display: none
  .user-join
    display: none


// ----------------------------------------------------------------------------
//
// Search Form
//
// ----------------------------------------------------------------------------

.search-box
  @extend %relative
  @extend %float-left
  width: 198px
  margin-top: 10px

.search-type-box
  display: block
  background-color: #fff
  line-height: 1
  border: 0
  border-color: transparent
  @extend %small-type

.search-submit
  @extend %absolute
  right: 8px
  top: 4px
  width: 20px
  height: 20px
  z-index: 3
  opacity: 0
  cursor: pointer

.search-type
  @extend %absolute-right
  @extend %data-icon-search-off
  @extend %irregular-type
  @extend %no-repeat
  @extend %no-border
  @include box-shadow(0px, 1px, 3px, 1px,rgba(0, 0, 0, 0.2), true)
  @include round-all(15px)
  @include transition(all, 0.2s, ease) 

  width: 120px
  padding: 6px 10px 6px 30px

  color: $nav-search-colour
  background-color: $nav-search-bck
  background-position: 10px center
  
  &:focus, &:hover
    @extend %data-icon-search-on
    @extend %background-white
    color: $nav-search-bck-focus 
    width: 150px
