// ----------------------------------------------------------------------------
// 
// lonely planet mark
// 
// ----------------------------------------------------------------------------

%lp-logo
  @extend %sprite-core--standard
  @extend %inline-block
  +retinafy()
    @extend %sprite-core--retina

.media--lp-logo--head
  @extend %lp-logo
  background-position: 0 0
  width: 83px
  height: 41px
  margin: 7px 10px 0 0

.media--lp-logo--footer
  @extend %lp-logo
  background-position: 0 -42px
  width: 83px
  height: 41px
  margin: 14px 10px 0 0


// ----------------------------------------------------------------------------
// 
// icons
// 
// ----------------------------------------------------------------------------

.icon--small
  @extend %small-icon

.icon--regular
  @extend %regular-icon

// ----------------------------------------------------------------------------
// 
// Critical Icons - Served from sprite rather than font
// 
// ----------------------------------------------------------------------------

.user-basket__icon
  @extend %icon
  @extend %sprite-core--standard
  background-position: 0px -122px
  margin-right: 5px
  height: 22px
  width: 19px
  display: inline-block
  vertical-align: middle
  .retina &
    @extend %sprite-core--retina

