// ----------------------------------------------------------------------------
// 
// nav 
// 
// ----------------------------------------------------------------------------

.nav
  @extend %helvetica-neue

.nav__item
  float: left

.nav__item--vertical
  display: block

.nav__item--footer
  @extend .nav__item
  @extend %small-type
  color: #515a65
  &:hover
    text-decoration: underline

.nav__item--footer--darker
  margin-right: 25px
  padding: 12px 0
  color: #cfd0d1
  &:hover
    color: #fff
    text-decoration: none

.nav__item--title 
  @extend %nav--footer--title

.nav__item--vertical--footer
  @extend .nav__item--vertical
  @extend %small-type
  @extend .vertical-link-list__item
  color: $body-copy
  line-height: 18px
  &:hover
    text-decoration: underline
  &:first-child
    @extend .title--list--footer

.nav__item--breadcrumbs--current
  @extend .nav__item--breadcrumbs
  font-weight: bold
  &:hover
    text-decoration: none

.nav__item--breadcrumbs
  padding: 12px 5px 0 25px
  position: relative
  &:before
    width: 16px
    height: 18px
    @extend %empty-abs-generated-content
    @extend %sprite-core--standard
    left: 0px 
    top: 9px
    background-position: -128px -162px

  .ie8 &
    &:before
      background-position: -128px -163px

  .ie7 &
    background-image: image_url("core/core-arrow--gray.png")
    background-position: 2px 10px
    background-repeat: no-repeat

.icon--home
  @extend %image-replacement
  @extend %sprite-core--standard
  background-position: -126px -93px
  
.nav__item--breadcrumbs--home 
  width: 26px
  height: 32px
  @extend .icon--home

.nav--breadcrumbs--footer
  @extend %clearfix
  padding: 0


// ----------------------------------------------------------------------------
// 
// primary-nav
// 
// ----------------------------------------------------------------------------

.nav--primary
  @extend %helvetica-neue
  float: left
  margin-left: 9px
  margin-top: 18px

.nav__item--primary  
  color: $nav-primary-type
  padding: 10px 8px
  font-size: 14px
  &:hover
    color: $nav-primary-type-hover 
    text-decoration: none
  &:active
    color: $nav-primary-type
    text-decoration: none

// refactor this and hover state
.nav__item--submenu
  @extend .nav__item--primary
  cursor: pointer
  display: inline
  position: relative

  &:hover
    .nav-submenu-options
      display: block

// ----------------------------------------------------------------------------
// 
// secondary-nav
// 
// ----------------------------------------------------------------------------

.nav--secondary
  @extend %absolute-bottom
  @extend %helvetica-neue
  @extend %uppercase
  right: 0

.nav__item--secondary
  @extend %small-type
  float: left
  display: block
  padding: 7px 8px 7px
  line-height: 18px
  color: $nav-secondary-type
  &:hover
    color: $nav-secondary-type-hover
    text-decoration: none
  &:active
    color: $nav-secondary-type
  &.current
    @include border-radius(4)
    background-color: $nav-secondary-current-item-bck
    color: $nav-secondary-type-active


// ----------------------------------------------------------------------------
// 
// user-nav
// 
// ----------------------------------------------------------------------------

.nav-primary--user
  @extend %absolute-right
  margin-top: 8px

.ie7
  .nav-primary--user
    width: 135px

.nav__item--primary--user
  @extend .nav__item--primary
  float: right

.nav-user__item--primary--basket
  @extend .icon--regular
  @extend %sprite-core--standard
  background-position: -61px -126px
  display: none
  float: right
  margin-right: 18px
  margin-top: 3px
  position: relative

.nav-user-options__item__float
  @extend %extra-small-type
  +border-radius(4)
  background: #fff
  color: $nav-secondary-current-item-bck
  margin-right: 14px
  float: right
  padding: 2px 3px 0


// ----------------------------------------------------------------------------
//
// User Nav Items - Specific
//
// ----------------------------------------------------------------------------

.basket__items 
  @extend %absolute-top
  @extend %central-align
  @extend .icon--small
  @include border-radius(8)
  @include box-shadow(0, 1, 3, 1, rgba(0, 0, 0, 0.5))
  right: -5px
  line-height: 16px
  z-index: 1
  margin: 0
  color: $basket-item-type
  background-color: $basket-item
  font-weight: bold
  font-size: 10px

.user-box
  cursor: pointer
  float: right
  padding-bottom: 12px
  margin: 0 0 0 10px
  padding-right: 25px
  position: relative
  &:after
    @extend %empty-abs-generated-content 
    @extend %sprite-core--standard
    background-position: -102px -137px
    top: 8px
    right: 0
    width: 20px
    height: 20px
    z-index: 10
  &:hover
    .nav-user-options
      display: block
    &:after
      background-position: -102px -72px
  

.user-box__img
  @include box-shadow(0, 1, 3, 1, rgba(0, 0, 0, 0.3), true)
  @include border-radius(4)
  background-color: $nav-search-bck
  border: 1px solid #073a69
  height: 30px
  padding: 3px
  width: 30px

.split--footer
  overflow: hidden
  text-align: right
  border-bottom: 1px solid #465158
  padding: 12px 0


// ----------------------------------------------------------------------------
//
// Drop-Down Menu Abstraction
//
// ----------------------------------------------------------------------------


%submenu-padding
  padding: 10px

//%submenu-container

%submenu-title
  @extend %large-type
  font-weight: bold
  color: #fff
  padding: 12px 12px

%submenu-options
  @extend %absolute
  @include border-radius(5)
  @include box-shadow(0, 1, 3, 3, rgba(0, 0, 0, 0.2))
  @include transition(all, 0.15, ease)
  display: none
  padding-bottom: 4px
  right: 0px
  z-index: 1
  &:before
    @extend %empty-abs-generated-content
    //@extend %sprite-core--standard
    //background-position: -128px -139px
    display: block
    //top: -9px
    //right: 35px
    //width: 20px
    //height: 10px

%submenu-options-item
  @extend .nav__item--vertical
  @extend %sprite-core--standard
  @extend %helvetica-neue
  position: relative
  background-position: 144px -246px
  color: #fff
  font-size: 14px
  padding: 12px 12px
  &:hover
    text-decoration: none
  &:after
    @extend %empty-abs-generated-content
    @extend %sprite-core--standard
    background-position: -98px -153px
    right: 4px
    top: 0
    width: 22px
    height: 36px


// ----------------------------------------------------------------------------
//
// submenu-nav
//
// ----------------------------------------------------------------------------

.nav-submenu-options
  @extend %submenu-options
  background-color: $validation-true
  padding-top: 4px
  top: 43px
  width: 191px
  &:before
    +css-arrow(top, $width: 10px, $color: $validation-true, $offset: 136px)

.nav-submenu-options__item
  @extend %submenu-options-item
  border-color: $validation-true
  border-style: solid
  border-width: 1px 0
  padding-left: 39px
  &:hover
    background-color: #22ac5a
    border-color: #1f9a51 #000 #51ca82 #000

.flights
  &:before
    @extend %empty-abs-generated-content
    @extend %sprite-core--standard
    background-position: -4px -190px
    height: 18px
    left: 11px
    top: 10px
    width: 20px

.hotels
  &:before
    @extend %empty-abs-generated-content
    @extend %sprite-core--standard
    background-position: -99px -190px
    height: 15px
    left: 11px
    top: 10px
    width: 19px

.adventure-tours
  &:before
    @extend %empty-abs-generated-content
    @extend %sprite-core--standard
    background-position: -34px -190px
    height: 20px
    left: 11px
    top: 10px
    width: 21px

.sightseeing-tours
  &:before
    @extend %empty-abs-generated-content
    @extend %sprite-core--standard
    background-position: -68px -190px
    height: 21px
    left: 12px
    top: 10px
    width: 18px


// ----------------------------------------------------------------------------
//
// User Drop-Down Menu
//
// ----------------------------------------------------------------------------

.nav-user-options__title
  @extend %submenu-title

.nav-user-options
  @extend %submenu-options
  background: $nav-secondary-current-item-bck
  top: 53px
  width: 165px
  &:before
    +css-arrow(top, $width: 10px, $color: $nav-secondary-current-item-bck, $offset: 110px)

.nav-user-options__item
  @extend %submenu-options-item
  &:hover
    background-color:  $nav-secondary-item-hover

.nav-user-options__item--forum
  position: relative
  &:before
    @extend %empty-abs-generated-content
    top: 100%
    left: 0
    width: 100%
    height: 4px
    border-bottom: 1px solid #1eb7bc

.nav-user-options__item--signout
  margin-top: 8px

.nav-user-options__item--unread
  @extend %extra-small-type
  @include border-radius(4)
  background: #fff
  color: $nav-secondary-current-item-bck
  margin-right: 10px
  float: right
  padding: 2px 6px 1px
  display: none
