// ----------------------------------------------------------------------------
// 
// Overrides
// Essentially solves issues when mixing old legacy styles with new core layout
// 
// ----------------------------------------------------------------------------

body
  min-height: 100%
  color: $base_font_color

a
  cursor: pointer
  text-decoration: none
  &:hover
    text-decoration: none

input, textarea, select
  outline: none
  @include box-sizing()

.wrap--footer
  .column--footer
    margin-right: 48px!important
  a
    cursor: pointer
    font-size: 12px!important
    &:hover
      color: #7F9394!important
  .column--footer, .column--footer--last, .text--legal, input, .box-description__title--footer, .box-description__lead--footer, .nav__item--breadcrumbs--current, .label--footer
    font-size: 12px!important
  .nav__item--footer--darker
    &:hover
      color: #fff!important
      text-decoration: none!important
  .nav__item--breadcrumbs, .nav__item--breadcrumbs--current
    line-height: 1em!important

.nav--primary, .nav-primary--user, .nav--secondary
  a
    cursor: pointer
    line-height: 1em
    &:hover
      text-decoration: none

.row--content
  margin-bottom: 18px

