// ----------------------------------------------------------------------------
// 
// Overrides
// Essentially solves issues when mixing old legacy styles with new core layout
// 
// ----------------------------------------------------------------------------

body
  min-height: 100%
  color: $base_font_color
  background-color: #fff!important
a
  cursor: pointer
  text-decoration: none
  &:hover
    text-decoration: none

input, textarea, select
  outline: none
  +box-sizing()

.wrap--footer
  .column--footer
  a
    cursor: pointer
    font-size: 12px!important
    &:hover
      color: #7F9394!important
  .column--footer, .column--footer--last, .text--legal, input, .box-description__title--footer, .box-description__lead--footer, .nav__item--breadcrumbs--current, .label--footer, .form__select--language 
    font-size: 12px!important
  .nav__item--footer--darker
    &:hover
      color: #fff!important
      text-decoration: none!important
  .nav__item--breadcrumbs, .nav__item--breadcrumbs--current
    line-height: 1em!important

.nav--primary, .nav-primary--user, .nav--secondary
  a
    cursor: pointer
    &:hover
      text-decoration: none

.nav--primary
  line-height: 14px

.nav--secondary
  line-height: 18px

.nav__item--secondary
  font-size: 12px !important

.row--content
  position: relative
  // Ensure that the primary--nav dropdowns sit above mpu units
  z-index: 1
  margin-bottom: 18px
  font-size: 12px
  background-color:  #fff!important
  [id*=mediaBlock] &
    background-color: #000 !important

.row__inner--content
  padding: 0px!important
  
.btn-submit--small
  padding: 8px 10px
  font-size: 12px!important
  &:hover
    background-color: #fff
    color: $nav-secondary-current-item-bck

.dropdown__value--language
  width: 86px!important
  margin-top: 4px!important
  border: 0!important
  font-size: 12px !important

.input--small--footer
  border: none !important
  padding: 8px 10px !important
  margin-right: 5px !important
  width: 170px !important

.row--breadcrumbs
  background-color: $body-background
  margin-bottom: 0

.nav__item--breadcrumbs:hover
  color: $header-gray

.nav__item--footer
  font-size: 12px !important

.nav__submenu__item:hover
  color: white !important

/* Pages with Wallpapers */
html
  overflow-x: hidden !important

.ad-wallpaper 
  overflow-x: visible !important
  .row--content
    background-color: transparent !important
    
// Thorntree

.tt_post_form 
  a > img
    @extend %inline-block
  input[type="button"], input[type="submit"], .jive-main-button
    -webkit-appearance: push-button
    cursor: pointer
    padding: 5px

#forum
  font-size: 12px !important
  strong, b
    font-weight: bold
  .container, #lightbox
    input, textarea
      border: 1px solid #CFCBCB
  input[type="image"]
    border: none !important

.advancedTTSearch
  font-size: 12px !important
  #mainContent
    input, textarea
      padding: 5px
      border: 1px solid #CFCBCB !important
    input[type="image"]
      border: none !important


// Shop

#sideBar
  #shoppingCart 
    input
      height: 16px
      margin-top: -2px
      padding: 2px
  
.bookPricePurch
  .orangeAngleButton
    overflow: hidden !important


// Statler
.globalListControls 
  .paginateControls 
    div
      position: static !important
      line-height: 12px !important

// Destinations

#contentBody
  h3
    font-weight: bold
  em
    font-style: italic
  h2
    > strong
      font-weight: normal
    + h3
      margin-top: 1em

.formtastic
  border: 1px solid #CFCBCB

body.contact
  .formtastic
    border: none !important
    input, textarea
      border: 1px solid #CFCBCB

#flightWidget 
  fieldset 
    input
      border: 1px solid #CFCBCB
      padding: 4px 2px !important

body.reportAbuse 
  background: none !important
  #mainContent 
    textarea
      border: 1px solid #CFCBCB

.featureArticle #contentBody,
.fastFacts
  strong
    font-weight: bold

#mediaBlock-standalone
  #languageSelect
    background: white !important
    color: #444 !important

#bookableSidebar,
#bookableContent
  h3
    font-weight: bold

// Microsites
.text--legal
  width: 500px



// Report abuse
body.reportAbuse
  background: none !important

// Groups
#profiles #mainContent form .termsConditions #termsConditions
  overflow: auto !important
  border: 1px solid #CFCBCB


// Somehow we have introduced size 11px text all across the site
body
  font-size: 12px

.search__input--primary
  font-size: 15px
