// ----------------------------------------------------------------------------
// 
// Row
// 
// ----------------------------------------------------------------------------

.row
  @extend %clearfix

.row__inner
  @extend %block-center
  @extend %relative
  @extend %clearfix
  @extend %regular-width

.row__inner--left
  float: left

.row__inner--right
  float: right
  text-align: right

.row__inner--right__nav
  @extend %inline-block
  text-align: left
  vertical-align: top

// ----------------------------------------------------------------------------
// 
// Row top adverts
// 
// ----------------------------------------------------------------------------

.row--leaderboard
  @extend %clearfix
  background-color: $row-leader
  padding: 16px 0 


// ----------------------------------------------------------------------------
// 
// Row primary
// 
// ----------------------------------------------------------------------------

.row--primary
  background-color: $primary-nav
  padding: 7px 0
  height: 41px
  min-width: 1000px
  margin-bottom: 40px
  .row__right
    margin-right: 20px

.row__title--secondary
  @extend %benton-regular
  @extend %extra-large-type
  @extend %truncate-text
  float: left
  color: $dark-blue-gray
  line-height: 28px
  max-width: 340px
  
.row__inner--secondary
  min-height: 32px


// ----------------------------------------------------------------------------
// 
// Row cookie compliance
// 
// ----------------------------------------------------------------------------

.row--cookie-compliance
  +transition(all, 0.25, ease)
  background-color: #EFEEEE
  height: 0
  overflow: hidden
  padding: 0
  .btn--regular
    margin-top: 4px
    float: right

.row--cookie-compliance--close
  height: 0

.row--cookie-compliance--open
  height: 56px
  padding: 15px 0

.row__inner__msg
  @extend %small-type
  @extend %left-icon
  @extend %the-dude-before
  line-height: 1.5em
  padding: 12px 0 12px 60px
  position: relative
  strong
    font-weight: bold
  &:before
    font-size: 90px
    color: $primary-nav

// ----------------------------------------------------------------------------
// 
// Row Container
// 
// ----------------------------------------------------------------------------
.row--content
  background-color: $body-background

.row__inner--content
  padding: 18px 0

// ----------------------------------------------------------------------------
// 
// Row footer
// 
// ----------------------------------------------------------------------------

.wrap--footer
  background-color: $body-background

.row--footer
  margin-bottom: 6px

.row__inner--footer
  padding: 12px 0 11px 0
  border-top: 1px solid #d6dedf

.row__inner--footer
  padding: 12px 0
  
.row--footer--about
  @extend %small-type

// ----------------------------------------------------------------------------
// 
// Sticky footer
// 
// ----------------------------------------------------------------------------

.wrap--footer-push
  background-color: $body-background
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0
  margin-bottom: -377px
  
.row--footer-push
  height: 377px

