// ----------------------------------------------------------------------------
// 
// Row
// 
// ----------------------------------------------------------------------------

.row
  @extend %clearfix

.row__inner
  @extend %block-center
  @extend %clearfix
  @extend %relative
  @extend %regular-width

.row--core
  @extend %helvetica-neue


// ----------------------------------------------------------------------------
// 
// Row cookie compliance
// 
// ----------------------------------------------------------------------------

.row--cookie-compliance
  @extend %transition--base
  background-color: $cookie-background
  overflow: hidden
  .btn--regular
    margin-top: 4px
    float: right

.row--cookie-compliance--close
  height: 0
  .ie7 &
    display: none

.row--cookie-compliance--open
  height: 56px
  padding: 15px 0

.row__inner__msg
  @extend %small-type
  @extend %left-icon
  @extend %the-dude-before
  line-height: 1.5em
  padding: 12px 0 12px 60px
  strong
    font-weight: bold
  &:before
    font-size: 90px
    color: $primary-nav


// ----------------------------------------------------------------------------
// 
// Row top adverts
// 
// ----------------------------------------------------------------------------

.row--leaderboard
  background-color: $row-leader
  padding: 16px 0 


// ----------------------------------------------------------------------------
// 
// Row primary
// 
// ----------------------------------------------------------------------------

.row--primary
  background-color: $primary-nav
  height: 55px
  min-width: 1000px
  margin-bottom: 40px
  padding: 0 20px
  .ie7 &
    // Make sure that top nav dropdowns always stay on top
    z-index: 2
    position: relative


// ----------------------------------------------------------------------------
// 
// Row primary
// 
// ----------------------------------------------------------------------------

.row__title--secondary
  max-width: 340px
  position: absolute
  background: $body-background
  &:hover
    max-width: none

// // ----------------------------------------------------------------------------
// 
// Row Container
// 
// ----------------------------------------------------------------------------

.row--content
  background-color: $body-background


// ----------------------------------------------------------------------------
// 
// Generic footer row
// 
// ----------------------------------------------------------------------------

.row__inner--footer
  border-top: 1px solid #d6dedf

// ----------------------------------------------------------------------------
// 
// Row Sitemap
// 
// ----------------------------------------------------------------------------

.row--sitemap
  margin-bottom: 30px

.row--sitemap__inner
  @extend %small-type
  padding-top: 20px



// ----------------------------------------------------------------------------
// 
// Row About
// 
// ----------------------------------------------------------------------------

.row--footer--about
  @extend %small-type


// ----------------------------------------------------------------------------
// 
// Row Smallprint
// 
// ----------------------------------------------------------------------------

.row--smallprint__inner
  padding: 20px 0


// ----------------------------------------------------------------------------
// 
// Sticky footer
// 
// ----------------------------------------------------------------------------

.wrap--footer
  background-color: $body-background

.wrap--footer-push
  background-color: $body-background
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0
  margin-bottom: -420px

.row--footer-push
  height: 420px
