.place-title
  @extend %benton-regular
  @extend %extra-large-type
  @extend %truncate-text
  letter-spacing: -0.1em
  color: $dark-blue-gray
  line-height: 26px
  margin-right: 20px

.place-title__parent
  @extend %benton-book
  color: $dark-blue-gray
  &:hover
    text-decoration: none

.title--list--footer
  @extend %small-type
  display: block
  color: $title-footer--darker
  margin-bottom: 15px

.title--footer
  font-weight: bold

.text--legal
  @extend %tiny-type
  width: 60%
  line-height: 1.5em
  color: $body-copy
  margin-bottom: 0


