.place-title
  @extend %benton-regular
  @extend %extra-large-type
  @extend %truncate-text
  letter-spacing: -0.1em
  font-weight: bold
  color: $dark-blue-gray
  line-height: 28px
  margin-right: 20px

.place-title__parent
  font-weight: normal
  color: $dark-blue-gray

.title--list--footer
  @extend %small-type
  font-weight: bold
  color: $title-footer--darker
  margin-bottom: 15px

.text--legal
  @extend %tiny-type
  line-height: 1.5em
  color: $body-copy
  margin-bottom: 0


