.title--list--footer
  @extend %small-type
  font-weight: bold
  color: $title-footer--darker

.text--legal
  margin: 21px auto
  text-align: center
  line-height: 1.5em
  width: 90%
  color: $body-copy
