.top-nav
  @extend %clearfix
  .left-group
    @extend %float-left
    @extend %left-align
  .right-group
    @extend %float-right
    @extend %lright-align

  .item
    +vertically-center(36px)
    +round-all(2px)
    @extend %standard-shadow
    @extend %inline-block
    @extend %relative
    @extend %white-background
    color: $body-copy
    padding: 0 6px 0 8px
    margin: 0 8px 10px 0
    &:hover
      @extend %no-underline
    &.active
      @extend %active-background
      @extend %relative
      &:after
        +css-arrow-central(top, 8px, #fff, 120px)
        top: 30px
        bottom: auto

  .start-date
    @extend %inline-block
    @extend %date-icon

  .end-date
    @extend %inline-block
    @extend %arrow-icon
    @extend %chevron-vertical

  .open-filters
    @extend %inline-block
    @extend %filter-icon
    @extend %chevron-vertical

  .dropdown
    @extend %clearfix
    @extend %box-off-double
    @extend %standard-shadow
    clear: both
    background-color: #fff
    margin-bottom: 10px
