.top-nav
  @extend %clearfix
  @extend %smooth-text
  .left-group
    @extend %float-left
    @extend %left-align
  .right-group
    @extend %float-right
    @extend %right-align

  .item
    +vertically-center(36px)
    +round-all(2px)
    @extend %standard-shadow
    @extend %inline-block
    @extend %relative
    @extend %white-background
    color: $body-copy
    padding: 0 6px 0 8px
    margin: 0 8px 10px 0
    &:hover
      @extend %no-underline
    &.active
      @extend %active-background
      font-weight: bold

  .dates-tab
    min-width: 230px

  .start-date
    @extend %inline-block
    @extend %date-icon

  .end-date
    @extend %inline-block
    @extend %arrow-icon
    @extend %chevron-vertical

  .open-filters
    @extend %inline-block
    @extend %filter-icon
    @extend %chevron-vertical

  .dropdown
    @extend %clearfix
    @extend %standard-shadow
    clear: both
    background-color: #fff
    margin-bottom: 10px

  .datepicker
    +placeholder()
      color: $sub-copy



