// --------------------------------------------------------------------------------------
// Typographic Base
//
// We set the base font-size equal to 14px with a line-height of  20px.
//
// 20px is our magic number
// All vertical margins and line-heights should be multiples of our magic number,
// This maintains our vertical rhythm
// --------------------------------------------------------------------------------------

html
  font: 0.875em/1.4 Arial, Helvetica, sans-serif 

body
  min-height: 100%
  color: $base_font_color
  @include font-size(14) // This is here just to revert the font-size to 100% after global-static sets it to 75% - $$legacy --


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p
  margin: 0 0 20px 0 // Our magic number
  padding: 0



// --------------------------------------------------------------------------------------
// Typographic Grid 
// --------------------------------------------------------------------------------------

%extra-small-type
  @include font-size(11)

%small-type
  @include font-size(12)

%large-type
  @include font-size(16)

%extra-large-type
  @include font-size(18)

%heading-size-type
  @include font-size(22)



// --------------------------------------------------------------------------------------
// Typographic Element Definitions 
// --------------------------------------------------------------------------------------

h2, .h2
  @extend %heading-size-type
  font-weight: bold

h3, .h3
  @extend %extra-large-type
  
h4, .h4
  @extend %large-type


a,
a.h1,
a.h2,
a.h3,
a.h4,
a.h5,
a.h6
  color: $link_color
  cursor: pointer
  text-decoration: none
  &:hover
    text-decoration: underline

.text-list
  li
    margin-bottom: 0.6em


// -----------------------------------------------------------------------------
// Backwards compatability - revert the font size for the $$legacy header/footer
// -----------------------------------------------------------------------------

#headerWrap, #pageTitleWrap, #infoSourcesWrap, #footerWrap, .hwrap, 
nav.primary, #breadcrumbWrap, footer > .info, footer > .foot
  @extend %small-type

#mainNavWrap p
  margin-bottom: 0

#footerWrap, .footer-info
  p
    @extend %extra-small-type
    margin-bottom: 0
    
#infoSourcesWrap
  p
    margin-bottom: 0