/*
Errno::ENOENT: No such file or directory - app/assets/stylesheets/_styleguide.sass

Backtrace:
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:339:in `read'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:203:in `update_stylesheets'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `each'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:201:in `update_stylesheets'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:299:in `watch'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `call'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:86:in `on_change'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:95:in `initialize_adapter'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `call'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:55:in `poll'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `initialize'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `new'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/adapters/polling.rb:31:in `start'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/vendor/listen/lib/listen/multi_listener.rb:44:in `start'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin/compiler.rb:307:in `watch'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin.rb:107:in `send'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/plugin.rb:107:in `method_missing'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:444:in `watch_or_update'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:307:in `process_result'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:41:in `parse'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/../lib/sass/../sass/exec.rb:21:in `parse!'
/Users/Ian/.rvm/gems/ruby-1.9.3-p125@beaker/gems/sass-3.2.5/bin/sass:8
/usr/bin/sass:19:in `load'
/usr/bin/sass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - app/assets/stylesheets/_styleguide.sass"; }
