.icon--article--white, .icon--article--white--before:before, .icon--article--white--after:after { background-image: url(png/article--white.png); background-repeat: no-repeat; }

.icon--camera--white, .icon--camera--white--before:before, .icon--camera--white--after:after { background-image: url(png/camera--white.png); background-repeat: no-repeat; }

.icon--chevron-down--grey, .icon--chevron-down--grey--before:before, .icon--chevron-down--grey--after:after { background-image: url(png/chevron-down--grey.png); background-repeat: no-repeat; }

.icon--chevron-up--grey, .icon--chevron-up--grey--before:before, .icon--chevron-up--grey--after:after { background-image: url(png/chevron-up--grey.png); background-repeat: no-repeat; }

.icon--chevron-up--white, .icon--chevron-up--white--before:before, .icon--chevron-up--white--after:after { background-image: url(png/chevron-up--white.png); background-repeat: no-repeat; }

.icon--compass--grey, .icon--compass--grey--before:before, .icon--compass--grey--after:after { background-image: url(png/compass--grey.png); background-repeat: no-repeat; }

.icon--compass--white, .icon--compass--white--before:before, .icon--compass--white--after:after { background-image: url(png/compass--white.png); background-repeat: no-repeat; }

.icon--home--white, .icon--home--white--before:before, .icon--home--white--after:after { background-image: url(png/home--white.png); background-repeat: no-repeat; }

.icon--logo--grey, .icon--logo--grey--before:before, .icon--logo--grey--after:after { background-image: url(png/logo--grey.png); background-repeat: no-repeat; }

.icon--logo--white, .icon--logo--white--before:before, .icon--logo--white--after:after { background-image: url(png/logo--white.png); background-repeat: no-repeat; }

.icon--magazine--grey, .icon--magazine--grey--before:before, .icon--magazine--grey--after:after { background-image: url(png/magazine--grey.png); background-repeat: no-repeat; }

.icon--magazine--white, .icon--magazine--white--before:before, .icon--magazine--white--after:after { background-image: url(png/magazine--white.png); background-repeat: no-repeat; }

.icon--plane--grey, .icon--plane--grey--before:before, .icon--plane--grey--after:after { background-image: url(png/plane--grey.png); background-repeat: no-repeat; }

.icon--plane--white, .icon--plane--white--before:before, .icon--plane--white--after:after { background-image: url(png/plane--white.png); background-repeat: no-repeat; }

.icon--plane-trail--grey, .icon--plane-trail--grey--before:before, .icon--plane-trail--grey--after:after { background-image: url(png/plane-trail--grey.png); background-repeat: no-repeat; }

.icon--plane-trail--white, .icon--plane-trail--white--before:before, .icon--plane-trail--white--after:after { background-image: url(png/plane-trail--white.png); background-repeat: no-repeat; }

.icon--search-glass--white, .icon--search-glass--white--before:before, .icon--search-glass--white--after:after { background-image: url(png/search-glass--white.png); background-repeat: no-repeat; }

.icon--shop-basket--grey, .icon--shop-basket--grey--before:before, .icon--shop-basket--grey--after:after { background-image: url(png/shop-basket--grey.png); background-repeat: no-repeat; }

.icon--shop-basket--white, .icon--shop-basket--white--before:before, .icon--shop-basket--white--after:after { background-image: url(png/shop-basket--white.png); background-repeat: no-repeat; }

.icon--video--white, .icon--video--white--before:before, .icon--video--white--after:after { background-image: url(png/video--white.png); background-repeat: no-repeat; }

.icon--video-clip--white, .icon--video-clip--white--before:before, .icon--video-clip--white--after:after { background-image: url(png/video-clip--white.png); background-repeat: no-repeat; }