- activity_list = YAML.load(File.read(File.expand_path('../../../data/styleguide/activity_list_stubs.yml', __FILE__)))
.card.styleguide-intro
  .clearfix
    %h1.copy--h1 Activity List
    %p.copy--body<
      Note: The announcements icon below is not implemented yet.
  
- activity_list.each_with_index do | stub, i |
  = sg_component('activity_list', properties: stub, count: i, full_width: true, card_style: true)