.card.styleguide-intro.styleguide-block.copy--body.context--content
  %h1.copy--h1 Card-based Grid
  %p
    The main grid in waldorf is based around the width of a single card.

  .copy--h4 N.b. The card appearance is applied separately - grid class only provide dimensions

.styleguide-block.styleguide-grid.context--content
  %p.copy--h2 Cards Grid within a ten pixel gutter (.grid-wrapper--10)
  %div{class: "grid-wrapper--10"}
    .card.card--single.copy--h4 .card--single
    .card.card--single.copy--h4 .card--single
    .card.card--single.copy--h4 .card--single
    .card.card--single.copy--h4 .card--single

    .card.card--double.copy--h4 .card--double
    .card.card--double.copy--h4 .card--double

    .card.card--triple.copy--h4 .card--triple
    .card.card--single.copy--h4 .card--single

    .card.card--quadruple.copy--h4 .card--quadruple

    .card.card--full-width.copy--h4 .card--full-width (will extend to fill 5 card widths if no sidebar)
