.card.card--full-width.styleguide-intro.clearfix
  %h1.split--left.copy--title Colour Palette
  .split--right.filter--links
    %a{ href: "javascript:sortBy(lightToDark)" } Light to dark
    |
    %a{ href: "javascript:sortBy(darkToLight)" } Dark to light


- get_colours('_colour_palette').each do |group|
  = render 'styleguide/partials/colour', group: group

= render 'styleguide/javascripts/luminosity'

