- tiles = YAML.load(File.read(File.expand_path('../../../data/styleguide/tiles_stubs.yml', __FILE__)))

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 Tiles
  %p
    Tiles should be included as components where possible, and always in rails apps. You can include the ui_component includes as detailed below.

- tiles['basic'].each do |tile|
  = sg_component("tile", properties: tile)

.card.styleguide-intro.copy--body.context--content
  %h2.copy--h1 Sashes
  %p
    Tiles can optionally display a 'sash' to highlight and categorise the tile by section.

- ['sight', 'activity', 'tour', 'hotel', 'restaurant', 'shopping', 'festival', 'entertainment', 'article', 'need-to-know', 'transport'].each do |sash|
  = sg_component("tile", properties: tiles['sashes'].merge(:sash => sash, :styleguide_title => "Tile with #{sash} sash"))
