.card.card--full-width.styleguide-intro
  %h1.copy--title Typography
  %p.copy--body
    %a{href: "https://github.com/lonelyplanet/rizzo/blob/master/app/assets/stylesheets/_common-ui/_copy.sass"} _copy.sass - View on github
  %p.copy--body
    We achieve styling through opt in classes and do not style elements.

.card.card--full-width.styleguide-intro.styleguide-block
  .copy--title This is typically used for the main page heading
  .copy--feature Feature text: typically used for intro paragraphs. Not always in Jim Carrey's voice but... It's because i'm green isn't it! we got no food we got no money and our pets heads are falling off! haaaaaaarry. brain freeze. alrighty then brain freeze. excuse me, i'd like to ass you a few questions.
  .copy--subtitle This is typically used for the body copy subtitling
  .copy--body Here lies a bunch of body copy in Michael Caine's voice. You are as precious to me as you were to your own mother and father. i swore to them that i would protect you, and i haven't. you know, your bobby dangler, giggle stick, your general-two-colonels, master of ceremonies... yeah, don't be shy, let's have a look. i want to shoot the pigeons... off my roof. your were only supposed to blow the bloody doors off. jasper: your baby is the miracle the whole world has been waiting for. when i get back, remind to tell you about the time i took 100 nuns to nairobi! 
  .copy--body__title Used for subsection titles
  .copy--meta This is used for meta heading styling, usually in the details panel
  .copy--caption Caption text