.card.styleguide-intro
  .clearfix
    %h1.split--left.copy--h1 UI Colours
    .split--right.filter--links
      .luminosity
        %a{ href: "javascript:sortBy(lightToDark)" } Light to dark
        |
        %a{ href: "javascript:sortBy(darkToLight)" } Dark to light
      .styleguide-proximity
        %input.styleguide-proximity__input#proximityMatch{ type: "text" }
        %a.styleguide-proximity__link{ href: "javascript:matchProximity()" } Find closest colour
        |
        %a.styleguide-proximity__link{ href: "javascript:resetProximity()" } Reset

  %p.copy--body
    These are the colours outside of the primary palettes that are used within the sass. They are defined in 
    %a{href: 'https://github.com/lonelyplanet/rizzo/blob/master/app/assets/stylesheets/_variables/_colour_theme.sass'}
      colour_theme.sass

.grid-wrapper--10
  - get_colours('_colour_theme').each do |group|
    = render 'styleguide/partials/colour', group: group

= render 'styleguide/javascripts/luminosity'