// -----------------------------------------------------------------------------
// Helper
// -----------------------------------------------------------------------------

.clearfix
  @extend %clearfix
  display: block

// -----------------------------------------------------------------------------
// Styleguide helpers
// -----------------------------------------------------------------------------

[class*="grid-"]
  margin-bottom: 30px
[class*="col--"]
  min-height: 30px

input[type="text"]
  padding: 4px 8px