<div class="js-user-signed-out-template">
  <div class="wv--nav--inline nav__item--user-menu js-user-signed-out">
    <a class="nav__item nav__item--primary js-user-sign_in js-nav-item" href="https://www.lonelyplanet.com/thorntree/users/sign_in">
      <i class="nav__icon icon--user--before icon--white--before"></i>
      Sign in
    </a>
    <a class="nav__item nav__item--primary js-user-sign_up js-nav-item" href="https://www.lonelyplanet.com/thorntree/users/sign_up">
      <i class="nav__icon icon--sign-in--before icon--white--before"></i>
      Join
    </a>
  </div>

  <div class="wv--nav--inline nav__item--user-menu--wv js-user-signed-out">
    <a class="nav__item nav__item--primary js-user-sign_in js-nav-item" href="https://www.lonelyplanet.com/thorntree/users/sign_in">
      <i class="nav__icon icon--user--before icon--white--before"></i>
      Sign in
    </a>
    <a class="nav__item nav__item--primary js-user-sign_up js-nav-item" href="https://www.lonelyplanet.com/thorntree/users/sign_up">
      <i class="nav__icon icon--sign-in--before icon--white--before"></i>
      Join
    </a>
  </div>
</div>

<div class="js-user-signed-in-template">
  <div class="nav__item nav__item--user nav__submenu__trigger js-user-signed-in">
    <img class="nav__item--user-avatar js-user-avatar" data-src="{{avatar}}">
    <span class="notification-badge notification-badge--unread-messages wv--inline-block is-hidden js-unread-feed-number">0</span>
    <span class="wv--hidden nav--offscreen__title">{{username}}</span>

    <div class="nav__submenu nav__submenu--user">
      <div class="nav--stacked nav__submenu__content nav__submenu__content--user icon--tapered-arrow-up--after icon--white--after icon--white--bordered nav-user-options js-user-options">
        <div class="nav__submenu__item nav__submenu__title nav__submenu__title--user-name">
          {{username}}
          <a class="split--right icon--settings icon--body-grey" href="https://www.lonelyplanet.com/thorntree/forums/settings"></a>
        </div>
        <div class="nav__submenu__item nav__submenu__title nav__submenu__title--user-email">{{email}}</div>
        <div class="nav__submenu__item nav__submenu__item--user-buttons">
          <div class="grid-wrapper--10">
            <div class="col--one-half">
              <a class="btn btn--small btn--full-width" href="https://www.lonelyplanet.com/thorntree/profiles/{{profileSlug}}">View Profile</a>
            </div>
            <div class="col--one-half">
              <a class="btn btn--small btn--subtle btn--full-width" href="https://www.lonelyplanet.com/thorntree/users/sign_out">Sign Out</a>
            </div>
          </div>
        </div>
        <div class="nav__submenu__feed js-user-feed">
          <div class="nav__submenu__feed__toggle-buttons">
            <div class="grid-wrapper--0">
              <div class="col--one-half">
                <a class="btn btn--white btn--feed-toggle js-tab-trigger is-active" href="#js-user-feed-activities">
                  Recent activity <span class="nav__submenu__feed__unread-number">(<span class="js-unread-activities-number">0</span>)</span>
                </a>
              </div>
              <div class="col--one-half">
                <a class="btn btn--white btn--feed-toggle js-tab-trigger" href="#js-user-feed-messages">
                  Messages <span class="nav__submenu__feed__unread-number">(<span class="js-unread-messages-number">0</span>)</span>
                </a>
              </div>
            </div>
          </div>
          <div class="js-tabs-content">
            <ul class="nav__submenu__feed__activities is-active" id="js-user-feed-activities">
              <li class="activity-list__item--empty">Your feed is empty</li>
            </ul>
            <ul class="nav__submenu__feed__messages" id="js-user-feed-messages">
              <li class="activity-list__item--empty">Your have no messages</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wv--nav--inline nav__item--user-menu js-user-signed-in">
    <a class="nav__item nav__item--primary" href="https://www.lonelyplanet.com/thorntree/profiles/{{profileSlug}}">
      <i class="nav__icon copy--icon--before icon--user--before icon--white--before"></i>
      My profile
    </a>
    <a class="nav__item nav__item--primary" href="https://www.lonelyplanet.com/thorntree/forums/settings">
      <i class="nav__icon copy--icon--before icon--settings--before icon--white--before"></i>
      Settings
    </a>
    <a class="nav__item nav__item--primary" href="https://www.lonelyplanet.com/thorntree/profiles/{{profileSlug}}/messages">
      <i class="nav__icon copy--icon--before icon--envelope--before icon--white--before"></i>
      Messages
      <span class="is-hidden js-unread-messages"> ({{unreadMessageCount}})</span>
    </a>
    <a class="nav__item nav__item--primary" href="https://www.lonelyplanet.com/thorntree/profiles/{{profileSlug}}/activities">
      <i class="nav__icon copy--icon--before icon--comment--before icon--white--before"></i>
      Forum activity
    </a>
    <a class="nav__item nav__item--primary" href="https://www.lonelyplanet.com/thorntree/users/sign_out">
      <i class="nav__icon copy--icon--before icon--sign-out--before icon--white--before"></i>
      Sign out
    </a>
  </div>
</div>