<div id="breadcrumbWrap" class="posChange"> 
  <ol id="breadcrumb">
    <li class="twoCol">
      <span>
        <a href="http://www.lonelyplanet.com/asia">Asia</a>
        <a href="http://www.lonelyplanet.com/asia/places" class="dropDown"><img class="arrow" alt="More" src="http://static.lonelyplanet.com/static-ui/images/15x15_trans.gif"/></a>
      </span>
      <ul class="wrapper">
        <li class="col">
          <ul>
            <li><strong>A-Z destinations</strong></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/afghanistan">Afghanistan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/bangladesh">Bangladesh</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/bhutan">Bhutan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/brunei-darussalam">Brunei Darussalam</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/cambodia">Cambodia</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/china">China</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/east-timor">East Timor</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/india">India</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/indonesia">Indonesia</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/japan">Japan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/kazakhstan">Kazakhstan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/kyrgyzstan">Kyrgyzstan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/laos">Laos</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/malaysia">Malaysia</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/maldives">Maldives</a></li>
            <li class="seeAll"><a rel="nofollow" href="http://www.lonelyplanet.com/asia/places">See all</a></li>
          </ul>
        </li>
        <li class="col">
          <ul>
            <li><strong></strong></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/mongolia">Mongolia</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/myanmar-burma">Myanmar/Burma</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/nepal">Nepal</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/north-korea">North Korea</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/pakistan">Pakistan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/philippines">Philippines</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/singapore">Singapore</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/south-korea">South Korea</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/sri-lanka">Sri Lanka</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/taiwan">Taiwan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/tajikistan">Tajikistan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/thailand">Thailand</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/turkmenistan">Turkmenistan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/uzbekistan">Uzbekistan</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam">Vietnam</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="twoCol">
      <span>
        <a href="http://www.lonelyplanet.com/vietnam">Vietnam</a>
        <a href="http://www.lonelyplanet.com/vietnam/places" class="dropDown"><img class="arrow" alt="More" src="http://static.lonelyplanet.com/static-ui/images/15x15_trans.gif"/></a>
      </span>
      <ul class="wrapper">
        <li class="col">
          <ul>
            <li><strong>Popular</strong></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/hanoi">Hanoi</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/ho-chi-minh-city">Ho Chi Minh City</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/mekong-delta">Mekong Delta</a></li>
            <li class="seeAll"><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/places">See all</a></li>
          </ul>
        </li>
        <li class="col">
          <ul>
            <li><strong>A-Z destinations</strong></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/around-ho-chi-minh-city">Around Ho Chi Minh City</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/central-highlands">Central Highlands</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/central-vietnam">Central Vietnam</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/hanoi">Hanoi</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/ho-chi-minh-city">Ho Chi Minh City</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/mekong-delta">Mekong Delta</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/north-central-vietnam">North-central Vietnam</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/northeast-vietnam">Northeast Vietnam</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/northwest-vietnam">Northwest Vietnam</a></li>
            <li><a rel="nofollow" href="http://www.lonelyplanet.com/vietnam/south-central-coast">South-central Coast</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class=" last">
      <a href="http://www.lonelyplanet.com/vietnam/ho-chi-minh-city">Ho Chi Minh City</a>
    </li>
  </ol>
</div>
