- if stack_item.topchoice or stack_item.prices
  .card__tags
    - if stack_item.prices

      - if stack_item.prices[currency.to_s].present? && stack_item.prices[currency.to_s] > 0
        - price = stack_item.prices[currency.to_s].ceil
      - if stack_item.on_sale?
        - if stack_item.retail_prices[currency.to_s].present? && stack_item.retail_prices[currency.to_s] > 0
          - retail_price = stack_item.retail_prices[currency.to_s].ceil
        - else
          - retail_price = nil

        = ui_component('price_tag', properties: { currency: raw(currency.to_symbol), price: price, retail_price: retail_price })

    - if stack_item.topchoice
      .tag.tag--badge.tag--top-choice
        %span.tag--badge__content
          Top Choice
