.content-pane
  +transition(all, 0.2, ease-in-out)
  @extend %absolute-top
  left: 0
  z-index: 30
  height: $map__height - 10
  width: 100%
  opacity: 1
  &.is-revealing-nav
    height: $map__height - 100

    .content-pane__nav__link__icon
      opacity: 0

.content-pane__nav
  display: block
  color: white
  height: 100%
  position: absolute
  bottom: 0
  width: 5%

.content-pane__nav__link__icon
  height: 70px
  margin-top: ($map__height - 10 - 70) / 2

.content-pane__nav--back
  left: 0
  .content-pane__nav__link__icon
    @extend %chevron-left-after

.content-pane__nav--forward
  right: 0
  .content-pane__nav__link__icon
    @extend %chevron-right-after


.content-pane__nav__link
  position: absolute
  bottom: 0
  height: $map__height - 10
  width: 100%
  text-align: center
  text-shadow: 1px 1px 5px black
  &:hover
    background-color: rgba(0,0,0,.1)
    text-decoration: none


.content-pane__icon
  +font-size(60)
  +transition(all, 0.1, ease-in)
  color: white
  text-align: center
  text-shadow: 1px 1px 5px black
  line-height: 1em
  &:hover
    +transform(scale(1.2))
    text-decoration: none


.content-pane__hide
  @extend %cross-icon-before
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 70px
  display: block
  z-index: 50


.content-pane__inner
  @extend %clearfix
  left: 0
  background-size: cover
  width: 100%
  height: 100%
  position: relative
  list-style-type: none
  display: none
  &.current
    display: block

@for $i from 1 through length($best-in-travel--cities)
  $city: nth($best-in-travel--cities, $i)
  .content-pane__inner--city--#{$i}
    background-image: url(#{image_path('destinations/best-in-travel/hero/#{$city}-1600.jpg')})

@for $i from 1 through length($best-in-travel--countries)
  $country: nth($best-in-travel--countries, $i)
  .content-pane__inner--country--#{$i}
    background-image: url(#{image_path('destinations/best-in-travel/hero/#{$country}-1600.jpg')})

@for $i from 1 through length($best-in-travel--regions)
  $region: nth($best-in-travel--regions, $i)
  .content-pane__inner--region--#{$i}
    background-image: url(#{image_path('destinations/best-in-travel/hero/#{$region}-1600.jpg')})

.content-pane__legibility-mask
  +background-gradient($startColor: rgba(0,0,0,0.5), $endColor: rgba(0,0,0,0), $fallbackImg: false, $imgPosition: 0 0, $direction: bottom)
  @extend %absolute-bottom
  width: 100%

.content-pane__content
  @extend %clearfix
  @extend %block-center
  width: 1100px
  position: relative
  padding-bottom: 50px

.content-pane__content__inner
  @extend %clearfix

.content-pane__copy
  float: left
  width: 80%
  position: relative

.content-pane__links
  color: white
  float: right
  width: 20%

.content-pane__buttons
  text-transform: uppercase
  color: white
  width: 100%
  margin-bottom: 20px 

.btn__read-article--cities
  background-color: $section--cities

.btn__read-article--countries
  background-color: $section--countries

.btn__read-article--regions
  background-color: $section--regions

.btn__visit-destination
  background-color: $header-grey
  &:before
    font-size: 36px
    padding-right: 5px
    line-height: 0
    position: relative
    top: 5px
  @extend %local-marker-before

.carousel--cities
  .content-pane__rank
    background-color: $section--cities
    &:before
      border-color: $section--cities

.carousel--countries
  .content-pane__rank
    background-color: $section--countries
    &:before
      border-color: $section--countries

.carousel--regions
  .content-pane__rank
    background-color: $section--regions
    &:before
      border-color: $section--regions

.content-pane__rank
  +font-size(16)
  color: white
  position: absolute
  font-weight: 700
  text-align: right
  left: -50px
  top: 5px
  width: 23px
  height: 20px
  position: absolute
  font-size: 16px !important
  color: white
  z-index: 20
  &:before
    +box-shadow(1, 1, 1, 0, rgba(0,0,0,0.4))
    content: ""
    position: absolute
    display: block
    bottom: -.8em
    border-width: 1.2em .6em
    border-style: solid
    z-index: -1
    left: -1.3em
    border-right-width: 2.6em
    border-left-color: transparent !important
  

.content-pane__nav
  z-index: 50

.content-pane__title
  color: white
  +font-size(120)
  font-weight: 700
  text-transform: uppercase
  margin-top: -27px
  line-height: 1em
  margin-bottom: 16px

.content-pane__leader
  color: white
  +font-size(16)
  font-weight: 700
  margin-right: 5%