- if defined?(items)
  .wv--split--right.nav--inline.nav--secondary
    .wv--block
      - items.each do |n|
        %a.nav__item.nav__item--secondary.js-nav-item{:class=>(n[:title] == section_name ? 'current' : ''), :href=> n[:slug]}<
          = n[:title]

    .wv--hidden
      = ui_component('forms/dropdown', opts: {options: subnav_options(items, section_name), placeholder: section_name, class: "is-flat"} )