-# The inline navigation for wide screens
.wv--split--right.nav--inline.nav--secondary.wv--block
  - properties[:items].each do |n|
    %a.nav__item.nav__item--secondary.js-nav-item{:class=>(n[:title] == properties[:section_name] ? 'current' : ''), :href=> n[:slug]}<
      = n[:title]

-# The select navigation for small screens
.wv--split--right.nav--inline.nav--secondary.wv--hidden.nav--secondary__dropdown
  = ui_component('forms/dropdown', properties: {options: subnav_options(properties[:items]), selected: properties[:section_name], class: 'js-responsive-nav'})