// -----------------------------------------------------------------------------
// Prefixed CSS3 Properties
// -----------------------------------------------------------------------------

@mixin round-all($radius: 2px)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  -o-border-radius:      $radius
  border-radius:         $radius


@mixin round-each($a: 2px, $b: 2px, $c: 2px, $d: 2px)
  -webkit-border-radius: $a $b $c $d
  -moz-border-radius:    $a $b $c $d
  -ms-border-radius:     $a $b $c $d
  -o-border-radius:      $a $b $c $d
  border-radius:         $a $b $c $d


@mixin box-shadow($x: 1px, $y: 1px, $blur: 2px, $spread: 0, $color: rgba(0,0,0,0.1))
  -webkit-box-shadow: $x $y $blur $spread $color
  -moz-box-shadow:    $x $y $blur $spread $color
  -ms-box-shadow:     $x $y $blur $spread $color
  -o-box-shadow:      $x $y $blur $spread $color
  box-shadow:         $x $y $blur $spread $color


@mixin multiple-box-shadow($shadow1, $shadow2:false, $shadow3:false, $shadow4:false, $shadow5:false)
  $params: $shadow1
  @if $shadow2 != false
    $params: $shadow1, $shadow2
    @if $shadow3 != false
      $params: $shadow1, $shadow2, $shadow3
      @if $shadow4 != false
        $params: $shadow1, $shadow2, $shadow3, $shadow4
        @if $shadow5 != false
          $params: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5
  -webkit-box-shadow: $params
  -moz-box-shadow:    $params
  -ms-box-shadow:     $params
  -o-box-shadow:      $params
  box-shadow:         $params


@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999, $fallbackImg: false, $imgPosition: 0 0 )
  background:   $startColor
  @if $fallbackImg != false
    background: $startColor url($fallbackImg) $imgPosition repeat-x
  background:   $startColor -webkit-linear-gradient(top, $startColor, $endColor)
  background:      $startColor -moz-linear-gradient(top, $startColor, $endColor)
  background:       $startColor -ms-linear-gradient(top, $startColor, $endColor)
  background:        $startColor -o-linear-gradient(top, $startColor, $endColor)
  background:           $startColor linear-gradient(top, $startColor, $endColor)


@mixin background-gradient-with-stops($direction: top, $startColor: #3C3C3C, $stop2: #999999 100%, $stop3: false, $stop4: false, $stop5: false)
  $params: $startColor 0%, $stop2
  @if $stop3 != false
    $params: $startColor 0%, $stop2, $stop3
    @if $stop4 != false
      $params: $startColor 0%, $stop2, $stop3, $stop4
      @if $stop5 != false
        $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5
  background:   $startColor -webkit-linear-gradient($direction, $params)
  background:      $startColor -moz-linear-gradient($direction, $params)
  background:       $startColor -ms-linear-gradient($direction, $params)
  background:        $startColor -o-linear-gradient($direction, $params)
  background:           $startColor linear-gradient($direction, $params)


@mixin box-sizing($sizing: border-box)
  -webkit-box-sizing: $sizing
  -moz-box-sizing:    $sizing
  -ms-box-sizing:     $sizing
  -o-box-sizing:      $sizing
  box-sizing:         $sizing


@mixin transition($property: all, $duration: 0.5s, $style: ease)  
  -webkit-transition: $property $duration $style
  -moz-transition:    $property $duration $style
  -ms-transition:     $property $duration $style
  -o-transition:      $property $duration $style
  transition:         $property $duration $style

@mixin transform($scale: 1, $rotate: 15deg, $translateX: 0px, $translateY: 0px, $skewX: 0deg, $skewY: 0deg)
  -webkit-transform: scale($scale) rotate($rotate) translate($translateX, $translateY) skew($skewX, $skewY)
  -moz-transform:    scale($scale) rotate($rotate) translate($translateX, $translateY) skew($skewX, $skewY)
  -ms-transform:     scale($scale) rotate($rotate) translate($translateX, $translateY) skew($skewX, $skewY)
  -o-transform:      scale($scale) rotate($rotate) translate($translateX, $translateY) skew($skewX, $skewY)
  transform:         scale($scale) rotate($rotate) translate($translateX, $translateY) skew($skewX, $skewY)

@mixin text-shadow($x: 0px, $y: 1px, $blur: 0px, $color: rgba(255,255,255,.8))
  text-shadow: $x $y $blur $color

@mixin hyphens($type:auto)
  -webkit-hyphens: $type
  -moz-hyphens:    $type
  hyphens:         $type

@mixin word-break()
  -ms-word-break: break-all
  word-break:     break-all
  word-break:     break-word

@mixin columns($column-count: 2, $gutter: 20px)
  -webkit-columns: $column-count
  -moz-columns:    $column-count
  -ms-columns:     $column-count
  -o-columns:      $column-count
  columns:         $column-count
  -webkit-column-gap: $gutter
  -moz-column-gap:    $gutter
  -ms-column-gap:     $gutter
  -o-column-gap:      $gutter
  column-gap:         $gutter









