// -----------------------------------------------------------------------------
// Prefixed CSS3 Properties
//
// Vendor prefixes are determined by caniuse.com
// -----------------------------------------------------------------------------

// Styleguide - 4.1 - Mixin - Border Radius
//
// $radius - The corner radius
@mixin border-radius($radius: 2)
  -webkit-border-radius: $radius + px
  border-radius:         $radius + px

// Styleguide - 4.2 - Mixin - Border Radius (Each)
//
// $a - Top left corner radius
// $b - Top right corner radius
// $c - Bottom right corner radius
// $d - Bottom left corner radius
@mixin border-radius-each($a: 2, $b: 2, $c: 2, $d: 2)
  -webkit-border-radius: #{$a + px} #{$b + px} #{$c + px} #{$d + px}
  border-radius:         #{$a + px} #{$b + px} #{$c + px} #{$d + px}


@mixin box-shadow($x: 0, $y: 1, $blur: 4, $spread: 0, $color: rgba(0,0,0,0.3), $inset: false )
  $params: #{$x + px} #{$y + px} #{$blur + px} #{$spread + px} $color
  @if $inset == true
    $params: inset #{$x + px} #{$y + px} #{$blur + px} #{$spread + px} $color
  -webkit-box-shadow: $params
  box-shadow:         $params

@mixin multiple-box-shadow($shadow1, $shadow2:null, $shadow3:null, $shadow4:null, $shadow5:null)
  -webkit-box-shadow: $shadow1, $shadow2, $shadow3, $shadow4, $shadow5
  box-shadow:         $shadow1, $shadow2, $shadow3, $shadow4, $shadow5


@mixin background-gradient($startColor: #3C3C3C, $endColor: #999999, $fallbackImg: false, $imgPosition: 0 0, $direction: top )
  background:   $startColor
  @if $fallbackImg != false
    background: $startColor url($fallbackImg) $imgPosition repeat-x
  background: -webkit-linear-gradient($direction, $startColor, $endColor)
  background:         linear-gradient($direction, $startColor, $endColor)


@mixin background-gradient-with-stops($direction: top, $startColor: #3C3C3C, $stop2: #999999 100%, $stop3: false, $stop4: false, $stop5: false, $stop6: false, $stop7: false, $stop8: false, $stop9: false, $stop10: false, $stop11: false, $stop12: false)
  $params: $startColor 0%, $stop2
  @if $stop3 != false
    $params: $startColor 0%, $stop2, $stop3
    @if $stop4 != false
      $params: $startColor 0%, $stop2, $stop3, $stop4
      @if $stop5 != false
        $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5
        @if $stop6 != false
          $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5, $stop6
          @if $stop7 != false
            $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5, $stop6, $stop7
            @if $stop8 != false
              $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5, $stop6, $stop7, $stop8
              @if $stop9 != false
                $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5, $stop6, $stop7, $stop8, $stop9
                @if $stop10 != false
                  $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5, $stop6, $stop7, $stop8, $stop9, $stop10
                  @if $stop11 != false
                    $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5, $stop6, $stop7, $stop8, $stop9, $stop10, $stop11
                    @if $stop12 != false
                      $params: $startColor 0%, $stop2, $stop3, $stop4, $stop5, $stop6, $stop7, $stop8, $stop9, $stop10, $stop11, $stop12
  background: -webkit-linear-gradient($direction, $params)
  background:         linear-gradient($direction, $params)


@mixin box-sizing($sizing: border-box)
  -webkit-box-sizing: $sizing
  -moz-box-sizing:    $sizing
  box-sizing:         $sizing


// Z-index added below to ensure that child elements have their z-index honoured
@mixin hardware-acceleration()
  -webkit-transform:  translateZ(0)
  -ms-transform:      translateZ(0)
  transform:          translateZ(0)
  z-index:            1

@mixin transition($property: all, $duration: 0.5, $style: ease)
  -webkit-transition: $property #{$duration + s} $style
  transition:         $property #{$duration + s} $style

@mixin transition-delay($delay)
  -webkit-transition-delay: #{$delay + s}
  transition-delay:         #{$delay + s}

@mixin multiple-transitions($transition1, $transition2: null, $transition3: null, $transition4: null, $transition5: null)
  -webkit-transition: $transition1, $transition2, $transition3, $transition4, $transition5
  transition:         $transition1, $transition2, $transition3, $transition4, $transition5

// For when you need to animate a property that is still prefixed
@mixin vendor-prefixed-transition($property: all, $duration: 0.5, $style: ease)
  -webkit-transition: -webkit-#{$property} #{$duration + s} $style
  transition:         $property #{$duration + s} $style

@mixin filter($filter1, $filter2: null, $filter3: null, $filter4: null, $filter5: null)
  -webkit-filter: ($filter1 $filter2 $filter3 $filter4 $filter5)
  filter:         ($filter1 $filter2 $filter3 $filter4 $filter5)

@mixin text-shadow($x: 0, $y: 1, $blur: 0, $color: rgba(255,255,255,.8))
  text-shadow: #{$x + px} #{$y + px} #{$blur + px} $color

@mixin multiple-text-shadow($shadow1, $shadow2:null)
  text-shadow: $shadow1, $shadow2

@mixin hyphens($type:auto)
  -webkit-hyphens: $type
  -moz-hyphens:    $type
  -ms-hyphens:     $type
  hyphens:         $type

@mixin word-break()
  -ms-word-wrap: break-word
  word-wrap:     break-word

@mixin appearance($value)
  -webkit-appearance: $value
  -moz-appearance:    $value
  appearance:         $value

@mixin not-selectable()
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

@mixin transform($transform)
  -webkit-transform: $transform
  -ms-transform:     $transform
  transform:         $transform

@mixin transform-origin($origin)
  -webkit-transform-origin: $origin
  -ms-transform-origin:     $origin
  transform-origin:         $origin

@mixin perspective($perspective:600)
  -webkit-perspective: $perspective
  -moz-perspective:    $perspective
  -ms-perspective:     $perspective
  perspective:         $perspective

@mixin backface-visibility($state:hidden)
  -webkit-backface-visibility: $state
  backface-visibility:         $state

@mixin animation($animation)
  -webkit-animation: $animation
  animation: $animation

@mixin animation-delay($delay)
  -webkit-animation-delay: $delay
  animation-delay: $delay

@mixin keyframes($animation-name)
  @-webkit-keyframes #{$animation-name}
    @content
  @keyframes #{$animation-name}
    @content

@mixin background-slide-in-from($direction, $color, $speed: 0.3)
  +transition(all, $speed, ease)
  outline: none
  position: relative
  &:after
    +transition(all, $speed, ease)
    background: $color
    content: ""
    position: absolute
    z-index: -1
    @if $direction == 'top'
      width: 100%
      height: 0
      top: 0
      left: 0
    @if $direction == 'bottom'
      width: 100%
      height: 0
      bottom: 0
      left: 0
    @if $direction == 'left'
      width: 0%
      height: 100%
      bottom: 0
      left: 0
    @if $direction == 'right'
      width: 0%
      height: 100%
      bottom: 0
      right: 0
  &:hover, &:active
    &:after
      @if $direction == 'top'
        height: 100%
      @if $direction == 'bottom'
        height: 100%
      @if $direction == 'left'
        width: 100%
      @if $direction == 'right'
        width: 100%
