// -----------------------------------------------------------------------------
// CSS Arrow
// -----------------------------------------------------------------------------

@mixin css-arrow($side: top, $width: 10px, $size: 28px, $offset: 0, $arrowOffset: 28px)
  color: inherit
  &:after
    height: $size
    width: $size
  @if $side == top
    &:after
      bottom: auto
      left: $offset
      top: -($arrowOffset / 2)
  @if $side == right
    &:after
      left: auto
      right: -($arrowOffset / 2)
      top: $offset
  @if $side == bottom
    &:after
      bottom: -($arrowOffset / 2)
      left: $offset
      top: auto
  @if $side == left
    &:after
      left: -($arrowOffset / 2)
      right: auto
      top: $offset

// -----------------------------------------------------------------------------
// Centralised CSS Arrow
// -----------------------------------------------------------------------------

@mixin css-arrow-central($side: top, $width: 10px, $size: 28px, $offset: 0, $arrowOffset: 28px)
  @include css-arrow($side, $width, $size, $offset, $arrowOffset)
  @if $side == top
    &:after
      left: 50%
      margin-left: -($width)
  @if $side == bottom
    &:after
      left: 50%
      margin-left: -($width)
  @if $side == right
    &:after
      top: 50%
      margin-top: -($width)
  @if $side == left
    &:after
      top: 50%
      margin-top: -($width)
