// -----------------------------------------------------------------------------
// CSS Helpers
// -----------------------------------------------------------------------------

@mixin font-size($sizeValue: 14)
  font-size: #{$sizeValue + px}
  font-size: #{($sizeValue / $base-font-size) + rem}

@mixin vertically-center($x: 20)
  height: #{$x + px}
  line-height: #{$x + px}

@mixin placeholder()
  &::-webkit-input-placeholder
    @content
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content

@mixin size($w, $h: $w)
  height: $h
  width: $w