// ----------------------------------------------------------------------------
// 
// lonely planet mark
// 
// ----------------------------------------------------------------------------

.media--lp-logo
  @extend %sprite-core
  @extend %inline-block
  background-position: 0 0
  width: 83px
  height: 41px
  margin: 7px 10px 0 0

.media--lp-logo--dark
  background-position: 0 -42px
  margin-top: 14px

// ----------------------------------------------------------------------------
// 
// Icons
// 
// ----------------------------------------------------------------------------

.icon--small
  @extend %small-icon

.icon--regular
  @extend %regular-icon

// ----------------------------------------------------------------------------
// 
// Critical Icons - Served from sprite rather than font
// 
// ----------------------------------------------------------------------------

.user-basket__icon
  @extend %icon
  @extend %inline-block
  @extend %sprite-core
  background-position: 0px -122px
  margin-right: 5px
  height: 22px
  width: 19px
  vertical-align: middle

