// ----------------------------------------------------------------------------
// 
// Row primary
// 
// ----------------------------------------------------------------------------

.row--primary
  background-color: $primary-nav
  height: 55px
  min-width: 1000px
  margin-bottom: 40px
  padding: 0 20px
  .ie7 &
    // Make sure that top nav dropdowns always stay on top
    z-index: 2
    position: relative


// ----------------------------------------------------------------------------
// 
// primary-nav
// 
// ----------------------------------------------------------------------------


.nav__item--primary, .nav__item--user
  &, &:active
    color: $nav-primary-type
  &:hover
    color: $nav-primary-type-hover

.nav__item--primary
  padding: 20px 8px
  
  
// ----------------------------------------------------------------------------
// 
// user-basket
// 
// ----------------------------------------------------------------------------

.user-basket
  display: none
  position: relative
  margin-left: 15px
  padding: 17px 8px 16px

.user-basket__items
  @extend %absolute-left
  @extend %central-align
  @include border-radius(8)
  @include box-shadow(0, 1, 3, 1, rgba(0, 0, 0, 0.5))
  top: 12px
  line-height: 16px
  margin: 0
  color: $basket-item-type
  background-color: $basket-item
  font-weight: bold
  font-size: 10px

.user-box
  @extend %right-icon
  @extend %chevron-down-after
  margin-top: 10px
  padding-right: 25px
  &:after
    font-size: 20px
    line-height: 29px
    right: 0
    top: 0

.user-box__img
  @extend %four-pixel-rounded
  border: 2px solid $user-border
  height: 30px
  width: 30px

.nav__submenu--user
  width: 165px
  right: -10px
  left: auto

.nav__submenu__content--user
  &:before
    left: 123px

// ----------------------------------------------------------------------------
//
// Bookings Drop-Down Menu
//
// ----------------------------------------------------------------------------

.nav__submenu__content--bookings
  .nav__submenu__item
    @extend %left-icon
    padding-left: 39px
    &:before
      line-height: 30px
      font-size: 34px
      top: 0
      left: 10px

.nav__submenu__item--flights
  @extend %icon--flights-before

.nav__submenu__item--hotels
  @extend %icon-image-poi-hotel-before

.nav__submenu__item--adventure-tours
  @extend %icon-image-poi-tour-before

.nav__submenu__item--sightseeing-tours
  @extend %icon-image-poi-activity-before


