$responsive-nav-width: 240px

// Create a page wrapper so that we don't show a scrollbar
.wrapper
  backface-visibility: hidden
  position: relative
  overflow: hidden
  width: 100%

// The container for our off-screen navigation
.nav-container
  +hardware-acceleration()
  backface-visibility: hidden
  @extend %clearfix
  width: 100%
  background: $lpblue
  overflow: visible
  height: 55px
  .responsive &
    @extend %transition--nav
    box-shadow: 16px 4px 20px -6px rgba(0, 0, 0, 0.2) inset
    position: absolute
    overflow: hidden
    top: 0
    right: -$responsive-nav-width
    width: $responsive-nav-width
    height: 100%
    z-index: 2
    background: $offscreen-nav-background
    +respond-to(wide-view)
      box-shadow: none
      width: 100%
      background: $lpblue
      overflow: visible
      height: 55px
      left: 0
      right: auto
  .homepage &
    z-index: 3
    +respond-to(wide-view)
      background: none

.nav--offscreen__title
  display: none
  .responsive &
    +font-size(20)
    +vertically-center(50)
    @extend %inline-block
    vertical-align: top
    color: white
    font-weight: bold
    text-indent: 10px
    +respond-to(wide-view)
      display: none

// The button to activate the global nav
.nav--primary__trigger
  display: none
  .responsive &
    @extend %transition--nav
    color: white
    display: block
    top: 10px
    right: 5%
    width: 35px
    height: 35px
    position: absolute
    z-index: 2
    cursor: pointer
    +respond-to(wide-view)
      top: 10px
      right: 15px
      display: none

// On click..

// Move the responsive nav onto the screen
#nav--primary__trigger
  &:checked + .nav--primary__trigger,
  &:checked ~ .m-hidden-menu,
  &:checked ~ .row--content,
  &:checked ~ .logo--header,
  &:checked ~ .wrapper--footer
    transform: translateX(-$responsive-nav-width)
