// ----------------------------------------------------------------------------
//
// Showing the user's basket in the primary nav
//
// ----------------------------------------------------------------------------

.responsive .user-basket,
.user-basket
  position: relative
  margin-left: 15px
  padding: 1px 8px 12px
  .responsive .wv--nav--inline > &.nav__item
    display: none
    +respond-to(wide-view)
      display: inline-block

.user-basket__icon
  @extend %image-replacement
  @extend %inline-block
  height: 28px
  margin-right: 5px
  width: 28px

.nav__submenu--user
  width: 300px
  right: 0
  left: auto
  .responsive &
    display: none
    +respond-to(wide-view)
      &:hover
        display: block

.nav__submenu__content--user
  background-color: #fff
  &:after
    left: 268px

.nav__submenu__title--user-name
  padding-bottom: 5px
  color: $titlegray
  +font-size(18)
  .icon--settings
    +size(30px)

.nav__submenu__title--user-email
  padding-top: 0
  color: $titlegray
  +font-size(16)
  font-weight: normal

.nav__submenu__item
  position: relative

.nav__submenu__notification
  background: white
  color: $green
  border-radius: 4px
  padding: 0 5px
  position: absolute
  right: 10px
  top: 12px

.nav__submenu__item--user-buttons
  .btn
    +font-size(13)
    text-transform: uppercase
  .btn--subtle
    padding: 5px 25px

.nav__submenu__feed__toggle-buttons
  border-top: 1px solid $body-background
  padding: 0
  text-align: center
  .btn--feed-toggle
    +font-size(14)
    +size(100%)
    display: inline-block
    vertical-align: bottom
    color: $grey-highlight
    border-radius: 0
    padding: 10px 0
    border-bottom: 2px solid $body-background
    &:hover, &.is-active
      color: $linkblue
      border-bottom: 2px solid $linkblue

.nav__submenu__feed__unread-number
  font-weight: normal
  color: $grey-highlight

.nav__submenu__feed__activities,
.nav__submenu__feed__messages
  list-style: none
  display: none
  &.is-active
    display: block
  .activity-list__item,
  .activity-list__item:first-of-type
    padding: 10px 10px 30px 10px
  .activity-list__item:first-of-type
    border: 0
  .activity-list__item
    position: relative
    margin: 0
    padding: 10px 10px 30px 10px
    border-top: 1px solid $body-background
    color: $titlegray
    font-weight: normal
    .activity-list__time
      position: absolute
      margin: 0 0 10px 10px
      bottom: 0
      left: 0
    .user-info__avatar
      float: right
    .user-info__avatar,
    .user-info__avatar img
      +size(35px)
    &.highlighted
      background: $card-figure-bg

  .activity-list__item--empty
    text-align: center
    color: $subduedgray
    padding: 20px 0