.accessibility.is-hidden
  %a.go(href="#container")
    go to content
  %a.go(href="#search-box")
    go to search box
  %a.go(href="#global-nav")
    go to global site navigaion
  %a.go(href="#user-nav")
    go to user navigation box
