.is-hidden
  %p
    Accessibility links
  %ul
    %li
      %a.go(href="#container")
        go to content
    %li
      %a.go(href="#global-nav")
        go to global site navigaion
    %li
      %a.go(href="#search-box")
        go to search box
    %li
      %a.go(href="#user-nav")
        go to user navigation box
