.primary
  .container
    %a.logo(href='http://www.lonelyplanet.com')
    %nav.global-nav
      - gloval_navigation_items.each do |n|
        %a{ href: n[:uri] }
          = n[:title]

    .search-box
      %form.global-search-form.search{ :action => host_with_subdomain_and_path("www", "searchResult"), :method => "get" }
        %label.is-hidden(for='search-q')
          Search
        %input.search-type(type="text" id="search" maxlength="2048" class="searchText" name="q" value="" autocomplete="off" tabindex="1")
        %button.search-submit(type="submit" id="search-q-submit" name="search-q-submit")

    %nav.user-nav.has-basket.is-logged
      %a.user-basket.js-basket(href='basket')
        %span.basket-items
          5
      %a.user-join.js-join(href='shop')
        Join
      %a.user-singin.js-sign-in(href='profile')
        Sign-In
      %a.user-box.js-user-box(href='basket')
        %img(src='http://www.lonelyplanet.com/members/799193/images/92489/variants/50x50.jpg')
        


