.row.row--footer.row--footer--follow-us

  .row__inner

    .nav--footer.nav--follow-us
      %a.nav__item.nav__item--newsletter(href='http://www.lonelyplanet.com/newsletter' title='newsletter')
        Newsletter
        .nav__item--lead
          Tweak your wanderlust
      %a.nav__item.nav__item--mobile(href='http://www.lonelyplanet.com/mobile' title='mobile')
        Mobile
        .nav__item--lead
          With you all the way
      %a.nav__item.nav__item--follow(href='http://www.lonelyplanet.com/rss' title='follow us' rel='nofollow')
        Follow us
        .nav__item--lead
          Tweets, feeds and more
      %a.nav__item.nav__item--blogs(href='http://www.lonelyplanet.com/lpblogs' title='blogs')
        Blogs
        .nav__item--lead
          Go behind the scenes
      %a.nav__item.nav__item--magazine(href='http://www.lonelyplanet.com/lpblogs' title='magazine')
        Magazine
        .nav__item--lead
          Travel inspiration to your door

.row.row--footer.row--footer--about
  .row__inner
    .nav--footer.nav--about
      %a.nav__item--about(href="http://www.lonelyplanet.com/about/" title='about us')
        About us
      %a.nav__item--about(href="http://www.lonelyplanet.com/jobs/" title='work for us')
        Work for us
      %a.nav__item--about(href="http://www.lonelyplanet.com/contact/" title='contact us')
        Contact us
      %a.nav__item--about(href="http://www.lonelyplanet.com/press-trade-advertising/" rel="nofollow" title='Press, trade &amp; advertising')
        Press, trade &amp; advertising
      %a.nav__item--about(href="http://www.lonelyplanet.com/legal/website-terms" title='Website terms')
        Website terms
      %a.nav__item--about(href="http://www.lonelyplanet.com/legal/privacy-policy" title='Privacy policy')
        Privacy policy
      %a.nav__item--about(href="http://www.lonelyplanet.com/community-guidelines" title='Community guidelines')
        Community guidelines
      .language--selection
        %form#language.language.javascriptDisabled(action="http://www.lonelyplanet.com/international")
          %label.language__label(for="languageSelect")
            International
            %select#languageSelect.language__select(name="Language")
              - [['en','English'], ['de','Deutsch'], ['fr','Fran&#231;ais'], ['es','Espa&#241;ol'], ['it','Italiano'], ['cn','&#20013;&#25991;&#31616;&#20307;'], ['jp','&#26085;&#26412;&#35486;']].each do |opt|
                %option(value="#{opt[0]}")
                  = opt[1].html_safe
          %input.language__button(name="Go" type="submit" value="Go")

    .legal
      %a.legal__logo(href="http://www.lonelyplanet.com" title='lonely planet home')
      %p.legal__copy
        &copy; 2013 Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.
      %p.legal__copy
        This website is owned by BBC Worldwide, which is a commercial company owned by the BBC.

