%article.card.card--single.card--poi.card--poi--sight{class: stack_item.image_url ? 'card--small-image card--extended-content' : 'card--no-image' }
  %a.link--wrapper(href="/the-netherlands/amsterdam/hotels/cocomama")
    .card__tags
      .card__tag.card__tag--badge
        %span.card__badge--top-choice
          Top Choice
    - if stack_item.image_url
      %figure.card__hero.obj-media__img
        = image_tag('sight.jpg', class: 'portrait card__image')
    %section.card__content.obj-media__body
      %span.card__context
        Sight
      %h1.card__name.js-card-name
        Plaza de Mayo
      %p.card__description
        Founded in 1580 as the city's first central plaza, Plaza de Mayo
        is the symbolic and physical centre of Argentina's rocky history.
