%article.card.card--single.card--poi.card--poi--entertainment{class: stack_item.image_url ? 'card--small-image card--extended-content' : 'card--no-image' }
  %a.link--wrapper(href="/the-netherlands/amsterdam/hotels/cocomama")
    - if stack_item.image_url
      %figure.card__hero.obj-media__img
        = image_tag('entertainment.jpg', class: 'portrait card__image')
    %section.card__content.obj-media__body
      %span.card__context
        Entertainment
      %h1.card__name.js-card-name
        Centro Region Leonesa
      %p.card__description
        The venue is off the beaten path, but true tango enthusiasts
        shouldn’t forgo a trip to El Niño Bien, one of the city’s most
        atmospheric milongas.
