:javascript
  
  var getUrlPathName = function(path) {
    var link = document.createElement('a');
    link.href = path;
    return link.pathname;
  }

  var fetchNewContent = function(path) {
    $.ajax({
      url: path,
      success: function(result){
        $('#js-main-content').html(result);
        $('#js-left-nav').find('.js--item').removeClass('is-active')
        $('#js-left-nav').find('[href="' + getUrlPathName(path) + '"]').addClass('is-active')
        window.history.pushState({state: path}, null, path);
      }
    });
  }

  $('#js-left-nav').on('click', '.js--item', function(e){
    e.preventDefault();
    fetchNewContent(this.href)
  });
