:javascript
  var partialSelector = '.styleguide__partial',
      inputSelector   = '.styleguide__input-copy',
      copyBoxes       = document.querySelectorAll(partialSelector),
      inputs          = document.querySelectorAll(inputSelector);

  copyBoxes.forEach(function(el) {
    el.on('click', showCopy, false);
  });
  inputs.forEach(function(el) {
    el.on('blur', hideCopy, false);
  });

  function showCopy(e) {
    var el = e.target,
        input = el.parentNode.querySelector(inputSelector);
    el.classList.add('is-hidden');
    input.classList.remove('is-hidden');

    input.focus();
  }

  function hideCopy(e) {
    var input = e.target,
        el = input.parentNode.querySelector(partialSelector);

    input.classList.add('is-hidden');
    el.classList.remove('is-hidden');
  }