$forum-padding: 20px

.card--forum
  @extend %rounded-corners
  padding: $forum-padding

  &.active, &.pinned
    border-left: 4px solid $linkblue
    padding-left: $forum-padding - 4px

  .copy--meta
    +font-size(13)
    margin-left: 0.2em
  .copy--h2, .copy--h3
    a
      color: $lpblue
  .dropdown__value,
  .dropdown__select
    min-width: 195px

.card--forum--single
  padding: 12px $forum-padding

  .dropdown
    margin-top: -6px
    top: 2px

.card--forum__title,
.card--forum__row,
.card--forum__row-container
  padding: 13px $forum-padding
  margin: 0 -#{$forum-padding}

.card--forum__title
  padding-bottom: 13px

  &:first-child
    padding-top: 0

.card--forum__row-container
  border-top: 1px solid $subdued

.card--forum__row
  @extend %clearfix
  border-top: 1px solid $body-background
  display: block
  padding-top: 13px
  
  &:first-child
    border-top: 0
    padding-top: 0

.card--forum__row--title
  background: $details-panel-bg
  padding: 10px $forum-padding
  .copy--h5
    color: $section--need-to-know

  &:first-child
    border-top: none

// refactor required
.card--moderation
  @extend %rounded-corners

.card--moderation__title
  padding: 20px

.card--moderation__title--filters
  padding: 10px 20px

.card--moderation__row
  border-top: 1px solid $body-background
