$forum-horizontal-padding: 20px

.card--forum
  @extend %rounded-corners

  &.active, &.pinned
    border-left: 4px solid $linkblue

  .copy--meta
    +font-size(13)
    margin-left: 0.2em
  .copy--h2, .copy--h3
    a
      color: $lpblue
  .dropdown__value,
  .dropdown__select
    min-width: 195px

.card--forum__row-container
  border-top: 1px solid $subdued
  padding-bottom: 0

.card--forum__row
  @extend %clearfix
  border-top: 1px solid $body-background
  
  &:first-child
    border-top: 0

  .media__body,
  .description
    p:last-child
      margin-bottom: 0

.card--forum__row--title
  padding: 12px $forum-horizontal-padding

  .dropdown
    margin-top: -6px
    top: 2px

.card--forum__row--heading
  background: $details-panel-bg
  padding: 10px $forum-horizontal-padding
  .copy--h5
    color: $feature-copy

  &:first-child
    border-top: none

.card--forum__row--content
  padding: 13px $forum-horizontal-padding

.card--forum__row--filters
  padding: 10px 5px

.card--forum__row--ad
  @extend %clearfix
  padding-top: 25px
  .googleHeading
    text-align: right
  .ad
    float: left
    // Each ad takes up 1/3 of the space so 33% = 30% width + 3% margin.
    margin-right: 3%
    width: 30%

.card--moderation
  .card--forum__row--heading
    padding: 15px $forum-horizontal-padding

.link--back--moderation
  color: $body-copy
  margin-bottom: 20px

.media__img--actions
  margin-right: 10px
