// -----------------------------------------------------------------------------
// Styling for thorntree forms (currently using the simple_form gem)
// -----------------------------------------------------------------------------
.simple-form
  @extend %clearfix

.row--compose
  .simple-form
    @extend %rounded-corners
    .btn
      margin-right: 15px
      overflow: visible

      &[type="submit"]
        border-style: none

  .simple-form__field
    @extend %clearfix
    border-top: 1px solid $subdued
    padding: 10px 20px
    &.first
      border-top: none
    &.last
      padding-bottom: 20px

  .simple-form__field--markdown
    padding-top: 0
    .input
      background: none
      border: none
    .control-label
      display: none

.btn--moderation
  margin-bottom: 10px


// -----------------------------------------------------------------------------
// MarkItUp editor styles
// -----------------------------------------------------------------------------
.markItUpHeader
  background: $body-background-offset
  border-bottom: 1px solid $subdued
  margin: 0 -20px
  padding: 13px 20px
  .simple-form__field.first &
    border-radius: 4px 4px 0 0

.markItUpButton
  display: inline-block
  list-style: none
  margin-right: 15px
  // Yeah, no choice on this...
  &, a
    +size(21px)
    display: inline-block
    overflow: hidden

  a
    text-indent: 100%

.markItUpEditor
  height: 200px
  padding: 20px 0
  width: 100%