// -----------------------------------------------------------------------------
// Messages
// -----------------------------------------------------------------------------
.message
  @extend %clearfix
  padding: 20px 25px
  border-left: 4px solid transparent

  &.message--unread
    background: $subdued
    border-left-color: $linkblue

  &.is-active
    background: mix($yella-highlight, #FFF, 25%)

.message__options
  width: 60px

.message__subject,
.message__body
  display: inline

.message__subject
  margin-right: .25em

// Message list
.message--list
  border-top: 1px solid $body-background
  &:last-child
    border-bottom: 1px solid $body-background

// Message thread
.message--thread

// -----------------------------------------------------------------------------
// Message lists such as the inbox and outbox
// -----------------------------------------------------------------------------
ol.message-list,
ul.message-list
  padding-left: 0
  list-style: none
