// -----------------------------------------------------------------------------
// Styling for moderator tools. Wherever they may be found.
// -----------------------------------------------------------------------------

.moderation-tools
  
  .nav__item
    margin-right: 10px

  // Used on the mod tools on the topic page.
  .split--right.btn
    margin-left: 10px
    text-align: center
    width: 75px