// -----------------------------------------------------------------------------
// Styling for moderator tools. Wherever they may be found.
// -----------------------------------------------------------------------------

.moderation-tools
  
  .nav__item
    margin-right: 10px

.moderation-tools__inline-btn
  margin-left: 10px
  text-align: center
  width: 75px

.avatar-review
  .user-info
    .btn
      @extend %transition--base
      opacity: 0.5
    &:hover .btn
      opacity: 1

.analytics
  .btn
    float: right
