// -----------------------------------------------------------------------------
// Post styles
// 
// Styles related to individual thorn tree posts.
// -----------------------------------------------------------------------------

.post--single
  .card.pagination
    border-top: 1px solid $subdued
    margin-bottom: 0
  .topic-header + .card.pagination
    border-radius: 0
  .card__forum
    border-radius: 0 0 4px 4px
    border-top: 1px solid $subdued
  .card.results + .card.pagination
    margin-bottom: 12px

.post
  &.is-primary
    background: $details-panel-bg
  &.is-deleted
    .post__content
      color: $section--need-to-know
      font-style: italic

// -----------------------------------------------------------------------------
// The meta information displayed at the bottom of a post.
// -----------------------------------------------------------------------------
.post__meta
  +font-size(13)
  color: $feature-copy

  &.text-icon--clock:before
    +font-size(22)
    margin-right: 0.2em
    position: relative
    top: 2px
  .user__username--link
    color: $body-copy
    font-weight: bold
  .timeago
    margin: 0 0.25em

// -----------------------------------------------------------------------------
// The icons and links on the right hand side of a post.
// -----------------------------------------------------------------------------
.post-stats
  margin-left: 20px
  position: relative
  z-index: 2
.post-stats__icon
  +font-size(13)
  color: $section--need-to-know
  font-weight: bold
  line-height: 1.5em
  // We need to offset the right margin so that the icons and text are centered within the post-stats section
  // whose parent container has 20px padding.
  margin-right: -20px
  text-align: center
  width: 60px
  
  &:before
    +font-size(35)
    display: block
    font-weight: normal
  &.has-none
    opacity: 0.4
    position: relative
    &:after
      +transform(rotateZ(40deg))
      background: $section--need-to-know
      content: ' '
      position: absolute
      height: 2px
      left: 19px
      top: 11px
      width: 22px

.post__position
  +font-size(60)
  color: $subdued
  display: block
  text-align: center