// -----------------------------------------------------------------------------
// Post styles
// 
// Styles related to individual thorn tree posts.
// -----------------------------------------------------------------------------

.post--single
  .card.pagination
    border-top: 1px solid $subdued
    margin-bottom: 0
  .topic-header + .card.pagination
    border-radius: 0
  .card__forum
    border-radius: 0 0 4px 4px
    border-top: 1px solid $subdued
  .card.results + .card.pagination
    margin-bottom: 12px

.post
  &.is-primary
    background: $details-panel-bg
  &.is-deleted
    .post__content
      color: $feature-copy
      font-style: italic
  .is-pinned
    height: 20px
    left: 150px
    position: absolute
    top: 20px
    width: 20px

// -----------------------------------------------------------------------------
// The meta information displayed at the bottom of a post.
// -----------------------------------------------------------------------------
.post__meta
  +font-size(13)
  color: $feature-copy

  &.icon--time--before:before
    display: inline-block
    height: 14px
    margin-right: 0.2em
    position: relative
    top: 2px
    width: 14px
  .user__username--link
    color: $body-copy
    font-weight: bold
  .timeago
    margin: 0 0.25em

// -----------------------------------------------------------------------------
// The icons and links on the right hand side of a post.
// -----------------------------------------------------------------------------
.post-stats
  margin-left: 20px
  padding-left: 35px
  position: relative
  z-index: 2
  width: 25px
.post-stats__icon
  +font-size(13)
  color: $feature-copy
  font-weight: bold
  line-height: 1em
  margin-bottom: 5px
  // We need to offset the right margin so that the icons and text are centered within the post-stats section
  // whose parent container has 20px padding.
  margin-right: -20px
  text-align: center
  width: 25px
  
  &:before
    +font-size(35)
    display: block
    font-weight: normal
    height: 22px
    margin: 0 auto
    width: 22px

  &.has-none
    opacity: 0.4
    position: relative

.post__position
  +font-size(60)
  color: $subdued
  display: block
  text-align: center