// -----------------------------------------------------------------------------
// Search results styles
// -----------------------------------------------------------------------------

.search-results

  .is-open
    display: none

  .pagination,
  .topic,
  .new-post
    transition: opacity

  &.is-active
    .advanced-toggle
      .is-closed
        display: none
      .is-open
        display: inline-block

    .pagination,
    .topic,
    .new-post
      opacity: 0.2

  .stack__intro
    .advanced-toggle
      margin-top: 6px

  .new-post
    &.is-active
      .new-post__form
        display: block

      .is-closed
        display: none
      .is-open
        display: inline-block

  .new-post__form
    display: none
    margin-top: 10px

.advanced-search
  margin-top: 10px

  .simple-form__field
    float: left
    margin-right: 10px
  .rizzo_date_field
    width: 155px

  .field__label
    display: none
  .field__content
    width: 100%

  .is-not-active &
    display: none
  .is-active &
    display: block
