.table
  margin-bottom: 10px
  width: 100%

.table__row
  border-top: 1px solid $body-background

.table__row--head
  background: $body-background-offset

.table__row--body
  &:nth-child(2n)
    background: $details-panel-bg

.table__cell
  padding: 5px 3px

  .table__row--head &
    text-align: left
    vertical-align: bottom

  &:first-child
    padding-left: 15px

.table__pagination
  margin-bottom: 20px
  text-align: center

.table__filters
  padding: 5px 10px
  text-align: right
  
  .dataTables_paginate
    display: inline-block
    margin-left: 10px

  .dataTables_filter
    display: inline-block
    margin-left: 10px

  .dataTables_info
    display: inline-block

.filter
  display: inline-block
  padding: 5px
  vertical-align: bottom

// dataTable specific elements
.pagination
  li
    display: inline-block
    margin: 0 3px

.dataTables_processing
  background: #fff
  bottom: 0
  left: 0
  padding: 20px
  position: absolute
  right: 0
  text-align: center
  top: 0
  z-index: 5

.dataTables_wrapper
  position: relative

.dataTables_empty
  padding: 10px
  text-align: center

.dataTables_filter
  input
    @extend .input
    margin-left: 20px
    width: auto

.card--moderation
  .dataTables_filter
    input
      background: white
