.table
  margin-bottom: 10px
  width: 100%

.table__row
  border-top: 1px solid $body-background

.table__row--head
  background: $body-background-offset

  th
    text-align: left
    vertical-align: bottom

.table__row--body
  &.odd
    background: white
  &.even
    background: $details-panel-bg

.table__cell
  padding: 5px 3px

  &:first-child
    padding-left: 15px

.table--pagination
  margin-bottom: 20px
  text-align: center

.filter
  display: table-cell
  padding: 10px
  vertical-align: bottom

// dataTable specific elements
.pagination
  li
    display: inline-block
    margin: 0 3px

.dataTables_processing
  background: #fff
  bottom: 0
  left: 0
  padding: 20px
  position: absolute
  right: 0
  text-align: center
  top: 0
  z-index: 5

.dataTables_wrapper
  position: relative

.dataTables_empty
  padding: 5px
  text-align: center


.dataTables_filter
  padding: 5px 20px

  input
    @extend .input
    margin-left: 20px
    width: auto