// -----------------------------------------------------------------------------
// User styles.
// 
// For any places where user information is displayed.
// -----------------------------------------------------------------------------
.user-profile
  .copy--meta
    &.locked, &.private
      font-style: italic

.user-profile--edit
  .btn--inline
    overflow: visible

.user-profile__left
  padding: 0 10px
  text-align: center

  .btn--full-width
    margin-bottom: 10px
    padding: 10px 0

// -----------------------------------------------------------------------------
// The Avatar on the user profile page
// -----------------------------------------------------------------------------
.user-profile__avatar
  margin-bottom: 20px

.user-profile__avatar__field
  margin-bottom: 10px
.user-profile__avatar__label
  cursor: pointer
  display: block
  position: relative
  &:after,
  &:before
    @extend %transition--base
    display: block
    left: 5px
    opacity: 0
    position: absolute
    z-index: 2
  &:after
    color: #FFF
    content: attr(title)
    font-weight: bold
    text-align: center
    top: 50%
    width: 100%
  &:before
    background: #000
    content: ''
    top: 5px
  &:hover
    &:after
      opacity: 1
    &:before
      opacity: 0.5

// The update form.
.user-profile__avatar-update
  display: none
  margin-top: 15px
// The input:checked we use to toggle displaying the form.
.user-profile__avatar-update-display:checked
  + .user-profile__avatar-update
    display: block

.user-profile__img
  border: 5px solid white
.user-profile__img,
.user-profile__avatar__label,
.user-profile__avatar__label:before
  border-radius: 75px
  height: 125px
  margin: 0 auto
  width: 125px

// -----------------------------------------------------------------------------
// The user's stats in the left hand column on the profile page.
// -----------------------------------------------------------------------------
.user-profile__stat-title
  +font-size(12)
  color: $feature-copy
  font-weight: bold
  text-transform: uppercase
.user-profile__stat-detail
  margin-bottom: 20px

// -----------------------------------------------------------------------------
// Stuff for the user profile page's main content.
// -----------------------------------------------------------------------------
.user-profile__information
  width: 100%

.user-profile__summary
  background: $details-panel-bg
  border-bottom: 1px solid $subdued
  border-top: 1px solid $subdued
  padding: 20px

.user-profile__label
  color: $lpblue
  margin-right: 10px
  width: 175px
.user-profile__value
  color: $body-copy
  font-weight: normal
  position: relative
  .is-default,
  .is-private
    +font-size(14)
    color: $feature-copy
    font-style: italic
  .is-private
    position: absolute
    right: 22px
    .user-profile__icon
      margin: 0 0 0 5px

.user-profile__icon
  +size(18px)
  display: inline-block
  margin-right: 5px
  position: relative
  top: 4px

// -----------------------------------------------------------------------------
// The little user info section displayed on the left hand side of posts.
// -----------------------------------------------------------------------------
.user-info
  +font-size(15)
  color: $feature-copy
  margin-right: 10px
  width: 150px

.user-info__avatar
  border-radius: 25px
  height: 50px
  margin-bottom: 12px
  overflow: hidden
  width: 50px

.user-info__username
  color: $body-copy
.user-info__username--link
  color: $body-copy
  margin-left: 0.2em

.user-info__badge
  @extend %inline-block
  color: #fff
  line-height: 1em
  margin-bottom: 0.1em
  margin-right: 0.3em
  padding: 4px
  text-transform: uppercase

.user-info__online
  +font-size(12)
  font-weight: bold
  margin-bottom: 12px
  text-transform: uppercase
  &:before
    @extend %inline-block
    background: $green
    border-radius: 4px
    content: ''
    margin-right: 7px
    height: 8px
    width: 8px

.user-info__location
  +font-size(13)
  font-weight: bold
  &:before
    +font-size(28)
    font-weight: normal
    line-height: 0.1em
    position: relative
    top: 3px

.user-info__details--footer
  @extend %clearfix
  +font-size(13)
  background: $details-panel-bg
  border-top: 1px solid $subdued
  font-weight: bold

.user-info__detail
  margin-right: 10px

.user-info__detail
  &:before
    +font-size(24)
    line-height: 0.1em
    margin-right: 5px
    position: relative
    top: 3px
  &.text-icon--clock
    &:before
      font-weight: normal
