// -----------------------------------------------------------------------------
// User styles.
//
// For any places where user information is displayed.
// -----------------------------------------------------------------------------
.user-profile
  .copy--meta
    &.locked, &.private
      font-style: italic

.user-profile--edit
  .btn--inline
    overflow: visible

.user-profile__left
  padding: 0 10px
  text-align: center

  .btn--full-width
    margin-bottom: 10px
    padding: 10px 0

// -----------------------------------------------------------------------------
// The Avatar on the user profile page
// -----------------------------------------------------------------------------
.user-profile__avatar
  margin-bottom: 20px

.user-profile__avatar__field
  margin-bottom: 10px
.user-profile__avatar__label
  cursor: pointer
  display: block
  position: relative
  &:after,
  &:before
    @extend %transition--base
    display: block
    left: 5px
    opacity: 0
    position: absolute
    z-index: 2
  &:after
    color: #FFF
    content: attr(title)
    font-weight: bold
    text-align: center
    top: 50%
    width: 100%
  &:before
    background: #000
    content: ''
    top: 5px
  &:hover
    &:after
      opacity: 1
    &:before
      opacity: 0.5

// The update form.
.user-profile__avatar-update
  display: none
  margin-top: 15px
// The input:checked we use to toggle displaying the form.
.user-profile__avatar-update-display:checked
  + .user-profile__avatar-update
    display: block

.user-profile__img
  border: 5px solid white
.user-profile__img,
.user-profile__avatar__label,
.user-profile__avatar__label:before
  border-radius: 75px
  height: 125px
  margin: 0 auto
  width: 125px

// -----------------------------------------------------------------------------
// The user's stats in the left hand column on the profile page.
// -----------------------------------------------------------------------------
.user-profile__stat-title
  +font-size(12)
  color: $feature-copy
  font-weight: bold
  text-transform: uppercase
.user-profile__stat-detail
  margin-bottom: 20px

// -----------------------------------------------------------------------------
// Stuff for the user profile page's main content.
// -----------------------------------------------------------------------------
.user-profile__information
  width: 100%

.user-profile__summary
  background: $details-panel-bg
  border-bottom: 1px solid $subdued
  border-top: 1px solid $subdued
  padding: 20px 20px 5px

.user-profile__label
  color: $lpblue
  margin-right: 10px
  width: 175px
.user-profile__value
  color: $body-copy
  font-weight: normal
  position: relative
  .is-default,
  .is-private
    +font-size(14)
    color: $feature-copy
    font-style: italic
  .is-private
    position: absolute
    right: 22px
    .user-profile__icon
      margin: 0 0 0 5px
  &.is-empty
    .is-private
      position: static

.user-profile__icon
  +size(18px)
  display: inline-block
  margin-right: 5px
  position: relative
  top: 4px

// -----------------------------------------------------------------------------
// The little user info section displayed on the left hand side of posts.
// -----------------------------------------------------------------------------
.user-info
  +font-size(15)
  color: $feature-copy
  margin-right: 10px
  width: 150px

.user-info__avatar
  border-radius: 25px
  height: 50px
  margin-bottom: 12px
  overflow: hidden
  width: 50px

.user-info__username
  color: $body-copy
.user-info__username--link
  color: $body-copy
  margin-left: 0.2em

.user-info__badge
  @extend %inline-block
  color: #fff
  line-height: 1em
  margin-bottom: 0.1em
  margin-right: 0.3em
  padding: 3px 5px
  text-transform: uppercase

.user-info__online
  +font-size(12)
  font-weight: bold
  margin-bottom: 12px
  text-transform: uppercase
  &:before
    @extend %inline-block
    background: $green
    border-radius: 4px
    content: ''
    margin-right: 7px
    height: 8px
    width: 8px

.user-info__details--footer
  @extend %clearfix
  +font-size(13)
  background: $details-panel-bg
  border-top: 1px solid $subdued
  font-weight: bold

.user-info__detail
  margin-left: 10px
  &:first-child
    margin-left: 0

.user-info__location
  +font-size(13)
  font-weight: bold

.user-info__detail,
.user-info__location
  &:before
    +font-size(24)
    line-height: 0.1em
    +size(18px)
    margin-right: 4px
    position: relative
    top: 5px

.user-info__posted-date--icon
  &:before
    display: inline-block
    +size(18px)
    margin-right: 2px
    vertical-align: middle

// -----------------------------------------------------------------------------
// User info displayed at the side of messages.
// -----------------------------------------------------------------------------
.user-info--message-list
  +font-size(13)
  width: 185px

  .user-info__avatar
    float: left
    margin-right: 10px

.user-info--message-thread
  +font-size(13)
  width: 125px

  .user-info__avatar
    margin-bottom: 6px

// -----------------------------------------------------------------------------
// User account pages (register and log in).
// -----------------------------------------------------------------------------
.user-account
  .card--forum__row--title,
  .card--forum__row--content
    padding: 13px 35px

  .simple-form__field
    .input,
    .dropdown__select,
    .field__label.boolean,
    .btn
      +font-size(18)

  .rizzo_text_field,
  .rizzo_select
    .field__label
      display: none
    .field__content
      width: 100%

.user-account__title
  +font-size(22)
  padding: 10px 0
  text-align: center

.user-account__email
  border-right: 1px solid $subdued
  .simple-form__field.boolean
    margin: 25px 0 20px
  .boolean
    float: left
  .field__label.boolean
    margin-left: 12px
    width: 405px

.user-account__social
  .btn
    +font-size(18)
    padding: 14px 25px

.user-account__or
  background: white
  left: 50%
  margin-left: -11px
  padding: 12px 0
  position: absolute
  top: 16px
  text-transform: uppercase

.user-account__header
  color: $body-copy
  margin-bottom: 20px
  text-align: center

// -----------------------------------------------------------------------------
// Profile Lightbox
// -----------------------------------------------------------------------------
.profile-lightbox
  background: white
  border-radius: 5px
  overflow: hidden
  width: 500px

.profile-lightbox__close
  +size(25px)
  position: absolute
  right: 20px
  top: 20px
  z-index: 10

.profile-lightbox__header
  background: $offscreen-nav-background
  color: white
  height: 65px
.profile-lightbox__header__user-info
  padding: 8px 0 30px 15px

.profile-lightbox__avatar
  +size(80px)
  border: 5px solid white
  border-radius: 45px
  // The inset shadow mitigates the look of ugly antialiasing due to the border-radius
  box-shadow: inset 0 0 0 5px white
  filter: drop-shadow(0 1px 0 $subdued)
  margin: -5px 0 -12px -10px

.profile-lightbox__username
  color: white
  margin-right: 5px

.profile-lightbox__location
  color: $grey-highlight
  font-weight: bold

// Meta
.profile-lightbox__meta-col
  color: $grey-highlight
  float: left
  margin-right: 15px

.profile-lightbox__meta-data
  +font-size(16)
  color: $body-copy

// PM
.profile-lightbox__message
  background: $details-panel-bg
  .field
    margin-bottom: 0
  .field__label
    display: none

.profile-lightbox__message__input
  padding-left: 10px
  position: relative
  .input
    background: white
    border: 1px solid $details-panel-border
    width: 335px
  .no-cssfilters-support &
    padding-left: 0
    .input
      width: 345px

.profile-lightbox__message__input--arrow
  +css-arrow-central(left, $size: 25px)
  +size(25px)
  left: -4px
  position: absolute
  top: 16px
  z-index: 10
  &:after
    display: block
    filter: drop-shadow(-1px 0 0 $details-panel-border)
  .no-cssfilters-support &
    display: none

.profile-lightbox__message__submit
  width: 62px

.profile-lightbox__message__avatar
  +size(37px)
  border-radius: 20px
  margin-right: 5px

// Activities
.profile-lightbox__activities
  .activity-list__item
    border-top: 1px solid $body-background
    margin-bottom: 0
    padding: 15px 20px 12px
  .activity-list__time
    margin-top: -7px

.profile-lightbox__activities__username
  color: $body-copy
  font-weight: bold

.profile-lightbox__activities__header
  .copy--h5
    color: $grey-highlight

.profile-lightbox__activities__see-all
  line-height: 1em

// Report
.profile-lightbox__report
  background: $details-panel-bg

.profile-lightbox__report-form
  @extend %transition--base
  height: 0
  overflow: hidden
  padding-bottom: 0
  padding-top: 0
  &.is-active
    height: 120px
    padding-bottom: 13px
    padding-top: 13px

.profile-lightbox__report__link
  color: $grey-highlight
  &:before
    opacity: 0.5
