.styleguide-block.col--one-whole
  %h2.copy--h2.styleguide__subtitle #{group[:title][2..-1]}
  .js-card-container.grid-wrapper--10.styleguide__colours
    - group[:body].split(/\n/).each do |line|

      - unless line == "" || line.count("/^\$/") > 1

        - colour_pair = line.gsub(" !default", "").gsub(" ", "").split(':')

        .col--one-third{ data: { luminance: get_luminance(colour_pair[1]) } }
          .card
            .styleguide-block__item--colour.copy--h2{style: "background-color: #{colour_pair[1]}", class: get_luminance(colour_pair[1]) > 200 ? "is-light" : "" }<
              = colour_pair[1]
            %h3.copy--h4<
              = colour_pair[0]
