- arguments = opts.values[0]

.styleguide-block__description.card.card--full-width
  .styleguide-block__tabs

    .copy--subtitle.styleguide-block__heading #{arguments.delete(:styleguide_title)}
    .styleguide__partial.copy--body
      \= ui_component('#{component}',
      %b properties
      )

    %pre.styleguide.copy--body.language-ruby
      %code #{JSON.pretty_generate arguments}
