:javascript
  (function(){
    window.lp.ads = window.lp.ads || {};
    window.lp.ads.layers = window.lp.ads.layers || ["2009.lonelyplanet"];

    var adTnm, adThm,
    getKeywords = (function(keywords) {
      if (!keywords) { return ["",""] }

      // Normalise the legacy keyword string
      adTnm = keywords.split(";")[0];
      adThm = keywords.split(";")[1];
      adTnm = adTnm && adTnm.split("=")[1] || "";
      adThm = adThm && adThm.split("=")[1] || "";
      return [adTnm, adThm]

    }(window.adKeywords)),
    trimmed = function(str) {
      return str.replace(/;+$/, "")
    }

    // Update the config if we have legacy variables
    if (window.adZone || window.adKeywords) {
      window.lp.ads.layers.push(window.adZone && trimmed(window.adZone) || "home");
      window.lp.ads.adTnm = getKeywords[0];
      window.lp.ads.adThm = getKeywords[1];
    }

  }());
