.row.row--leaderboard
  .row__inner
    .ad-leaderboard
      #js-ad-leaderboard.ad-leaderboard__inner
        :javascript
          adConfig = {
            adZone: window.adZone || 'home',
            adKeywords: window.adKeywords || ' ',
            tile: 1,
            ord: window.ord || Math.random() * 10000000000000000,
            segQS: window.segQS || ' ',
            unit: [728, 90]
          }
          var iframe, s, _ref;
          iframe = document.createElement('iframe');
          iframe.src = "http://ad.doubleclick.net/adi/2009.lonelyplanet/" + adConfig.adZone + ";" + adConfig.adKeywords + ";" + adConfig.segQS + ";tile=" + adConfig.tile + ";sz=" + adConfig.unit[0] + "x" + adConfig.unit[1] + ";ord=" + adConfig.ord + "?";
          iframe.title = "ad-leaderboard--frame";
          iframe.marginHeight = "0";
          iframe.marginWidth = "0";
          iframe.frameBorder = "0";
          iframe.scrolling = 'no';
          iframe.style.width = "" + adConfig.unit[0] + "px";
          iframe.style.height = "" + adConfig.unit[1] + "px";
          s = document.getElementById('js-ad-leaderboard');
          s.appendChild(iframe);