.wrapper--footer.js-wrapper
  = render 'layouts/core/snippets/body_footer'

.js-config.is-hidden   
  :javascript
      (function(d, s) {
        var firstJs, js;
        firstJs = d.getElementsByTagName(s)[0];
        js = d.createElement(s);
        js.src = "#{normalised_asset_path('requirejs/require.js')}";
        js.setAttribute("data-main", "#{async_js_path("app_core_legacy")}");
        firstJs.parentNode.insertBefore(js, firstJs);
      })(document, 'script');
