-# This file is born into legacy. 
-# 
-# It needs to be the final ad so that the tile variable is correct
-# So I'm placing it here until we integrate the MPU and other adverts into a 
-# more holistic solution

#js-ad-oneByOne.adunit.adunit--oneByOne{data: {dimensions: "1x1"}}
