.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Alerts
    %p.copy--h2 Please note: 
    %p
      Alerts do not call this component directly as the abstraction would be overkill. Alerts should always look like these through a combination of the modifier classes detailed below and in 
      %a{href: 'https://github.com/lonelyplanet/rizzo/blob/master/app/assets/stylesheets/_common-ui/_alerts.sass'}
        alerts.sass

.card.styleguide-block__description.card.context--content
  %h2.copy--h2.styleguide-block__heading
    Success
  
  .alert.alert--success.icon--tick--before
    Congratulations, that was a success.

  %pre.styleguide.copy--body.language-markup.media__body
    %code
      &lt;div class="alert alert--success icon--tick--before">Congratulations, that was a success.&lt;/div>

.card.styleguide-block__description.card.context--content
  %h2.copy--h2.styleguide-block__heading
    Error
  
  .alert.alert--error.icon--cross--before
    Oops, there was an error.

  %pre.styleguide.copy--body.language-markup.media__body
    %code
      &lt;div class="alert alert--error icon--cross--before">Oops, there was an error.&lt;/div>

.card.styleguide-block__description.card.context--content
  %h2.copy--h2.styleguide-block__heading
    Warning
  
  .alert.alert--warning.icon--caution--before
    There are currently travel issues with this destination.

  %pre.styleguide.copy--body.language-markup.media__body
    %code
      &lt;div class="alert alert--warning icon--caution--before">There are currently travel issues with this destination.&lt;/div>
