- require "ostruct"
- cards = YAML.load(File.read(File.expand_path('../../../../data/styleguide/cards_stubs.yml', __FILE__)))

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 Cards
  %p
    Cards should be included as components where possible, and always in rails apps. You can include the ui_component includes as detailed below.

.grid-wrapper--10
  - cards['cards'].each_with_index do |card, i|
    = sg_component("cards/#{card[:styleguide_title].downcase.split(' ').join('_')}", properties: card, count: i)
