- pagination = YAML.load(File.read(File.expand_path('../../../../data/styleguide/pagination_stubs.yml', __FILE__)))
.card.styleguide-intro.copy--body.context--content
  .clearfix
    %h1.copy--h1 Pagination
    %p
      Note: we're using ruby's <code>sprintf</code> string interpolation in the path as a placeholder for the page number, encoded characters in the <code>path</code> may need to be escaped.
      %strong NB:
      It's important that you include the <code>%i</code> in the path that gets passed through <em>or</em> provide the name of the URL parameter via the <code>param</code> property.

- pagination.each_with_index do | stub, i |
  = sg_component('pagination', properties: stub, count: i, full_width: true, card_style: true)