= render 'styleguide/partials/shared'

.card.styleguide-intro.copy--body.context--content
  %h1.copy--h1 Social Buttons

.styleguide--section--social
  = sg_component("social_buttons", properties: {url: "http://rizzo.lonelyplanet.com/styleguide"})
