// -----------------------------------------------------------------------------
// Card States
// -----------------------------------------------------------------------------

.card

  &.is-disabled
    opacity: 0.6

  &.is-invisible
    opacity: 0


// -----------------------------------------------------------------------------
// Hero card image overlay
// -----------------------------------------------------------------------------

.card__hero
  &:after
    @extend %empty-abs-generated-content
    background-size: $double-card-width $card-grid-height
    height: $card-grid-height
    left: 0
    pointer-events: none
    top: 0
    width: $double-card-width
  .card--mini &
    &:before
      content: ''
      position: absolute
      width: 100%
      height: 100%
      +image-overlay--flat
  .responsive &:after
    width: 100%
    background-size: 100%
    +respond-to(medium-view)
      background-size: $double-card-width $card-grid-height
      width: $double-card-width

.card__hero--hotels:after
  background-image: image_url('cards/overlays/best-places.png')



// -----------------------------------------------------------------------------
// Card Content
// -----------------------------------------------------------------------------

.card__property-type,
.card__context
  +font-size(13)
  display: block
  margin-bottom: 2px
  font-style: italic
  .card--full-image &
    color: white

  .card--full-image &
    color: #fff

.card__name
  +font-size(22)
  word-wrap: break-word
  line-height: 1
  margin-bottom: 10px

  .card--standard-image &
    +font-size(19)

  .card--full-image &
    margin-bottom: 0

  .card--mini.card--full-image &
    +font-size(18)
    position: absolute
    top: 50%
    z-index: 5
    width: 100%
    font-weight: bold
    text-align: center
    color: white

  .card--quote &
    height: 115px

.hero__call-to-action
  bottom: 0
  position: absolute
  right: 0

.card__button
  padding: 8px 12px
  &:before
    height: 16px
    width: 20px
    display: inline-block
    vertical-align: text-bottom
    margin-right: 5px

.card__locale
  +font-size(12)
  @extend %left-icon
  color: $body-copy
  font-weight: bold
  line-height: 14px
  margin-bottom: 10px
  padding-left: 15px
  &:before
    top: 2px
    width: 12px
    height: 12px

.card__description
  +font-size(13)
  line-height: 14px

.card__list
  +font-size(13)
  list-style: circle inside

.card__list__item
  @extend %inline-block
  border-bottom: 1px solid #81BBE3
  margin-bottom: 15px
  &:hover
    text-decoration: none

.card__tour-duration
  @extend %left-icon
  color: $body-copy
  padding-left: 20px
  margin-bottom: 12px
  &:before
    height: 16px
    width: 16px

  .no-js &, .no-background-size &
    padding-left: 0

// -----------------------------------------------------------------------------
// Card Footer
// -----------------------------------------------------------------------------

.card__footer
  +font-size(12)
  position: absolute
  background: #fff
  bottom: 0
  left: 0
  line-height: 12px
  padding: 7px
  right: 0
  z-index: 3
  .homepage &
    display: none

  .btn
    +font-size(13)
    min-height: 0
    padding: 10px 12px
    min-height: 0

  // fade to white at the top of the footer when extended content
  .card--extended-content &
    &:after
      @extend %empty-abs-generated-content
      background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.9))
      height: $card-content-vertical-padding
      left: 0
      right: 0
      top: -$card-content-vertical-padding

  // line above some footers, needs to push fade up a smidge
  .card--poi--article &,
  .card--destination &
    border-top: 1px solid #ECF2F5
    padding: 6px 15px 10px 15px
    &:after
      top: -($card-content-vertical-padding + 1)

  .text-icon:before
    width: 16px
    height: 16px


// -----------------------------------------------------------------------------
// Card Footer Items
// -----------------------------------------------------------------------------

.destination__item-count
  +font-size(12)
  margin-right: 5px
  padding-left: 18px
  position: relative
  &:before
    position: absolute
    left: 0
    top: 0
    height: 16px
    width: 16px
  .no-js &, .no-background-size &
    display: none

// -----------------------------------------------------------------------------
// Guide cards
// -----------------------------------------------------------------------------

.card--guide .card__hero
  background: $card-figure-bg
  .card__image
    height: 90%
    margin: 5% 0

// -----------------------------------------------------------------------------
// List view cards
// -----------------------------------------------------------------------------

.card--list
  @extend %rounded-corners
  display: inline-block
  margin-left: 8px
  overflow: hidden
  cursor: pointer
  width: $double-card-width

.card--list__link
  &:hover
    text-decoration: none

.card--list__hero
  background: $body-background-offset
  margin-right: 10px
  height: 50px
  width: 50px
  display: inline-block

.card--list__image
  width: 50px
  height: 50px

.card--list__no-image
  @extend %image-replacement
  float: left
  height: 34px
  width: 24px
  margin-top: 8px
  margin-left: 13px

.card--list__name
  +font-size(15)
  font-weight: bold
  height: 50px
  line-height: 50px
  display: inline-block
  vertical-align: top


// -----------------------------------------------------------------------------
// Collection card image attribution
// -----------------------------------------------------------------------------

.has-attribution
  overflow: hidden

  &:hover
    .card__content
      bottom: 0

.card__attribution
  padding-left: 25px
  position: relative
  &:before
    position: absolute
    top: 5px
    left: 0
    width: 20px
    height: 20px
  .card--single &
    color: $feature-copy
    margin-top: 17px
    &:before
      top: 0
  .card--double &
    position: absolute
    bottom: 7px
    left: 0
    right: 0

.card__attribution-link
  cursor: pointer
  pointer-events: all
  .card--double &
    @extend %inline-block
    @extend %truncate-text
    width: 70%
    line-height: 32px
  &:hover
    text-decoration: underline

.license
  display: inline-block
  height: 32px
  width: 32px
  margin-right: -10px
  text-indent: -999em
  vertical-align: middle
  .card--single &
    vertical-align: sub
    height: 26px
    width: 26px


.card__licenses
  .card--double &
    float: right
  .card--single &
    display: block
    margin-left: -5px
    margin-top: -5px

// -----------------------------------------------------------------------------
// Quote cards
// -----------------------------------------------------------------------------

.card__source
  +font-size(16)
  font-style: italic
  word-spacing: 5px
  color: #444

.card__avatar
  +size(25px)
  border-radius: 50%
  display: inline-block
  vertical-align: middle

.card__username
  font-weight: bold
  font-style: normal
  color: #333
