// -----------------------------------------------------------------------------
//
//  Card page module
//
// -----------------------------------------------------------------------------

.card--layer
  width: 800px
  margin: 50px auto

.card--layer__content
  @extend %clearfix
  @extend %rounded-corners
  padding: 25px
  position: relative
  padding: 25px 25px 0px 25px

  .copy--h1
    line-height: 1.1em
    margin: 0 0 10px 0
    width: 90%
  .sharing
    clear: left

  .copy--feature
    +font-size(20)

  .related
    margin-left: -25px
    width: 800px
    .related_articles, .related_guides
      margin: 0px

  a > img
    width: 100%
    height: auto

.card--layer__close
  position: absolute
  width: 30px
  height: 30px
  top: 20px
  right: 20px

.card--layer__article
  padding-bottom: 10px
