%div.card.card--list.card--ad.js-card{ :class => stack_item.double ? 'card--double' : 'card--single'}
  %a.link--wrapper(href="/the-netherlands/amsterdam/hotels/christian-youth-hostel-the-shelter-city")
    .card__tag--horizontal
      Advertisement
    .card__content
      %h1.card__name.js-card-name
        = stack_item.title
      %p.card__description
        This is just some example text that won't exist here for long!
