%article.card.card--shop.card--single.js-card
  %a.link--wrapper{href: stack_item.shop_link}
    %figure.card__hero
      = image_tag("cards/shop30desto.jpg", class: 'portrait card__image', :alt => "#{presenter.name} destination guides")
    .card__content
      %span.card__context
        Shop
      %h2.card__name.js-card-name
        = stack_item.place_name
        destination guides
