%div.card.card--ad.js-card.js-card-ad.is-closed{ :class => stack_item.double ? 'card--double' : 'card--single' }
  .tag--horizontal
    Sponsored
  %div.card__content#js-ad-trafficDriver.ad-trafficDriver
