.row--cards
  margin-bottom: 60px

.row--cards__inner
  margin: 0 0 20px 10px
  height: $mobile-card-grid-height
  +respond-to(wide-view)
    height: (2 * $card-grid-height + 10)
    margin: 0 auto 20px

.row--cards__group
  float: left
  &:last-child
    margin-right: 50px
  +respond-to(wide-view)
    width: 404px
    &:last-child
      margin-right: 0

.slider__slide
  background: $body-background
  +transition(left, 0.5, ease)
  .supports-3d &
    @include vendor-prefixed-transition(transform, 0.5)
