:javascript
  (function(){
    window.lp.touch = false;
    if (('ontouchstart' in window) || window.DocumentTouch && document instanceof DocumentTouch) {
      document.documentElement.className = document.documentElement.className.replace(/\bno-touch\b/,'touch')
      window.lp.touch = true;
    }
  })()