:javascript
  if (window.lp.enhanced && window.localStorage.getItem('_lpfont') == "true") {
    var ss = document.createElement('link'),
        firstLink = document.getElementsByTagName('link')[0],
        fontSlug = "#{font_path('fonts.css')}";

    
    ss.href= "//assets.staticlp.com" + fontSlug;
    ss.rel = "stylesheet";
    ss.type = "text/css";
    firstLink.parentNode.insertBefore(ss, firstLink);

    // Replace the no-freight classname
    (function(H){H.className=H.className.replace(/\bno-freight\b/,'freight')})(document.documentElement);
  }
