:javascript
  (function(){
    if (window.lp.enhanced === true && window.localStorage.getItem('_lpfont') != "true") {
      
      window.onload = function() {
        var xhr = new XMLHttpRequest();
        var cdnPath = "#{font_path('fonts.css')}";
        // Use www to avoid CORS issues
        // This config should be handled in rails
        // Asset pipeline doesn't make this very easy though
        var newPath = "//" + window.location.host +"/assets/" + cdnPath.split('/assets/')[1]

        xhr.open('GET', newPath);

        xhr.onload = function (e) {
          window.localStorage.setItem('_lpfont', 'true')
        };

        xhr.send();
      }

    }
  })()
