:javascript
  window.lp.fs.log(function(){
    getCookie = function (name) {
      return unescape(document.cookie.replace(new RegExp("(?:(?:^|.*;)\\s*" + escape(name).replace(/[\-\.\+\*]/g, "\\$&") + "\\s*\\=\\s*([^;]*).*$)|^.*$"), "$1")) || null;
    };
    return {
      url: window.location.href,
      referrer: document.referrer,
      username: getCookie("lpCookie") && getCookie("lpCookie").split('#')[0],
      country: getCookie("country"),
      viewport: document.documentElement.clientWidth,
      variant: getCookie("_v"),
      schema: "0.1"
    };
  }());