:javascript
  (function() {
    var docElement = document.documentElement,
        activePath = "#{normalised_asset_path('icons/' + sheet + '.css')}",
        criticalPath = "#{normalised_asset_path('icons/critical.css')}";
    function styleSheet(path) {
      var link = document.createElement("link");
      link.rel = "stylesheet";
      link.type = "text/css";
      link.href = path;
      return link;
    }
    window.setTimeout(function(){
      var script = document.getElementsByTagName("script")[0];
      var head = script.parentNode;
      if ("background-size" in docElement.style || "backgroundSize" in docElement.style) {
        head.insertBefore(styleSheet(activePath), script);
        docElement.className += " supports-svg";
      } else {
        head.insertBefore(styleSheet(criticalPath), script);
        docElement.className += " no-background-size";
      }
    }, 0)
  }());

%noscript
  %link{href: "#{normalised_asset_path('icons/critical.css')}", rel: "stylesheet"}
