:javascript
  var require = {
    baseUrl: '/assets',
    paths: {
      flamsteed: "flamsteed/lib/javascripts/flamsteed",
      gpt: "//www.googletagservices.com/tag/js/gpt",
      hogan: "hogan/dist/hogan-3.0.0.amd",
      jplugs: "jquery-plugins",
      jquery:  "jquery/jquery",
      pointer: "pointer",
      sailthru: "sailthru/v1",
      sCode: "omniture/s_code",
      touchwipe: "jquery.touchwipe.1.1.1",
      trackjs: "trackjs/trackjs",
      dfp: "jquery.dfp.js/jquery.dfp"
    },
    waitSeconds: 30
  };
