<<<<<<< HEAD
- cache "#{__FILE__}" do
  :javascript
    var require = {
      baseUrl: '/assets',
      paths: {
        gpt: "//www.googletagservices.com/tag/js/gpt",
        jquery:  "jquery/jquery",
        jplugs: "jquery-plugins",
        s_code: "omniture/s_code",
        sailthru: "sailthru/v1",
        flamsteed: "flamsteed/lib/javascripts/flamsteed",
        pointer: "pointer",
        touchwipe: "jquery.touchwipe.1.1.1",
        trackjs: "trackjs/trackjs"
      },
      waitSeconds: 30
    };
