// --------------------------------------------------------------------------------------
// Typography 
// --------------------------------------------------------------------------------------

html
  font-size: 87.5%

body
  font-family: Arial, Helvetica, sans-serif
  color: $core_color
  line-height: 1.4
  @include fontsize(1) // Just here to revert font-size to 100% after global-static sets it to 75%

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
p
  margin: 0 0 .6em 0
  padding: 0

h2, .h2
  @include fontsize(22px / $new_base_font_size)
  font-weight: bold

h3, .h3
  @include fontsize(18px / $new_base_font_size)
  
h4, .h4
  @include fontsize(16px / $new_base_font_size)
  
h5, .h5
  @include fontsize(14px / $new_base_font_size)

p
  @include fontsize(14px / $new_base_font_size)

a,
a.h1,
a.h2,
a.h3,
a.h4,
a.h5,
a.h6
  color: $link_color
  cursor: pointer
  text-decoration: none
  &:hover
    text-decoration: underline

.text-list
  li
    margin-bottom: 0.6em
    

// Backwards compatability - revert the font size for the legacy header/footer

#headerWrap, #pageTitleWrap, #infoSourcesWrap, #footerWrap
  @include fontsize(0.85714)

#footerWrap
  p
    @include fontsize(0.7857)
    
#infoSourcesWrap
  p
    margin-bottom: 0