.field
  .field__content.field__content--checkbox
    .input__container.js-input
      = ui_component('forms/checkbox', properties: properties )
      %label{ for: properties[:id] }
        = properties[:label]
