= render :layout => 'components/forms/partials/field', :locals => { id: properties[:id], label: properties[:label] } do
  .input__container.js-input
    = ui_component('forms/date_input', properties: properties )
