
.dropdown.js-select-group
  %label.dropdown__value.js-select-overlay<
    = opts[:placeholder]
  %select.dropdown__select.js-select{ id: opts[:id], name: opts[:name], data: opts[:data] }
    = options_for_select(opts[:options], opts[:selected])
