.dropdown.js-select-group-manager{ class: properties[:class] }
  
  %label.dropdown__value.js-select-overlay.icon--chevron-down--grey--after<
    = properties[:selected] || properties[:placeholder] || properties[:options].first[:title]
  
  %select.dropdown__select.js-select{ id: properties[:id], name: properties[:name], data: properties[:data], class: properties[:dropdown_class] }
    - if properties[:placeholder]
      %option{ value: ""}<
        = properties[:placeholder]
    
    - properties[:options].each do |option|
      %option{value: option[:value] || option[:title], selected: properties[:selected] == option[:title] ? 'selected' : false}<
        = option[:title]
