.dropdown.js-select-group{ class: opts[:class] }
  %label.dropdown__value.js-select-overlay<
    = opts[:placeholder]
  %select.dropdown__select.js-select{ id: opts[:id], name: opts[:name] }
    = options_for_select(opts[:options], opts[:selected])
