= render :layout => 'components/forms/partials/field', :locals => { id: opts[:id], label: opts[:label] } do
  .field__input
    - opts[:fields].each_with_index do |dropdown, i|
      = ui_component('forms/dropdown', opts: { id: i==0 ? opts[:id] : "#{opts[:id]}-#{i}", name: dropdown[:name], placeholder: dropdown[:placeholder], options: dropdown[:options], selected: dropdown[:selected] })
