= render :layout => 'components/forms/partials/field', :locals => { id: id, label: label } do
  %input.field__input.field__input--datepicker{ id: id, name: name, placeholder: placeholder, value: value }
