= render :layout => 'components/forms/partials/field', :locals => { id: id, label: label } do

  .field__select.dropdown.js-select-group
    %label.dropdown__value.js-select-overlay<
      = placeholder
    %select.dropdown__select.js-select{ id: id, name: name }
      = options_for_select(options, selected)
