= render :layout => 'components/forms/partials/field', :locals => { id: opts[:id], label: opts[:label], extra_class: opts[:extra_class], error: opts[:error] } do
  = ui_component('forms/text_input', opts: opts )
