%input.input.input--text{ id: properties[:id], name: properties[:name], value: properties[:value] || "", placeholder: properties[:placeholder], data: properties[:data], maxlength: properties[:maxlength] }
