.card.card--no-image.card--sponsored.card--sponsored--adsense.js-card.js-card-sponsored{ :class => properties[:double?] ? 'card--double' : 'card--single' }
  .tag--horizontal.tag--horizontal--left
    Advertisement
  .card__content
    .ad-adSense
      = ui_component('ads/ad_sense')
