%article.card.card--single.card--poi.card--small-image.card--extended-content.icon--article--white--before.js-card
  %a.link--wrapper{href: stack_item.url}
    %figure.card__hero
      = safe_image_tag(stack_item.image_url, {:class => 'card__image', :alt => "#{stack_item.title}"}, lazyload: defined? lazyload ? true : false)
    .card__content
      %span.card__context
        Article
      %h2.card__name
        = stack_item.title
      - if stack_item.strapline
        %p.card__description
          = stack_item.strapline