:ruby

  css_classes = [
    "card",
    "card--icon",
    "card--poi",
    "card--poi--article",
    "card--small-image",
    "icon--article--pin--before",
    card[:double?] ? "card--double card--full-image" : "card--single card--extended-content"

  ].join(" ")


%article.js-card{class: css_classes}

  %a.link--wrapper{href: card[:url]}

    = render partial: "components/cards/partials/card_content", locals: {card: card}

    - if card[:post_date] && !card[:double?]

      .card__footer
        %time.text-icon.icon--time--before{datetime: card[:post_date]}
          = prettify_date(card[:post_date])
