:ruby

  css_classes = [
    "card",
    "card--icon",
    "card--poi",
    "card--poi--article",
    "icon--article--pin--before",
    properties[:double?] ? "card--double card--full-image" : "card--single card--small-image card--extended-content"    
  ].join(" ")

%article.js-card{class: css_classes}
  %a.link--wrapper.js-lightbox-toggle.js-toggle-active{href: properties[:url], data: {lightbox: {preloader: 'true', class: 'lightbox--article'}, toggle: {target: '.lightbox'} }}  
    = render partial: "components/cards/partials/card_content", locals: {properties: properties}

    - if properties[:post_date] && !properties[:double?]

      .card__footer
        %time.text-icon.icon--time--before{datetime: properties[:post_date]}
          = prettify_date(properties[:post_date])
