:ruby
  if properties[:style] == "mini"
    return render "components/cards/mini_card", properties: properties.merge({ css_classes: ["card--poi--article", "card--mini--article", "card--full-image"] })
  end

  css_classes = [
    "card",
    "card--icon",
    "card--poi",
    "card--poi--article",
    "card--small-image",
    "icon--article--pin--before",
    properties[:double?] ? "card--double card--full-image" : "card--single card--extended-content"

  ].join(" ")


%article.js-card{class: css_classes}

  %a.link--wrapper{href: properties[:url]}

    = render partial: "components/cards/partials/card_content", locals: {properties: properties}

    - if properties[:post_date] && !properties[:double?]

      .card__footer
        %time.text-icon.icon--time--before{datetime: properties[:post_date]}
          = prettify_date(properties[:post_date])
