= render :layout => "components/cards/card", :locals => {card: card, card_class: "card--poi card--poi--article icon--article--white--before"} do

  = render partial: "components/cards/partials/card_content", locals: {card: card}

  - if card[:post_date] && !card[:double?]
    .card__footer
      %time.text-icon--clock{datetime: card[:post_date]}
        = prettify_date(card[:post_date])
