%article.card.card--single.card--poi.card--small-image.card--extended-content.icon--blog--white--before.js-card
  %a.link--wrapper{href: stack_item.url}
    - if stack_item.image_url
      %figure.card__hero
        = safe_image_tag(stack_item.image_url, class: 'card__image', alt: "#{stack_item.title}", lazyload: defined?(lazyload))
    .card__content
      %span.card__context
        Blog
      %h2.card__name
        = stack_item.title
      - if stack_item.subtitle
        %p.card__description
          = stack_item.subtitle