:ruby

  css_classes = [

    "card",
    "card--poi",
    "icon--blog--white--before",
    properties[:double?] ? "card--double card--full-image" : "card--single card--small-image card--extended-content"

  ].join(" ")


%article.js-card{class: css_classes}

  %a.link--wrapper{href: properties[:url]}

    - if properties[:image_url]
      %figure.card__hero
        = safe_image_tag(properties[:image_url], class: 'card__image', alt: "#{properties[:title]}", lazyload: defined?(lazyload))

    .card__content
      %span.card__context
        Blog

      %h2.card__name
        = properties[:title]

      - if properties[:subtitle]
        %p.card__description
          = properties[:subtitle]
