:ruby
  link_data ||= nil
  card_css = if card[:double?]
    'card--double card--full-image'
  elsif card[:image_url]
    if card[:description]
      'card--single card--small-image card--extended-content js-single'
    else
      'card--single card--extended-content--half js-single'
    end
  else
    'card--single card--no-image js-single'
  end

%article.card.js-card{class: "#{card_class} #{card_css} #{(card[:filter]) ? "js-stack-card-filter" : ""}"}
  %a.link--wrapper{href: card[:url], :data => link_data}
    = yield