= render :layout => "components/cards/card", :locals => {card: card, card_class: "card--collection card--collection--#{card[:topic]}", link_data: { 'stack-kind' => card[:stack_kind], :filter => card[:filter] } } do
  
  - if card[:count]
    %span.card__item-count
      = card[:count]

  = render partial: "components/cards/partials/card_content", locals: {card: card}
