.card--single.card--media-container.js-card.js-double-image-card
  - card[:cards].each do |card|

    - if card.resized_image_url
      = render 'components/cards/image_card', card: card

    - if card.resized_video_url
      = render 'components/cards/video_card', card: card
