:ruby
  css_classes = [
    "card",
    "card--guide",
    "card--single",
    properties[:image_url] ? "card--small-image card--extended-content" : "card--no-image"
  ].join(" ")

%article.js-card{class: css_classes}

  %a.link--wrapper{href: properties[:url]}

    .card__tags
      - if properties[:prices] && properties[:prices][currency.to_s].present? && properties[:prices][currency.to_s] > 0
        = render :partial => "/components/cards/partials/card_price", :locals => { :properties => properties, :icon => properties[:price_icon] }

    = render :partial => "/components/cards/partials/card_content", :locals => { :properties => properties }

    %footer.card__footer
      %span.btn.btn--yellow.btn--full-width
        Buy now
