= render :layout => "components/cards/card", :locals => {card: card, card_class: "card--link card--link--#{card[:title].downcase}", :filter => card[:filter] } do
  
  - if card[:count]
    %span.card__item-count
      = card[:count]

  = render partial: "components/cards/partials/card_content", locals: {card: card}