- if properties[:resized_image_url] or properties[:resized_video_url]
  .card--single.card--media-container.js-card

    - if properties[:resized_image_url]
      = render 'components/cards/image_card', properties: properties

    - if properties[:resized_video_url]
      = render 'components/cards/video_card', properties: properties