- if stack_item.resized_image_url or stack_item.resized_video_url
  .card--single.card--media-container.js-card.js-single

    - if stack_item.resized_image_url
      = render 'shared/cards/image_card', card: stack_item

    - if stack_item.resized_video_url
      = render 'shared/cards/video_card', card: stack_item