
.card.card--ad.card--no-image.js-card.js-card-ad.card--double
  .tag--horizontal.tag--horizontal--left
    Advertisement
  .card__content.ad-mpu
    #js-ad-mpu.adunit{ data: { dimensions: '300x250' } }
