.card.card--ad.card--ad--mpu.card--no-image.js-card.js-card-ad.card--double
  .tag--horizontal.tag--horizontal--left
    Advertisement
  .card__content.ad-mpu
    = ui_component('ads/mpu', properties: { extension: 'stackMPU' })
