= render :layout => "components/cards/card", :locals => {card: card, card_class: "card--place card--destination" } do

  = render partial: "components/cards/partials/card_content", locals: {card: card}

  - if card[:things_to_do_count] && card[:lodging_count]
    %footer.card__footer
      %span.destination__item-count.destination__item-count--sights
        = card[:things_to_do_count]
      %span.destination__item-count.destination__item-count--lodgings
        = card[:lodging_count]
