:ruby
  css_classes = [
    "card",
    "card--guide",
    "card--small",
    "card--transparent"
  ].join(" ")

%article.js-card{class: css_classes}

  %a.link--wrapper{href: properties[:url]}

    .card__tags.card__tags--guides
      - if properties[:price]
        = render :partial => "/components/cards/partials/card_price", :locals => { :properties => properties, :icon => properties[:price_icon] }

    = render :partial => "/components/cards/partials/card_content", :locals => { :properties => properties, :transparent => true }
