.card.card--single.card--no-image.card--ad.card--ad--traffic-driver.js-card.js-card-ad.is-closed
  .tag--horizontal.tag--horizontal--left
    Sponsored
  .card__content.ad-traffic-driver
    = ui_component('ads/traffic_driver')
