.card.card--single.card--sponsored.card--sponsored--traffic-driver.js-card.js-card-sponsored.is-closed
  .tag--horizontal.tag--horizontal--left
    Sponsored
  .card__content.ad-traffic-driver
    = ui_component('ads/traffic_driver')
