%article.card.card--image-only
  %a.link--wrapper{href: properties[:video_href], title: "Video Gallery"}
    %span.card__icon.icon--video.icon--white
    %figure.card__hero
      = safe_image_tag(properties[:resized_video_url], class: 'portrait card__image', alt: "Video Gallery", lazyload: defined?(lazyload))

    .card__content
      %h2.card__name.accessibility
        Video gallery
      %p
        = properties[:video_description]
