- field_class = extra_class ||= ""

.field.js-field{ class: field_class }
  %label.field__label.js-field-label{ for: id }<
    = label
  .field__content.js-input{ class: (tooltip and !tooltip.nil?) ? 'tooltip--container' : '' }
    = yield
