// -----------------------------------------------------------------------------
// Destination specific Colours
// -----------------------------------------------------------------------------

$section--countries        : #ff708e !default
$section--regions          : #47a899 !default
$section--cities           : #fa5e5b !default

// $map__height : 300px
$row--introduction-height: 80px
$top-ten__list__height: 100px

// -----------------------------------------------------------------------------

html
  overflow-y: scroll

.row--content
  outline: none

.row--secondary
  +respond-to(wide-view)
    background-color: white
    margin-bottom: 0
    padding-bottom: 7px

.row__title--secondary
  +respond-to(wide-view)
    background-color: white

.row--introduction
  background-color: white
  position: relative // for z-index  
  z-index: 20
  color: $header-grey
  text-align: center
  +respond-to(wide-view)
    @extend %clearfix
    height: $row--introduction-height

.row--introduction__inner
  +respond-to(wide-view)
    width: 1000px
    margin: 0 auto

.row--introduction__branding
  padding-top: 25px
  +respond-to(wide-view)
    padding-top: 0
    float: left
    width: 20%
    height: 80px
    box-shadow: -1px 0 $body-background inset

.row__inner--content
  padding-top: 50px
  .copy--h1
    margin-bottom: 30px

.media--best-in-travel-logo
  +respond-to(wide-view)
    padding-top: 15px

.row--introduction__blurb
  +font-size(15)
  padding: 20px
  +respond-to(wide-view)
    +border-radius(4)
    +box-shadow(5, 5, 1, 0, rgba(0,0,0,0.1))
    background-color: $header-grey
    position: absolute
    top: -200px
    width: 600px
    text-align: left

.row--introduction__blurb__title
  margin-bottom: 8px
  +respond-to(wide-view)
    +font-size(32)
    color: white

.row--introduction__blurb__copy
  +respond-to(wide-view)
    +font-size(16)
    color: white

.row--introduction__blurb__hide
  @extend %cross-icon-before
  display: none
  cursor: pointer

  +respond-to(wide-view)
    +font-size(40)
    display: block
    position: absolute
    top: 4px
    right: 16px
    width: 24px
    height: 36px
    overflow: hidden
    line-height: 1em
    color: white
    opacity: 0.5

    &:hover
      text-decoration: none
      opacity: 1




.bit-social
  display: none
  +respond-to(wide-view)
    display: block
    width: 20%
    height: 80px
    float: left
    position: relative

.bit-social__item
  position: absolute

.bit-social--facebook
  top: 15px
  left: 15px

.bit-social--googleplus
  top: 15px
  right: 0

.bit-social--twitter
  bottom: 17px
  left: 15px


.top-tens
  +respond-to(wide-view)
    @extend %clearfix
    float: left
    width: 60%

.top-ten
  border-top: solid 1px $body-background
  display: block
  &:hover
    text-decoration: none

  &.expanded
    .top-ten__category
      color: white

  +respond-to(wide-view)
    border-bottom-width: 2px
    border-bottom-style: solid
    float: left
    width: 33.33333%

.top-ten__category__link
  display: block
  padding: 20px
  text-align: center
  text-transform: uppercase
  +font-size(20)
  +respond-to(wide-view)
    +font-size(16)
    padding: 0
    height: ( $row--introduction-height - 2 )

.top-ten.expanded
  .top-ten__category__link__inner
    color: white

.top-ten__category__link__inner
  color: $header-grey
  display: block
  font-weight: 700
  text-decoration: none
  &:hover
    color: white

  +respond-to(wide-view)
    box-shadow: -1px 0 $body-background inset
    height: ( $row--introduction-height - 30 )
    padding-top: 30px

.top-ten--countries
  &.expanded
    background-color: $section--countries
  &:hover
    background-color: $section--countries
  +respond-to(wide-view)
    border-bottom-color: $section--countries

.top-ten--regions
  &.expanded
    background-color: $section--regions
  &:hover
    background-color: $section--regions
  +respond-to(wide-view)
    border-bottom-color: $section--regions

.top-ten--cities
  &.expanded
    background-color: $section--cities
  &:hover
    background-color: $section--cities
  +respond-to(wide-view)
    border-bottom-color: $section--cities

.top-ten__list
  list-style-type: none
  +respond-to(wide-view)
    @extend %clearfix
    position: absolute
    left: 0
    top: -$top-ten__list__height
    width: 100%

.top-ten__list__item
  height: 75px
  background-position: center
  background-size: cover
  position: relative
  +respond-to(wide-view)
    display: block
    float: left
    width: 10%
    height: $top-ten__list__height
    position: relative

@for $i from 1 through length($best-in-travel--cities)
  $city: nth($best-in-travel--cities, $i)
  .top-ten__list--city--#{$i}
    background-image: url(#{image_path('destinations/best-in-travel/hero/#{$city}-640.jpg')})

@for $i from 1 through length($best-in-travel--countries)
  $country: nth($best-in-travel--countries, $i)
  .top-ten__list--country--#{$i}
    background-image: url(#{image_path('destinations/best-in-travel/hero/#{$country}-640.jpg')})

@for $i from 1 through length($best-in-travel--regions)
  $region: nth($best-in-travel--regions, $i)
  .top-ten__list--region--#{$i}
    background-image: url(#{image_path('destinations/best-in-travel/hero/#{$region}-640.jpg')})

.top-ten__list__title
  +filter(drop-shadow(0 0 5px rgba(0,0,0,0.5)))
  background-position: center center
  background-repeat: no-repeat
  background-size: 140px
  text-indent: -9999px
  height: 100%
  position: absolute
  width: 100%
  top: 0
  +respond-to(wide-view)
    background-size: cover

.top-ten__list__item__link
  background-color: rgba(20,43,68, 0.15)
  +respond-to(wide-view)
    height: 100%
    width: 100%
    display: block
    .top-ten__list--countries &:hover
      box-shadow: 10px 10px $section--countries inset, -10px -10px $section--countries inset
    .top-ten__list--regions &:hover
      box-shadow: 10px 10px $section--regions inset, -10px -10px $section--regions inset
    .top-ten__list--cities &:hover
      box-shadow: 10px 10px $section--cities inset, -10px -10px $section--cities inset

.top-ten__list__item__rank
  +respond-to(wide-view)
    color: white
    opacity: 0.9
    +font-size(16)
    font-weight: 700
    position: absolute
    top: 0
    right: 5px
    &:before
      +font-size(8)
      content: "#"
      vertical-align: top
      position: relative
      top: 4px
      left: 3px

.bit-map--container
  background-color: white
  padding-top: 3px
  overflow: hidden

.bit-map
  display: none
  +respond-to(wide-view)
    +transition(all, 0.2, ease-in)
    background-color: $nav-primary-type
    display: block
    width: 100%
    // height: JS to calculate
    position: relative

.carousel
  position: relative
  margin: 0 auto
  height: 100%
  width: 100%
  display: none
  &.current
    display: block

.carousel__contents-wrapper
  height: 100%
