.icon--accessibility,
.icon--accessibility--before:before, .icon--accessibility--after:after { background-image: url(png/accessibility.png); background-repeat: no-repeat; }

.icon--activity,
.icon--activity--before:before, .icon--activity--after:after { background-image: url(png/activity.png); background-repeat: no-repeat; }

.icon--add,
.icon--add--before:before, .icon--add--after:after { background-image: url(png/add.png); background-repeat: no-repeat; }

.icon--air-conditioning,
.icon--air-conditioning--before:before, .icon--air-conditioning--after:after { background-image: url(png/air-conditioning.png); background-repeat: no-repeat; }

.icon--arrow-down,
.icon--arrow-down--before:before, .icon--arrow-down--after:after { background-image: url(png/arrow-down.png); background-repeat: no-repeat; }

.icon--arrow-left,
.icon--arrow-left--before:before, .icon--arrow-left--after:after { background-image: url(png/arrow-left.png); background-repeat: no-repeat; }

.icon--arrow-right,
.icon--arrow-right--before:before, .icon--arrow-right--after:after { background-image: url(png/arrow-right.png); background-repeat: no-repeat; }

.icon--arrow-up,
.icon--arrow-up--before:before, .icon--arrow-up--after:after { background-image: url(png/arrow-up.png); background-repeat: no-repeat; }

.icon--article-pin,
.icon--article-pin--before:before, .icon--article-pin--after:after { background-image: url(png/article-pin.png); background-repeat: no-repeat; }

.icon--article,
.icon--article--before:before, .icon--article--after:after { background-image: url(png/article.png); background-repeat: no-repeat; }

.icon--back-arrow,
.icon--back-arrow--before:before, .icon--back-arrow--after:after { background-image: url(png/back-arrow.png); background-repeat: no-repeat; }

.icon--bar,
.icon--bar--before:before, .icon--bar--after:after { background-image: url(png/bar.png); background-repeat: no-repeat; }

.icon--bicycle,
.icon--bicycle--before:before, .icon--bicycle--after:after { background-image: url(png/bicycle.png); background-repeat: no-repeat; }

.icon--block,
.icon--block--before:before, .icon--block--after:after { background-image: url(png/block.png); background-repeat: no-repeat; }

.icon--bold,
.icon--bold--before:before, .icon--bold--after:after { background-image: url(png/bold.png); background-repeat: no-repeat; }

.icon--breakfast,
.icon--breakfast--before:before, .icon--breakfast--after:after { background-image: url(png/breakfast.png); background-repeat: no-repeat; }

.icon--bureau-de-change,
.icon--bureau-de-change--before:before, .icon--bureau-de-change--after:after { background-image: url(png/bureau-de-change.png); background-repeat: no-repeat; }

.icon--bus,
.icon--bus--before:before, .icon--bus--after:after { background-image: url(png/bus.png); background-repeat: no-repeat; }

.icon--calendar,
.icon--calendar--before:before, .icon--calendar--after:after { background-image: url(png/calendar.png); background-repeat: no-repeat; }

.icon--camping,
.icon--camping--before:before, .icon--camping--after:after { background-image: url(png/camping.png); background-repeat: no-repeat; }

.icon--car,
.icon--car--before:before, .icon--car--after:after { background-image: url(png/car.png); background-repeat: no-repeat; }

.icon--cards-accepted,
.icon--cards-accepted--before:before, .icon--cards-accepted--after:after { background-image: url(png/cards-accepted.png); background-repeat: no-repeat; }

.icon--caution,
.icon--caution--before:before, .icon--caution--after:after { background-image: url(png/caution.png); background-repeat: no-repeat; }

.icon--chevron-down,
.icon--chevron-down--before:before, .icon--chevron-down--after:after { background-image: url(png/chevron-down.png); background-repeat: no-repeat; }

.icon--chevron-left,
.icon--chevron-left--before:before, .icon--chevron-left--after:after { background-image: url(png/chevron-left.png); background-repeat: no-repeat; }

.icon--chevron-right,
.icon--chevron-right--before:before, .icon--chevron-right--after:after { background-image: url(png/chevron-right.png); background-repeat: no-repeat; }

.icon--chevron-up,
.icon--chevron-up--before:before, .icon--chevron-up--after:after { background-image: url(png/chevron-up.png); background-repeat: no-repeat; }

.icon--children-activities,
.icon--children-activities--before:before, .icon--children-activities--after:after { background-image: url(png/children-activities.png); background-repeat: no-repeat; }

.icon--collapse,
.icon--collapse--before:before, .icon--collapse--after:after { background-image: url(png/collapse.png); background-repeat: no-repeat; }

.icon--comment-line,
.icon--comment-line--before:before, .icon--comment-line--after:after { background-image: url(png/comment-line.png); background-repeat: no-repeat; }

.icon--comment,
.icon--comment--before:before, .icon--comment--after:after { background-image: url(png/comment.png); background-repeat: no-repeat; }

.icon--concierge,
.icon--concierge--before:before, .icon--concierge--after:after { background-image: url(png/concierge.png); background-repeat: no-repeat; }

.icon--contact,
.icon--contact--before:before, .icon--contact--after:after { background-image: url(png/contact.png); background-repeat: no-repeat; }

.icon--contacts,
.icon--contacts--before:before, .icon--contacts--after:after { background-image: url(png/contacts.png); background-repeat: no-repeat; }

.icon--cross,
.icon--cross--before:before, .icon--cross--after:after { background-image: url(png/cross.png); background-repeat: no-repeat; }

.icon--destination-flag,
.icon--destination-flag--before:before, .icon--destination-flag--after:after { background-image: url(png/destination-flag.png); background-repeat: no-repeat; }

.icon--destination,
.icon--destination--before:before, .icon--destination--after:after { background-image: url(png/destination.png); background-repeat: no-repeat; }

.icon--dude-confused,
.icon--dude-confused--before:before, .icon--dude-confused--after:after { background-image: url(png/dude-confused.png); background-repeat: no-repeat; }

.icon--dude-map,
.icon--dude-map--before:before, .icon--dude-map--after:after { background-image: url(png/dude-map.png); background-repeat: no-repeat; }

.icon--dude,
.icon--dude--before:before, .icon--dude--after:after { background-image: url(png/dude.png); background-repeat: no-repeat; }

.icon--email,
.icon--email--before:before, .icon--email--after:after { background-image: url(png/email.png); background-repeat: no-repeat; }

.icon--entertainment,
.icon--entertainment--before:before, .icon--entertainment--after:after { background-image: url(png/entertainment.png); background-repeat: no-repeat; }

.icon--expand-full-screen,
.icon--expand-full-screen--before:before, .icon--expand-full-screen--after:after { background-image: url(png/expand-full-screen.png); background-repeat: no-repeat; }

.icon--expand,
.icon--expand--before:before, .icon--expand--after:after { background-image: url(png/expand.png); background-repeat: no-repeat; }

.icon--facebook,
.icon--facebook--before:before, .icon--facebook--after:after { background-image: url(png/facebook.png); background-repeat: no-repeat; }

.icon--family,
.icon--family--before:before, .icon--family--after:after { background-image: url(png/family.png); background-repeat: no-repeat; }

.icon--female,
.icon--female--before:before, .icon--female--after:after { background-image: url(png/female.png); background-repeat: no-repeat; }

.icon--ferry,
.icon--ferry--before:before, .icon--ferry--after:after { background-image: url(png/ferry.png); background-repeat: no-repeat; }

.icon--festival,
.icon--festival--before:before, .icon--festival--after:after { background-image: url(png/festival.png); background-repeat: no-repeat; }

.icon--filter,
.icon--filter--before:before, .icon--filter--after:after { background-image: url(png/filter.png); background-repeat: no-repeat; }

.icon--flickr,
.icon--flickr--before:before, .icon--flickr--after:after { background-image: url(png/flickr.png); background-repeat: no-repeat; }

.icon--flights-left,
.icon--flights-left--before:before, .icon--flights-left--after:after { background-image: url(png/flights-left.png); background-repeat: no-repeat; }

.icon--flights-line,
.icon--flights-line--before:before, .icon--flights-line--after:after { background-image: url(png/flights-line.png); background-repeat: no-repeat; }

.icon--flights-right,
.icon--flights-right--before:before, .icon--flights-right--after:after { background-image: url(png/flights-right.png); background-repeat: no-repeat; }

.icon--flights-tail,
.icon--flights-tail--before:before, .icon--flights-tail--after:after { background-image: url(png/flights-tail.png); background-repeat: no-repeat; }

.icon--flights,
.icon--flights--before:before, .icon--flights--after:after { background-image: url(png/flights.png); background-repeat: no-repeat; }

.icon--folder,
.icon--folder--before:before, .icon--folder--after:after { background-image: url(png/folder.png); background-repeat: no-repeat; }

.icon--google-plus,
.icon--google-plus--before:before, .icon--google-plus--after:after { background-image: url(png/google-plus.png); background-repeat: no-repeat; }

.icon--grid-list,
.icon--grid-list--before:before, .icon--grid-list--after:after { background-image: url(png/grid-list.png); background-repeat: no-repeat; }

.icon--grid,
.icon--grid--before:before, .icon--grid--after:after { background-image: url(png/grid.png); background-repeat: no-repeat; }

.icon--guest-services,
.icon--guest-services--before:before, .icon--guest-services--after:after { background-image: url(png/guest-services.png); background-repeat: no-repeat; }

.icon--gym,
.icon--gym--before:before, .icon--gym--after:after { background-image: url(png/gym.png); background-repeat: no-repeat; }

.icon--hamburger,
.icon--hamburger--before:before, .icon--hamburger--after:after { background-image: url(png/hamburger.png); background-repeat: no-repeat; }

.icon--hand-point-line,
.icon--hand-point-line--before:before, .icon--hand-point-line--after:after { background-image: url(png/hand-point-line.png); background-repeat: no-repeat; }

.icon--hand-point,
.icon--hand-point--before:before, .icon--hand-point--after:after { background-image: url(png/hand-point.png); background-repeat: no-repeat; }

.icon--home-line,
.icon--home-line--before:before, .icon--home-line--after:after { background-image: url(png/home-line.png); background-repeat: no-repeat; }

.icon--home,
.icon--home--before:before, .icon--home--after:after { background-image: url(png/home.png); background-repeat: no-repeat; }

.icon--hotel,
.icon--hotel--before:before, .icon--hotel--after:after { background-image: url(png/hotel.png); background-repeat: no-repeat; }

.icon--housekeeping,
.icon--housekeeping--before:before, .icon--housekeeping--after:after { background-image: url(png/housekeeping.png); background-repeat: no-repeat; }

.icon--image-line,
.icon--image-line--before:before, .icon--image-line--after:after { background-image: url(png/image-line.png); background-repeat: no-repeat; }

.icon--image,
.icon--image--before:before, .icon--image--after:after { background-image: url(png/image.png); background-repeat: no-repeat; }

.icon--information,
.icon--information--before:before, .icon--information--after:after { background-image: url(png/information.png); background-repeat: no-repeat; }

.icon--insurance-line,
.icon--insurance-line--before:before, .icon--insurance-line--after:after { background-image: url(png/insurance-line.png); background-repeat: no-repeat; }

.icon--insurance,
.icon--insurance--before:before, .icon--insurance--after:after { background-image: url(png/insurance.png); background-repeat: no-repeat; }

.icon--ipad,
.icon--ipad--before:before, .icon--ipad--after:after { background-image: url(png/ipad.png); background-repeat: no-repeat; }

.icon--italics,
.icon--italics--before:before, .icon--italics--after:after { background-image: url(png/italics.png); background-repeat: no-repeat; }

.icon--journey,
.icon--journey--before:before, .icon--journey--after:after { background-image: url(png/journey.png); background-repeat: no-repeat; }

.icon--length,
.icon--length--before:before, .icon--length--after:after { background-image: url(png/length.png); background-repeat: no-repeat; }

.icon--lightbulb-line,
.icon--lightbulb-line--before:before, .icon--lightbulb-line--after:after { background-image: url(png/lightbulb-line.png); background-repeat: no-repeat; }

.icon--lightbulb,
.icon--lightbulb--before:before, .icon--lightbulb--after:after { background-image: url(png/lightbulb.png); background-repeat: no-repeat; }

.icon--link,
.icon--link--before:before, .icon--link--after:after { background-image: url(png/link.png); background-repeat: no-repeat; }

.icon--lp-logo,
.icon--lp-logo--before:before, .icon--lp-logo--after:after { background-image: url(png/lp-logo.png); background-repeat: no-repeat; }

.icon--lp-reviewed,
.icon--lp-reviewed--before:before, .icon--lp-reviewed--after:after { background-image: url(png/lp-reviewed.png); background-repeat: no-repeat; }

.icon--luggage-storage,
.icon--luggage-storage--before:before, .icon--luggage-storage--after:after { background-image: url(png/luggage-storage.png); background-repeat: no-repeat; }

.icon--magazine-line,
.icon--magazine-line--before:before, .icon--magazine-line--after:after { background-image: url(png/magazine-line.png); background-repeat: no-repeat; }

.icon--magazine,
.icon--magazine--before:before, .icon--magazine--after:after { background-image: url(png/magazine.png); background-repeat: no-repeat; }

.icon--male,
.icon--male--before:before, .icon--male--after:after { background-image: url(png/male.png); background-repeat: no-repeat; }

.icon--metro,
.icon--metro--before:before, .icon--metro--after:after { background-image: url(png/metro.png); background-repeat: no-repeat; }

.icon--monorail,
.icon--monorail--before:before, .icon--monorail--after:after { background-image: url(png/monorail.png); background-repeat: no-repeat; }

.icon--mouse,
.icon--mouse--before:before, .icon--mouse--after:after { background-image: url(png/mouse.png); background-repeat: no-repeat; }

.icon--non-smoking,
.icon--non-smoking--before:before, .icon--non-smoking--after:after { background-image: url(png/non-smoking.png); background-repeat: no-repeat; }

.icon--outdoor-space,
.icon--outdoor-space--before:before, .icon--outdoor-space--after:after { background-image: url(png/outdoor-space.png); background-repeat: no-repeat; }

.icon--paper-airplane,
.icon--paper-airplane--before:before, .icon--paper-airplane--after:after { background-image: url(png/paper-airplane.png); background-repeat: no-repeat; }

.icon--parking,
.icon--parking--before:before, .icon--parking--after:after { background-image: url(png/parking.png); background-repeat: no-repeat; }

.icon--pen-line,
.icon--pen-line--before:before, .icon--pen-line--after:after { background-image: url(png/pen-line.png); background-repeat: no-repeat; }

.icon--pets,
.icon--pets--before:before, .icon--pets--after:after { background-image: url(png/pets.png); background-repeat: no-repeat; }

.icon--pin,
.icon--pin--before:before, .icon--pin--after:after { background-image: url(png/pin.png); background-repeat: no-repeat; }

.icon--pinterest,
.icon--pinterest--before:before, .icon--pinterest--after:after { background-image: url(png/pinterest.png); background-repeat: no-repeat; }

.icon--plane,
.icon--plane--before:before, .icon--plane--after:after { background-image: url(png/plane.png); background-repeat: no-repeat; }

.icon--point-down,
.icon--point-down--before:before, .icon--point-down--after:after { background-image: url(png/point-down.png); background-repeat: no-repeat; }

.icon--point-left,
.icon--point-left--before:before, .icon--point-left--after:after { background-image: url(png/point-left.png); background-repeat: no-repeat; }

.icon--point-right,
.icon--point-right--before:before, .icon--point-right--after:after { background-image: url(png/point-right.png); background-repeat: no-repeat; }

.icon--point-up,
.icon--point-up--before:before, .icon--point-up--after:after { background-image: url(png/point-up.png); background-repeat: no-repeat; }

.icon--print,
.icon--print--before:before, .icon--print--after:after { background-image: url(png/print.png); background-repeat: no-repeat; }

.icon--quote,
.icon--quote--before:before, .icon--quote--after:after { background-image: url(png/quote.png); background-repeat: no-repeat; }

.icon--recreation,
.icon--recreation--before:before, .icon--recreation--after:after { background-image: url(png/recreation.png); background-repeat: no-repeat; }

.icon--refresh,
.icon--refresh--before:before, .icon--refresh--after:after { background-image: url(png/refresh.png); background-repeat: no-repeat; }

.icon--report-flag,
.icon--report-flag--before:before, .icon--report-flag--after:after { background-image: url(png/report-flag.png); background-repeat: no-repeat; }

.icon--restaurant,
.icon--restaurant--before:before, .icon--restaurant--after:after { background-image: url(png/restaurant.png); background-repeat: no-repeat; }

.icon--rss,
.icon--rss--before:before, .icon--rss--after:after { background-image: url(png/rss.png); background-repeat: no-repeat; }

.icon--s-bahn,
.icon--s-bahn--before:before, .icon--s-bahn--after:after { background-image: url(png/s-bahn.png); background-repeat: no-repeat; }

.icon--search,
.icon--search--before:before, .icon--search--after:after { background-image: url(png/search.png); background-repeat: no-repeat; }

.icon--settings,
.icon--settings--before:before, .icon--settings--after:after { background-image: url(png/settings.png); background-repeat: no-repeat; }

.icon--shop-basket-line,
.icon--shop-basket-line--before:before, .icon--shop-basket-line--after:after { background-image: url(png/shop-basket-line.png); background-repeat: no-repeat; }

.icon--shop-basket,
.icon--shop-basket--before:before, .icon--shop-basket--after:after { background-image: url(png/shop-basket.png); background-repeat: no-repeat; }

.icon--shop,
.icon--shop--before:before, .icon--shop--after:after { background-image: url(png/shop.png); background-repeat: no-repeat; }

.icon--sight,
.icon--sight--before:before, .icon--sight--after:after { background-image: url(png/sight.png); background-repeat: no-repeat; }

.icon--sign-in,
.icon--sign-in--before:before, .icon--sign-in--after:after { background-image: url(png/sign-in.png); background-repeat: no-repeat; }

.icon--sign-out,
.icon--sign-out--before:before, .icon--sign-out--after:after { background-image: url(png/sign-out.png); background-repeat: no-repeat; }

.icon--spa,
.icon--spa--before:before, .icon--spa--after:after { background-image: url(png/spa.png); background-repeat: no-repeat; }

.icon--spell-check,
.icon--spell-check--before:before, .icon--spell-check--after:after { background-image: url(png/spell-check.png); background-repeat: no-repeat; }

.icon--subway,
.icon--subway--before:before, .icon--subway--after:after { background-image: url(png/subway.png); background-repeat: no-repeat; }

.icon--swimming-pool,
.icon--swimming-pool--before:before, .icon--swimming-pool--after:after { background-image: url(png/swimming-pool.png); background-repeat: no-repeat; }

.icon--tag,
.icon--tag--before:before, .icon--tag--after:after { background-image: url(png/tag.png); background-repeat: no-repeat; }

.icon--taxi,
.icon--taxi--before:before, .icon--taxi--after:after { background-image: url(png/taxi.png); background-repeat: no-repeat; }

.icon--thumbs-up-line,
.icon--thumbs-up-line--before:before, .icon--thumbs-up-line--after:after { background-image: url(png/thumbs-up-line.png); background-repeat: no-repeat; }

.icon--thumbs-up,
.icon--thumbs-up--before:before, .icon--thumbs-up--after:after { background-image: url(png/thumbs-up.png); background-repeat: no-repeat; }

.icon--tick,
.icon--tick--before:before, .icon--tick--after:after { background-image: url(png/tick.png); background-repeat: no-repeat; }

.icon--time,
.icon--time--before:before, .icon--time--after:after { background-image: url(png/time.png); background-repeat: no-repeat; }

.icon--top-choice,
.icon--top-choice--before:before, .icon--top-choice--after:after { background-image: url(png/top-choice.png); background-repeat: no-repeat; }

.icon--tour,
.icon--tour--before:before, .icon--tour--after:after { background-image: url(png/tour.png); background-repeat: no-repeat; }

.icon--towel,
.icon--towel--before:before, .icon--towel--after:after { background-image: url(png/towel.png); background-repeat: no-repeat; }

.icon--train,
.icon--train--before:before, .icon--train--after:after { background-image: url(png/train.png); background-repeat: no-repeat; }

.icon--tram,
.icon--tram--before:before, .icon--tram--after:after { background-image: url(png/tram.png); background-repeat: no-repeat; }

.icon--transfers,
.icon--transfers--before:before, .icon--transfers--after:after { background-image: url(png/transfers.png); background-repeat: no-repeat; }

.icon--transport-pin,
.icon--transport-pin--before:before, .icon--transport-pin--after:after { background-image: url(png/transport-pin.png); background-repeat: no-repeat; }

.icon--transport,
.icon--transport--before:before, .icon--transport--after:after { background-image: url(png/transport.png); background-repeat: no-repeat; }

.icon--trash,
.icon--trash--before:before, .icon--trash--after:after { background-image: url(png/trash.png); background-repeat: no-repeat; }

.icon--trophy,
.icon--trophy--before:before, .icon--trophy--after:after { background-image: url(png/trophy.png); background-repeat: no-repeat; }

.icon--tube,
.icon--tube--before:before, .icon--tube--after:after { background-image: url(png/tube.png); background-repeat: no-repeat; }

.icon--twitter,
.icon--twitter--before:before, .icon--twitter--after:after { background-image: url(png/twitter.png); background-repeat: no-repeat; }

.icon--u-bahn,
.icon--u-bahn--before:before, .icon--u-bahn--after:after { background-image: url(png/u-bahn.png); background-repeat: no-repeat; }

.icon--user,
.icon--user--before:before, .icon--user--after:after { background-image: url(png/user.png); background-repeat: no-repeat; }

.icon--video-line,
.icon--video-line--before:before, .icon--video-line--after:after { background-image: url(png/video-line.png); background-repeat: no-repeat; }

.icon--video,
.icon--video--before:before, .icon--video--after:after { background-image: url(png/video.png); background-repeat: no-repeat; }

.icon--website,
.icon--website--before:before, .icon--website--after:after { background-image: url(png/website.png); background-repeat: no-repeat; }

.icon--wi-fi,
.icon--wi-fi--before:before, .icon--wi-fi--after:after { background-image: url(png/wi-fi.png); background-repeat: no-repeat; }

.icon--youtube,
.icon--youtube--before:before, .icon--youtube--after:after { background-image: url(png/youtube.png); background-repeat: no-repeat; }