.icon--arrow-down--white, .icon--arrow-down--white--before:before, .icon--arrow-down--white--after:after { background-image: url(png/arrow-down--white.png); background-repeat: no-repeat; }

.icon--arrow-up--green, .icon--arrow-up--green--before:before, .icon--arrow-up--green--after:after { background-image: url(png/arrow-up--green.png); background-repeat: no-repeat; }

.icon--article--white, .icon--article--white--before:before, .icon--article--white--after:after { background-image: url(png/article--white.png); background-repeat: no-repeat; }

.icon--camera--white, .icon--camera--white--before:before, .icon--camera--white--after:after { background-image: url(png/camera--white.png); background-repeat: no-repeat; }

.icon--chevron-down--grey, .icon--chevron-down--grey--before:before, .icon--chevron-down--grey--after:after { background-image: url(png/chevron-down--grey.png); background-repeat: no-repeat; }

.icon--chevron-down--white, .icon--chevron-down--white--before:before, .icon--chevron-down--white--after:after { background-image: url(png/chevron-down--white.png); background-repeat: no-repeat; }

.icon--chevron-large-left--white, .icon--chevron-large-left--white--before:before, .icon--chevron-large-left--white--after:after { background-image: url(png/chevron-large-left--white.png); background-repeat: no-repeat; }

.icon--chevron-large-right--white, .icon--chevron-large-right--white--before:before, .icon--chevron-large-right--white--after:after { background-image: url(png/chevron-large-right--white.png); background-repeat: no-repeat; }

.icon--chevron-left--grey, .icon--chevron-left--grey--before:before, .icon--chevron-left--grey--after:after { background-image: url(png/chevron-left--grey.png); background-repeat: no-repeat; }

.icon--chevron-left--white, .icon--chevron-left--white--before:before, .icon--chevron-left--white--after:after { background-image: url(png/chevron-left--white.png); background-repeat: no-repeat; }

.icon--chevron-right--grey, .icon--chevron-right--grey--before:before, .icon--chevron-right--grey--after:after { background-image: url(png/chevron-right--grey.png); background-repeat: no-repeat; }

.icon--chevron-right--white, .icon--chevron-right--white--before:before, .icon--chevron-right--white--after:after { background-image: url(png/chevron-right--white.png); background-repeat: no-repeat; }

.icon--chevron-up--grey, .icon--chevron-up--grey--before:before, .icon--chevron-up--grey--after:after { background-image: url(png/chevron-up--grey.png); background-repeat: no-repeat; }

.icon--chevron-up--white, .icon--chevron-up--white--before:before, .icon--chevron-up--white--after:after { background-image: url(png/chevron-up--white.png); background-repeat: no-repeat; }

.icon--close--white, .icon--close--white--before:before, .icon--close--white--after:after { background-image: url(png/close--white.png); background-repeat: no-repeat; }

.icon--destination--white, .icon--destination--white--before:before, .icon--destination--white--after:after { background-image: url(png/destination--white.png); background-repeat: no-repeat; }

.icon--destination-line--grey, .icon--destination-line--grey--before:before, .icon--destination-line--grey--after:after { background-image: url(png/destination-line--grey.png); background-repeat: no-repeat; }

.icon--facebook--grey, .icon--facebook--grey--before:before, .icon--facebook--grey--after:after { background-image: url(png/facebook--grey.png); background-repeat: no-repeat; }

.icon--flickr--grey, .icon--flickr--grey--before:before, .icon--flickr--grey--after:after { background-image: url(png/flickr--grey.png); background-repeat: no-repeat; }

.icon--flights--grey, .icon--flights--grey--before:before, .icon--flights--grey--after:after { background-image: url(png/flights--grey.png); background-repeat: no-repeat; }

.icon--flights--white, .icon--flights--white--before:before, .icon--flights--white--after:after { background-image: url(png/flights--white.png); background-repeat: no-repeat; }

.icon--flights-line--grey, .icon--flights-line--grey--before:before, .icon--flights-line--grey--after:after { background-image: url(png/flights-line--grey.png); background-repeat: no-repeat; }

.icon--google-plus--grey, .icon--google-plus--grey--before:before, .icon--google-plus--grey--after:after { background-image: url(png/google-plus--grey.png); background-repeat: no-repeat; }

.icon--hambuger--white, .icon--hambuger--white--before:before, .icon--hambuger--white--after:after { background-image: url(png/hambuger--white.png); background-repeat: no-repeat; }

.icon--home--white, .icon--home--white--before:before, .icon--home--white--after:after { background-image: url(png/home--white.png); background-repeat: no-repeat; }

.icon--hotels--grey, .icon--hotels--grey--before:before, .icon--hotels--grey--after:after { background-image: url(png/hotels--grey.png); background-repeat: no-repeat; }

.icon--hotels--white, .icon--hotels--white--before:before, .icon--hotels--white--after:after { background-image: url(png/hotels--white.png); background-repeat: no-repeat; }

.icon--insurance-line--grey, .icon--insurance-line--grey--before:before, .icon--insurance-line--grey--after:after { background-image: url(png/insurance-line--grey.png); background-repeat: no-repeat; }

.icon--insurance-umbrella-inline--grey, .icon--insurance-umbrella-inline--grey--before:before, .icon--insurance-umbrella-inline--grey--after:after { background-image: url(png/insurance-umbrella-inline--grey.png); background-repeat: no-repeat; }

.icon--logo--grey, .icon--logo--grey--before:before, .icon--logo--grey--after:after { background-image: url(png/logo--grey.png); background-repeat: no-repeat; }

.icon--logo--white, .icon--logo--white--before:before, .icon--logo--white--after:after { background-image: url(png/logo--white.png); background-repeat: no-repeat; }

.icon--magazine--grey, .icon--magazine--grey--before:before, .icon--magazine--grey--after:after { background-image: url(png/magazine--grey.png); background-repeat: no-repeat; }

.icon--magazine--white, .icon--magazine--white--before:before, .icon--magazine--white--after:after { background-image: url(png/magazine--white.png); background-repeat: no-repeat; }

.icon--pinterest--grey, .icon--pinterest--grey--before:before, .icon--pinterest--grey--after:after { background-image: url(png/pinterest--grey.png); background-repeat: no-repeat; }

.icon--plane-left--grey, .icon--plane-left--grey--before:before, .icon--plane-left--grey--after:after { background-image: url(png/plane-left--grey.png); background-repeat: no-repeat; }

.icon--plane-right--grey, .icon--plane-right--grey--before:before, .icon--plane-right--grey--after:after { background-image: url(png/plane-right--grey.png); background-repeat: no-repeat; }

.icon--rss--grey, .icon--rss--grey--before:before, .icon--rss--grey--after:after { background-image: url(png/rss--grey.png); background-repeat: no-repeat; }

.icon--running--white, .icon--running--white--before:before, .icon--running--white--after:after { background-image: url(png/running--white.png); background-repeat: no-repeat; }

.icon--search-glass--white, .icon--search-glass--white--before:before, .icon--search-glass--white--after:after { background-image: url(png/search-glass--white.png); background-repeat: no-repeat; }

.icon--shop-basket--grey, .icon--shop-basket--grey--before:before, .icon--shop-basket--grey--after:after { background-image: url(png/shop-basket--grey.png); background-repeat: no-repeat; }

.icon--shop-basket--white, .icon--shop-basket--white--before:before, .icon--shop-basket--white--after:after { background-image: url(png/shop-basket--white.png); background-repeat: no-repeat; }

.icon--shop-basket-line--grey, .icon--shop-basket-line--grey--before:before, .icon--shop-basket-line--grey--after:after { background-image: url(png/shop-basket-line--grey.png); background-repeat: no-repeat; }

.icon--signin-line--grey, .icon--signin-line--grey--before:before, .icon--signin-line--grey--after:after { background-image: url(png/signin-line--grey.png); background-repeat: no-repeat; }

.icon--signout-line--grey, .icon--signout-line--grey--before:before, .icon--signout-line--grey--after:after { background-image: url(png/signout-line--grey.png); background-repeat: no-repeat; }

.icon--speech-bubble-inline--grey, .icon--speech-bubble-inline--grey--before:before, .icon--speech-bubble-inline--grey--after:after { background-image: url(png/speech-bubble-inline--grey.png); background-repeat: no-repeat; }

.icon--themes-line--grey, .icon--themes-line--grey--before:before, .icon--themes-line--grey--after:after { background-image: url(png/themes-line--grey.png); background-repeat: no-repeat; }

.icon--thorntree-line--grey, .icon--thorntree-line--grey--before:before, .icon--thorntree-line--grey--after:after { background-image: url(png/thorntree-line--grey.png); background-repeat: no-repeat; }

.icon--tours--grey, .icon--tours--grey--before:before, .icon--tours--grey--after:after { background-image: url(png/tours--grey.png); background-repeat: no-repeat; }

.icon--tours--white, .icon--tours--white--before:before, .icon--tours--white--after:after { background-image: url(png/tours--white.png); background-repeat: no-repeat; }

.icon--trail--grey, .icon--trail--grey--before:before, .icon--trail--grey--after:after { background-image: url(png/trail--grey.png); background-repeat: no-repeat; }

.icon--twitter--grey, .icon--twitter--grey--before:before, .icon--twitter--grey--after:after { background-image: url(png/twitter--grey.png); background-repeat: no-repeat; }

.icon--video--white, .icon--video--white--before:before, .icon--video--white--after:after { background-image: url(png/video--white.png); background-repeat: no-repeat; }

.icon--youtube--grey, .icon--youtube--grey--before:before, .icon--youtube--grey--after:after { background-image: url(png/youtube--grey.png); background-repeat: no-repeat; }