// ----------------------------------------------------------------------------
// 
// Adverts Leaderboard
// 
// ----------------------------------------------------------------------------

.ad-leaderboard
  @extend %block-center
  width: 782px

.ad-leaderboard__inner
  @extend %ad-leaderboard-box
  @include border-radius(2)
  margin-left: 18px 
  &:after
    @extend %empty-abs-generated-content
    @extend %sprite-core
    background-position: -95px 0
    width: 11px
    height: 91px
    right: 122px
    top: 2px
