// ----------------------------------------------------------------------------
// 
// Adverts Leaderboard
// 
// ----------------------------------------------------------------------------

.ad-leaderboard
  @extend %ad-leaderboard
  display: table-cell
  vertical-align: middle

  > div
    display: inline-block
    text-align: center

.ad-leaderboard__inner
  @include border-radius(2)
  background-color: $row-leader-ad
  border: 3px solid $row-leader-border
  position: relative
  &:after
    @extend %empty-abs-generated-content
    @extend %sprite-core
    background-position: -95px 0
    margin-top: -45px
    width: 10px
    height: 90px
    right: -15px
    top: 50%

// ----------------------------------------------------------------------------
// 
// Other ads
// 
// ----------------------------------------------------------------------------
.ad-trafficDriver, .ad-sponsorTile, .ad-mpu, .ad-doubleMpu
  &.card__content
    @extend %block-center

.ad-trafficDriver
  @extend %ad-trafficDriver
  &.card__content
    top: 65px

.ad-sponsorTile
  @extend %ad-sponsorTile

  .stack__intro &
    float: right

.ad-mpu
  @extend %ad-mpu
  &.card__content
    top: 50px

.results .card.ad-doubleMpu
  @extend %ad-doubleMpu
  +transition(height, 0.5, ease)
  overflow: hidden
  z-index: 2

  .card__content
    height: auto
    overflow: visible