// ----------------------------------------------------------------------------
// 
// Adverts Leaderboard
// 
// ----------------------------------------------------------------------------

.ad-leaderboard
  @extend %ad-leaderboard
  +transition(all, 0.5, ease)
  text-align: center
  vertical-align: middle
    

.ad-leaderboard__inner
  @include border-radius(2)
  @extend %inline-block
  background-color: $row-leader-ad
  border: 3px solid $row-leader-border
  position: relative
  // Temporary - must be removed when switching to the new DFP server.
  height: 96px
  width: 728px
  &:after
    @extend %empty-abs-generated-content
    @extend %sprite-core
    background-position: -95px 0
    margin-top: -48px
    width: 10px
    height: 96px
    right: -15px
    top: 50%

// ----------------------------------------------------------------------------
// 
// Other ads
// 
// ----------------------------------------------------------------------------
.ad-trafficDriver, .ad-sponsorTile, .ad-mpu, .ad-doubleMpu
  &.card__content
    @extend %block-center
    +transition(all, 0.5, ease)

.ad-trafficDriver
  &.card__content
    @extend %ad-trafficDriver
    top: 0

.ad-sponsorTile
  @extend %ad-sponsorTile

  .stack__intro &
    float: right

.ad-mpu.card__content
  @extend %ad-mpu
  position: relative
  top: 65px

.results .card.ad-doubleMpu
  @extend %ad-doubleMpu
  +multiple-transitions(height 0.5s ease, width 0.5s ease)
  z-index: 2

  .card__content
    height: 600px
    top: 80px

.ad-wallpaper
  background-position: center top
  background-repeat: no-repeat
  cursor: pointer

  .row__inner, .row--footer-push
    cursor: default

.ad-adSense.card__content
  font-size: 12px
  line-height: 15px
  margin: 0 auto
  position: relative
  top: 60px
  width: 160px

  .googleHeading a,
  .ad p
    color: $stack-intro-text

  .ad
    margin-bottom: 10px
    p
      margin-bottom: 0

  .title a
    color: $title
    font-weight: bold

.ad-oneByOne
  display: none