// -----------------------------------------------------------------------------
// Base button
// -----------------------------------------------------------------------------

.btn
  +font-size(16)
  @extend %rounded-corners
  +box-sizing()
  @extend %inline-block
  cursor: pointer
  font-weight: bold
  padding: 8px 25px
  text-align: center
  min-height: 40px
  &:hover
    text-decoration: none
  &.is-disabled, &[disabled]
    background-color: $subdued
    color: white
    &:hover
      background-color: $subdued


// -----------------------------------------------------------------------------
// Button Size Modifiers
// -----------------------------------------------------------------------------

.btn--full-width
  display: block
  width: 100% // Ensure inputs also stretch full width

.btn--slim
  min-height: 0
  padding: 4px 6px

// -----------------------------------------------------------------------------
// Button Layout Modifiers
// -----------------------------------------------------------------------------

.btn--inline
  display: inline-block
  margin-right: 5px

// -----------------------------------------------------------------------------
// Button Types
// -----------------------------------------------------------------------------

.btn--bookable
  background-color: $yella
  color: $body-copy
  &:hover
    background-color: $yella-highlight

.btn--grey
  background-color: $body-copy
  color: white
  &:hover
    background-color: #57636b

.btn--light-grey
  background-color: $disabled
  color: white
  &:hover
    background-color: $disabled
    
.btn--green
  background-color: $green
  color: white

.btn--blue
  background-color: $linkblue
  color: white

.btn--red
  background-color: $red
  color: white

.btn--white
  background-color: #fff
  color: $lpblue
  &:hover
    color: $linkblue

.btn--clear
  border: 1px solid $input-border
  color: $body-copy

  .read-more-block &
    +font-size(13)
    padding: 0 7px
    min-height: 0

  .read-more-inline &
    +font-size(14)
    background-color: white
    bottom: 0
    box-shadow: -20px 0 10px 5px white
    color: $header-blue
    line-height: 31px
    right: 0
    padding: 0 0 0 20px
    position: absolute
    border: 0

    &:after
      font-weight: 400
      margin-left: 5px

    .is-closed &
      @extend %chevron-down-after

    .is-open &
      @extend %chevron-up-after
