$responsive-nav-width: 240px

// Create a page wrapper so that we don't show a scrollbar
.wrapper
  position: relative
  overflow: hidden
  width: 100%

// The container for our off-screen navigation
.nav-container
  +hardware-acceleration()
  @extend %clearfix
  width: 100%
  background: $primary-nav
  overflow: visible
  height: 55px
  .responsive &
    +box-shadow(16, 4, 20, -6, rgba(0, 0, 0, 0.2), true)
    @extend %transition--nav
    position: absolute
    overflow: hidden
    top: 0
    right: -$responsive-nav-width
    width: $responsive-nav-width
    height: 100%
    z-index: 2
    background: $offscreen-nav-background
    +respond-to(wide-view)
      box-shadow: none
      position: static
      width: 100%
      background: $primary-nav
      overflow: visible
      height: 55px
      top: 10px
  .homepage &
    +respond-to(wide-view)
      background: none
      position: relative
      right: auto

.nav--offscreen__title
  display: none
  .responsive &
    +font-size(20)
    +vertically-center(50)
    @extend %inline-block
    vertical-align: top
    color: white
    font-weight: bold
    text-indent: 10px
    +respond-to(wide-view)
      display: none

// The button to activate the global nav
.nav--primary__trigger
  display: none
  .responsive &
    @extend .icon--hambuger--white
    @extend %transition--nav
    top: 20px
    right: 15px
    color: white
    display: block
    width: 40px
    height: 35px
    position: absolute
    cursor: pointer
    z-index: 2
    +respond-to(wide-view)
      display: none

// On click..

// Move the responsive nav onto the screen
#nav--primary__trigger
  &:checked + .nav--primary__trigger,
  &:checked ~ .m-hidden-menu,
  &:checked ~ .row--content,
  &:checked ~ .logo--header,
  &:checked ~ .wrap--footer
    +transform(translateX(-$responsive-nav-width))
