// ----------------------------------------------------------------------------
//
// Body
//
// The below two lines fix the background colours not stretching the
// full page width on a small screen size
//
// Homepage is removed from this hack because it interferes with overflow-x
// ----------------------------------------------------------------------------

body
  @extend %lp-font-stack
  background-color: $body-background
  display: table
  min-width: 100%
  &.responsive
    display: block

.overthrow-enabled
  .overthrow
    overflow: auto
    -webkit-overflow-scrolling: touch

// ----------------------------------------------------------------------------
//
// Row
//
// ----------------------------------------------------------------------------

.row
  @extend %clearfix

.row__inner
  @extend %clearfix
  margin: 0 auto
  position: relative
  width: $fixed-layout-width
  .responsive &
    width: 90%
    +respond-to(wide-view)
      max-width: $fixed-layout-width

.row--text-centered
  text-align: center
  .row__inner
    width: 95%
    +respond-to(wide-view)
      width: 600px

.row--image
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: cover
  position: relative

.row--image__standout
  text-align: center
  +respond-to(wide-view)
    display: block
    position: absolute
    right: 55%


// ----------------------------------------------------------------------------
//
// Row cookie compliance
//
// ----------------------------------------------------------------------------

.row--cookie-compliance
  +font-size(12)
  line-height: 1.2
  background-color: $dark-blue-gray
  overflow: hidden
  color: #fff
  .responsive &
    text-align: center
    +respond-to(wide-view)
      text-align: left
  .split--left
    max-width: 75%

  .cookie-text
    padding-top: 9px

  .cookie-link
    color: #fff
    text-decoration: underline
    font-weight: bold

  .cookie-buttons
    .responsive &
      text-align: center
      +respond-to(wide-view)
        text-align: right

  .btn
    +font-size(12)

  .btn--grey
    margin-left: 10px

  &.is-open
    padding-top: 12px
    padding-bottom: 12px

  &.is-closed
    height: 0
    .ie7 &
      display: none


// ----------------------------------------------------------------------------
//
// Row top adverts
//
// ----------------------------------------------------------------------------

.row--leaderboard
  +transition(all, 0.5, ease)
  background-color: $row-leaderboard
  overflow: hidden
  padding: 16px 0
  min-height: 90px

  .homepage &
    background-color: white
    +respond-to(wide-view)
      min-height: 92px
      padding: 25px 0

  &.is-closed
    height: 0
    padding: 0
    min-height: 0

  // This can be removed when switching to the new DFP server
  .ad-leaderboard__inner
    .homepage &
      border: 1px solid $subdued
      &:after
        background-position: -106px 4px

  > .row__inner
    display: table



// ----------------------------------------------------------------------------
//
// Row fluid
//
// ----------------------------------------------------------------------------

.row--fluid
  min-width: $fixed-layout-width
  padding-left: 20px
  padding-right: 20px
  .responsive &
    min-width: 0


// ----------------------------------------------------------------------------
//
// Row Faux Banner
//
// When we use the offscreen nav we need to fake a 55px blue bar at the top
// because the logo and nav are no longer part of the same node
// ----------------------------------------------------------------------------

.row--faux-banner
  display: none
  .responsive &
    display: block
    position: absolute
    top: 0
    left: 0
    right: 0
    background-color: $lpblue
    height: 55px
    +respond-to(wide-view)
      display: none


// ----------------------------------------------------------------------------
//
// Row primary
//
// ----------------------------------------------------------------------------

.row--primary
  z-index: 6
  position: relative
  .responsive &
    position: static
  .homepage &
    background: none


// ----------------------------------------------------------------------------
//
// Row secondary
//
// ----------------------------------------------------------------------------

.row--secondary
  padding-top: 40px
  margin-bottom: 18px
  .responsive &
    padding-top: 20px
    +respond-to(wide-view)
      padding-top: 40px

  .wv--split--right
    .responsive &
      +respond-to(400)
        float: right
        text-align: right

.row--secondary__inner
  +respond-to(wide-view)
    width: $fixed-layout-width
    margin: 0 auto

.row__title--secondary
  background: $body-background
  max-width: 340px
  .responsive &
    max-width: 100%
    float: none
    margin-bottom: 20px
    padding: 7px 0
    +respond-to(400)
      max-width: 70%
      float: left
      margin-bottom: 0
    +respond-to(medium-view)
      max-width: 340px
    +respond-to(wide-view)
      +vertically-center(30)
      padding: 0
  &:hover
    max-width: none

// ----------------------------------------------------------------------------
//
// Row Container
//
// ----------------------------------------------------------------------------

.row--content
  margin-bottom: 40px
  // Ensure that nav dropdowns sit above any content
  position: relative
  z-index: 1
  .responsive &
    @extend %transition--nav
    margin-top: 55px
  .homepage &
    margin-top: 0


// ----------------------------------------------------------------------------
//
// Generic footer row
//
// ----------------------------------------------------------------------------

.row__inner--footer

  .responsive &
    padding: 10px
    width: 100%
    +respond-to(wide-view)
      padding: 0

// ----------------------------------------------------------------------------
//
// Row Sitemap
//
// ----------------------------------------------------------------------------

.row--sitemap
  margin-bottom: 30px
  border-top: 1px solid $input-border
  .responsive &
    margin-bottom: 0
    border: 0
    +respond-to(wide-view)
      margin-bottom: 30px
      border-top: 1px solid $input-border

.row--sitemap__inner
  padding-top: 20px
  .responsive &
    padding: 0
    +respond-to(wide-view)
      padding-top: 20px

// ----------------------------------------------------------------------------
//
// Row About
//
// ----------------------------------------------------------------------------

.row--footer--about
  border-top: 1px solid $input-border
  .responsive &
    padding: 0
    border-top: 0
    +respond-to(wide-view)
      padding: 0 10px
      border-top: 1px solid $input-border

  .media--lp-logo
    margin-top: 15px

.row--footer--social__logo
  .responsive &
    display: inline-block


// ----------------------------------------------------------------------------
//
// Row Smallprint
//
// ----------------------------------------------------------------------------

.row--smallprint__inner
  padding: 20px 10px
  .responsive &
    padding-top: 20px
    +respond-to(wide-view)
      padding: 20px 10px

.text--legal
  width: 60%
  line-height: 1.5em
  margin-bottom: 0
  .responsive &
    width: 100%
    text-align: center
    +respond-to(wide-view)
      width: 60%
      text-align: left

.link--view-full-site
  padding-bottom: 20px
  &:hover
    text-decoration: none


// ----------------------------------------------------------------------------
//
// Sticky footer
//
// ----------------------------------------------------------------------------

.wrapper--footer
  @extend %lp-font-stack
  @extend %subpixel-text
  @extend %transition--nav
  position: relative

.wrapper--footer-push
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0

