// ----------------------------------------------------------------------------
// 
// Body

// The below two lines fix the background colours not stretching the
// full page width on a small screen size
// 
// ----------------------------------------------------------------------------

body
  background-color: $body-background
  display: table
  min-width: 100%


// ----------------------------------------------------------------------------
// 
// Row
// 
// ----------------------------------------------------------------------------

.row
  @extend %clearfix

.row__inner
  @extend %block-center
  @extend %clearfix
  @extend %relative
  @extend %regular-width

.row--core
  @extend %helvetica-neue



// ----------------------------------------------------------------------------
// 
// Row cookie compliance
// 
// ----------------------------------------------------------------------------

.row--cookie-compliance
  @extend %smooth-type
  @extend %small-type
  line-height: 1.2
  background-color: $feature
  overflow: hidden
  color: $highlight
  .split--left
    max-width: 75%

  .cookie-text
    padding-top: 9px

  .cookie-link
    color: $highlight
    text-decoration: underline
    font-weight: bold

  .btn--gray
    margin-left: 10px
  
  .btn--regular
    font-weight: bold

  &.is-open
    padding-top: 12px
    padding-bottom: 12px

  &.is-closed
    height: 0
    .ie7 &
      display: none




// ----------------------------------------------------------------------------
// 
// Row top adverts
// 
// ----------------------------------------------------------------------------

.row--leaderboard
  background-color: $row-leader
  overflow: hidden
  padding: 16px 0
  height: 96px

  // This can be removed when switching to the new DFP server
  .ad-leaderboard__inner
    height: 90px
    width: 728px

  > .row__inner
    display: table


// ----------------------------------------------------------------------------
// 
// Row fluid
// 
// ----------------------------------------------------------------------------

.row--fluid
  min-width: 1000px
  padding-left: 20px
  padding-right: 20px

// ----------------------------------------------------------------------------
// 
// Row primary
// 
// ----------------------------------------------------------------------------

.row--primary
  background-color: $primary-nav
  height: 55px
  .ie7 &
    // Make sure that top nav dropdowns always stay on top
    z-index: 2
    position: relative


// ----------------------------------------------------------------------------
// 
// Row secondary
// 
// ----------------------------------------------------------------------------

.row--secondary
  padding-top: 40px

.row__title--secondary
  background: $body-background
  max-width: 340px
  position: absolute
  &:hover
    max-width: none

// // ----------------------------------------------------------------------------
// 
// Row Container
// 
// ----------------------------------------------------------------------------

.row--content
  background-color: $body-background
  padding-top: 25px
  margin-bottom: 40px


// ----------------------------------------------------------------------------
// 
// Generic footer row
// 
// ----------------------------------------------------------------------------

.row__inner--footer
  border-top: 1px solid #d6dedf

// ----------------------------------------------------------------------------
// 
// Row Sitemap
// 
// ----------------------------------------------------------------------------

.row--sitemap
  margin-bottom: 30px

.row--sitemap__inner
  @extend %small-type
  padding-top: 20px



// ----------------------------------------------------------------------------
// 
// Row About
// 
// ----------------------------------------------------------------------------

.row--footer--about
  @extend %small-type


// ----------------------------------------------------------------------------
// 
// Row Smallprint
// 
// ----------------------------------------------------------------------------

.row--smallprint__inner
  padding: 20px 0


// ----------------------------------------------------------------------------
// 
// Sticky footer
// 
// ----------------------------------------------------------------------------

.wrap--footer
  background-color: $body-background

.wrap--footer-push
  background-color: $body-background
  min-height: 100%
  height: auto !important
  height: 100%
  margin: 0
  margin-bottom: -501px

.row--footer-push
  height: 501px
