// Place title is a wrapper to allow us to show very long place names on hover
.place-title
  @extend %extra-large-type
  @extend %truncate-text
  @extend %left-icon
  @extend %icon--location-flag-before
  margin-right: 20px
  // Fix the text-overflow bug in firefox to avoid the final letter being clipped
  padding-right: 2px
  padding-left: 22px
  &:before
    top: 0
    font-size: 28px
    line-height: 16px

.place-title-heading
  @extend %benton-regular
  letter-spacing: -0.1em
  color: $dark-blue-gray
  line-height: 26px
  &:hover
    text-decoration: none

.place-title__parent
  @extend %benton-book
  color: $dark-blue-gray
  &:hover
    text-decoration: none

.title--list--footer
  @extend %small-type
  display: block
  color: $title-footer--darker
  margin-bottom: 15px
  .responsive &
    padding: 14px 0
    display: inline-block
    margin: 0
    +respond-to(wide-view)
      padding: 0
      display: block
      margin-bottom: 15px


.title--footer
  font-weight: bold

.text--legal
  @extend %tiny-type
  width: 60%
  line-height: 1.5em
  color: $body-copy
  margin-bottom: 0


