<div class="styleguide" ng-repeat="section in sections | filter:search">

  <h3 class="styleguide__title section-title">{{ section.section }} - {{ section.description }} <em>{{ section.filename }}</em></h3>
  <div class="styleguide__description">
    <ul class="styleguide__modifiers">
      <li class="styleguide__modifier" ng-repeat="modifier in section.modifiers">Hello <strong>{{ modifier.name }}</strong> - {{ modifier.description }}</li>
    </ul>
  </div>
  <div class="styleguide__elements">
    <div class="styleguide__element" ng-repeat="modifier in section.modifiers">
      <span class="styleguide__element--name">{{ modifier.name }}</span>
      <div class="styleguide__element__inner">
        <%= @example_html.gsub('$modifier_class', " #{modifier.class_name}") %>
      </div>
    </div>
  </div>
  <div class="styleguide__code">
    <pre><%= @escaped_html %></pre>
  </div>

  <p>{{ section }}</p>
</div>
