!!! 5
<!--[if IE 7]><html class="no-js ie7" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="en"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 9]><!--><html class='no-js' lang="en"><!--<![endif]-->
%head
  = render 'layouts/core/snippets/modern_head', suppress_tynt: false
  %script
    window.lp.ads = {}

%body
  = render 'layouts/core/snippets/modern_body_header', user_nav: user_nav
  
  .row.row--content
    .row__inner.row__inner--content

  = render 'layouts/core/snippets/modern_body_footer'
