// -----------------------------------------------------------------------------
// Information List
// -----------------------------------------------------------------------------

.info-list
  margin-bottom: 20px

  .text-icon
    &:before
      margin-right: 2px

  // The tick is slightly larger and needs to shrink to match other icons
  .icon--tick--before
    &:before
      margin-left: 2px
      margin-right: 4px
      width: 16px

  .info-list__title
    +font-size(15)
    margin-bottom: 5px
    margin-top: 20px
    &:first-of-type
      margin-top: 0

  .copy--meta
    line-height: inherit
    margin-left: 23px

    .no-js &, .no-background-size &
      margin-left: 0
