.lightbox
  background: rgba($body-background, 0.95)
  left: 0
  opacity: 0
  position: absolute
  transition: .5s all
  top: 0
  visibility: hidden
  z-index: 100

  &.is-active
    opacity: 1
    visibility: visible

    .lightbox__content
      > iframe
        display: block

.lightbox__content
  position: absolute
  @extend %large-shadow
  > iframe
    background: black
    border: 0
    display: none
    height: 100%
    width: 100%
