// -----------------------------------------------------------------------------
// Slider Style Gallery
// Note: the height/width for the slider, and the position of the controls needs
//       to be defined wherever it's implemented.
// -----------------------------------------------------------------------------

$chevronOffset: 0.35em
$slideOffset: -5.4em
$slideHoverOffset: -0.714em
$slidePadding: 3.357em
$slideHoverPadding: 2.857em
$slideArrowSpacing: 1.786em
$slideHoverArrowSpacing: 0.357em

.slider
  position: relative

.slider__viewport
  overflow: hidden

.slider__container
  @extend %transition--base
  -ms-scroll-chaining: none
  height: 100%
  position: relative

.slider__slide
  +hardware-acceleration()
  display: none
  position: absolute
  transition: transform .2s ease-in-out, left .2s ease-in-out
  width: 100%
  &.is-previous-previous,
  &.is-previous,
  &.is-next,
  &.is-next-next
    +z-layer(default)
    cursor: pointer
    display: block
  &.is-current
    +z-layer(middle)
    display: block
  .supports-transform &
    &.is-previous-previous
      transform: translateX(-200%)
    &.is-previous
      transform: translateX(-100%)
    &.is-current
      transform: translateX(0)
    &.is-next
      transform: translateX(100%)
    &.is-next-next
      transform: translateX(200%)
  .no-transform-support &
    &.is-previous-previous
      left: -200%
    &.is-previous
      left: -100%
    &.is-next
      left: 100%
    &.is-next-next
      left: 200%

.slider__img
  min-width: 100%

.slider__controls-container
  position: relative
  &:hover
    .slider__controls
      opacity: 1

.slider__controls
  @extend %clearfix
  @extend %transition--base
  +z-layer(top)
  position: absolute
  width: 100%

.slider__control
  +font-size(14)
  @extend %transition--base
  background: $body-copy
  background: rgba(0,0,0,0.6)
  color: white
  font-weight: bold
  line-height: 1.66em
  opacity: 0.5
  padding: 0.643em 2.286em 0.643em
  position: absolute
  &:hover
    opacity: 1
    text-decoration: none
  &:before, &:after
    @extend %transition--base
    width: 2em
    height: 2em
    display: inline-block
    font-weight: normal
    margin-top: -0.2em
    position: absolute
    vertical-align: top

.slider__control--prev
  left: $slideOffset
  padding-right: $slidePadding
  &:after
    right: $chevronOffset
  &:hover
    left: $slideHoverOffset
    padding-right: $slideHoverPadding
  .at-beginning &
    cursor: normal
    pointer-events: none
    opacity: 0


.slider__control--next
  right: $slideOffset
  padding-left: $slidePadding
  &:before
    left: $chevronOffset
  &:hover
    right: $slideHoverOffset
    padding-left: $slideHoverPadding
  .at-end &
    cursor: normal
    pointer-events: none
    opacity: 0

.slider__pagination
  bottom: 0
  display: inline-block
  margin: 25px auto 0
  text-align: center
  width: 100%
  +z-layer(top)

.slider__pagination--link
  @extend %image-replacement
  border-radius: 3px
  background: $details-panel-border
  display: inline-block
  height: 7px
  margin: 0 3px
  width: 7px
  color: $lpblue

  &:hover, &.is-active
    background: $linkblue
