// -----------------------------------------------------------------------------
// Container for multiple top hanging tags
// -----------------------------------------------------------------------------

.card__tags
  position: absolute
  right: 8px
  z-index: 5
  top: -3px


// -----------------------------------------------------------------------------
// Base classes for hanging tags used on cards
// -----------------------------------------------------------------------------

%tag
  &:before,
  &:after
    @extend %empty-abs-generated-content

%tag--top
  border-bottom-left-radius: 6px
  border-bottom-right-radius: 6px
  border-top-right-radius: 6px

%tag--side--left
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  border-bottom-right-radius: 6px

%tag--side--right
  border-top-right-radius: 6px
  border-top-left-radius: 6px
  border-bottom-left-radius: 6px


// -----------------------------------------------------------------------------
// Top-hanging tag (default is top hanging)
// -----------------------------------------------------------------------------

.tag
  @extend %tag
  +font-size(11)
  float: right
  margin-left: 6px
  position: relative
  text-align: center


// -----------------------------------------------------------------------------
// Side-hanging card tag
// -----------------------------------------------------------------------------

.tag--horizontal
  @extend %tag
  +font-size(12)
  color: #fff
  position: absolute
  font-weight: bold
  padding: 6px 10px
  text-transform: uppercase
  background: $green
  z-index: 1
  top: 12px

.tag--horizontal--left
  @extend %tag--side--left
  +tag-curl-left($green, $side-tag-curl)
  left: -6px

.tag--horizontal--right
  @extend %tag
  @extend %tag--side--right
  +tag-curl-right($green, $side-tag-curl)
  right: -6px

// -----------------------------------------------------------------------------
// Price tag
// -----------------------------------------------------------------------------

.tag--price
  +tag-curl-top($yella, $price-tag-curl)
  min-width: 50px

.tag--price__inner
  @extend %tag--top
  @extend %subpixel-text
  overflow: hidden

.tag--price__values
  background-color: $yella
  padding: 6px 8px

.tag--price__icon
  width: 100%
  height: 22px
  text-align: center
  &:before
    display: inline-block
    width: 22px
    height: 22px

.tag--price__amount
  +font-size(22)
  display: block

.tag--price__currency
  font-size: 0.65em
  line-height: 0
  position: relative
  top: -0.2em
  word-spacing: -2px

.tag--price__retail
  +font-size(14)
  background: $dark-blue-gray
  color: #fff
  padding: 2px 0
  text-decoration: line-through

.tag--non-bookable
  @extend %tag--top
  +tag-curl-top($yella, $price-tag-curl)
  background-color: $yella
  padding: 7px
  .icon--contact
    width: 30px
    height: 30px
    opacity: 0.3


// -----------------------------------------------------------------------------
// Tags on cards - lp reviewed, top choice etc.
// -----------------------------------------------------------------------------

.tag--card
  @extend %tag--top
  +tag-curl-top($header-blue, $darkblue)
  background-color: $header-blue
  color: #fff

.tag--card__content
  position: relative
  width: 34px

  .icon--white
    @extend %image-replacement
    width: 32px
    height: 22px

  .tag--top-choice &
    &:after
      position: absolute
      bottom: -13px
      height: 12px
      width: 100%
      left: 0

.tag--lp-reviewed
  width: 34px
  .icon--lp-reviewed
    width: 28px
    height: 24px
    margin: 8px 0 3px

// Top choice uses the svg collar rather than border-radius
.tag--top-choice
  padding-bottom: 5px
  border-bottom-left-radius: 0
  border-bottom-right-radius: 0
  .icon--top-choice
    position: relative
    left: -1px


// -----------------------------------------------------------------------------
// Best in Travel badge (destination highlights page)
// -----------------------------------------------------------------------------

.tag--best-in-travel
  +tag-curl-right($lpblue, $darkblue)
  bottom: auto
  top: 20px
  background-color: $lpblue
  width: 220px
  padding: 7px 20px 7px 0
  max-height: 30px
  border-top-left-radius: 0
  border-bottom-left-radius: 0
  .tag__ribbon
    position: absolute
    width: 0
    bottom: 0px
    left: -20px
    z-index: -2
    border: 15px solid $lpblue
    border-left-color: transparent
    border-left-width: 8px
  img
    max-width: 100%
    display: block
    height: 16px
