- properties = properties || {}
.ad-leaderboard
  #js-ad-leaderboard.adunit.adunit--leaderboard.ad-leaderboard__inner{ data: { dimensions: properties[:sizes] || '728x90,970x66,320x50', extension: properties[:extension] || nil } }
