- properties = properties || {}
.adunit.adunit--mpu{ id: properties[:id] || "js-ad-mpu-#{Time.now.to_i}", data: { dimensions: properties[:sizes] || '300x250,394x380,300x600', extension: properties[:extension] || nil, targeting: properties[:targeting] || nil } }
