- properties = properties || {}
.adunit.adunit--sponsortile{ id: properties[:id] || "js-ad-sponsorTile-#{Time.now.to_i}", data: { dimensions: properties[:sizes] || '276x32', extension: properties[:extension] || nil, targeting: properties[:targeting] || nil } }
