- properties = properties || {}
.adunit.adunit--traffic-driver{ id: properties[:id] || "js-ad-trafficDriver", data: { dimensions: properties[:sizes] || '192x380', extension: properties[:extension] || nil, targeting: properties[:targeting] || nil } }
