- properties = properties || {}
#js-ad-trafficDriver.adunit.adunit--traffic-driver{ data: { dimensions: properties[:sizes] || '192x380', extension: properties[:extension] || nil, targeting: properties[:targeting] || nil } }
