.row--footer__nav
  %a.row--footer__nav--item(href="/pages/privacy_policy")
    Privacy Policy
  %a.row--footer__nav--item(href="/pages/terms_of_use")
    Terms of Use
  %a.row--footer__nav--item(href="/pages/FAQ")
    FAQ
%p.row--footer__copyright
  © 2013 Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.
