.row--footer__nav
  %a.row--footer__nav--item(href="#{checkout_path}/pages/privacy-policy" target="_blank")
    Privacy Policy
  %a.row--footer__nav--item(href="#{checkout_path}/pages/terms-of-use" target="_blank")
    Terms of Use
  %a.row--footer__nav--item(href="#{checkout_path}/pages/FAQ" target="_blank")
    FAQ
%p.row--footer__copyright
  © 2013 Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.
