- content_for(:title) do
  Israel & the Palestinian Territories

- content_for(:secondary) do
  = secondary_nav_bar({:title=>'Current Place', :current=>'a', :collection=>[{:title=>'Something', :url=>'a'}]})

