- content_for(:title) do
  - if params[:layout] == 'legacy'
    %h1
      Buenos Aires
  - else 
    Buenos Aires

- content_for(:secondary) do
  - unless params[:layout]
    = secondary_nav_bar({:title=>'Buenos Aires', :section_name=>'Hotels', :parent => 'Argentina'})
