// ----------------------------------------------------------------------------
// 
// Commmon Core - Base Helpers
// 
// ----------------------------------------------------------------------------

$is-retina: false
$is-ie: false

@import '_base_helpers'

// -----------------------------------------------------------------------------
// 
// Commmon Core - Rules definition
// 
// ----------------------------------------------------------------------------

@import "_core/_reset"
@import "_core/_font"
@import "_core/_typography"
@import "_core/_text"
@import "_core/_grid"
@import "_core/_ads"
@import "_core/_buttons"
@import "_core/_media"
@import "_core/_nav"
@import "_core/_rows"
@import "_core/_box"
@import "_core/_inputs"
@import "_core/_states"
@import "_core/_helpers"

@import "_common-ui/_badges"
@import "_common-ui/_buttons"
@import "_common-ui/_cards"
@import "_common-ui/_datepicker"
@import "_common-ui/_filters"
@import "_common-ui/_gallery"
@import "_common-ui/_left_nav"
@import "_common-ui/_default_layout"
@import "_common-ui/_links"
@import "_common-ui/_loading_spinner"
@import "_common-ui/_lp_reviewed_section"
@import "_common-ui/_nearby_pois"
@import "_common-ui/_pagination"
@import "_common-ui/_price_tag"
@import "_common-ui/_read_more_toggle"
@import "_common-ui/_tabs"
@import "_common-ui/_thumbnail_grid"
@import "_common-ui/_tooltip"
@import "_common-ui/_validation"
@import "_common-ui/_icons/_pois_icons"
@import "_common-ui/_icons/_pois_sprite"


// -----------------------------------------------------------------------------
// 
// Styleguide Layout styles
// 
// -----------------------------------------------------------------------------


.styleguide
  @extend %four-pixel-rounded
  @extend %standard-shadow
  @extend %box-off
  @extend %body-copy
  margin-bottom: 30px
  background: #fff
  
.styleguide__title
  @extend %box-off
  em
    float: right
    text-transform: none
    font-style: normal
    font-weight: normal
    color: #999

.styleguide__description
  padding: 10px 5px

.styleguide__modifier
  list-style-type: none
  margin-left: 10px
  margin-bottom: 5px
  strong
    font-family: Monaco, monospace
    font-size: 12px
    font-weight: normal
    color: #222

.styleguide__elements
  @extend %box-off

.styleguide__element
  @extend %clearfix
  @extend %box-off-double
  position: relative
  background: #E5EBEE
  margin-bottom: 10px

.styleguide__element--name
  @extend %four-pixel-rounded
  display: block
  position: absolute
  top: 5px
  right: 5px
  padding: 5px 8px
  background: #fff
  color: $text-on-blue
  border: 1px solid $soft-gray

.styleguide__element__inner
  width: 70%
  min-height: 30px
  position: relative

.styleguide__html
  padding: 5px 10px
  background: #edf6f8
  border-top: 1px solid #dde7ea
  overflow: auto
  
.highlight
  background: none



.styleguide__code
  font-family: Monaco, monospace
  width: 100%
  white-space: nowrap
  overflow-x: auto
  font-size: 11px
  line-height: 1.2
  color: #666

// -----------------------------------------------------------------------------
// Helper
// -----------------------------------------------------------------------------

.clearfix
  @extend %clearfix
  display: block

// -----------------------------------------------------------------------------
// Styleguide colours
// -----------------------------------------------------------------------------

[class*="grid-"]
  margin-bottom: 30px
[class*="col--"]
  min-height: 30px
