@import '_base_helpers'
@import '_common-ui/_links'
@import '_common-ui/_copy'
@import '_common-ui/_tabs'
@import '_common-ui/_pagination'
@import '_common-ui/_gallery'
@import '_common-ui/_nearby_pois'
@import '_common-ui/_thumbnail_grid'
@import '_common-ui/_read_more_toggle'
@import '_common-ui/_icon-list'
@import '_common-ui/_info-list'
@import '_common-ui/_maps'
@import '_common-ui/_media-gallery'
@import '_common-ui/_meta-info-box'
@import '_common-ui/_preloader'
@import '_common-ui/_slider'
@import '_common-ui/_forms'
@import '_common-ui/_inputs'

@import '_common-ui/cards/_cards_base'
@import '_common-ui/cards/_card_sizes'
@import '_common-ui/cards/_card_badges'
@import '_common-ui/cards/_card_appearance'
@import '_common-ui/cards/_card_page'

@import '_common-ui/tiles/_tiles_base'
@import '_common-ui/tiles/_tile_variations'
@import '_common-ui/tiles/_tiles_grid'

@import '_common-ui/_left_nav'
@import '_common-ui/_tags'
@import '_common-ui/_badges'
@import '_common-ui/_stack'
@import '_common-ui/_stack_articles'
@import '_common-ui/_icons/_pois_sprite'
@import '_common-ui/_icons/_pois_icons'
@import '_common-ui/_lp_reviewed_section'
@import '_common-ui/_datepicker'
@import '_common-ui/_tooltip'
@import '_common-ui/_maps'
@import '_common-ui/_text_icons'
@import '_common-ui/_activity_list'
/*===== yeoman hook =====*/
/*===== NB! The above line is required for our yeoman generator and should not be changed. =====*/

.box
  +box-sizing
  padding: 20px

pre[class*="language-"]
  +box-sizing()
  padding: 1em
  overflow: auto
  max-height: 300px
  .tag
    +font-size(16)
    margin: 0
    float: none

pre.styleguide.is-open
  max-height: none

.clearfix
  @extend %clearfix

.isnt-approximate
  display: none
.is-exact
  @extend %tick-icon-after
  position: relative
  &:after
    color: white
    font-size: 5em
    position: absolute
    right: 10px
    top: 20px

.row--content
  margin-top: 50px

.title--styleguide
  color: white
  padding: 10px 0

.styleguide-intro
  padding: 25px

.styleguide-block
  overflow: hidden

.styleguide-block__item--left
  float: left
  margin-right: 20px

.styleguide__subtitle
  margin: 20px 10px

.styleguide-block__buttons,
.styleguide-block__badges
  .styleguide-block__item
    margin-right: 10px
    margin-top: 0
    min-width: 200px
  .styleguide-block__items
    margin-top: 20px
  pre[class*="language-"]
    margin: 2px 0 0
    padding: 7px
    &, .tag
      +font-size(14)

.styleguide-block__badges
  .styleguide-block__item
    min-width: 100px

.styleguide-block__item
  min-height: 40px
  margin: 20px 0

.styleguide-block__item--card
  margin-bottom: 0
  padding: 20px

.styleguide-block__item--colour
  +border-radius(100)
  +vertically-center(100)
  border: 2px solid #FFF
  color: white
  float: left
  margin: 0 20px 0 0
  text-align: center
  width: 100px

  &.is-light
    border-color: $body-background
    color: $body-copy
  .is-approximate &
    border-color: transparent

.styleguide-block__description
  +box-sizing()
  overflow: hidden
  padding: 20px

.styleguide-block__heading
  margin-top: 0

.styleguide__partial
  border: 2px solid $body-background
  padding: 5px

.filter--links
  min-width: 200px
  +font-size(15)
  .dropdown__value
    line-height: 1
    width: 140px
    &:after
      right: 10px
  .dropdown
    float: left
  .styleguide-proximity
    float: left
    margin-right: 10px


.field
  background: #fff
  padding: 10px
  width: 250px

.styleguide-proximity__input
  float: left
  width: 200px

.styleguide__input-copy
  width: 100%

.styleguide__anchor
  position: relative

  > a:first-child
    @extend %transition--base
    @extend %local-marker-before // For lack of a link icon currently.
    display: block
    padding: 0.5em
    position: absolute
    right: -38px
    top: -24px
    opacity: 0
    &:before
      +font-size(40)

  &:hover > a:first-child
    opacity: 1
    text-decoration: none

.clearbutton
  line-height: 12px
  float: left
  width: 14px
  height: 14px
  text-align: center
  padding: 0
  border-radius: 100%
  background-color: $feature-copy
  color: white
  margin-left: -25px
  font-weight: bold
  position: relative
  top: 14px
  cursor: pointer

.styleguide-grid
  .card
    text-align: center
    padding: 10px 0
