@import '_base_helpers'
@import '_common-ui/_links'
@import '_common-ui/_copy'
@import '_common-ui/_tabs'
@import '_common-ui/_pagination'
@import '_common-ui/_nearby_pois'
@import '_common-ui/_read_more_toggle'
@import '_common-ui/_icon-list'
@import '_common-ui/_info-list'
@import '_common-ui/_maps'
@import '_common-ui/_media-gallery'
@import '_common-ui/_meta-info-box'
@import '_common-ui/_preloader'
@import '_common-ui/_slider'
@import '_common-ui/_forms'
@import '_common-ui/_faux_inputs'

@import '_common-ui/cards/_cards_base'
@import '_common-ui/cards/_card_sizes'
@import '_common-ui/cards/_card_badges'
@import '_common-ui/cards/_card_appearance'
@import '_common-ui/cards/_card_page'

@import '_common-ui/_left_nav'
@import '_common-ui/_tags'
@import '_common-ui/_badges'
@import '_common-ui/_stack'
@import '_common-ui/_stack_articles'
@import '_common-ui/_icons/_pois_sprite'
@import '_common-ui/_datepicker'
@import '_common-ui/_tooltip'
@import '_common-ui/_maps'
@import '_common-ui/_text_icons'
@import '_common-ui/_alerts'
/*===== yeoman hook =====*/
/*===== NB! The above line is required for our yeoman generator and should not be changed. =====*/

.box
  +box-sizing
  padding: 20px

pre[class*="language-"]
  +box-sizing()
  padding: 1em
  overflow: auto
  max-height: 300px
  .tag
    +font-size(16)
    margin: 0
    float: none

pre[class*="language-"].styleguide
  margin: 0
  font-size: 15px

pre.styleguide.is-open
  max-height: none

.clearfix
  @extend %clearfix

.isnt-approximate
  display: none
.is-exact
  position: relative
  &:before
    width: 20px
    height: 20px
    position: absolute
    left: 10px
    top: 10px

.title--styleguide
  color: white
  padding: 10px 0

.styleguide-intro
  padding: 25px

.styleguide-intro__section
  margin-bottom: 20px

.styleguide-block
  @extend %clearfix
  margin-bottom: 30px

.styleguide-block__item--left
  float: left
  margin-right: 20px

.styleguide__subtitle
  margin: 20px 10px

.styleguide-block__buttons
  .styleguide-block__heading
    padding: 5px 0
    margin-bottom: 0
  pre.language-markup
    background: none
    padding: 0
    line-height: 1
  .styleguide-block__items
    margin-bottom: 20px
  .styleguide-block__item
    margin: 0
  .styleguide-block__description
    min-height: 120px

.styleguide-block__badges
  .styleguide-block__item
    margin-right: 10px
    margin-top: 0

  pre[class*="language-"]
    margin: 2px 0 0
    padding: 7px
    &, .tag
      +font-size(14)

.styleguide-block__badges
  .styleguide-block__items
    margin-top: 20px
  .styleguide-block__item
    min-width: 100px
    padding-top: 7px

.styleguide-block__item
  min-height: 40px
  margin: 20px 0

.styleguide-block__item--card
  margin-bottom: 0
  padding: 20px

.styleguide__colours
  text-align: center
  .copy--h4
    padding: 10px

.styleguide-block__item--colour
  border: 6px solid #FFF
  font-size: 13px
  padding: 4px 0
  color: white
  margin: 0

  &.is-light
    color: $body-copy
  .is-approximate &
    border-color: transparent

.styleguide-block__description
  +box-sizing()
  overflow: hidden
  padding: 20px

.styleguide-block__heading
  margin-top: 0

.styleguide__partial
  border: 2px solid $body-background
  padding: 5px

.filter--links
  min-width: 200px
  +font-size(15)
  .dropdown
    line-height: 1
    width: 140px
    &:after
      right: 10px
  .dropdown
    float: left
  .styleguide-proximity
    float: left
    margin-right: 10px


.field
  background: #fff
  padding: 10px
  width: 250px

.styleguide-proximity__input
  float: left
  width: 200px

.styleguide__input-copy
  width: 100%

.styleguide__anchor
  position: relative

  > a:first-child
    @extend %transition--base
    display: block
    position: absolute
    right: 20px
    top: 10px
    width: 25px
    height: 25px
    opacity: 0.5
    z-index: 1
    &:hover
      opacity: 1

.styleguide-grid
  .card
    text-align: center
    padding: 10px 0

.styleguide-icons
  [class*="icon--"]
    height: 40px
    width: 40px
    margin-left: 10px
  [class*="icon--"][class*="--pin"]
    width: 28px
  [class*="icon--"][class*="--simple"]
    width: 30px
  [class*="icon--"][class*="--place--pin"]
    width: 40px
  .icon--lp-logo
    width: 70px
  .icon--collar
    width: 70px
    height: 20px
    margin: 10px
  .icon.icon--pinterest
    width: 40px
  .is-white
    background-color: $body-copy
    color: white

  .icon__name
    text-align: right
    padding: 10px
    font-size: 12px

.styleguide-intro--icons
  .styleguide-intro__inner
    @extend %transition--base
    overflow: hidden
    height: 365px
    &.is-closed
      height: 100px



.filter--links
  .svg-colourise
    width: 170px
