// -----------------------------------------------------------------------------
// Abstractions

%prevent-text-breakouts
  +word-break()
  +hyphens()

%truncate-text
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap

%subpixel-text
  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: auto
  font-smoothing: subpixel-antialiased
