:javascript
  (function() {
    var _c = document.createElement('script');
    _c.src = "#{javascript_path 'rizzo.js'}";
    _c.async = true;
    var _s = document.getElementsByTagName('script')[0];
    _s.parentNode.insertBefore(_c, _s);
  })();

