-# :javascript
-#   (function() {
-#     var _c = document.createElement('script');
-#     _c.src = "#{javascript_path 'rizzo.js'}";
-#     _c.async = true;
-#     var _s = document.getElementsByTagName('script')[0];
-#     _s.parentNode.insertBefore(_c, _s);
-#   })();

:javascript
  var _routes = {
    paths: {
      lib: '/assets/lib',
      vendor: '/assets/vendor',
      jquery: '/assets/vendor/jquery/jquery-1.7.2.min',
      plugins: '/assets/vendor/jquery/plugins',
      melbourne: '/assets/lib/melbourne',
    }
  };

  var _dep = ['jquery','melbourne/ad_manager','melbourne/lp_footer','melbourne/lp_breadcrumbs','lib/utils/lp_asset_fetch','melbourne/lp_destination_nav','melbourne/lp_authentication','melbourne/lp_shopping_cart'];

  curl(_routes, _dep,
    function($, AdManager, Footer, Breadcrumbs, AssetFetch, DestinationNav, Authentication, ShoppingCart) {
      
      $(document).on('ready', function(){
        
        var adConf = {
          adZone : window.lp.ads.adZone,
          adKeywords : window.lp.ads.adKeywords,
          tile : lp.ads.tile,
          segQS : lp.ads.segQS,
          mtfIFPath : lp.ads.mtfIFPath || '/',
          unit: [728,90]
        }

        AdManager.init(adConf,'ad_masthead'); 
        Footer.init();
        Breadcrumbs.init("#{asset_path('breadcrumbs.html')}?destId=357884");
        AssetFetch.get("http://www.lonelyplanet.com/global-navigation", function(){ 
          var dest = new DestinationNav(jsonNavItems.nav, "nav.primary ul li.destinations");
        });

        var lpLoggedInUsername;
        var auth = new Authentication();
        AssetFetch.get("https://secure.lonelyplanet.com/sign-in/status", function(){ 
          auth.update();
        });

        var shopCart = new ShoppingCart()

      });
    }
  );

