:javascript
  (function() {
    var _c = document.createElement('script');
    _c.src = "#{javascript_path 'rizzo.js'}";
    _c.async = true;
    var _s = document.getElementsByTagName('script')[0];
    _s.parentNode.insertBefore(_c, _s);
  })();
  
  (function() {
    var _c = document.createElement('script');
    _c.src = "#{javascript_path 'http://www.google.com/jsapi?key=ABQIAAAADUr8Vd6I7bfZ5k4c27F7KxR5cxXriAJsP5a75Cx4cnHTXGWMNxQxhFddQkNg7EBCllU86qgA_ugglg'}";
    _c.async = true;
    var _s = document.getElementsByTagName('script')[0];
    _s.parentNode.insertBefore(_c, _s);
  })();

