= render "shared/tracking/omniture_base"
:javascript
  (function() {
    var script = document.createElement('script');
    script.src = "#{javascript_path('application.js')}";
    script.async = true;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(script, s);
  })();