%footer
  .info
    .src
      %h2.hidden
        Information Sources
      %nav
        %a.newsletter(href='http://www.lonelyplanet.com/newsletter' alt='Lonely Planet newsletter')
          %h3
            Newsletter
          %p
            Tweak your wanderlust
        %a.mobile(href='http://www.lonelyplanet.com/mobile' alt='Mobile')
          %h3
            Mobile
          %p
            With you all the way
        %a.follow(href='http://www.lonelyplanet.com/rss' alt='Follow us' rel='nofollow')
          %h3
            Follow us
          %p
            Tweets, feeds and more
        %a.blogs(href='http://www.lonelyplanet.com/lpblogs' alt='blogs')
          %h3
            Blogs
          %p
            Go behind the scenes
        %a.magazine(href='http://www.lonelyplanet.com/lpblogs' alt='magazine')
          %h3
            Magazine
          %p
            Travel inspiration to your door

  .foot
    .src
      %nav
        %a(href="http://www.lonelyplanet.com/about/")
          About us
        %a(href="http://www.lonelyplanet.com/jobs/")
          Work for us
        %a(href="http://www.lonelyplanet.com/contact/")
          Contact us
        %a(href="http://www.lonelyplanet.com/press-trade-advertising/" rel="nofollow")
          Press, trade &amp; advertising
        %a(href="http://www.lonelyplanet.com/legal/website-terms")
          Website terms
        %a(href="http://www.lonelyplanet.com/legal/privacy-policy")
          Privacy policy
        %a(href="http://www.lonelyplanet.com/community-guidelines")
          Community guidelines
      %form#language.javascriptDisabled(action="http://www.lonelyplanet.com/international")
        %fieldset
          %label(for="languageSelect")
            International
          %select#languageSelect(name="Language")
            - [['en','English'],['de','Deutsch'],['fr','Français'],['es','Español'],['it','Italiano'],['cn','中文简体'],['jp','日本語']].each do |opt|
              %option(value="#{opt[0]}")
                = opt[1]
            %input(name="Go" type="submit" value="Go")

      %div.footer-info
        %a(href="http://www.lonelyplanet.com")
        %p
          &copy; 2012 Lonely Planet. All rights reserved. No part of this site may be reproduced without our written permission.
        %p
          This website is owned by BBC Worldwide, which is a commercial company owned by the BBC.

