%header.header
  %a.skip(href="#container")
    Skip global navigation to content
  .hwrap
    .logo
      %a.home{ :href => host_with_subdomain('www'), :alt => 'Lonely Planet home' }
      %form.search{ :action => host_with_subdomain_and_path("www", "searchResult"), :method => "get" }
        %p.hd
          %label(for="search")
            Search Lonely Planet
        %p
          %input(type="text" id="search" maxlength="2048" class="searchText" name="q" value="")
          %button(type="submit")
            Search
    .leaderboard
      =render 'shared/ads/leaderboard'

  %nav.primary
    %ul
      - primary_navigation_items.each do |n|
        %li{ class: [n[:style]] << ('current' if n[:style] == params[:c]) }
          %a{ href: n[:uri] }
            %span= n[:title]
          - if n[:style]=='destinations' ||  n[:style]=='destinations current'
            %span.arrow
      = membership_item_element
      = cart_item_element

#breadcrumbWrap.posChange