#goodbyeIE6
  .messageBox
    %ul
      %li.updateMessage
        %h2
          Did you know that your Internet Explorer is out of date?
        %p
          To get the best possible experience using our website we recommend that you upgrade to a newer version or an alternative web browser.
          Click on these icons to upgrade now.
      %li.browserIcon.ie8
        %a(href="http://www.microsoft.com/windows/internet-explorer" target="_blank" alt="Internet Explorer 8"  title="Internet Explorer 8")
          Internet Explorer
      %li.browserIcon.firefox
        %a(href="http://www.mozilla.com/firefox" target="_blank" alt="Firefox" title="Firefox")
          Firefox
      %li.browserIcon.chrome
        %a(href="http://www.google.com/chrome" target="_blank" alt="Chrome" title="Chrome")
          Chrome
