<div id='goodbyeIE6'>
  <div class='messageBox'>
    <ul>
      <li class='updateMessage'>
        <h2>Did you know that your Internet Explorer is out of date?</h2>
        <p>To get the best possible experience using our website we recommend that you upgrade to a newer version or an alternative web browser.Click on these icons to upgrade now.</p>
      </li>
      <li class='browserIcon ie8'>
        <a href="http://www.microsoft.com/windows/internet-explorer" target="_blank" title="Internet Explorer 8">Internet Explorer</a>
      </li>
      <li class='browserIcon firefox'>
        <a href="http://www.mozilla.com/firefox" target="_blank" title="Firefox">Firefox</a>
      </li>
      <li class='browserIcon chrome'>
        <a href="http://www.google.com/chrome" target="_blank" title="Chrome">Chrome</a>
      </li>
    </ul>
  </div>
</div>