// -----------------------------------------------------------------------------
// [doc]
//
// Enable styles at a certain viewport
//
// Always use this mixin to apply breakpoints so we can support legacy browsers.
//
// You can pass in named arguments or integers.
// Named argument options are: narrow-view (360px), medium-view (600px) and wide-view(1025px).
//
// Example of use: http://sassmeister.com/gist/8047633.
//
// [/doc]
// -----------------------------------------------------------------------------
@mixin respond-to($screen-width, $fallback: true)

  // We have to set up a blank variable here or sass errors out
  $breakpoint: ''

  @if $screen-width == narrow-view
    $breakpoint: 360
  @else if $screen-width == medium-view
    $breakpoint: 600
  @else if $screen-width == wide-view
    $breakpoint: 980
  @else if $screen-width == larger-than-ipad
    $breakpoint: 1025
  @else
    $breakpoint: $screen-width

  @if $is-ie == false
    @media only screen and (min-width : #{$breakpoint}px)
      @content
  @else if $fallback
    @content
