// -----------------------------------------------------------------------------
// Responsive Mixins
//
// Always use this mixin to apply breakpoints so we support legacy browsers
//
// There are two common breakpoints: medium-view and wide-view
// Alternatively you can just pass in an integer
//
// http://sassmeister.com/gist/8047633
// -----------------------------------------------------------------------------


@mixin respond-to($screen-width)

  // We have to set up a blank variable here or sass errors out
  $breakpoint: ''

  @if $screen-width == medium-view
    $breakpoint: 600
  @else if $screen-width == wide-view
    $breakpoint: 980
  @else
    $breakpoint: $screen-width

  @if $is-ie == false
    @media only screen and (min-width : #{$breakpoint}px)
      @content
  @else
    @content
