// [doc] Always use this mixin to apply breakpoints so we support legacy browsers. http://sassmeister.com/gist/8047633.
// You can pass in named arguments: medium-view (600px) and wide-view(1025px) or an integer.
@mixin respond-to($screen-width)

  // We have to set up a blank variable here or sass errors out
  $breakpoint: ''

  @if $screen-width == medium-view
    $breakpoint: 600
  @else if $screen-width == wide-view
    $breakpoint: 980
  @else
    $breakpoint: $screen-width

  @if $is-ie == false
    @media only screen and (min-width : #{$breakpoint}px)
      @content
  @else
    @content
