@import '_app/_community/_partials/card_forum'

.btn--plus
  padding-left: 40px
  position: relative
  &:before
    +font-size(35)
    left: 15px
    position: absolute
    top: 4px

.stack__intro__content
  margin-top: 0.8em

.dropdown__value
  font-weight: bold
  .inverted &
    +font-size(14)
    min-width: 125px
    padding-bottom: 2px
    padding-top: 2px

    &:after
      top: 13px