.autocomplete__results
  @extend %heading-size-type
  margin: 15px 0

.autocomplete__result
  @extend %left-icon
  color: #fff
  display: block
  padding: 5px 10px 5px 45px
  &:before
    +font-size(45)
    line-height: 0
    top: 10px
    left: 10px

// TODO: icon to come
// .autocomplete__result--publication

.autocomplete__result--highlight
  font-weight: bold
