.autocomplete__results
  @extend %heading-size-type
  margin: 15px 0

.autocomplete__result
  @extend %left-icon
  color: #fff
  display: block
  padding: 5px 10px 5px 45px

  .is-selected &
    text-decoration: underline

  &:before
    +font-size(45)
    line-height: 0
    top: 10px
    left: 10px

// TODO: icon to come
// .autocomplete__result--publication

.autocomplete__result--highlight
  font-weight: bold

.autocomplete__results
  margin: 0
  position: absolute
  list-style: none
  background: white
  z-index: 5
  border: 1px solid black
  width: 100%

.autocomplete__active
  .autocomplete__result
    background: $header-blue
    color: #fff
    text-decoration: none

.autocomplete__result
  +font-size(15)
  color: black
  display: block

  &:hover
    text-decoration: none
    color: #fff
    background: $header-blue

