.overthrow-enabled
  .overthrow
    overflow-x: auto
    -webkit-overflow-scrolling: touch

.row--cards
  width: 100%

.row--cards__inner
  +transition(left, 0.5, cubic-bezier(0.075, 0.820, 0.165, 1.000))
  margin: 0 0 20px 10% 
  width: 2000px
  height: 388px
