.overthrow-enabled
  .overthrow
    overflow: auto
    -webkit-overflow-scrolling: touch

.row--cards
  margin-bottom: 60px

.row--cards__inner
  +transition(left, 0.5, cubic-bezier(0.075, 0.820, 0.165, 1.000))
  margin: 0 0 20px 10% 
  height: $card-grid-height
  +respond-to(wide-view)
    height: (2 * $card-grid-height)

.row--cards__group
  width: 808px
  float: left
  +respond-to(wide-view)
    width: 404px
  &:last-child
    margin-right: 50px