.tab--homepage--flights
  background: #5278A2
  padding-top: 10px
  +respond-to(medium-view)
    background: #5278A2 url("#{image_path('section3/flights.jpg')}") center center no-repeat
    background-size: cover

  .grid--flights
    @extend %clearfix
    .col
      float: left
      width: 42%
    .col--mid
      float: left
      width: 16%