.tab--homepage--flights
  background: #5278A2
  padding-top: 10px
  +respond-to(medium-view)
    background-color: #5278A2
    +responsive-image('homepage/bookings/flights','jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

  .partner-logo
    float: right

  .grid--flights
    @extend %clearfix
    .col
      float: left
      width: 42%
    .col--mid
      float: left
      width: 16%

  .tab--homepage__label
    font-weight: bold
    text-align: center
    text-transform: uppercase