.hero
  width: 100%
  height: 510px
  position: relative
  text-align: center
  color: white
  background: #2D5082
  .enhanced &
    +responsive-image('homepage/hero/wyoming', 'jpg')
    background-position: 50% 50% 
    background-repeat: no-repeat
    background-size: cover
  +respond-to(medium-view)
    height: 640px
  +respond-to(wide-view)
    height: 800px

.hero__mask
  display: inline-block
  height: inherit
  overflow: hidden
  position: relative
  width: 100%
  +respond-to(wide-view)
    top: -60px // Move the mask behind the nav which is now

.hero__overlay
  +transition(all, .5, ease-out)
  position: absolute
  top: 0
  background-color: rgba(0,0,0,0.2)
  width: 100%
  height: inherit
  &.has-focus
    background: rgba(0,0,0,0.6)

.hero__panel
  +transition(all, .4, ease-in-out)
  position: absolute
  width: 100%
  height: inherit

.hero__inner
  height: 260px
  text-align: center
  max-width: 500px
  padding-top: 50%
  margin: 0 auto
  +respond-to(400)
    padding-top: 40%
  +respond-to(medium-view)
    padding-top: 250px

.hero__logo
  margin-bottom: 50px

.hero__strapline
  +font-size(45)
  margin-bottom: 30px
  +respond-to(wide-view)
    +font-size(55)

.hero__search
  @extend %inline-block
  overflow: hidden
  width: 85%

.hero__search__input
  height: 45px
  padding: 0 20px
  width: 100%

.speech-bubble
  @extend %four-pixel-rounded
  &:after
    @extend %empty-abs-generated-content
    top: 100%
    left: 7%
    +respond-to(wide-view)
      left: 71%

.hero__author
  position: absolute
  bottom: 10px
  left: 20px
  +respond-to(wide-view)
    left: auto
    right: 40px
    bottom: 40px

.hero__author__text
  +font-size(12)
  font-weight: bold
  color: white
  letter-spacing: 0
  display: block
  margin: 0 5px 5px 0
  +respond-to(wide-view)
    display: inline-block

.hero__author__heading
  +font-size(17)
  font-weight: bold
  color: white

.hero__author__image
  cursor: pointer
  display: inline-block
  > img
    +border-radius(100)

.hero__author__details
  display: inline-block
  vertical-align: top
  text-align: left
  margin-left: 10px
  margin-top: 5px
  +respond-to(wide-view)
    display: block
    text-align: center

.hero__author__story
  position: absolute
  text-align: left
  left: 20px
  bottom: 100px
  padding: 15px
  right: 20px
  max-width: 290px
  +respond-to(wide-view)
    padding: 30px
    bottom: 180px
    left: auto
    right: 40px
    width: 290px
  .feature
    text-transform: uppercase
    color: $new-header-grey
    font-weight: bold
    margin-bottom: 20px
  .btn--function
    +font-size(14)
    padding: 12px 15px 12px 30px
    margin-right: 10px
    font-weight: bold
    background-position: 10px center
    +respond-to(wide-view)
      padding: 12px 15px 12px 35px
  .btn--close
    +font-size(14)
    font-weight: bold
    padding: 12px 15px 12px 30px
    background-position: 10px center
    +respond-to(wide-view)
      padding: 12px 15px 12px 35px

.hero--story__text
  margin-bottom: 35px

.hero__panel--story
  top: 100%

// Toggle between the search and photo story panels
#hero-swipe:checked
  & ~ .hero__panel--search
    bottom: 100%
  & ~ .hero__panel--story
    top: 0
