.tab--homepage--hotels
  background: #5278A2
  padding-top: 10px
  +respond-to(medium-view)
    background-color: #5278A2
    +responsive-image('homepage/bookings/hotels','jpg')
    background-position: center center
    background-repeat: no-repeat
    background-size: cover

  @if $is-ie == true
    .tab--homepage__inner
      padding-top: 10px
      padding-bottom: 10px


  .copy--title
    margin-bottom: 0
    +font-size(26)
    +respond-to(medium-view)
      +font-size(32)

  .form-row
    margin-bottom: 10px
    +respond-to(wide-view)
      margin-bottom: 20px
    @if $is-ie == true
      margin-bottom: 10px

  .supports-placeholder &
    .tab--homepage__label
      display: none
