.tab--homepage--hotels
  background: white
  padding-top: 10px
  +respond-to(medium-view)
    background: white url("#{image_path('section3/hotels.jpg')}") center center no-repeat
    background-size: cover

  .copy--title
    margin-bottom: 0
    +font-size(26)
    +respond-to(medium-view)
      +font-size(32)

.form--homepage
  position: relative
  input
    +font-size(18)
    height: 40px
    width: 100%
    +respond-at(415)
      height: 45px
  
  .input--text
    padding-left: 10px

  .input--search
    padding-right: 10px

  
  .input--datepicker
    background-position: 99% -108px
  
  .pickadate__calendar--wrap
    max-width: 100%

  .btn--bookable
    +font-size(16)
    font-weight: bold
    width: 100%

  .dropdown__value
    +font-size(18)
    line-height: 25px
    height: 40px
    +respond-at(415)
      height: 45px
    &:after
      line-height: 38px



