.row--heading
  margin: 70px 0 40px

.heading--latest-travel
  background: $body-background
  width: 110px
  margin-left: -55px
  
.row--latest-travel .tab--homepage__strapline
  color: $new-header-grey