.tab--homepage--magazine
  +responsive-image('homepage/bookings/magazine','jpg')
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  padding-top: 60px
  +respond-to(wide-view)
    padding-top: 110px
  .ie8 &
    padding-top: 50px
    