.tab--homepage--magazine
  background: #444 url("#{image_path('section3/magazine.jpg')}") center center no-repeat
  background-size: cover
  padding-top: 60px
  +respond-to(wide-view)
    padding-top: 110px
    