// This file is very temporary (and lazy) and will go at the end of the beautiful world campaign

.hero__slider
  position: relative

.hero__slide
  position: absolute
  display: block

.hero__slider__input
  display: none
  &:checked + .hero__slider__label
    opacity: 1

.hero__slider__label
  +border-radius(20)
  bottom: 10px
  cursor: pointer
  display: block
  height: 10px
  width: 10px
  opacity: 0.5
  position: absolute
  z-index: 2
  background-color: #fff
  @if $is-ie
    display: none

.hero__slider__img
  +transition(opacity, 1, ease)
  opacity: 0

// Lazy calculations for slider controls being centrally aligned 

$slider_width: 350
$button_width: 10
$button_margin: 5

$total_button_width: (($button_margin + $button_width) * 5) - 5 
$start_position: (($slider_width/2) - ($total_button_width/2)) - 15

@for $i from 1 through 5
  .hero__slide:nth-child(#{$i}) .hero__slider__label
    left: #{$start_position + ($i * 15)}px

.hero__slider__input:checked ~ .hero__slider__img
  opacity: 1
