- if lodging[:top_choice?]
  .tag.tag--badge.tag--top-choice
    %span.tag--badge__content<
      Top Choice
- elsif lodging[:lp_reviewed]
  .tag.tag--badge.tag--lp-reviewed
    %span.tag--badge__content<
      Lonely Planet Reviewed
