- if properties[:top_choice?]
  .tag.tag--badge.tag--top-choice
    .tag--badge__content.icon--collar--after.icon--lp-blue--after
      .icon--top-choice.icon--white
        Top Choice

- elsif properties[:lp_reviewed]
  .tag.tag--badge.tag--lp-reviewed
    .tag--badge__content
      .icon--lp-reviewed.icon--white
        Lonely Planet Reviewed
