- if card[:top_choice?]
  .tag.tag--badge.tag--top-choice
    %span.tag--badge__content
      Top Choice
- elsif card[:lp_reviewed]
  .tag.tag--badge.tag--lp-reviewed
    %span.tag--badge__content
      Lonely Planet Reviewed