- if properties[:top_choice]
  .tag.tag--card.tag--top-choice
    .tag--card__content.icon--collar--after.icon--lp-blue--after
      .icon--top-choice.icon--white
        Top Choice

- elsif properties[:lp_reviewed]
  .tag.tag--card.tag--lp-reviewed
    .tag--card__content
      .icon--lp-reviewed.icon--white
        Lonely Planet Reviewed
