- if card[:topchoice] or card[:prices]
  .card__tags
    - if card[:prices]
      - if card[:prices][currency.to_s].present? && card[:prices][currency.to_s] > 0
        .tag.tag--price
          .tag--price__inner
            .tag--price__values
              from
              .tag--price__amount<
                %span.tag--price__currency
                  = raw(currency.to_symbol)
                %span.js-price
                  = card[:prices][currency.to_s].ceil
            - if card[:on_sale?]
              - if card[:retail_prices][currency.to_s].present? && card[:retail_prices][currency.to_s] > 0
                .tag--price__original<
                  = raw(currency.to_symbol)
                  = card[:retail_prices][currency.to_s].ceil
    - if card[:topchoice]
      .tag.tag--badge.tag--top-choice
        %span.tag--badge__content
          Top Choice



