!!! 5
%html{class: 'no-js freight js-hover', lang: "en", "ng-app" => "StyleSheetApp"}

  %head
    = render 'layouts/core/head', responsive: true, homepage: false

  %body

    .wrapper
      .nav-container
        .row.row--primary
          .split--left
            .wv--nav--inline.nav--primary#js-nav--primary
              %a.media--lp-logo.logo--header(href='http://www.lonelyplanet.com')
              %h1.title--primary.title--styleguide Styleguide

          .split--right
            .wv--nav--inline.split--right__inner.nav--user
              %form.nav__item.search--primary
                %label.accessibility(for='search-q') Search
                %input{id: "search", "ng-model" => "search", placeholder: "Search", class: "search__input search__input--primary", name: "q", value: "", autocomplete: "off", tabindex: "1"}

      .row.row--content#js-row--content
        .row__inner.row__inner--content.copy--freight
          .card-holder
            = render 'components/left_nav', left_nav: left_nav
            / .card--single
            /   .card.left-nav
            /     %a.current.nav__item--stack.obj-list__item{href: "/Home"} Home
            /     %a.nav__item--stack.obj-list__item{href: "/components"} Components
            /     %a.nav__item--stack.obj-list__item{href: "/inputs"} Form elements
            /     %a.nav__item--stack.obj-list__item{href: "/grid"} Grid
            /     %a.nav__item--stack.obj-list__item{href: "/mixins"} Mixins
            .main-content.stack{ng: {view: true}}
              .grid-view.grid-wrapper--10
                = yield

        .row--footer-push

    .js-config.is-hidden
      = yield :scripts